@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập hệ thống</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/StylesAdminLogin.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/libs_font-awesome_6.1.1_js_all.min.js" data-search-pseudo-elements defer crossorigin="anonymous"></script>
    <script src="~/Scripts/feather.min.js" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bundle.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
    <style>
        #loadingModal {
            background-color: rgba(0, 0, 0, 0.5);
            background-color: transparent;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <div class="login-form" id="div_form_send_email">
            <div class="text-center text-uppercase"><h5 class="colorlogin" style="font-weight: bold">GỬI YÊU CẦU ĐẶT LẠI MẬT KHẨU</h5></div>
            <hr />
            <p class="mt-3" style="color: blue; font-style: italic; text-align: justify; font-size:12px">
                Nhập email đã đăng ký vào phía dưới để nhận mã xác thực đổi mật khẩu hoặc chuyển đến phần <a href="#" style="font-weight:bold" onclick="ShowFormPassNew()">Đổi mật khẩu</a> nếu đã có mã xác thực gửi đến email.
            </p>
            <script>
                function ShowFormPassNew() {
                    $('#div_form_pass_new').show();
                    $('#div_form_send_email').hide();
                }
            </script>
            <input type="text" placeholder="Nhập email đã đăng ký tài khoản" name="ThiSinh_Email" id="ThiSinh_Email" class="form-control col-12">
            <span id="ThiSinh_Email_Error" class="small mb-1 text-danger col-12"></span>

            <div class="row g-1 mb-2 mt-2">
                <div class="col-lg-4 col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RdDaiHocSendEmail" name="radioSendEmail" value="1" checked>
                        <label class="form-check-label" for="radioDaiHoc">Hệ đại học</label>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RdSauDaiHocSendEmail" name="radioSendEmail" value="2">
                        <label class="form-check-label" for="radioSauDaiHoc">Hệ sau đại học</label>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="radioLienCap" name="radioHeDaoTao" value="3">
                        <label class="form-check-label" for="radioLienCap">Liên cấp</label>
                    </div>
                </div>*@
            </div>

            <span id="RadioHeDaoTao_Error" class="small mb-1 text-danger col-12"></span>
            <a class="btn login-button col-12" id="bt_SendEmail_Reset" name="bt_SendEmail_Reset">Gửi email</a>

            <span id="Login_Error" class="small mb-1 text-danger col-12"></span>
            <p class="mt-3" style="color: blue; font-style: italic; text-align: justify; font-size:12px">
                Lưu ý: Thông tin đặt lại mật khẩu sẽ được hệ thống gửi vào email bạn dùng để đăng ký tài khoản, nếu không tìm thấy hãy kiểm tra thư trong hộp thư rác hoặc spam
            </p>
            <hr />
            <div class="register-link">
                Quay lại trang <a href="/Auth/Login">Đăng nhập</a>
            </div>
        </div>

        <div class="login-form" id="div_form_pass_new" style="display:none">

            <div class="text-center text-uppercase"><h5 class="colorlogin" style="font-weight: bold">ĐẶT LẠI MẬT KHẨU MỚI</h5></div>
            <hr />
            <p class="mt-3" style="color: blue; font-style: italic; text-align: justify; font-size:12px">
                Nhập các thông tin vào phần phía dưới để đổi mật khẩu hoặc chuyển đến phần <a href="#" style="font-weight:bold" onclick="ShowFormSendEmail()">Lấy mã xác thực</a> nếu đã có mã xác thực gửi đến email.
            </p>
            <script>
                function ShowFormSendEmail() {
                    $('#div_form_pass_new').hide();
                    $('#div_form_send_email').show();
                }
            </script>
            <input type="text" placeholder="Nhập tên đăng nhập đã đăng ký" name="ThiSinh_CCCD" id="ThiSinh_CCCD" class="form-control col-12">
            <span id="ThiSinh_CCCD_Error" class="small mb-1 text-danger col-12"></span>

            <input type="text" name="ThiSinh_ResetCode" id="ThiSinh_ResetCode" class="form-control col-12" placeholder="Nhập mã xác thực đặt lại mật khẩu" title="Mã xác thực đặt lại mật khẩu đã được hệ thống gửi vào email bạn dùng để đăng ký tài khoản">
            <span id="ThiSinh_ResetCode_Error" class="small mb-1 text-danger col-12"></span>

            <input name="ThiSinh_MatKhau" id="ThiSinh_MatKhau" class="form-control col-12" type="password" placeholder="Nhập mật khẩu mới" required>
            <span id="ThiSinh_MatKhau_Error" class="small mb-1 text-danger col-12"></span>
            
            <div class="row g-1 mb-2 mt-2">
                <div class="col-lg-4 col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RdDaiHocChangePass" name="radioChangePass" value="1" checked>
                        <label class="form-check-label" for="radioDaiHoc">Hệ đại học</label>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="RdSauDaiHocChangePass" name="radioChangePass" value="2">
                        <label class="form-check-label" for="radioSauDaiHoc">Hệ sau đại học</label>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="radioLienCap" name="radioHeDaoTao" value="3">
                        <label class="form-check-label" for="radioLienCap">Liên cấp</label>
                    </div>
                </div>*@
            </div>
            <a class="btn login-button col-12 mt-2" id="bt_OK_Reset_Pass" name="bt_OK_Reset_Pass">Đồng ý</a>

            <span id="Login_Error" class="small mb-1 text-danger col-12"></span>
            <p class="mt-3" style="color: blue; font-style: italic; text-align: justify; font-size:12px">
                Lưu ý: Mã xác thực đặt lại mật khẩu đã được hệ thống gửi vào email bạn dùng để đăng ký tài khoản, nếu không tìm thấy hãy kiểm tra thư trong hộp thư rác hoặc spam
            </p>

            <hr />
            <div class="register-link">
                Quay lại trang <a href="/Auth/Login">Đăng nhập</a>
            </div>
        </div>
    </div>

    <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center mb-0">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>                   
                    <div class="text-primary">
                        <span id="span_text_view"></span>
                    </div>
                </div>               
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Toast Title</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('body').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#bt_SendEmail_Reset').click();
                }
            });

            $('#bt_SendEmail_Reset').click(function () {
                SendEmailForgotPass();
            })
            $('#bt_OK_Reset_Pass').click(function () {
                ChangePassLogin();
            })
            $('input').on('input', function () {
                hideErrorMessage($(this));
            });
        })

        function ChangePassLogin() {
            var flag_change = true;
            if (!$('#ThiSinh_CCCD').val().trim()) {
                $('#ThiSinh_CCCD_Error').text('Vui lòng nhập đúng tên đăng nhập đã đăng ký!');
                flag_change = false;
            }
            if (!$('#ThiSinh_ResetCode').val().trim()) {
                $('#ThiSinh_ResetCode_Error').text('Vui lòng nhập kiểm tra và nhập lại mã xác thực!');
                flag_change = false;
            }
            if (!$('#ThiSinh_MatKhau').val().trim()) {
                $('#ThiSinh_MatKhau_Error').text('Vui lòng nhập mật khẩu mới!');
                flag_change = false;
            }

            var thiSinh_GhiChu_ChangePass = ""            
            
            if ($('#RdDaiHocChangePass').is(':checked')) { thiSinh_GhiChu_ChangePass = 3 };
            if ($('#RdSauDaiHocChangePass').is(':checked')) { thiSinh_GhiChu_ChangePass = 4 };

            if (!flag_change) return;

            var data_change_pass = {
                ThiSinh_CCCD: $('#ThiSinh_CCCD').val().trim(),
                ThiSinh_ResetCode: $('#ThiSinh_ResetCode').val().trim(),
                ThiSinh_MatKhau: $('#ThiSinh_MatKhau').val().trim(),
                ThiSinh_GhiChu: thiSinh_GhiChu_ChangePass,
            }

            console.log('data_change_pass ', data_change_pass);
          
            $("#loadingModal").modal("show");
          /*  return*/
            $.ajax({
                url: "/Auth/ResetPassword",
                type: "POST",
                data: JSON.stringify(data_change_pass),
                contentType: "application/json;charset=utf-8",

                success: function (res) {
                    console.log(res);
                    let check_change = res.data;                  
                    if (res.success == true) {
                        //showToast("Thông báo", check_change.text_check, "bg-error");
                        $('#span_text_view').text('Đổi mật khẩu thành công. Quay lại trang đăng nhập ....');                    
                        setTimeout(function () {                         
                            window.location.href = '/Auth/Login';
                          /*  $('#loadingModal').modal('hide');*/
                        }, 5000);                       
                    }
                    else {
                        if (check_change.id_check == 1) {
                            $("#loadingModal").modal('hide');
                            showToast("Thông báo", res.data, "bg-error");
                            $('#ThiSinh_ResetCode_Error').text(check_change.text_check);
                        }
                        if (check_change.id_check == 2) {
                            $("#loadingModal").modal('hide');
                            showToast("Thông báo", res.data, "bg-error");
                            $('#ThiSinh_CCCD_Error').text(check_change.text_check);
                        }
                    }
                },
                error: function (xhr, status, error) {
                    $('#loadingModal').modal('hide');
                    showToast("Thông báo", "Có lỗi trong quá trình gửi yêu cầu!", "bg-error");
                }
            });
        }

        function SendEmailForgotPass() {
            var flag = true;
            if (!$('#ThiSinh_Email').val()) {
                $('#ThiSinh_Email_Error').text('Vui lòng nhập email đã dùng để đăng ký!');
                flag = false;
            }
            if (!flag) return;            
            
            var thiSinh_GhiChu_SendEmail = ""

            if ($('#RdDaiHocSendEmail').is(':checked')) { thiSinh_GhiChu_SendEmail = 1 };
            if ($('#RdSauDaiHocSendEmail').is(':checked')) { thiSinh_GhiChu_SendEmail = 2 };

            var data_send_email = {
                ThiSinh_Email: $('#ThiSinh_Email').val(),
                ThiSinh_GhiChu: thiSinh_GhiChu_SendEmail,
            }

            console.log('data_send_email', data_send_email);
          

            $('#span_text_view').text('Vui lòng chờ trong giây lát ....');   
            $("#loadingModal").modal("show");
            $.ajax({
                url: "/Auth/ForgotPassword",
                type: "POST",
                data: JSON.stringify(data_send_email),
                contentType: "application/json;charset=utf-8",

                success: function (res) {
                    console.log(res);
                    if (res.success == true) {
                        showToast("Thông báo", res.data, "bg-error");
                        $('#div_form_pass_new').show();
                        $('#div_form_send_email').hide();
                        $('#ThiSinh_Email').val('');
                        $("#loadingModal").modal('hide');
                    }
                    else {
                        showToast("Thông báo", res.data, "bg-error");
                        $('#ThiSinh_Email_Error').text('Vui lòng nhập email đã dùng để đăng ký!');

                        $('#div_form_pass_new').hide();
                        $('#div_form_send_email').show();
                        $("#loadingModal").modal('hide');
                    }
                },
                error: function (xhr, status, error) {
                    $('#loadingModal').modal('hide');
                    showToast("Thông báo", "Có lỗi trong quá trình gửi yêu cầu!", "bg-error");
                }
            });
        }

        function showToast(title, message, bgColor) {
            $("#myToast .toast-header .me-auto").text(title);
            $("#myToast .toast-body").text(message);
            $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
            $("#myToast").toast("show");
        }
        function hideErrorMessage(input) {
            var errorContainer = input.next('.text-danger');
            errorContainer.text('');
        }

    </script>
</body>

</html>
