@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập hệ thống</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/StylesAdminLogin.css" rel="stylesheet" />
</head>

<body>
    <div class="login-container">
        <form class="login-form" method="post">
            <div class="text-center text-uppercase"><h5 class="colorlogin" style="font-weight: bold">ĐẶT LẠI MẬT KHẨU</h5></div>
            <hr />

            <input type="text" placeholder="Nhập tên đăng nhập đã đăng ký" name="student_Username" id="student_Username" class="form-control col-12">
            <span id="student_Username_Error" class="small mb-1 text-danger col-12"></span>

            <input type="text" placeholder="Nhập mã xác nhận đặt lại mật khẩu" name="verification_Codes" id="verification_Codes" class="form-control col-12">
            <span id="verification_Codes_Error" class="small mb-1 text-danger col-12"></span>

            <input name="student_Pass" id="student_Pass" class="form-control col-12" type="password" placeholder="Mật khẩu mới" required >
            <span id="student_Pass_Error" class="small mb-1 text-danger col-12"></span>  
       
            <a class="btn login-button col-12 mt-2" id="bt_reset_pass_ok" name="bt_reset_pass_ok">Đồng ý</a>

            <span id="Login_Error" class="small mb-1 text-danger col-12"></span>
            <hr />
            <div class="register-link">
                Quay lại trang <a href="/Auth/Login">Đăng nhập</a>
            </div>
        </form>
    </div>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script>
        $(document).ready(function () {
            $("#resetForm").submit(function (e) {
                e.preventDefault();

                // Perform validation
                var additionalData = $("#authCode").val();
                if (!additionalData) {
                    $('#additionalDataError').text('Vui lòng nhập mã xác nhận');
                    $('#additionalDataError').show();
                } else {
                    this.submit();
                }
            });

            $('#authCode').on('input', function () {
                $('#additionalDataError').hide();
            });
        });
    </script>

</body>
</html>

