
@{
    ViewBag.Title = "Đăng ký dự tuyển";
    Layout = "~/Views/Shared/_Layout_master.cshtml";
}
<style>
    .colorlogin {
        color: #ff6a00 !important;
    }

    .login-button {
        padding: 8px 18px;
        border-radius: 3px !important;
        background-color: #ff6a00;
        border: none;
        color: #fff;
        font-size: 16px;
    }

        .login-button:hover {
            background-color: #808080;
            color: #fff;
        }

    th td {
        /* white-space: nowrap;*/
    }

    .bd-rd {
        border-radius: 3px
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Học viên đăng ký dự tuyển</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-12">
    <div id="div_add_data_dutuyen">
        <div class="card card-header-actions">
            <div class="card-header mt-0 mb-0">
                <span>Sửa đăng ký dự tuyển</span>
            </div>
            <div class="card-body" style="padding-bottom: 2px; padding-top: 4px">
                <div class="row">
                    <div class="col-lg-4 pl-2 pr-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Văn bằng đại học đã học <font color="red">(*)</font>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-7 col-12 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="HocVien_BangDaiHoc_TenTruongTN">Trường đại học tốt nghiệp</label>
                                                    <div class="col-md-12">
                                                        <input class="form-control text-box single-line" id="HocVien_BangDaiHoc_TenTruongTN" name="HocVien_BangDaiHoc_TenTruongTN" type="text" value="a" />
                                                        <span id="Error_Rgt_HocVien_BangDaiHoc_TenTruongTN" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-12 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="HocVien_BangDaiHoc_HeDaoTao">Hệ đào tạo</label>
                                                    <div class="col-md-12">
                                                        <input class="form-control text-box single-line" id="HocVien_BangDaiHoc_HeDaoTao" name="HocVien_BangDaiHoc_HeDaoTao" type="text" value="a" />
                                                        <span id="Error_Rgt_HocVien_BangDaiHoc_HeDaoTao" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-12  p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="HocVien_BangDaiHoc_TenNganhTN">Ngành tốt nghiệp</label>
                                                    <div class="col-md-12">
                                                        <input class="form-control text-box single-line" id="HocVien_BangDaiHoc_TenNganhTN" name="HocVien_BangDaiHoc_TenNganhTN" type="text" value="a" />
                                                        <span id="Error_Rgt_HocVien_BangDaiHoc_TenNganhTN" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-5 col-12 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="HocVien_BangDaiHoc_NamTN">Năm tốt nghiệp</label>
                                                    <div class="col-md-12">
                                                        <input class="form-control text-box single-line" id="HocVien_BangDaiHoc_NamTN" name="HocVien_BangDaiHoc_NamTN" type="number" value="2022" />
                                                        <span id="Error_Rgt_HocVien_BangDaiHoc_NamTN" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-6 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="HocVien_BangDaiHoc_LoaiTN">Loại tốt nghiệp</label>
                                                    <div class="col-md-12">
                                                        <input class="form-control text-box single-line" id="HocVien_BangDaiHoc_LoaiTN" name="HocVien_BangDaiHoc_LoaiTN" type="text" value="a" />
                                                        <span id="Error_Rgt_HocVien_BangDaiHoc_LoaiTN" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-6 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="HocVien_DoiTuongUuTien">Đối tượng ưu tiên</label>
                                                    <div class="col-md-12">
                                                        <input class="form-control text-box single-line" id="HocVien_DoiTuongUuTien" name="HocVien_DoiTuongUuTien" type="text" value="a" />
                                                        <span id="Error_Rgt_HocVien_DoiTuongUuTien" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-lg-6 col-6 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12">Điểm TB toàn khóa</label>
                                                    <div class="col-md-12">
                                                        <select id="HocVien_BangDaiHoc_Select_ThangDiem" name="HocVien_BangDaiHoc_Select_ThangDiem" class="form-select" style="border-radius:3px">
                                                            <option value="0">Chọn...</option>
                                                            <option value="4">Thang 4 điểm</option>
                                                            <option value="10">Thang 10 điểm</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-6 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" style="visibility:hidden">a</label>
                                                    <div class="col-md-12">
                                                        <input class="form-control text-box single-line" id="HocVien_BangDaiHoc_DiemToanKhoa" name="HocVien_BangDaiHoc_DiemToanKhoa" type="number" disabled />
                                                        <span id="Error_Rgt_HocVien_BangDaiHoc_DiemToanKhoa" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </div>

                    <div class="col-lg-4 pl-1 pr-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Chuyên ngành đăng ký dự thi <font color="red">(*)</font>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-8 col-12 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="Select_HocVien_ChuyenNganhDuThi" id="lb_tencn_dt">Tên CN dự tuyển</label>
                                                    <div class="col-md-12">
                                                        <select id="Select_HocVien_ChuyenNganhDuThi" class="form-select"></select>
                                                        <span id="Error_Rgt_HocVien_ChuyenNganhDuThi_TenCN" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-12 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="HocVien_ChuyenNganhDuThi_MaCN" id="lb_ma_chuyennganh">Mã CN</label>
                                                    <div class="col-md-12">
                                                        <input class="form-control text-box single-line" id="HocVien_ChuyenNganhDuThi_MaCN" name="HocVien_ChuyenNganhDuThi_MaCN" type="text" disabled />
                                                        <span id="Error_Rgt_HocVien_ChuyenNganhDuThi_MaCN" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-12  p-1 ">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12">Định hướng chương trình đào tạo</label>
                                                    <div class="col-md-12">
                                                        <div class="d-inline-flex flex-nowrap">
                                                            <div class="form-check align-items-center mt-1  mb-2">
                                                                <input class="form-check-input" type="radio" id="HocVien_ChuyenNganhDuThi_UngDung" name="HocVien_ChuyenNganhDuThi_DHCTDT_Rd" disabled>
                                                                <label class="form-check-label" for="HocVien_ChuyenNganhDuThi_UngDung">Ứng dụng</label>
                                                            </div>
                                                            <div class="form-check align-items-center  mt-1 mb-2" style="margin-left:8px">
                                                                <input class="form-check-input" type="radio" id="HocVien_ChuyenNganhDuThi_NghienCuu" name="HocVien_ChuyenNganhDuThi_DHCTDT_Rd" disabled>
                                                                <label class="form-check-label" for="HocVien_ChuyenNganhDuThi_NghienCuu">Nghiên cứu</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span id="Error_Rgt_HocVien_ChuyenNganhDuThi_DHCTDT" class="small mb-1 text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-12  p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12">ĐKDT Ngoại ngữ</label>
                                                    <div class="col-md-12">
                                                        <div class="d-inline-flex flex-nowrap">
                                                            <div class="form-check align-items-center mt-1">
                                                                <input class="form-check-input" type="radio" id="HocVien_DKDTNgoaiNgu_Yes" name="HocVien_DKDTNgoaiNgu_RD" checked>
                                                                <label class="form-check-label" for="HocVien_DKDTNgoaiNgu_Yes">Có</label>
                                                            </div>
                                                            <div class="form-check align-items-center mt-1" style="margin-left:8px">
                                                                <input class="form-check-input" type="radio" id="HocVien_DKDTNgoaiNgu_No" name="HocVien_DKDTNgoaiNgu_RD">
                                                                <label class="form-check-label" for="HocVien_DKDTNgoaiNgu_No">Không</label>
                                                            </div>
                                                        </div>
                                                        <span id="Error_Rgt_HocVien_DKDTNgoaiNgu" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-12 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="HocVien_VanBangNgoaiNgu">Tên CC/VB ngoại ngữ đã học</label>

                                                    <div class="col-md-12">
                                                        <input class="form-control text-box single-line" id="HocVien_VanBangNgoaiNgu" name="HocVien_VanBangNgoaiNgu" type="text" value="a" />
                                                        <span id="Error_Rgt_HocVien_VanBangNgoaiNgu" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 col-12 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12 mt-1 mb-2">Đối tượng dự thi</label>
                                                    <div class="col-md-12">
                                                        <div class="d-inline-flex flex-nowrap">
                                                            <div class="form-check align-items-center">
                                                                <input class="form-check-input" type="radio" id="radioDTDT_CuDiHoc" name="HocVien_DoiTuongDuThi" checked>
                                                                <label class="form-check-label" for="radioDTDT_CuDiHoc">CQ cử đi học</label>
                                                            </div>
                                                            <div class="form-check align-items-center" style="margin-left:10px">
                                                                <input class="form-check-input" type="radio" id="radioDTDT_TSTuDo" name="HocVien_DoiTuongDuThi">
                                                                <label class="form-check-label" for="radioDTDT_TSTuDo">TS tự do</label>
                                                            </div>
                                                        </div>
                                                        <span id="Error_Rgt_HocVien_DoiTuongDuThi" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-12 p-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-12" for="Select_HocVien_BoTucKienThuc">Học BS kiến thức</label>
                                                    <div class="col-md-12">
                                                        <select id="Select_HocVien_BoTucKienThuc" name="Select_HocVien_BoTucKienThuc" class="form-select">
                                                            <option value="0">Chọn...</option>
                                                            <option value="1">Chưa học</option>
                                                            <option value="2">Đã học</option>
                                                            <option value="3">CN đúng</option>
                                                        </select>
                                                        <span id="Error_Rgt_HocVien_BoTucKienThuc_Select" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-lg-4 pl-2 pr-2">
                        <div class="table-responsive">
                            <table class="table" style="width:97%">
                                <thead>
                                    <tr>
                                        <th style="letter-spacing: -0.3px;">Hình ảnh các minh chứng giấy tờ <font color="red">(*)</font></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-12 col-12 p-1">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12" for="File_HocVien_SoYeuLyLich">Sơ yếu lý lịch</label>
                                                        <div class="col-md-12">
                                                            <input class="form-control text-box single-line" id="File_HocVien_SoYeuLyLich" name="File_HocVien_SoYeuLyLich" type="file" multiple accept=".pdf, .PDF, .png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            <span id="Error_Rgt_File_HocVien_SoYeuLyLich" class="small mb-1 text-danger"></span>
                                                        </div>
                                                        <div class="col-md-12 mt-0 mb-0">
                                                            <div class="table-responsive">
                                                                <table class="table mt-0 mb-0" id="FilesList_HocVien_SoYeuLyLich_View" style="visibility:hidden"><tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_soyeulylich" /></th></tr></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 col-12 p-1">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12" for="File_HocVien_MCBangDaiHoc">Minh chứng bằng đại học</label>
                                                        <div class="col-md-12">
                                                            <input class="form-control text-box single-line" id="File_HocVien_MCBangDaiHoc" name="File_HocVien_MCBangDaiHoc" type="file" multiple accept=".pdf, .PDF, .png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            <span id="Error_Rgt_File_HocVien_MCBangDaiHoc" class="small mb-1 text-danger"></span>
                                                        </div>
                                                        <div class="col-md-12 mt-0 mb-0">
                                                            <div class="table-responsive">
                                                                <table class="table mt-0 mb-0" id="FilesList_HocVien_MCBangDaiHoc_View" style="visibility:hidden"><tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_bangdaihoc" /></th></tr></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-12 p-1">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12" for="File_HocVien_MCBangDiem">Minh chứng bảng điểm</label>
                                                        <div class="col-md-12">
                                                            <input class="form-control text-box single-line" id="File_HocVien_MCBangDiem" name="File_HocVien_MCBangDiem" type="file" multiple accept=".pdf, .PDF, .png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            <span id="Error_Rgt_File_HocVien_MCBangDiem" class="small mb-1 text-danger"></span>
                                                        </div>
                                                        <div class="col-md-12 mt-0 mb-0">
                                                            <div class="table-responsive">
                                                                <table class="table mt-0 mb-0" id="FilesList_HocVien_MCBangDiem_View" style="visibility:hidden"><tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_bangdiem" /></th></tr></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-12 p-1">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12" for="File_HocVien_MCGiayKhamSucKhoe">Giấy khám sức khỏe</label>
                                                        <div class="col-md-12">
                                                            <input class="form-control" data-val="true" id="File_HocVien_MCGiayKhamSucKhoe" name="File_HocVien_MCGiayKhamSucKhoe" type="file" multiple accept=".pdf, .PDF, .png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            <span id="Error_Rgt_File_HocVien_MCGiayKhamSucKhoe" class="small mb-1 text-danger"></span>
                                                        </div>
                                                        <div class="col-md-12 mt-0 mb-0">
                                                            <div class="table-responsive">
                                                                <table class="table mt-0 mb-0" id="FilesList_HocVien_MCGiayKhamSucKhoe_View" style="visibility:hidden"><tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_giaykhamsuckhoe" /></th></tr></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12 pl-2 pr-2">
                        <div class="table-responsive">
                            <table class="table" style="width:98%">
                                <thead>
                                    <tr>
                                        <th style="letter-spacing: -0.3px;"><a style="display:none">a</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-lg-4 col-12 p-1">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12" for="File_HocVien_Anh46">Ảnh 4 x 6 <a style="color:red">(*)</a></label>
                                                        <div class="col-md-12">
                                                            <input class="form-control text-box single-line" id="File_HocVien_Anh46" name="File_HocVien_Anh46" type="file" multiple accept=".pdf, .PDF, .png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            <span id="Error_Rgt_File_HocVien_Anh46" class="small mb-1 text-danger"></span>
                                                        </div>
                                                        <div class="col-md-12 mt-0 mb-0">
                                                            <div class="table-responsive">
                                                                <table class="table mt-0 mb-0" id="FilesList_HocVien_Anh46_View" style="visibility:hidden"><tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_anh4x6" /></th></tr></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-12 p-1">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12" for="File_HocVien_MCCCNN">Chứng chỉ/văn bằng ngoại ngữ</label>
                                                        <div class="col-md-12">
                                                            <input class="form-control text-box single-line" id="File_HocVien_MCCCNN" name="File_HocVien_MCCCNN" type="file" multiple accept=".pdf, .PDF, .png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            <span id="Error_Rgt_File_HocVien_MCCCNN" class="small mb-1 text-danger"></span>
                                                        </div>
                                                        <div class="col-md-12 mt-0 mb-0">
                                                            <div class="table-responsive">
                                                                <table class="table mt-0 mb-0" id="FilesList_HocVien_MCCCNN_View" style="visibility:hidden"><tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_chungchingoaingu" /></th></tr></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4 col-12 p-1">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-12" for="File_HocVien_MCKhac">Minh chứng khác (nếu có)</label>
                                                        <div class="col-md-12">
                                                            <input class="form-control text-box single-line" id="File_HocVien_MCKhac" name="File_HocVien_MCKhac" type="file" multiple accept=".pdf, .PDF, .png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            <span id="Error_Rgt_File_HocVien_MCKhac" class="small mb-1 text-danger"></span>
                                                        </div>
                                                        <div class="col-md-12 mt-0 mb-0">
                                                            <div class="table-responsive">
                                                                <table class="table mt-0 mb-0" id="FilesList_HocVien_MCKhac_View" style="visibility:hidden"><tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_minhchungkhac" /></th></tr></table>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-12 mb-1 mt-3 p-1">
                                                    <center>
                                                        <span id="SignupErrorMessage" class="small mb-1 text-danger"></span>
                                                        <div class="col-md-12">
                                                            <input class="btn login-button control" type="submit" id="bt_submit_update_hocvien" value="Đồng ý" />
                                                            <a href="@Url.Action("DkDuTuyen","HocVienDangKies")" class="btn login-button control" id="bt_cancel__update_hocvien">Hủy bỏ</a>
                                                        </div>
                                                    </center>
                                                </div>

                                                <!--<div class="col-lg-12 col-12 mb-1 mt-3 p-1">
                                                    <center>
                                                        <span id="SignupErrorMessage" class="small mb-1 text-danger"></span>
                                                        <div class="col-md-12">
                                                            <input class="btn login-button" type="submit" id="bt_add_hocvien_dangky_dutuyen" value="Đăng ký dự tuyển" />-->
                                                @*<a href="#" class="btn login-button" id="bt_cancel_register_hocvien">Hủy bỏ</a>*@
                                                <!--</div>
                                                    </center>
                                                </div>-->
                                            </div>

                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<div id="loadingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" style="display:none" id="hiden_hocvien_id_present"/>
<input type="hidden" style="display:none" id="hiden_dutuyen_id_present" />

<input type="hidden" style="display:none" id="hiden_hocVien_id_chuyennganh"/>
<input type="hidden" style="display:none" id="hocVien_id_update"  />
<script>
    $(document).ready(function () {
        var id_NganhHocMaster_use = -1;
        GetHvDuTuyen();
        NganhMaster_ViewData();
    });

    function GetHvDuTuyen() {
        $.ajax({
            url: "/HocVienDangKies/DkDuTuyenGetByID",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (res) {
                if (res.success) {
                    $("#div_add_data_dutuyen").show();
                    $("#div_view_data_dutuyen").show();
                    let data = res.data[0];

                    $('#hiden_dutuyen_id_present').val(data.DuTuyen_ID_Present);
                    $('#hiden_hocvien_id_present').val(data.Hv_ID);

                    $('#hocVien_id_chuyennganh').val(data.maNganh_ID);
                    id_NganhHocMaster_use = data.maNganh_ID;

                    $('#HocVien_ChuyenNganhDuThi_MaCN').val(data.nmt_MaNganh);

                    if (data.Dt_MaNghienCuu == 1) {
                        $('#HocVien_ChuyenNganhDuThi_UngDung').attr('checked', 'checked');
                        $('#HocVien_ChuyenNganhDuThi_UngDung').removeAttr('disabled', 'disabled');

                    }
                    if (data.Dt_MaNghienCuu == 2) {
                        $('#HocVien_ChuyenNganhDuThi_NghienCuu').attr('checked', 'checked');
                        $('#HocVien_ChuyenNganhDuThi_NghienCuu').removeAttr('disabled', 'disabled');
                    }

                    if (data.Hv_DKDTNgoaiNgu == 1) {
                        $('#HocVien_DKDTNgoaiNgu_Yes').attr('checked', 'checked');
                    }
                    if (data.Hv_DKDTNgoaiNgu == 0) {
                        $('#HocVien_DKDTNgoaiNgu_No').attr('checked', 'checked');
                    }
                    $('#HocVien_VanBangNgoaiNgu').val(data.Hv_VanBangNgoaiNgu);

                    if (data.Hv_DoiTuongDuThi == 1) {
                        $('#radioDTDT_CuDiHoc').attr('checked', 'checked');
                    }
                    if (data.Hv_DoiTuongDuThi == 0) {
                        $('#radioDTDT_TSTuDo').attr('checked', 'checked');
                    }
                    $('#Select_HocVien_BoTucKienThuc').val(data.Hv_BoTucKienThuc);

                    $('#HocVien_BangDaiHoc_TenTruongTN').val(data.Hv_BangDaiHoc_TenTruongTN);                   
                    $('#HocVien_BangDaiHoc_HeDaoTao').val(data.Hv_BangDaiHoc_HeDaoTao);
                    $('#HocVien_BangDaiHoc_TenNganhTN').val(data.Hv_BangDaiHoc_TenNganhTN);
                    $('#HocVien_BangDaiHoc_NamTN').val(data.Hv_BangDaiHoc_NamTN);
                    $('#HocVien_BangDaiHoc_LoaiTN').val(data.Hv_BangDaiHoc_LoaiTN);
                    $('#HocVien_DoiTuongUuTien').val(data.Hv_DoiTuongUuTien);

                    $('#HocVien_BangDaiHoc_Select_ThangDiem').val(data.Hv_BangDaiHoc_ThangDiem);
                    if (data.Hv_BangDaiHoc_ThangDiem > 0) {
                        $('#HocVien_BangDaiHoc_DiemToanKhoa').removeAttr('disabled')
                    }                  
                    $('#HocVien_BangDaiHoc_DiemToanKhoa').val(data.Hv_BangDaiHoc_DiemToanKhoa);

                }
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }

    function NganhMaster_ViewData() {
        $.ajax({
            url: "/HocVienDangKies/NganhMasterGetData",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            async: false,
            success: function (response) {
                if (response.success) {
                    let data = response.data;

                    let Select_HocVien_ChuyenNganhDuThi = $('#Select_HocVien_ChuyenNganhDuThi');
                    Select_HocVien_ChuyenNganhDuThi.empty();
                    Select_HocVien_ChuyenNganhDuThi.append($('<option></option>').val("0").text("Chọn chuyên ngành..."));

                    $.each(data, function (index, item) {
                        Select_HocVien_ChuyenNganhDuThi.append($('<option></option>').val(item.nganh_Mt_ID).text(item.nganh_Mt_TenNganh));
                    });

                    if (id_NganhHocMaster_use > -1) {
                        $('#Select_HocVien_ChuyenNganhDuThi').val(id_NganhHocMaster_use);
                    }

                } else { }
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    $(document).ready(function () {     
        $("#Select_HocVien_ChuyenNganhDuThi").change(function () {
            let id = $("#Select_HocVien_ChuyenNganhDuThi").val();
            if (id > 0) {
                $("#Error_Rgt_HocVien_ChuyenNganhDuThi_TenCN").text('');
                $.ajax({
                    url: "/HocVienDangKies/NganhMasterGetData_ByID/" + id,
                    type: "POST",
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    async: false,
                    success: function (response) {
                        /*     console.log(response)*/
                        if (response.success) {
                            let data = response.data[0];                            

                            $("#HocVien_ChuyenNganhDuThi_MaCN").val(data.nganh_Mt_MaNganh);

                            if (data.nganh_Mt_NghienCuu_Ma == 1) {
                                $('#HocVien_ChuyenNganhDuThi_UngDung').removeAttr("disabled");
                                $('#HocVien_ChuyenNganhDuThi_UngDung').prop('checked', true);

                                $('#HocVien_ChuyenNganhDuThi_NghienCuu').attr("disabled", true);
                                $('#HocVien_ChuyenNganhDuThi_NghienCuu').prop('checked', false);
                                $("#Error_Rgt_HocVien_ChuyenNganhDuThi_DHCTDT").text('');
                            }
                            if (data.nganh_Mt_NghienCuu_Ma == 2) {
                                $('#HocVien_ChuyenNganhDuThi_NghienCuu').removeAttr("disabled");
                                $('#HocVien_ChuyenNganhDuThi_NghienCuu').prop('checked', true);

                                $('#HocVien_ChuyenNganhDuThi_UngDung').attr("disabled", true);
                                $('#HocVien_ChuyenNganhDuThi_UngDung').prop('checked', false);
                                $("#Error_Rgt_HocVien_ChuyenNganhDuThi_DHCTDT").text('');
                            }
                            if (data.nganh_Mt_NghienCuu_Ma == 3) {
                                $('#HocVien_ChuyenNganhDuThi_NghienCuu').removeAttr("disabled");
                                $('#HocVien_ChuyenNganhDuThi_NghienCuu').prop('checked', false);

                                $('#HocVien_ChuyenNganhDuThi_UngDung').removeAttr("disabled");
                                $('#HocVien_ChuyenNganhDuThi_UngDung').prop('checked', true);
                            }
                        }
                        else { }
                    },
                    error: function (errormessage) {
                        console.log(errormessage.responseText);
                    }
                });
            }
            else if (id == 0) {
                $('#HocVien_ChuyenNganhDuThi_NghienCuu').attr("disabled", true);
                $('#HocVien_ChuyenNganhDuThi_NghienCuu').prop('checked', false);
                $('#HocVien_ChuyenNganhDuThi_UngDung').attr("disabled", true);
                $('#HocVien_ChuyenNganhDuThi_UngDung').prop('checked', false);
                $('#HocVien_ChuyenNganhDuThi_MaCN').val('');
                $("#Error_Rgt_HocVien_ChuyenNganhDuThi_TenCN").text('Chọn chuyên ngành');
            }
        });

        $('#HocVien_BangDaiHoc_Select_ThangDiem').change(function () {
            var check_thangdiem = $('#HocVien_BangDaiHoc_Select_ThangDiem').val();
         /*   console.log(check_thangdiem);*/

            if (check_thangdiem == 0) {
                $('#HocVien_BangDaiHoc_DiemToanKhoa').attr('disabled', 'disabled');
                $('#HocVien_BangDaiHoc_DiemToanKhoa').val('');
            }
            if (check_thangdiem > 0) {
                $('#HocVien_BangDaiHoc_DiemToanKhoa').removeAttr('disabled');               
            }
        });
    });

    $(document).ready(function () {
        /* Kiểm tra không cho phép nhập chữ tại các ô có số */
        function setInputFilter(textbox, inputFilter) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
                textbox.addEventListener(event, function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        this.value = "";
                    }
                });
            });
        }

        setInputFilter(document.getElementById("HocVien_BangDaiHoc_NamTN"), function (value) {
            return /^\d*$/.test(value);
        });
        setInputFilter(document.getElementById("HocVien_BangDaiHoc_DiemToanKhoa"), function (value) {
            return /^-?\d*[.,]?\d*$/.test(value);
        });       
    })

    /* bắt đầu phần upload file client */
    var formdata_files_soyeulylich = new FormData();
    var formdata_files_bangdaihoc = new FormData();
    var formdata_files_bangdiem = new FormData();
    var formdata_files_giaykhamsuckhoe = new FormData();
    var formdata_files_anh4x6 = new FormData();

    var formdata_files_ccngoaingu = new FormData();
    var formdata_files_mckhac = new FormData();

    $(document).ready(function () {

        $("#File_HocVien_SoYeuLyLich").on("change", function () {
            formdata_files_soyeulylich = new FormData();
            var File_HocVien_SoYeuLyLich = document.getElementById('File_HocVien_SoYeuLyLich');
            for (i = 0; i < File_HocVien_SoYeuLyLich.files.length; i++) {
                var filename_item = File_HocVien_SoYeuLyLich.files[i].name;
                var randomid_item = Math.random().toString(36).substring(7);
                formdata_files_soyeulylich.append(filename_item, File_HocVien_SoYeuLyLich.files[i]);
                var markup = "<tr id='" + randomid_item + "'><td>" + filename_item + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_SYLLS_Upload(\"" + randomid_item + "\",\"" + filename_item + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocVien_SoYeuLyLich_View").append(markup);
            }
            chkatchtbl_soyeulylich();
            $('#File_HocVien_SoYeuLyLich').val('');
        });

        $("#File_HocVien_MCBangDaiHoc").on("change", function () {
            formdata_files_bangdaihoc = new FormData();
            var File_HocVien_MCBangDaiHoc = document.getElementById('File_HocVien_MCBangDaiHoc');
            for (i = 0; i < File_HocVien_MCBangDaiHoc.files.length; i++) {
                var filename_item = File_HocVien_MCBangDaiHoc.files[i].name;
                var randomid_item = Math.random().toString(36).substring(7);
                formdata_files_bangdaihoc.append(filename_item, File_HocVien_MCBangDaiHoc.files[i]);
                var markup = "<tr id='" + randomid_item + "'><td>" + filename_item + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_BDH_Upload(\"" + randomid_item + "\",\"" + filename_item + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocVien_MCBangDaiHoc_View tbody").append(markup);
            }
            chkatchtbl_bangdaihoc();
            $('#File_HocVien_MCBangDaiHoc').val('');
        });

        $("#File_HocVien_MCBangDiem").on("change", function () {
            formdata_files_bangdiem = new FormData();
            var File_HocVien_MCBangDiem = document.getElementById('File_HocVien_MCBangDiem');
            for (i = 0; i < File_HocVien_MCBangDiem.files.length; i++) {
                var filename_item = File_HocVien_MCBangDiem.files[i].name;
                var randomid_item = Math.random().toString(36).substring(7);
                formdata_files_bangdiem.append(filename_item, File_HocVien_MCBangDiem.files[i]);

                var markup = "<tr id='" + randomid_item + "'><td>" + filename_item + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_BangDiem_Upload(\"" + randomid_item + "\",\"" + filename_item + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocVien_MCBangDiem_View tbody").append(markup);
            }
            chkatchtbl_bangdiem();
            $('#File_HocVien_MCBangDiem').val('');
        });

        $("#File_HocVien_MCGiayKhamSucKhoe").on("change", function () {
            var formdata_files_giaykhamsuckhoe = new FormData();
            var File_HocVien_MCGiayKhamSucKhoe = document.getElementById('File_HocVien_MCGiayKhamSucKhoe');

            for (i = 0; i < File_HocVien_MCGiayKhamSucKhoe.files.length; i++) {
                var filename_item = File_HocVien_MCGiayKhamSucKhoe.files[i].name;
                var randomid_item = Math.random().toString(36).substring(7);
                formdata_files_giaykhamsuckhoe.append(filename_item, File_HocVien_MCGiayKhamSucKhoe.files[i]);

                var markup = "<tr id='" + randomid_item + "'><td>" + filename_item + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_GKSK_Upload(\"" + randomid_item + "\",\"" + filename_item + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocVien_MCGiayKhamSucKhoe_View tbody").append(markup);
            }
            chkatchtbl_giaykhamsuckhoe();
            $('#File_HocVien_MCGiayKhamSucKhoe').val('');
        });

        $("#File_HocVien_Anh46").on("change", function () {
            var formdata_files_anh4x6 = new FormData();
            var File_HocVien_Anh46 = document.getElementById('File_HocVien_Anh46');

            for (i = 0; i < File_HocVien_Anh46.files.length; i++) {
                var filename_item = File_HocVien_Anh46.files[i].name;
                var randomid_item = Math.random().toString(36).substring(7);
                formdata_files_anh4x6.append(filename_item, File_HocVien_Anh46.files[i]);

                var markup = "<tr id='" + randomid_item + "'><td>" + filename_item + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_ANH4X6_Upload(\"" + randomid_item + "\",\"" + filename_item + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocVien_Anh46_View tbody").append(markup);
            }
            chkatchtbl_anh4x6();
            $('#File_HocVien_Anh46').val('');
        });

        $("#File_HocVien_MCCCNN").on("change", function () {
            formdata_files_ccngoaingu = new FormData();
            var File_HocVien_MCCCNN = document.getElementById('File_HocVien_MCCCNN');

            for (i = 0; i < File_HocVien_MCCCNN.files.length; i++) {
                var filename_item = File_HocVien_MCCCNN.files[i].name;
                var randomid_item = Math.random().toString(36).substring(7);
                formdata_files_ccngoaingu.append(filename_item, File_HocVien_MCCCNN.files[i]);

                var markup = "<tr id='" + randomid_item + "'><td>" + filename_item + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_CCNN_Upload(\"" + randomid_item + "\",\"" + filename_item + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocVien_MCCCNN_View tbody").append(markup);
            }
            chkatchtbl_ccngoaingu();
            $('#File_HocVien_MCCCNN').val('');
        });

        $("#File_HocVien_MCKhac").on("change", function () {
            var File_HocVien_MCKhac = document.getElementById('File_HocVien_MCKhac');
            formdata_files_mckhac = new FormData();
            for (i = 0; i < File_HocVien_MCKhac.files.length; i++) {
                var filename_item = File_HocVien_MCKhac.files[i].name;
                var randomid_item = Math.random().toString(36).substring(7);
                formdata_files_mckhac.append(filename_item, File_HocVien_MCKhac.files[i]);

                var markup = "<tr id='" + randomid_item + "'><td>" + filename_item + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_MCKHAC_Upload(\"" + randomid_item + "\",\"" + filename_item + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocVien_MCKhac_View tbody").append(markup);
            }
            chkatchtbl_minhchungkhac();
            $('#File_HocVien_MCKhac').val('');
        });

    });

    function DeleteFile_SYLLS_Upload(Fileid, FileName) {
        formdata_files_soyeulylich.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_soyeulylich();
    }
    function chkatchtbl_soyeulylich() {
        if ($('#FilesList_HocVien_SoYeuLyLich_View tbody tr').length >= 1) {
            $("#FilesList_HocVien_SoYeuLyLich_View").css("visibility", "visible");
            check_in_file_soyeulilich = true;
        }
        else {
            $("#FilesList_HocVien_SoYeuLyLich_View").css("visibility", "hidden");
            check_in_file_soyeulilich = false;
            if (!check_in_file_soyeulilich) { var errorMessage = "Upload tệp sơ yếu lý lịch"; $('#Error_Rgt_File_HocVien_SoYeuLyLich').text(errorMessage); flag = false; }
        }
    }
    function DeleteFile_BDH_Upload(Fileid, FileName) {
        formdata_files_bangdaihoc.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_bangdaihoc();
    }
    function chkatchtbl_bangdaihoc() {
        if ($('#FilesList_HocVien_MCBangDaiHoc_View tbody tr').length >= 1) {
            $("#FilesList_HocVien_MCBangDaiHoc_View").css("visibility", "visible");
            check_in_file_bangdaihoc = true;
        }
        else {
            $("#FilesList_HocVien_MCBangDaiHoc_View").css("visibility", "hidden");
            check_in_file_bangdaihoc = false;
            if (!check_in_file_bangdaihoc) { var errorMessage = "Upload tệp bằng đại học"; $('#Error_Rgt_File_HocVien_MCBangDaiHoc').text(errorMessage); flag = false; }
        }
    }

    function DeleteFile_BangDiem_Upload(Fileid, FileName) {
        formdata_files_bangdiem.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_bangdiem();
    }

    function chkatchtbl_bangdiem() {
        if ($('#FilesList_HocVien_MCBangDiem_View tbody tr').length >= 1) {
            $("#FilesList_HocVien_MCBangDiem_View").css("visibility", "visible");
            check_in_file_bangdiem = true;
        }
        else {
            $("#FilesList_HocVien_MCBangDiem_View").css("visibility", "hidden");
            check_in_file_bangdiem = false;
            if (!check_in_file_bangdiem) { var errorMessage = "Upload tệp bảng điểm"; $('#Error_Rgt_File_HocVien_MCBangDiem').text(errorMessage); flag = false; }
        }
    }

    function DeleteFile_GKSK_Upload(Fileid, FileName) {
        formdata_files_giaykhamsuckhoe.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_giaykhamsuckhoe();
    }
    function chkatchtbl_giaykhamsuckhoe() {
        if ($('#FilesList_HocVien_MCGiayKhamSucKhoe_View tbody tr').length >= 1) {
            $("#FilesList_HocVien_MCGiayKhamSucKhoe_View").css("visibility", "visible");
            check_in_file_giaykhamsuckhoe = true;
        }
        else {
            $("#FilesList_HocVien_MCGiayKhamSucKhoe_View").css("visibility", "hidden");
            check_in_file_giaykhamsuckhoe = false;
            if (!check_in_file_giaykhamsuckhoe) { var errorMessage = "Upload tệp giấy khám sức khỏe"; $('#Error_Rgt_File_HocVien_MCGiayKhamSucKhoe').text(errorMessage); flag = false; }
        }
    }
    function DeleteFile_ANH4X6_Upload(Fileid, FileName) {
        formdata_files_anh4x6.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_anh4x6();
    }
    function chkatchtbl_anh4x6() {
        if ($('#FilesList_HocVien_Anh46_View tbody tr').length >= 1) {
            $("#FilesList_HocVien_Anh46_View").css("visibility", "visible");
            check_in_file_anh4x6 = true;
        }
        else {
            $("#FilesList_HocVien_Anh46_View").css("visibility", "hidden");
            check_in_file_anh4x6 = false;
            if (!check_in_file_anh4x6) { var errorMessage = "Upload tệp ảnh 4x6"; $('#Error_Rgt_File_HocVien_Anh46').text(errorMessage); flag = false; }
        }
    }
    function DeleteFile_CCNN_Upload(Fileid, FileName) {
        formdata_files_ccngoaingu.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_ccngoaingu();
    }
    function chkatchtbl_ccngoaingu() {
        if ($('#FilesList_HocVien_MCCCNN_View tbody tr').length >= 1) {
            $("#FilesList_HocVien_MCCCNN_View").css("visibility", "visible");
        }
        else {
            $("#FilesList_HocVien_MCCCNN_View").css("visibility", "hidden");
        }
    }

    function DeleteFile_MCKHAC_Upload(Fileid, FileName) {
        formdata_files_mckhac.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_minhchungkhac();
    }
    function chkatchtbl_minhchungkhac() {
        if ($('#FilesList_HocVien_MCKhac_View tbody tr').length >= 1) {
            $("#FilesList_HocVien_MCKhac_View").css("visibility", "visible");
        }
        else {
            $("#FilesList_HocVien_MCKhac_View").css("visibility", "hidden");
        }
    }
    /* hết phần upload file client */

    $(document).ready(function () {
        $('#bt_submit_update_hocvien').click(function () {

            let flag = true;

            let _hocVien_ChuyenNganhDuThi = $('#Select_HocVien_ChuyenNganhDuThi').val();
            if (_hocVien_ChuyenNganhDuThi == 0) { var errorMessage = "Chọn chuyên ngành"; $('#Error_Rgt_HocVien_ChuyenNganhDuThi_TenCN').text(errorMessage); flag = false; }

            let _duTuyen_MaNghienCuu = -1;
            if ($('#HocVien_ChuyenNganhDuThi_UngDung').is(':checked')) { _duTuyen_MaNghienCuu = 1; }
            if ($('#HocVien_ChuyenNganhDuThi_NghienCuu').is(':checked')) { _duTuyen_MaNghienCuu = 2; }
            if (_hocVien_ChuyenNganhDuThi > 0 && !$('#HocVien_ChuyenNganhDuThi_UngDung').is(':checked') && !$('#HocVien_ChuyenNganhDuThi_NghienCuu').is(':checked')) { var errorMessage = "Chọn định hướng CTĐT SĐH"; $('#Error_Rgt_HocVien_ChuyenNganhDuThi_DHCTDT').text(errorMessage); flag = false; }

            let _hocVien_DKDTNgoaiNgu = -1;
            if ($('#HocVien_DKDTNgoaiNgu_Yes').is(':checked')) { _hocVien_DKDTNgoaiNgu = 1; };
            if ($('#HocVien_DKDTNgoaiNgu_No').is(':checked')) { _hocVien_DKDTNgoaiNgu = 0; };

            let _hocVien_VanBangNgoaiNgu = $('#HocVien_VanBangNgoaiNgu').val();

            let _hocVien_DoiTuongDuThi = -1;
            if ($('#radioDTDT_TSTuDo').is(':checked')) { _hocVien_DoiTuongDuThi = 0; }
            if ($('#radioDTDT_CuDiHoc').is(':checked')) { _hocVien_DoiTuongDuThi = 1; }

            let _hocVien_BoTucKienThuc = $('#Select_HocVien_BoTucKienThuc').val();
            if (_hocVien_BoTucKienThuc == 0) { var errorMessage = "Chọn loại bổ sung kiến thức"; $('#Error_Rgt_HocVien_BoTucKienThuc_Select').text(errorMessage); flag = false; }

            let _hocVien_BangDaiHoc_TenTruongTN = $('#HocVien_BangDaiHoc_TenTruongTN').val();
            if (!_hocVien_BangDaiHoc_TenTruongTN) { var errorMessage = "Nhập tên trường tốt nghiệp đại học"; $('#Error_Rgt_HocVien_BangDaiHoc_TenTruongTN').text(errorMessage); flag = false; }

            let _hocVien_BangDaiHoc_TenNganhTN = $('#HocVien_BangDaiHoc_TenNganhTN').val();
            if (!_hocVien_BangDaiHoc_TenNganhTN) { var errorMessage = "Nhập tên ngành tốt nghiệp đại học"; $('#Error_Rgt_HocVien_BangDaiHoc_TenNganhTN').text(errorMessage); flag = false; }

            let _hocVien_BangDaiHoc_HeDaoTao = $('#HocVien_BangDaiHoc_HeDaoTao').val();
            if (!_hocVien_BangDaiHoc_HeDaoTao) { var errorMessage = "Nhập hệ đào tạo"; $('#Error_Rgt_HocVien_BangDaiHoc_HeDaoTao').text(errorMessage); flag = false; }

            let _hocVien_BangDaiHoc_NamTN = $('#HocVien_BangDaiHoc_NamTN').val();
            if (!_hocVien_BangDaiHoc_NamTN) { var errorMessage = "Nhập năm tốt nghiệp"; $('#Error_Rgt_HocVien_BangDaiHoc_NamTN').text(errorMessage); flag = false; }

            let _hocVien_BangDaiHoc_Select_ThangDiem = $('#HocVien_BangDaiHoc_Select_ThangDiem').val();
            let _hocVien_BangDaiHoc_DiemToanKhoa = $('#HocVien_BangDaiHoc_DiemToanKhoa').val();
            if (_hocVien_BangDaiHoc_Select_ThangDiem == 0) {
                var errorMessage = "Chọn thang điểm"; $('#Error_Rgt_HocVien_BangDaiHoc_DiemToanKhoa').text(errorMessage); flag = false;

            }
            else if (_hocVien_BangDaiHoc_Select_ThangDiem > 0) {
                if (!_hocVien_BangDaiHoc_DiemToanKhoa) {
                    var errorMessage = "Nhập điểm toàn khóa"; $('#Error_Rgt_HocVien_BangDaiHoc_DiemToanKhoa').text(errorMessage); flag = false;
                }
            }
            let _hocVien_BangDaiHoc_LoaiTN = $('#HocVien_BangDaiHoc_LoaiTN').val();
            if (!_hocVien_BangDaiHoc_LoaiTN) { var errorMessage = "Nhập loại tốt nghiệp"; $('#Error_Rgt_HocVien_BangDaiHoc_LoaiTN').text(errorMessage); flag = false; }

            let _hocVien_DoiTuongUuTien = $('#HocVien_DoiTuongUuTien').val();
            if (!_hocVien_DoiTuongUuTien) { var errorMessage = "Nhập thông tin ưu tiên"; $('#Error_Rgt_HocVien_DoiTuongUuTien').text(errorMessage); flag = false; }

            if (!flag) return;

            /* xử lý phần upload file lên server*/

            let _hocVien_SoYeuLyLich_Url = "";
            let _hocVien_MCBangDaiHoc_Url = "";
            let _hocVien_MCBangDiem_Url = "";
            let _hocVien_MCGiayKhamSucKhoe_Url = "";
            let _hocVien_Anh46_Url = "";
            let _hocVien_MCCCNN_Url = "";
            let _hocVien_MCKhac_Url = "";

            let so_file_syll = 0;
            let so_file_bangdh = 0;
            let so_file_bangdiem = 0;
            let so_file_gksk = 0;
            let so_file_anh4x6 = 0;
            let so_file_ccnn = 0;
            let so_file_mckhac = 0;

            let formData_All = new FormData();

            for (const item of formdata_files_soyeulylich) {
                formData_All.append(item[0], item[1]);
                so_file_syll++;
            }

            for (const item of formdata_files_bangdaihoc) {
                formData_All.append(item[0], item[1]);
                so_file_bangdh++;
            }
            for (const item of formdata_files_bangdiem) {
                formData_All.append(item[0], item[1]);
                so_file_bangdiem++;
            }
            for (const item of formdata_files_giaykhamsuckhoe) {
                formData_All.append(item[0], item[1]);
                so_file_gksk++;
            }
            for (const item of formdata_files_anh4x6) {
                formData_All.append(item[0], item[1]);
                so_file_anh4x6++;
            }
            for (const item of formdata_files_ccngoaingu) {
                formData_All.append(item[0], item[1]);
                so_file_ccnn++;
            }
            for (const item of formdata_files_mckhac) {
                formData_All.append(item[0], item[1]);
                so_file_mckhac++;
            }


            formData_All.append('so_file_syll', so_file_syll);
            formData_All.append('so_file_bangdh', so_file_bangdh);
            formData_All.append('so_file_bangdiem', so_file_bangdiem);
            formData_All.append('so_file_gksk', so_file_gksk);
            formData_All.append('so_file_anh4x6', so_file_anh4x6);
            formData_All.append('so_file_ccnn', so_file_ccnn);
            formData_All.append('so_file_mckhac', so_file_mckhac);

            $.ajax({
                url: '/HocVienDangKies/DangKyDuTuyen_SDH_UploadFile_Multi',
                type: "POST",
                contentType: false,
                processData: false,
                data: formData_All,
                async: false,
                success: function (res) {

                    if (res.success == true) {
                        console.log("OK dã upload", res.success);
                        _hocVien_SoYeuLyLich_Url = res.HocVien_SoYeuLyLich_url;
                        _hocVien_MCBangDaiHoc_Url = res.HocVien_MCBangDaiHoc_url;
                        _hocVien_MCBangDiem_Url = res.HocVien_MCBangDiem_url;
                        _hocVien_MCGiayKhamSucKhoe_Url = res.HocVien_MCGiayKhamSucKhoe_url;
                        _hocVien_Anh46_Url = res.HocVien_Anh46_url;
                        _hocVien_MCCCNN_Url = res.HocVien_MCCCNN_url;
                        _hocVien_MCKhac_Url = res.HocVien_MCKhac_url;

                    } else if (res.success == false) { flag = false; }

                },
                error: function (res) {
                    console.log("Lỗi upload ", res);
                }
            });
            /*hết phần upload file*/
            if (flag == false) return;

            let HocVien_BangDaiHoc_Json = {
                HocVien_BangDaiHoc_TenTruongTN: _hocVien_BangDaiHoc_TenTruongTN,
                HocVien_BangDaiHoc_TenNganhTN: _hocVien_BangDaiHoc_TenNganhTN,
                HocVien_BangDaiHoc_HeDaoTao: _hocVien_BangDaiHoc_HeDaoTao,
                HocVien_BangDaiHoc_NamTN: _hocVien_BangDaiHoc_NamTN,
                HocVien_BangDaiHoc_ThangDiem: _hocVien_BangDaiHoc_Select_ThangDiem,
                HocVien_BangDaiHoc_DiemToanKhoa: _hocVien_BangDaiHoc_DiemToanKhoa,
                HocVien_BangDaiHoc_LoaiTN: _hocVien_BangDaiHoc_LoaiTN,
            };

            // khai báo dữ liệu các thuộc tính của 1 học viên
            var data_bangdaihoc_update = {
                HocVien_BoTucKienThuc: _hocVien_BoTucKienThuc,
                HocVien_BangDaiHoc: JSON.stringify(HocVien_BangDaiHoc_Json),
            }

            $.ajax({
                url: "/HocVienDangKies/HocVienDangkyUpdateBangDaiHoc",
                type: "POST",
                data: JSON.stringify(data_bangdaihoc_update),
                contentType: "application/json;charset=utf-8",
                async: false,
                success: function (res) {
                    if (res.success == true) {
                        console.log(' OK chạy tiếp');
                        // OK chạy tiếp
                    } else {
                        // không thành công dừng
                    }
                },
                error: function () {
                    // lỗi dừng chương trình
                }
            });

            let _dutuyen_ID = $('#hiden_dutuyen_id_present').val();
            $('#loadingModal').modal('show');
            // khai báo dữ liệu các thuộc tính của 1 học viên


            // khai báo 1 đối tượng học viên mới
            var data_update_nganhdt = {
                Dutuyen_ID: _dutuyen_ID,
                Nganh_Mt_ID: _hocVien_ChuyenNganhDuThi,
                DuTuyen_MaNghienCuu: _duTuyen_MaNghienCuu,
                HocVien_DoiTuongDuThi: _hocVien_DoiTuongDuThi,
                HocVien_DKDTNgoaiNgu: _hocVien_DKDTNgoaiNgu,
                HocVien_VanBangNgoaiNgu: _hocVien_VanBangNgoaiNgu,

                HocVien_SoYeuLyLich: _hocVien_SoYeuLyLich_Url,
                HocVien_MCBangDaiHoc: _hocVien_MCBangDaiHoc_Url,
                HocVien_MCBangDiem: _hocVien_MCBangDiem_Url,
                HocVien_MCGiayKhamSucKhoe: _hocVien_MCGiayKhamSucKhoe_Url,
                HocVien_Anh46: _hocVien_Anh46_Url,
                HocVien_MCCCNN: _hocVien_MCCCNN_Url,
                HocVien_MCKhac: _hocVien_MCKhac_Url,
            }
            //console.log(data_update_nganhdt);

            $.ajax({
                url: "/HocVienDangKies/DkDuTuyenEdit",
                type: "POST",
                data: JSON.stringify(data_update_nganhdt),
                contentType: "application/json;charset=utf-8",
                async: false,
                success: function (res) {
                    if (res.success) {                    
                        window.location.href = "/HocVienDangKies/DkDuTuyen";
                    } else {                  
                        console.log('Lỗi trong ajax');
                        $('#loadingModal').modal('hide');
                    }
                },
                error: function (error) {
                       $('#loadingModal').modal('hide');
                    console.log('\n Lỗi ajax sua error', error);
                }
            });
        });
    });


    //xử lý ẩn các thông báo lỗi và button thoát modal thông báo đk thành công
    $(document).ready(function () {
        $('select').on('input', function () {
            hideErrorMessage($(this));
        })
        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('#HocVien_ChuyenNganhDuThi_NghienCuu').click(function () {
            if ($(this).is(':checked')) {
                $("#Error_Rgt_HocVien_ChuyenNganhDuThi_DHCTDT").text('');
            }
        });

        $('#HocVien_ChuyenNganhDuThi_UngDung').click(function () {
            if ($(this).is(':checked')) {
                $("#Error_Rgt_HocVien_ChuyenNganhDuThi_DHCTDT").text('');
            }
        });
    })
    //hàm ẩn các input thông báo lỗi

    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
    //hàm kiểm tra email input thông báo lỗi
    function validateEmail(email) {
        var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/; var isValid = emailRegex.test(email); return isValid;
    }
    // hàm hiển thị thông báo lỗi
    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

</script>
