
@{
    ViewBag.Title = "Hướng dẫn";
    Layout = "~/Views/Shared/_Layout_master.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Hướng dẫn sử dụng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="card card-header-actions mt-0">
        <div class="card card-header-actions mt-0">
            <div class="card-body" style="padding-bottom: 2px; padding-top: 4px">
                <a class="btn btn-danger" id="bt_delete_dutuyen_hvdt" style="border-radius:3px">Xóa</a>
                <div class="modal-header">
                    <h5 class="modal-title" id="h5_update_mc_lephi">Cập nhật minh chứng nộp lệ phí</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_update_mc_lephi_first"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txt_sothamchieu" class="form-label">Nhập số tham chiếu</label>
                        <input type="number" value="" class="form-control" id="txt_sothamchieu" />
                        <span id="Error_Rgt_txt_sothamchieu" class="small mb-1 text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="file_upload_minhchung_noplephi" class="form-label mt-2">Chọn ảnh minh chứng</label>
                        <input type="file" class="form-control" id="file_upload_minhchung_noplephi" multiple accept=".pdf, .PDF, .png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                        <span id="Error_Rgt_upload_minhchung_noplephi" class="small mb-1 text-danger"></span>

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table mt-0 mb-0" id="FilesList_MC_NopLePhi_View" style="visibility:hidden"><tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_noplephi" /></th></tr></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="modal fade" id="modal_update_mc_lephi" tabindex="-1" role="dialog" aria-labelledby="modal_update_mc_lephi" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
           

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_update_mc_lephi_second">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_ok_on_modal_update_mc_lephi">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<script>
    var formdata_files_noplephi = new FormData();
    var check_in_file_noplephi = false;
    $(document).ready(function () {

        $("#file_upload_minhchung_noplephi").on("change", function () {
            formdata_files_noplephi = new FormData();
            check_in_file_noplephi = false;
            $("#FilesList_MC_NopLePhi_View tbody").empty();

            var file_upload_minhchung_noplephi = document.getElementById('file_upload_minhchung_noplephi');
            for (i = 0; i < file_upload_minhchung_noplephi.files.length; i++) {
                var filename_item = file_upload_minhchung_noplephi.files[i].name;
                var randomid_item = Math.random().toString(36).substring(7);
                formdata_files_noplephi.append(filename_item, file_upload_minhchung_noplephi.files[i]);

                var markup = "<tr id='" + randomid_item + "'><td>" + filename_item + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_NopLephi_Upload(\"" + randomid_item + "\",\"" + filename_item + "\")'>Xóa</a></td></tr>";
                $("#FilesList_MC_NopLePhi_View tbody").append(markup);
            }
            chkatchtbl_lephi();
              $('#file_upload_minhchung_noplephi').val('');
        });

       

        $('#bt_update_mc_lephi').click(function () {
            $('#modal_update_mc_lephi').modal('show');
        });


        $('#bt_cancel_on_modal_update_mc_lephi_first').click(function () {
            $('#modal_update_mc_lephi').modal('hide');
        })

        $('#bt_cancel_on_modal_update_mc_lephi_second').click(function () {
            $('#modal_update_mc_lephi').modal('hide');
        });
    });
    function DeleteFile_NopLephi_Upload(Fileid, FileName) {
        formdata_files_noplephi.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_lephi();
    }

    function chkatchtbl_lephi() {
        if ($('#FilesList_MC_NopLePhi_View tbody tr').length >= 1) {
            $("#FilesList_MC_NopLePhi_View").css("visibility", "visible");
            check_in_file_noplephi = true;
        }
        else {
            $("#FilesList_MC_NopLePhi_View").css("visibility", "hidden");
            check_in_file_noplephi = false;
            if (!check_in_file_noplephi) { var errorMessage = "Upload tệp minh chứng nộp lệ phí"; $('#Error_Rgt_upload_minhchung_noplephi').text(errorMessage); flag = false; }
        }
    }
</script>