<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đăng ký xét tuyển - HDU</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <!-- bootstrap 5.3-->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/libs_font-awesome_6.1.1_js_all.min.js" data-search-pseudo-elements defer crossorigin="anonymous"></script>
    <script src="~/Scripts/feather.min.js" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    @RenderBody()

    <script src="~/Scripts/bundle.min.js"></script>
    <!-- bootstrap@5.1.3 -->
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>
