
@{
    ViewBag.Title = "Kiểm tra hồ sơ xét tuyển bằng chứng chỉ ngoại ngữ hoặc đánh giá tư duy";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<style>

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }

    .padding_input_text_number {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
    }

    td {
        vertical-align: middle !important;
    }

    .tdpading-diem {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Đăng ký xét tuyển sử dụng kết quả thi đánh giá năng lực/ Tư duy/ Ngoại ngữ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    $(document).ready(function () {
        let sp_tieude = document.getElementById('sp_tieude');
        function reportWindowSize() {
            if (window.innerWidth <= 1200) {
                sp_tieude.innerHTML = "ĐKXT SD Kết quả DGNL";
            }
            else {
                sp_tieude.innerHTML = "Đăng ký xét tuyển sử dụng kết quả thi đánh giá năng lực/ Tư duy/ Ngoại ngữ";
            }
        }
        window.onresize = reportWindowSize;
    })
    $(document).ready(function () {
        LoadDataPhuongThuc6();
    });
    function LoadDataPhuongThuc6() {
        let data_get = { Dkxt_ID: $('#hidden_Dkxt_ID').val() }
        $.ajax({
            url: '/Admin/TongHopSoLieuDKXTs/DangKyXetTuyen_DanhGia_GetByID',
            data: JSON.stringify(data_get),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.success) {
                    let data = res.data;
                    console.log("load data ", data);

                    $('#HoTen').text(data.ThiSinh_HoLot + data.ThiSinh_Ten);  //$('#ThiSinh_HoLot').val(data.ThiSinh_HoLot + " " + data.ThiSinh_Ten);
                    $('#CanCuocCongDan').text(data.ThiSinh_CCCD); //  $('#ThiSinh_CCCD').val(data.ThiSinh_CCCD);
                    $('#DienThoai').text(data.ThiSinh_DienThoai); //    $('#ThiSinh_DienThoai').val(data.ThiSinh_DienThoai);
                    $('#Email').text(data.ThiSinh_Email); //  $('#ThiSinh_Email').val(data.ThiSinh_Email);
                    $('#NgaySinh').text(data.ThiSinh_NgaySinh); //$('#ThiSinh_NgaySinh').val(data.ThiSinh_NgaySinh);
                    $('#GioiTinh').text(data.ThiSinh_GioiTinh); //$('#ThiSinh_GioiTinh').val(data.ThiSinh_GioiTinh);
                    $('#DanToc').text(data.ThiSinh_DanToc); //    $('#ThiSinh_DanToc').val(data.ThiSinh_DanToc);

                    $('#NguyenVong').text(data.Dkxt_NguyenVong);
                    $('#Nganh').text(data.Nganh_TenNganh);
                    $('#TenChungChi').text(data.Dkxt_ChungChi_Ten);
                    $('#DonViToChuc').text(data.Dkxt_DonViToChuc);
                    $('#ThoiGianThi').text(data.Dkxt_NgayDuThi);
                    $('#DiemThi').text(data.Dkxt_KetQuaDatDuoc + '/' + data.Dkxt_TongDiem + ' (Tổng điểm)');

                    $('#div_mc_chungchi').empty();
                    $('#div_mc_hocba').empty();
                    $('#div_mc_bangtotnghiep').empty();
                    $('#div_mc_cccd').empty();
                    $('#div_mc_giayto_uutien').empty();
                    $('#div_mc_lephi').empty();
                    $('#bt_delete_div_view_img').hide();

                    if (data.Dkxt_MinhChung_KetQua) {
                        const ArrKetQuaThi = data.Dkxt_MinhChung_KetQua.split("#");
                        if (ArrKetQuaThi.length > 0) {
                            $('#div_mc_chungchi').append('- Chứng nhận kết quả thi ĐGNL: ');
                            for (i = 0; i < ArrKetQuaThi.length; i++) {
                                if (ArrKetQuaThi[i].length > 0) {
                                    var str_a = ` <a href="#$" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" onclick="showimg('${ArrKetQuaThi[i]}',1,${data.Dkxt_ID} )">Tệp ${i + 1}</a> `;
                                    $('#div_mc_chungchi').append(str_a);

                                    if (i == 0) {
                                        $('#img_txt_card_hearder').text('Hình ảnh minh chứng kết quả thi đánh giá năng lực');
                                        var url = ArrKetQuaThi[i];
                                        var lastChar = url.substr(url.length - 4); // => kiểm tra file pdf hoặc img

                                        if (lastChar.toLowerCase() != ".pdf") {
                                            pdf_view.style.display = "none";
                                            pdf_view.style.height = "0px";

                                            $("#img_view").attr("src", url);
                                            $("#img_view").show();

                                        }
                                        if (lastChar.toLowerCase() === ".pdf") {
                                            $("#img_view").hide();
                                            pdf_view.style.display = "inline";
                                            pdf_view.style.height = "500px";
                                            $("#pdf_view").attr("src", url);

                                            $("#pdf_view").show();
                                        }
                                        $('#div_view_data_img').show();
                                    }
                                }
                            }
                            $('#div_mc_chungchi').show();
                        }
                        else {

                            $('#div_mc_chungchi').hide();
                        }
                    }
                    else {
                        $('#img_txt_card_hearder').text('Chứng nhận tốt nghiệp');
                        $("#img_view").attr("src", "/Content/images/no-image.png");
                        pdf_view.style.display = "none";
                        pdf_view.style.height = "0px";
                        $('#div_view_img').show();
                    }

                    // div_mc_lephidiv_mc_giayto_uutiendiv_mc_cccddiv_mc_bangtotnghiep

                    if (data.Dkxt_MinhChung_HB) {
                        const ArrHocBa = data.Dkxt_MinhChung_HB.split("#");
                        if (ArrHocBa.length > 0) {
                            $('#div_mc_hocba').append('- Học bạ: ');
                            for (i = 0; i < ArrHocBa.length; i++) {
                                if (ArrHocBa[i].length > 0) {
                                    var str_a = ` <a href="#$" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"  onclick="showimg('${ArrHocBa[i]}',2,${data.Dkxt_ID} )">Tệp ${i + 1}</a> `;
                                    $('#div_mc_hocba').append(str_a);
                                }
                            }
                            $('#div_mc_hocba').show();
                        }
                        else {
                            $('#div_mc_hocba').hide();
                        }
                    }

                    if (data.Dkxt_MinhChung_Bang) {
                        const ArrBTN = data.Dkxt_MinhChung_Bang.split("#");
                        if (ArrBTN.length > 0) {
                            $('#div_mc_bangtotnghiep').append('- Bằng tốt nghiệp: ');
                            for (i = 0; i < ArrBTN.length; i++) {
                                if (ArrBTN[i].length > 0) {
                                    var str_a = ` <a href="#$" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"  onclick="showimg('${ArrBTN[i]}',3,${data.Dkxt_ID} )">Tệp ${i + 1}</a> `;
                                    $('#div_mc_bangtotnghiep').append(str_a);
                                }
                            }
                            $('#div_mc_bangtotnghiep').show();
                        }
                        else {
                            $('#div_mc_bangtotnghiep').hide();
                        }
                    }

                    if (data.Dkxt_MinhChung_CCCD) {
                        const ArrCccd = data.Dkxt_MinhChung_CCCD.split("#");
                        if (ArrCccd.length > 0) {
                            $('#div_mc_cccd').append('- Căn cước công dân: ');
                            for (i = 0; i < ArrCccd.length; i++) {
                                if (ArrCccd[i].length > 0) {
                                    var str_a = ` <a href="#$" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"  onclick="showimg('${ArrCccd[i]}',4,${data.Dkxt_ID} )">Tệp ${i + 1}</a> `;
                                    $('#div_mc_cccd').append(str_a);
                                }
                            }
                            $('#div_mc_cccd').show();
                        }
                        else {
                            $('#div_mc_cccd').hide();
                        }
                    }

                    if (data.Dkxt_MinhChung_UuTien) {
                        const ArrGTUT = data.Dkxt_MinhChung_UuTien.split("#");
                        if (ArrGTUT.length > 0) {
                            $('#div_mc_giayto_uutien').append('- Giấy tờ ưu tiên: ');
                            for (i = 0; i < ArrGTUT.length; i++) {
                                if (ArrGTUT[i].length > 0) {
                                    var str_a = ` <a href="#$" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"  onclick="showimg('${ArrGTUT[i]}',5,${data.Dkxt_ID} )">Tệp ${i + 1}</a> `;
                                    $('#div_mc_giayto_uutien').append(str_a);
                                }
                            }
                            $('#div_mc_giayto_uutien').show();
                        }
                        else {
                            $('#div_mc_giayto_uutien').hide();
                        }
                    }

                    if (data.Dkxt_TrangThai_KinhPhi == 0) {
                        $('#div_daco_mc_lephi').hide();
                        $('#div_chuaco_mc_lephi').show();
                        $('#div_mc_lephi').hide();
                    }
                    else {
                        $('#div_daco_mc_lephi').show();
                        $('#div_chuaco_mc_lephi').hide();

                        $('#txt_SoThamChieu_KinhPhi').text('- Số tham chiếu chuyển khoản: ' + data.Dkxt_KinhPhi_SoThamChieu)
                        if (data.Dkxt_KinhPhi_TepMinhChung) {
                            const ArrKinhPhi = data.Dkxt_KinhPhi_TepMinhChung.split("#");
                            if (ArrKinhPhi.length > 0) {
                                $('#div_mc_lephi').append('- Nộp lệ phí: ');
                                for (i = 0; i < ArrKinhPhi.length; i++) {
                                    if (ArrKinhPhi[i].length > 0) {
                                        var str_a = ` <a href="#$" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"  onclick="showimg('${ArrKinhPhi[i]}',6,${data.Dkxt_ID} )">Tệp ${i + 1}</a> `;
                                        $('#div_mc_lephi').append(str_a);
                                    }
                                }
                                $('#div_mc_lephi').show();
                            }
                            else {
                                $('#div_mc_lephi').hide();
                            }
                        }
                    }

                    /*TrangThaiHoSo*/
                    if (data.Dkxt_TrangThai_HoSo == 0) {
                        $('#ThongBao_TrangThaiHoSo').empty();
                        $('#ThongBao_TrangThaiHoSo').append(`<span>- Trạng thái hồ sơ: Chưa kiểm tra</span>`);
                        $('#radioHoSoDayDu').removeAttr('checked', 'checked');
                        $('#radioHoSoThieu').removeAttr('checked', 'checked');
                        $('#Dkxt_ThongBaoKiemDuyet_HoSo').val('');
                    }

                    if (data.Dkxt_TrangThai_HoSo == 1) {
                        $('#ThongBao_TrangThaiHoSo').empty();
                        $('#ThongBao_TrangThaiHoSo').append(`<span>- Trạng thái hồ sơ: Đã kiểm tra, hồ sơ có sai sót</span>`);
                        $('#radioHoSoDayDu').removeAttr('checked', 'checked');
                        $('#radioHoSoThieu').attr('checked', 'checked');
                        $('#Dkxt_ThongBaoKiemDuyet_HoSo').val(data.Dkxt_ThongBaoKiemDuyet_HoSo);
                    }

                    if (data.Dkxt_TrangThai_HoSo == 2) {
                        $('#ThongBao_TrangThaiHoSo').empty();
                        $('#ThongBao_TrangThaiHoSo').append(`<span>- Trạng thái hồ sơ: Thí sinh đã sửa, Chưa kiểm tra</span>`);
                        $('#radioHoSoDayDu').removeAttr('checked', 'checked');
                        $('#radioHoSoThieu').removeAttr('checked', 'checked');
                        $('#Dkxt_ThongBaoKiemDuyet_HoSo').val('');
                    }

                    if (data.Dkxt_TrangThai_HoSo == 9) {
                        $('#ThongBao_TrangThaiHoSo').empty();
                        $('#ThongBao_TrangThaiHoSo').append(`<span>- Trạng thái hồ sơ: Đã kiểm tra, hồ sơ đúng, đủ</span>`);
                        $('#radioHoSoDayDu').attr('checked', 'checked');
                        $('#radioHoSoThieu').removeAttr('checked', 'checked');
                        $('#Dkxt_ThongBaoKiemDuyet_HoSo').val(data.Dkxt_ThongBaoKiemDuyet_HoSo);

                    }
                    /*   Trang Thai Kinh Phi*/
                    if (data.Dkxt_TrangThai_KinhPhi == 0) {
                        $('#ThongBao_TrangThaiKinhPhi').empty();
                        $('#ThongBao_TrangThaiKinhPhi').append(`<span>- Trạng thái nộp kinh phí: Chưa có tệp minh chứng</span>`);
                    }
                    else {
                        $('#hidden_TrangThai_KinhPhi').val(data.Dkxt_TrangThai_KinhPhi);
                        if (data.Dkxt_TrangThai_KinhPhi == 1) {
                            $('#ThongBao_TrangThaiKinhPhi').empty();
                            $('#ThongBao_TrangThaiKinhPhi').append(`<span>- Trạng thái nộp kinh phí: Đã nộp minh chứng, Chưa kiểm tra</span>`);

                            $('#radioThongtinLePhiDung').removeAttr('checked', 'checked');
                            $('#radioThongtinLePhiSai').removeAttr('checked', 'checked');
                        }

                        if (data.Dkxt_TrangThai_KinhPhi == 2) {
                            $('#ThongBao_TrangThaiKinhPhi').empty();
                            $('#ThongBao_TrangThaiKinhPhi').append(`<span>- Trạng thái nộp kinh phí: Đã kiểm tra minh chứng, có sai sót</span>`);

                            $('#radioThongtinLePhiDung').removeAttr('checked', 'checked');
                            $('#radioThongtinLePhiSai').attr('checked', 'checked');

                        }

                        if (data.Dkxt_TrangThai_KinhPhi == 3) {
                            $('#ThongBao_TrangThaiKinhPhi').empty();
                            $('#ThongBao_TrangThaiKinhPhi').append(`<span>- Trạng thái nộp kinh phí: Thí sinh đã sửa, Chưa kiểm tra</span>`);

                            $('#radioThongtinLePhiDung').removeAttr('checked', 'checked');
                            $('#radioThongtinLePhiSai').removeAttr('checked', 'checked');
                        }

                        if (data.Dkxt_TrangThai_KinhPhi == 9) {
                            $('#ThongBao_TrangThaiKinhPhi').empty();
                            $('#ThongBao_TrangThaiKinhPhi').append(`<span>- Trạng thái nộp kinh phí: Đã kiểm tra, Đúng, đủ</span>`);

                            $('#radioThongtinLePhiDung').attr('checked', 'checked');
                            $('#radioThongtinLePhiSai').removeAttr('checked', 'checked');
                        }
                    }

                }

            },
            error: function (errormessage) {
                console.log(errormessage.error);
            }
        });
    }
</script>
<div class="container-fluid px-12">
    <div class="row g-1">
        <div class="col-lg-7 col-md-12" id="div_view_data_table">
            <div class="card card-header-actions">
                <div class="card-header">
                    <span>Thông tin nguyện vọng đăng ký</span>
                    <div>
                        <button class="btn  btn-light btn-sm" type="button" onclick="ReturnTheoDoiNopHoSo()">Quay lại</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <b>+ Thông tin thí sinh</b>
                                    <hr class="mb-0 mt-0" />
                                    <p class="mt-0 mb-0">- Họ và tên: <b id="HoTen"></b></p>
                                    <p class="mt-0 mb-0">- Số CCCD: <b id="CanCuocCongDan"> </b></p>
                                    <p class="mt-0 mb-0">- Điện thoại: <b id="DienThoai"></b></p>
                                    <p class="mt-0 mb-0">- Email: <b id="Email"> </b></p>
                                    <p class="mt-0 mb-0">- Ngày sinh: <b id="NgaySinh"></b></p>
                                    <p class="mt-0 mb-0">- Giới tính: <b id="GioiTinh"></b></p>
                                    <p class="mt-0 mb-0">- Dân tộc: <b id="DanToc"></b></p>
                                </div>
                                <div class="col-12">
                                    <b>+ Thông tin đăng ký xét tuyển</b>
                                    <hr class="mb-0 mt-0" />
                                    <p class="mt-0 mb-0">- Nguyện vọng: <b id="NguyenVong"></b></p>
                                    <p class="mt-0 mb-0">- Ngành: <b id="Nganh"> </b></p>
                                    <p class="mt-0 mb-0">- Tên chứng chỉ: <b id="TenChungChi"> </b></p>
                                    <p class="mt-0 mb-0">- Đơn vị tổ chức: <b id="DonViToChuc"> </b></p>
                                    <p class="mt-0 mb-0">- Thời gian dự thi: <b id="ThoiGianThi"> </b></p>
                                    <p class="mt-0 mb-0">- Điểm đạt được: <b id="DiemThi"> </b></p>
                                    <p class="mt-0 mb-0" style="display:none">- Năm tốt nghiệp: <b id="NamTotNghiep"> </b></p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <b>+ Hình ảnh minh chứng</b>
                                    <hr class="mb-0 mt-0" />
                                    <p class="mt-0 mb-0" id="div_mc_chungchi"></p>
                                    <p class="mt-0 mb-0" id="div_mc_hocba"></p>
                                    <p class="mt-0 mb-0" id="div_mc_bangtotnghiep"></p>
                                    <p class="mt-0 mb-0" id="div_mc_cccd"></p>
                                    <p class="mt-0 mb-0" id="div_mc_giayto_uutien"></p>
                                    <p class="mt-0 mb-0" id="div_mc_lephi"></p>
                                </div>
                                <div class="col-12">
                                    <b class="mt-1">+ Kiểm duyệt hồ sơ và lệ phí</b>
                                    <hr class="mb-0 mt-0" />
                                    <p class="mt-0 mb-0" id="ThongBao_TrangThaiHoSo"></p>
                                    <div class="row">
                                        <div class="col-12 mt-1">
                                            <input class="form-control" type="text" id="Dkxt_ThongBaoKiemDuyet_HoSo" name="Dkxt_ThongBaoKiemDuyet_HoSo" placeholder="Nhập thông báo kiểm duyệt hồ sơ">
                                            <span id="Error_Rgt_Check_radio_KiemDuyetHoSo" class="small mb-1 text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <div class="row g-1">
                                                <div class="col-lg-5 col-md-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" id="radioHoSoThieu" name="Group_KiemDuyetHoSo">
                                                        <label class="form-check-label text-nowrap">Hồ sơ có sai sót</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" id="radioHoSoDayDu" onchange="remove_error_kd();" name="Group_KiemDuyetHoSo">
                                                        <script>function remove_error_kd() { $('#Error_Rgt_Check_radio_KiemDuyetHoSo').text('') }</script>
                                                        <label class="form-check-label text-nowrap">Hồ sơ đầy đủ</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <span id="Error_Rgt_Check_radio_KiemDuyetHoSo" class="small mb-1 text-danger col-12"></span>
                                        </div>
                                    </div>
                                    <hr class="mb-1 mt-0" />
                                    <p class="mt-0 mb-0" id="ThongBao_TrangThaiKinhPhi"></p>
                                    <input type="hidden" id="hidden_TrangThai_KinhPhi" name="hidden_TrangThai_KinhPhi" />
                                    <div class="row mt-2" id="div_chuaco_mc_lephi" style="display:none">
                                        <center>
                                            <label class="form-label" style="color:red">(Chưa có minh chứng nộp lệ phí)</label>
                                        </center>
                                    </div>
                                    <div class="row mt-1 mb-0" id="div_daco_mc_lephi" style="display:none">
                                        <div class="col-12">
                                            <span id="txt_SoThamChieu_KinhPhi" style="color:blue"></span>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-inline-flex mt-1">
                                                <div class="form-check align-items-center">
                                                    <input class="form-check-input" type="radio" id="radioThongtinLePhiSai" name="Group_KiemDuyetLePhi" onchange="remove_error_lp()">
                                                    <label class="form-check-label text-nowrap">Minh chứng lệ phí sai</label>
                                                </div>
                                                <div class="form-check align-items-center" style="margin-left:10px">
                                                    <input class="form-check-input" type="radio" id="radioThongtinLePhiDung" name="Group_KiemDuyetLePhi" onchange="remove_error_lp()">
                                                    <label class="form-check-label text-nowrap">Minh chứng lệ phí đúng</label>
                                                </div>
                                            </div>
                                        </div>
                                        <span id="Error_Rgt_KiemDuyet_KinhPhi" class="small mb-1 text-danger col-12"></span>
                                        <script>function remove_error_lp() { $('#Error_Rgt_KiemDuyet_KinhPhi').text('') }</script>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <hr class="mt-1 mb-1" />
                    <div class="row">
                        <center>
                            <div class="col-12 mt-2">
                                <a class="btn btn-outline-primary" id="bt_duyet_ho_so">Duyệt hồ sơ</a>
                                <script>

                                    $(document).ready(function () {
                                        $('#bt_duyet_ho_so').click(function () {
                                            var flag = true;
                                            let _dkxt_TrangThai_HoSo = 0;

                                            if (!$('#radioHoSoDayDu').is(':checked') && !$('#radioHoSoThieu').is(':checked')) {
                                                var errorMessage = "Chọn kiểm duyệt hồ sơ"; $('#Error_Rgt_Check_radio_KiemDuyetHoSo').text(errorMessage);
                                                flag = false;
                                            }
                                            else {
                                                if ($('#radioHoSoThieu').is(':checked') && !$('#Dkxt_ThongBaoKiemDuyet_HoSo').val()) {
                                                    $('#Error_Rgt_Check_radio_KiemDuyetHoSo').text('Nhập thông tin sai của hồ sơ');
                                                    flag = false;
                                                }
                                            }

                                            if ($('#radioHoSoThieu').is(':checked')) {
                                                _dkxt_TrangThai_HoSo = 1;
                                            }
                                            if ($('#radioHoSoDayDu').is(':checked')) {
                                                _dkxt_TrangThai_HoSo = 9;
                                            }

                                            let _dkxt_TrangThai_KinhPhi = 0

                                            if ($('#hidden_TrangThai_KinhPhi').val() > 0) {

                                                if (!$('#radioThongtinLePhiDung').is(':checked') && !$('#radioThongtinLePhiSai').is(':checked')) {
                                                    $('#Error_Rgt_KiemDuyet_KinhPhi').text('Chọn kiểm duyệt lệ phí');
                                                    flag = false;
                                                }

                                                if ($('#radioThongtinLePhiSai').is(':checked')) {
                                                    _dkxt_TrangThai_KinhPhi = 2;
                                                }
                                                if ($('#radioThongtinLePhiDung').is(':checked')) {
                                                    _dkxt_TrangThai_KinhPhi = 9;
                                                }
                                            }


                                            if (!flag) return

                                            var data_update = {
                                                Dkxt_ID: $('#hidden_Dkxt_ID').val(),
                                                Dkxt_TrangThai_KinhPhi: _dkxt_TrangThai_KinhPhi,
                                                Dkxt_TrangThai_HoSo: _dkxt_TrangThai_HoSo,
                                                Dkxt_ThongBaoKiemDuyet_HoSo: $('#Dkxt_ThongBaoKiemDuyet_HoSo').val(),
                                            }
                                            //console.log("data_update duyet", data_update);
                                            //return;
                                            $.ajax({
                                                url: "/Admin/DangKyXetTuyens/Dkxt_DGNL_NN_Update_KiemDuyet",
                                                type: "POST",
                                                data: JSON.stringify(data_update),
                                                contentType: 'application/json;charset=utf-8',
                                                success: function (res) {
                                                    if (res.success) {
                                                        ReturnTheoDoiNopHoSo();
                                                    }
                                                },
                                                error: function () {
                                                    console.log("Lỗi");
                                                }
                                            });
                                        });


                                    });

                                    $(document).ready(function () {
                                        $('#radioHoSoDayDu').click(function () {
                                            $('#Error_Rgt_KiemDuyetHoSo').text('');
                                        });

                                        $('#radioThongtinLePhiDung').click(function () {
                                            $('#Error_Rgt_KiemDuyetKinhPhi').text('');
                                        });

                                        $('#radioThongtinLePhiSai').click(function () {
                                            $('#Error_Rgt_KiemDuyetKinhPhi').text('');
                                        });

                                        $('input').on('input', function () {
                                            hideErrorMessage($(this));
                                        });
                                    })
                                    function hideErrorMessage(input) {
                                        var errorContainer = input.next('.text-danger');
                                        errorContainer.text('');
                                    }

                                </script>
                                <input class="btn btn-outline-secondary" type="button" value="Quay lại" onclick="ReturnTheoDoiNopHoSo()" />
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-md-12" id="div_view_data_img">
            <div class="card card-header-actions">
                <div class="card-header mt-0 mb-0">
                    <span id="img_txt_card_hearder">Hình ảnh minh chứng</span>
                    <div>
                        <button class="btn btn-sm btn-outline-danger" type="button" onclick="bt_delete_div_view_img()" id="bt_delete_div_view_img">Xóa</button>
                        <script>function bt_delete_div_view_img() { $('#modal_thongbao_delete').modal('show'); }</script>
                        <button class="btn btn-sm btn-outline-primary" type="button" id="bt_close_div_view_img">Đóng</button>
                        @*<button class="btn-close" type="button" aria-label="Close" id="bt_close_div_view_img"></button>*@
                    </div>
                </div>
                <div class="card-body" style="margin: 0px!important">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" id="div_item_view_minhchung">
                                <img class="d-block w-100 img-hide" id="img_view" display:none">
                                <embed class="d-block w-100" type="application/pdf" id="pdf_view" style=" display:none" />
                                <input type="hidden" id="hiden_id_key" style="display:none" />
                                <input type="hidden" id="hiden_loai_minhchung_xoa" style="display:none" />
                                <input type="hidden" id="hiden_duongdan_file_xoa" style="display:none" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


    </script>
</div>
<input type="hidden" value="@ViewBag.Dkxt_ID" id="hidden_Dkxt_ID" />

<div class="modal fade" id="modal_thongbao_delete" tabindex="-1" role="dialog" aria-labelledby="modal_thongbao_delete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tieude_modal">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="bt_close_modal_xoa_click()"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Bạn chắc chắn xóa ảnh minh chứng này ?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="bt_dongy_xoa_on_modal_delete_click()">Đồng ý</button>
                <script>
                    function bt_dongy_xoa_on_modal_delete_click() {
                        var str_query = window.location.search;
                        var data_post = {

                            Dkxt_ID: $('#hiden_id_key').val(),
                            Dkxt_LoaiMC: $('#hiden_loai_minhchung_xoa').val(),
                            Dkxt_Url: $("#hiden_duongdan_file_xoa").val(),
                        }
                        console.log("test delete", data_post)
                       /* return;*/

                        $.ajax({
                            url: '/Admin/DangKyXetTuyens/DkxtkqDgnl_hs_DeleteMC',
                            type: "POST",
                            data: JSON.stringify(data_post),
                            contentType: "application/json;charset=utf-8",
                            success: function (res) {
                                if (res) {
                                    $('#modal_thongbao_delete').modal('hide');
                                    LoadDataPhuongThuc6();
                                }                              
                              /*  window.location.href = "/Admin/DangKyXetTuyens/DkxtkqDgnl_hs_view" + str_query;*/
                            },
                            error: function (error) {
                                console.error('Error update mc:', error);
                            }
                        });
                    }
                </script>
                <button class="btn btn-primary" type="button" onclick="bt_close_modal_xoa_click()">Đóng</button>
            </div>
            <script>
                function bt_close_modal_xoa_click() {
                    $('#modal_thongbao_delete').modal('hide');
                }
            </script>
        </div>
    </div>
</div>


<script>

    function ReturnTheoDoiNopHoSo() {
        var str_query_current = window.location.search;
        var str_dkxt_id = '?Dkxt_ID=' + $('#hidden_Dkxt_ID').val();
        var str_query = str_query_current.slice(0, str_query_current.length - str_dkxt_id.length);
        window.location.href = '/Admin/TongHopSoLieuDKXTs/TheoDoiNopHoSo' + str_query;
    }
    function showimg(url, loaimc, id_key_hs) {

        $('#bt_delete_div_view_img').show();        

        $('#hiden_id_key').val(id_key_hs);
        $("#hiden_duongdan_file_xoa").val(url);
        $('#hiden_loai_minhchung_xoa').val(loaimc);


        var pdf_view = document.getElementById("pdf_view");

        $('#pdf_view').height('0px');
        $('#pdf_view').hide();
        $('#pdf_view').css('display', 'none');

        $('#img_view').hide();
        $("#img_view").attr("src", "");

        if (loaimc == 1) {
            $('#img_txt_card_hearder').text('Minh chứng kết quả thi đánh giá năng lực');
        }
        if (loaimc == 2) {
            $('#img_txt_card_hearder').text('Minh chứng học bạ');
        }
        if (loaimc == 3) {
            $('#img_txt_card_hearder').text('Minh chứng bằng tốt nghiệp');
        }
        if (loaimc == 4) {
            $('#img_txt_card_hearder').text('Minh chứng căn cước công dân');
        }
        if (loaimc == 5) {
            $('#img_txt_card_hearder').text('Giấy tờ khác');
        }
        if (loaimc == 6) {
            $('#img_txt_card_hearder').text('Minh chứng nộp lệ phú');
        }

        var lastChar = url.substr(url.length - 4); // => kiểm tra file pdf hoặc img

        if (lastChar.toLowerCase() != ".pdf") {

            $('#pdf_view').height('0px');
            $('#pdf_view').hide();
            $('#pdf_view').css('display', 'none');

            $("#img_view").attr("src", url);
            $("#img_view").show();
        }
        if (lastChar.toLowerCase() === ".pdf") {
            $("#img_view").hide();
            $('#pdf_view').height('500px');
            $('#pdf_view').css('display', 'inline');
            $("#pdf_view").attr("src", url);
            $("#pdf_view").show();
        }
        $('#div_view_img').show();
    }
    $(document).ready(function () {
        $('#bt_close_div_view_img').click(function () {

            $("#img_view").attr("src", "");
            $("#pdf_view").attr("src", "");

            $('#pdf_view').height('0px');
            $('#pdf_view').hide();
            $('#pdf_view').css('display', 'none');
            $('#div_view_img').hide();

            $('#img_txt_card_hearder').text('Hình ảnh minh chứng');
        });
    });
</script>
