USE [HDUDBTuyenSinh]
GO
/****** Object:  Table [dbo].[AdminAccount]    Script Date: 27/06/2023 08:48:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccount](
	[Admin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Admin_Username] [nvarchar](500) NULL,
	[Admin_Pass] [nvarchar](500) NULL,
	[Admin_Ho] [nvarchar](500) NULL,
	[Admin_Ten] [nvarchar](20) NULL,
	[Admin_Quyen] [nvarchar](500) NULL,
	[Khoa_ID] [int] NULL,
 CONSTRAINT [PK_AdminAccount] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyXetTuyen]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyXetTuyen](
	[Dkxt_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ThiSinh_ID] [bigint] NULL,
	[Ptxt_ID] [int] NULL,
	[Nganh_ID] [int] NULL,
	[Thm_ID] [int] NULL,
	[DoiTuong_ID] [int] NULL,
	[KhuVuc_ID] [int] NULL,
	[Dkxt_TrangThai] [int] NULL,
	[Dkxt_NguyenVong] [int] NULL,
	[DotXT_ID] [int] NULL,
	[Dkxt_GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_DangKyXetTuyen] PRIMARY KEY CLUSTERED 
(
	[Dkxt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyXetTuyen_DiemTS]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyXetTuyen_DiemTS](
	[Dkxt_Diem_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Dkxt_ID] [bigint] NULL,
	[ThiSinh_ID] [bigint] NULL,
	[MonHoc_ID] [int] NULL,
	[Dkxt_Diem_Ky1] [float] NULL,
	[Dkxt_Diem_Ky2] [float] NULL,
	[Dkxt_Diem_Ky3] [float] NULL,
	[Dkxt_GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_DangKyXetTuyen_DiemTS] PRIMARY KEY CLUSTERED 
(
	[Dkxt_Diem_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoiTuong]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoiTuong](
	[DoiTuong_ID] [int] IDENTITY(1,1) NOT NULL,
	[DoiTuong_Ten] [nvarchar](250) NULL,
	[DoiTuong_DiemUuTien] [float] NULL,
	[DoiTuong_GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_DoiTuong] PRIMARY KEY CLUSTERED 
(
	[DoiTuong_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DotXetTuyen]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DotXetTuyen](
	[Dxt_ID] [int] IDENTITY(1,1) NOT NULL,
	[Dxt_Ten] [nvarchar](250) NULL,
	[Dxt_TrangThai] [int] NULL,
	[Dxt_GhiChu] [nvarchar](250) NULL,
	[NamHoc_ID] [int] NULL,
 CONSTRAINT [PK_DotXetTuyen] PRIMARY KEY CLUSTERED 
(
	[Dxt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Huyen]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huyen](
	[Huyen_ID] [int] IDENTITY(1,1) NOT NULL,
	[Huyen_MaHuyen] [nvarchar](50) NULL,
	[Huyen_TenHuyen] [nvarchar](200) NULL,
	[Huyen_GhiChu] [nvarchar](200) NULL,
	[Tinh_ID] [int] NULL,
 CONSTRAINT [PK_Huyen] PRIMARY KEY CLUSTERED 
(
	[Huyen_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoiNganh]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoiNganh](
	[KhoiNganh_ID] [int] IDENTITY(1,1) NOT NULL,
	[KhoiNganh_Ten] [nvarchar](50) NULL,
	[KhoiNganh_GhiChu] [nvarchar](500) NULL,
	[KhoiNganh_TrangThai] [int] NULL,
 CONSTRAINT [PK_KhoiNganh] PRIMARY KEY CLUSTERED 
(
	[KhoiNganh_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[KhuVuc_ID] [int] IDENTITY(1,1) NOT NULL,
	[KhuVuc_Ten] [nvarchar](250) NULL,
	[KhuVuc_DiemUuTien] [float] NULL,
	[KhuVuc_GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[KhuVuc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LePhiXetTuyen]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LePhiXetTuyen](
	[Lpxt_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ThiSinh_ID] [bigint] NULL,
	[Lpxt_SoTienDong] [float] NULL,
	[Lpxt_TrangThai] [int] NULL,
	[Lpxt_MinhChung] [nvarchar](500) NULL,
	[Lpxt_GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_LePhiXetTuyen] PRIMARY KEY CLUSTERED 
(
	[Lpxt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MonHoc_ID] [int] IDENTITY(1,1) NOT NULL,
	[MonHoc_TenMon] [nvarchar](50) NULL,
	[MonHoc_GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MonHoc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NamHoc]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NamHoc](
	[NamHoc_ID] [int] IDENTITY(1,1) NOT NULL,
	[NamHoc_Ten] [nvarchar](250) NULL,
	[NamHoc_TrangThai] [int] NULL,
	[NamHoc_GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_NamHoc] PRIMARY KEY CLUSTERED 
(
	[NamHoc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ngành]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ngành](
	[Nganh_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nganh_MaNganh] [nvarchar](50) NULL,
	[NganhTenNganh] [nvarchar](500) NULL,
	[Khoa_ID] [int] NULL,
	[Nganh_GhiChu] [nvarchar](500) NULL,
	[KhoiNganh_ID] [int] NULL,
 CONSTRAINT [PK_Ngành] PRIMARY KEY CLUSTERED 
(
	[Nganh_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucXetTuyen]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucXetTuyen](
	[Ptxt_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ptxt_TenPhuongThuc] [nvarchar](50) NULL,
	[Ptxt_GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_PhuongThucXetTuyen] PRIMARY KEY CLUSTERED 
(
	[Ptxt_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThiSinhDangKy]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThiSinhDangKy](
	[ThiSinh_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ThiSinh_CCCD] [nvarchar](50) NULL,
	[ThiSinh_MatKhau] [nvarchar](300) NULL,
	[ThiSinh_HoLot] [nvarchar](300) NULL,
	[ThiSinh_Ten] [nvarchar](300) NULL,
	[ThiSinh_DienThoai] [nvarchar](300) NULL,
	[ThiSinh_Email] [nvarchar](300) NULL,
	[ThiSinh_NgaySinh] [nvarchar](300) NULL,
	[ThiSinh_NgayDangKy] [nvarchar](300) NULL,
	[ThiSinh_DanToc] [nvarchar](50) NULL,
	[ThiSinh_GioiTinh] [int] NULL,
	[ThiSinh_NamTotNghiep] [int] NULL,
	[ThiSinh_ResetCode] [nvarchar](300) NULL,
	[ThiSinh_DCNhanGiayBao] [nvarchar](300) NULL,
	[ThiSinh_HoKhauThuongTru] [nvarchar](300) NULL,
	[ThiSinh_HoKhauThuongTru_Check] [nvarchar](300) NULL,
	[KhuVuc_ID] [int] NULL,
	[DoiTuong_ID] [int] NULL,
	[ThiSinh_TruongCapBa_Ma] [nvarchar](300) NULL,
	[ThiSinh_TruongCapBa] [nvarchar](300) NULL,
	[DotXT_ID] [int] NULL,
	[ThiSinh_TrangThai] [int] NULL,
	[ThiSinh_GhiChu] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ThiSinhDangKy] PRIMARY KEY CLUSTERED 
(
	[ThiSinh_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tinh]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tinh](
	[Tinh_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tinh_Ma] [nvarchar](250) NULL,
	[Tinh_Ten] [nvarchar](250) NULL,
	[Tinh_MaTen] [nvarchar](250) NULL,
	[Tinh_GhiChu] [nvarchar](250) NULL,
 CONSTRAINT [PK_Tinh] PRIMARY KEY CLUSTERED 
(
	[Tinh_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToHopMon]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToHopMon](
	[Thm_ID] [int] IDENTITY(1,1) NOT NULL,
	[Thm_MaToHop] [nvarchar](50) NULL,
	[Thm_TenToHop] [nvarchar](200) NULL,
	[Thm_mon1_ID] [int] NULL,
	[Thm_mon2_ID] [int] NULL,
	[Thm_mon3_ID] [int] NULL,
 CONSTRAINT [PK_ToHopMon] PRIMARY KEY CLUSTERED 
(
	[Thm_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TruongCapBa]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruongCapBa](
	[Truong_ID] [int] IDENTITY(1,1) NOT NULL,
	[Truong_Ma] [nvarchar](50) NULL,
	[Truong_Ten] [nvarchar](200) NULL,
	[Truong_MaTen] [nvarchar](200) NULL,
	[Truong_GhiChu] [nvarchar](200) NULL,
	[Tinh_ID] [int] NULL,
 CONSTRAINT [PK_TruongCapBa] PRIMARY KEY CLUSTERED 
(
	[Truong_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Xa]    Script Date: 27/06/2023 08:48:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xa](
	[Xa_ID] [int] IDENTITY(1,1) NOT NULL,
	[Xa_Ma] [nvarchar](50) NULL,
	[Xa_Ten] [nvarchar](200) NULL,
	[Xa_GhiChu] [nvarchar](200) NULL,
	[Huyen_ID] [int] NULL,
 CONSTRAINT [PK_Xa] PRIMARY KEY CLUSTERED 
(
	[Xa_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DoiTuong] ON 

INSERT [dbo].[DoiTuong] ([DoiTuong_ID], [DoiTuong_Ten], [DoiTuong_DiemUuTien], [DoiTuong_GhiChu]) VALUES (1, N'01', 1, NULL)
INSERT [dbo].[DoiTuong] ([DoiTuong_ID], [DoiTuong_Ten], [DoiTuong_DiemUuTien], [DoiTuong_GhiChu]) VALUES (2, N'02', 2, NULL)
INSERT [dbo].[DoiTuong] ([DoiTuong_ID], [DoiTuong_Ten], [DoiTuong_DiemUuTien], [DoiTuong_GhiChu]) VALUES (3, N'03', 3, NULL)
SET IDENTITY_INSERT [dbo].[DoiTuong] OFF
GO
SET IDENTITY_INSERT [dbo].[DotXetTuyen] ON 

INSERT [dbo].[DotXetTuyen] ([Dxt_ID], [Dxt_Ten], [Dxt_TrangThai], [Dxt_GhiChu], [NamHoc_ID]) VALUES (1, N'Đợt 1 năm 2023', 1, N'Đợt tuyển sinh tháng 8 năm 2023', 1)
INSERT [dbo].[DotXetTuyen] ([Dxt_ID], [Dxt_Ten], [Dxt_TrangThai], [Dxt_GhiChu], [NamHoc_ID]) VALUES (2, N'Đợt 1 năm 2023', 0, N'Đợt tuyển sinh tháng 8 năm 2023', 1)
SET IDENTITY_INSERT [dbo].[DotXetTuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuVuc] ON 

INSERT [dbo].[KhuVuc] ([KhuVuc_ID], [KhuVuc_Ten], [KhuVuc_DiemUuTien], [KhuVuc_GhiChu]) VALUES (1, N'KV1', 1, N'Khu vực 1')
INSERT [dbo].[KhuVuc] ([KhuVuc_ID], [KhuVuc_Ten], [KhuVuc_DiemUuTien], [KhuVuc_GhiChu]) VALUES (2, N'KV2', 2, N'Khu vực 2')
INSERT [dbo].[KhuVuc] ([KhuVuc_ID], [KhuVuc_Ten], [KhuVuc_DiemUuTien], [KhuVuc_GhiChu]) VALUES (3, N'KV2-NT', 3, N'Khu vực 2 Nông thôn')
SET IDENTITY_INSERT [dbo].[KhuVuc] OFF
GO
SET IDENTITY_INSERT [dbo].[NamHoc] ON 

INSERT [dbo].[NamHoc] ([NamHoc_ID], [NamHoc_Ten], [NamHoc_TrangThai], [NamHoc_GhiChu]) VALUES (1, N'2023', 1, N'Năm tuyển sinh 2023')
INSERT [dbo].[NamHoc] ([NamHoc_ID], [NamHoc_Ten], [NamHoc_TrangThai], [NamHoc_GhiChu]) VALUES (2, N'2023', 0, N'Năm tuyển sinh 2024')
SET IDENTITY_INSERT [dbo].[NamHoc] OFF
GO
ALTER TABLE [dbo].[DangKyXetTuyen]  WITH CHECK ADD  CONSTRAINT [FK_DangKyXetTuyen_DoiTuong] FOREIGN KEY([DoiTuong_ID])
REFERENCES [dbo].[DoiTuong] ([DoiTuong_ID])
GO
ALTER TABLE [dbo].[DangKyXetTuyen] CHECK CONSTRAINT [FK_DangKyXetTuyen_DoiTuong]
GO
ALTER TABLE [dbo].[DangKyXetTuyen]  WITH CHECK ADD  CONSTRAINT [FK_DangKyXetTuyen_DotXetTuyen] FOREIGN KEY([DotXT_ID])
REFERENCES [dbo].[DotXetTuyen] ([Dxt_ID])
GO
ALTER TABLE [dbo].[DangKyXetTuyen] CHECK CONSTRAINT [FK_DangKyXetTuyen_DotXetTuyen]
GO
ALTER TABLE [dbo].[DangKyXetTuyen]  WITH CHECK ADD  CONSTRAINT [FK_DangKyXetTuyen_KhuVuc] FOREIGN KEY([KhuVuc_ID])
REFERENCES [dbo].[KhuVuc] ([KhuVuc_ID])
GO
ALTER TABLE [dbo].[DangKyXetTuyen] CHECK CONSTRAINT [FK_DangKyXetTuyen_KhuVuc]
GO
ALTER TABLE [dbo].[DangKyXetTuyen]  WITH CHECK ADD  CONSTRAINT [FK_DangKyXetTuyen_Ngành] FOREIGN KEY([Nganh_ID])
REFERENCES [dbo].[Ngành] ([Nganh_ID])
GO
ALTER TABLE [dbo].[DangKyXetTuyen] CHECK CONSTRAINT [FK_DangKyXetTuyen_Ngành]
GO
ALTER TABLE [dbo].[DangKyXetTuyen]  WITH CHECK ADD  CONSTRAINT [FK_DangKyXetTuyen_PhuongThucXetTuyen] FOREIGN KEY([Ptxt_ID])
REFERENCES [dbo].[PhuongThucXetTuyen] ([Ptxt_ID])
GO
ALTER TABLE [dbo].[DangKyXetTuyen] CHECK CONSTRAINT [FK_DangKyXetTuyen_PhuongThucXetTuyen]
GO
ALTER TABLE [dbo].[DangKyXetTuyen]  WITH CHECK ADD  CONSTRAINT [FK_DangKyXetTuyen_ThiSinhDangKy] FOREIGN KEY([ThiSinh_ID])
REFERENCES [dbo].[ThiSinhDangKy] ([ThiSinh_ID])
GO
ALTER TABLE [dbo].[DangKyXetTuyen] CHECK CONSTRAINT [FK_DangKyXetTuyen_ThiSinhDangKy]
GO
ALTER TABLE [dbo].[DangKyXetTuyen]  WITH CHECK ADD  CONSTRAINT [FK_DangKyXetTuyen_ToHopMon] FOREIGN KEY([Thm_ID])
REFERENCES [dbo].[ToHopMon] ([Thm_ID])
GO
ALTER TABLE [dbo].[DangKyXetTuyen] CHECK CONSTRAINT [FK_DangKyXetTuyen_ToHopMon]
GO
ALTER TABLE [dbo].[DangKyXetTuyen_DiemTS]  WITH CHECK ADD  CONSTRAINT [FK_DangKyXetTuyen_DiemTS_DangKyXetTuyen] FOREIGN KEY([Dkxt_ID])
REFERENCES [dbo].[DangKyXetTuyen] ([Dkxt_ID])
GO
ALTER TABLE [dbo].[DangKyXetTuyen_DiemTS] CHECK CONSTRAINT [FK_DangKyXetTuyen_DiemTS_DangKyXetTuyen]
GO
ALTER TABLE [dbo].[DotXetTuyen]  WITH CHECK ADD  CONSTRAINT [FK_DotXetTuyen_NamHoc] FOREIGN KEY([NamHoc_ID])
REFERENCES [dbo].[NamHoc] ([NamHoc_ID])
GO
ALTER TABLE [dbo].[DotXetTuyen] CHECK CONSTRAINT [FK_DotXetTuyen_NamHoc]
GO
ALTER TABLE [dbo].[Huyen]  WITH CHECK ADD  CONSTRAINT [FK_Huyen_Tinh] FOREIGN KEY([Tinh_ID])
REFERENCES [dbo].[Tinh] ([Tinh_ID])
GO
ALTER TABLE [dbo].[Huyen] CHECK CONSTRAINT [FK_Huyen_Tinh]
GO
ALTER TABLE [dbo].[LePhiXetTuyen]  WITH CHECK ADD  CONSTRAINT [FK_LePhiXetTuyen_ThiSinhDangKy] FOREIGN KEY([ThiSinh_ID])
REFERENCES [dbo].[ThiSinhDangKy] ([ThiSinh_ID])
GO
ALTER TABLE [dbo].[LePhiXetTuyen] CHECK CONSTRAINT [FK_LePhiXetTuyen_ThiSinhDangKy]
GO
ALTER TABLE [dbo].[Ngành]  WITH CHECK ADD  CONSTRAINT [FK_Ngành_KhoiNganh] FOREIGN KEY([KhoiNganh_ID])
REFERENCES [dbo].[KhoiNganh] ([KhoiNganh_ID])
GO
ALTER TABLE [dbo].[Ngành] CHECK CONSTRAINT [FK_Ngành_KhoiNganh]
GO
ALTER TABLE [dbo].[ThiSinhDangKy]  WITH CHECK ADD  CONSTRAINT [FK_ThiSinhDangKy_DoiTuong] FOREIGN KEY([DoiTuong_ID])
REFERENCES [dbo].[DoiTuong] ([DoiTuong_ID])
GO
ALTER TABLE [dbo].[ThiSinhDangKy] CHECK CONSTRAINT [FK_ThiSinhDangKy_DoiTuong]
GO
ALTER TABLE [dbo].[ThiSinhDangKy]  WITH CHECK ADD  CONSTRAINT [FK_ThiSinhDangKy_DotXetTuyen] FOREIGN KEY([DotXT_ID])
REFERENCES [dbo].[DotXetTuyen] ([Dxt_ID])
GO
ALTER TABLE [dbo].[ThiSinhDangKy] CHECK CONSTRAINT [FK_ThiSinhDangKy_DotXetTuyen]
GO
ALTER TABLE [dbo].[ThiSinhDangKy]  WITH CHECK ADD  CONSTRAINT [FK_ThiSinhDangKy_KhuVuc] FOREIGN KEY([KhuVuc_ID])
REFERENCES [dbo].[KhuVuc] ([KhuVuc_ID])
GO
ALTER TABLE [dbo].[ThiSinhDangKy] CHECK CONSTRAINT [FK_ThiSinhDangKy_KhuVuc]
GO
ALTER TABLE [dbo].[ToHopMon]  WITH CHECK ADD  CONSTRAINT [FK_ToHopMon_MonHoc] FOREIGN KEY([Thm_mon1_ID])
REFERENCES [dbo].[MonHoc] ([MonHoc_ID])
GO
ALTER TABLE [dbo].[ToHopMon] CHECK CONSTRAINT [FK_ToHopMon_MonHoc]
GO
ALTER TABLE [dbo].[ToHopMon]  WITH CHECK ADD  CONSTRAINT [FK_ToHopMon_MonHoc1] FOREIGN KEY([Thm_mon2_ID])
REFERENCES [dbo].[MonHoc] ([MonHoc_ID])
GO
ALTER TABLE [dbo].[ToHopMon] CHECK CONSTRAINT [FK_ToHopMon_MonHoc1]
GO
ALTER TABLE [dbo].[ToHopMon]  WITH CHECK ADD  CONSTRAINT [FK_ToHopMon_MonHoc2] FOREIGN KEY([Thm_mon3_ID])
REFERENCES [dbo].[MonHoc] ([MonHoc_ID])
GO
ALTER TABLE [dbo].[ToHopMon] CHECK CONSTRAINT [FK_ToHopMon_MonHoc2]
GO
ALTER TABLE [dbo].[TruongCapBa]  WITH CHECK ADD  CONSTRAINT [FK_TruongCapBa_Tinh] FOREIGN KEY([Tinh_ID])
REFERENCES [dbo].[Tinh] ([Tinh_ID])
GO
ALTER TABLE [dbo].[TruongCapBa] CHECK CONSTRAINT [FK_TruongCapBa_Tinh]
GO
ALTER TABLE [dbo].[Xa]  WITH CHECK ADD  CONSTRAINT [FK_Xa_Huyen] FOREIGN KEY([Huyen_ID])
REFERENCES [dbo].[Huyen] ([Huyen_ID])
GO
ALTER TABLE [dbo].[Xa] CHECK CONSTRAINT [FK_Xa_Huyen]
GO
