
@{
    ViewBag.Title = "Đăng ký xét tuyển";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude"></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div id="div_list_nguyenvong">
        <div class="card card-header-actions">
            <div class="card-header">
                Các nguyện vọng đã đăng ký
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" id="div_thead" style="display:none">
                        <div class="row g-1">
                            <div class="col-lg-1 col-sm-12"><b>Nguyện vọng</b></div>
                            <div class="col-lg-2 col-sm-12"><b>Ngành</b></div>
                            <div class="col-lg-1 col-sm-12"><b>Tên kỳ thi</b></div>
                            <div class="col-lg-2 col-sm-12"><b>Đơn vị tổ chức thi</b></div>
                            <div class="col-lg-3 col-sm-12"><b style="margin-left:10px">Kết quả thi/ Ngày thi</b></div>
                            <div class="col-lg-1 col-sm-12"><b>Ngày đăng ký</b></div>
                            <div class="col-lg-2 col-sm-12"><b style="margin-left:10px">Cập nhật</b> </div>
                        </div>
                        <div class="col-12"><hr class="mt-2 mb-0" /><hr class="mt-0 mb-2" /></div>
                    </div>
                    <div id="div_tbody_list">
                        <script>
                            $(document).ready(function () {
                                LoadData_All_Dkxt_CCNN();
                            })
                            function ConverDateToString(date) {
                                var parts = date.split('-');
                                var mydate = parts[2] + '/' + parts[1] + '/' + parts[0];
                                return mydate;
                            }
                            function LoadData_All_Dkxt_CCNN() {
                                $('#div_tbody_list').empty();
                                $.ajax({
                                    url: "/DangKyXetTuyenKhac/IeltsGetAllNguyenVongs/",
                                    type: 'POST',
                                    contentType: 'application/json;charset=utf-8',
                                    dataType: 'json',
                                    async: false,
                                    success: function (response) {
                                        let result_all = response.data;
                                        let thiSinh = response.thisinh;
                                        if (thiSinh) {
                                            let hocLuc = thiSinh.ThiSinh_HocLucLop12;
                                            let hanhKiem = thiSinh.ThiSinh_HanhKiemLop12;
                                            let hocLucName = "";
                                            let hanhKiemName = "";
                                            if (hocLuc == 1) hocLucName = "Trung bình";
                                            else if (hocLuc == 2) hocLucName = "Khá";
                                            else if (hocLuc == 3) hocLucName = "Giỏi";
                                            else if (hocLuc == 4) hocLucName = "Xuất sắc";
                                            $('#Dkxt_XepLoaiHocLuc_12').val(hocLucName);

                                            if (hanhKiem == 1) hanhKiemName = "Yếu";
                                            else if (hanhKiem == 2) hanhKiemName = "Trung bình";
                                            else if (hanhKiem == 3) hanhKiemName = "Khá";
                                            else if (hanhKiem == 4) hanhKiemName = "Tốt";
                                            $('#Dkxt_XepLoaiHanhKiem_12').val(hanhKiemName);

                                            $('#span_Uutien_khuvuc').text(thiSinh.ThiSinh_UTKV);
                                            $('#span_Uutien_doituong').text(thiSinh.ThiSinh_UTDT);

                                        }
                                        if (!result_all || result_all.length == 0) {
                                            let div_item = ` <div class="col-12 text-center">Chưa có dữ liệu đăng ký xét tuyển</div>`;
                                            $('#div_tbody_list').append(div_item);
                                        }

                                        else {
                                            $.each(result_all, function (i, result) {
                                                if (result_all.length == 1) {
                                                    let div_item = "";
                                                    div_item += `<div class="row g-1">`
                                                    div_item += `<div class="col-lg-1 col-sm-12 text-nowrap"><span class="col-4 span_thongtin_nv">- </span> Nguyện vọng ` + result.Dkxt_NguyenVong + `</div>`;
                                                    div_item += `<div class="col-lg-2 col-sm-12 text-nowrap"><span class="col-4 span_thongtin_nv">- Ngành: </span><span class="col-8 span_noidung_nv ">` + result.Nganh_All.Nganh_GhiChu + `</span></div>`;
                                                    div_item += `<div class="col-lg-1 col-sm-12 text-nowrap"><span class="col-4 span_thongtin_nv">- Tên kỳ thi: </span> <span class="col-8 span_noidung_nv">` + result.Dkxt_ChungChi_Ten.LoaiCC + `</span></div>`;
                                                    div_item += `<div class="col-lg-2 col-sm-12 text-nowrap"><span class="col-4 span_thongtin_nv">- Đơn vị tổ chức: </span> <span class="col-8 span_noidung_nv">` + result.Dkxt_DonViToChuc + `</span> <b></b></div>`;
                                                    div_item += `<div class="col-lg-3 col-sm-12 text-nowrap"><span class="col-5 span_thongtin_nv">- Kết quả thi/ ngày thi: </span><br class="span_thongtin_nv"/><span class="col-7 span_noidung_nv" style="margin:10px">` + result.Dkxt_KetQuaDatDuoc.toFixed(2) + "/" + result.Dkxt_TongDiem.toFixed(2) + `(điểm)</span><span>(ngày: ` + result.Dkxt_NgayDuThi + `)</span></div>`;
                                                    div_item += `<div class="col-xl-1 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Ngày đăng ký: </span><span class="col-8 span_noidung_nv">` + ConverDateToString(result.Dkxt_NgayDangKy) + `</span></div>`;
                                                    div_item += `<div class="col-lg-2 col-sm-12 text-nowrap">`
                                                    div_item += `<button class="btn btn-outline-success  btn-sm" onclick="DkxtCCnnDetail(${result.Dkxt_ID})">Xem</button>&nbsp;<button class="btn btn-outline-primary  btn-sm" onclick="UpdateRecordOnclick(${result.Dkxt_ID},${result.Dkxt_TrangThai_HoSo})">Sửa</button>&nbsp;<button class="btn btn-outline-danger btn-sm" onclick="DeleteRecordOnclick(${result.Dkxt_ID},${result.Dkxt_TrangThai_HoSo},'${result.Dkxt_ToHopXT}')">Xóa</button></div>`;
                                                    div_item += `</div>`
                                                    div_item += `<div class="col-12" > <hr class="mt-2 mb-2" /></div>`;
                                                    $('#div_tbody_list').append(div_item);
                                                }
                                                else if (result_all.length > 1) {
                                                    let div_item = "";
                                                    div_item += `<div class="row g-1">`
                                                    div_item += `<div class="col-lg-1 col-sm-12 text-nowrap"><span class="col-4 span_thongtin_nv">- </span> Nguyện vọng ` + result.Dkxt_NguyenVong + `</div>`;
                                                    div_item += `<div class="col-lg-2 col-sm-12 text-nowrap"><span class="col-4 span_thongtin_nv">- Ngành: </span><span class="col-8 span_noidung_nv text-wrap">` + result.Nganh_All.Nganh_GhiChu + `</span></div>`;
                                                    div_item += `<div class="col-lg-1 col-sm-12 text-nowrap"><span class="col-4 span_thongtin_nv">- Tên kỳ thi: </span> <span class="col-8 span_noidung_nv">` + result.Dkxt_ChungChi_Ten.LoaiCC + `</span></div>`;
                                                    div_item += `<div class="col-lg-2 col-sm-12 text-nowrap"><span class="col-4 span_thongtin_nv">- Đơn vị tổ chức: </span> <span class="col-8 span_noidung_nv">` + result.Dkxt_DonViToChuc + `</span> <b></b></div>`;
                                                    div_item += `<div class="col-lg-3 col-sm-12 text-nowrap"><span class="col-5 span_thongtin_nv">- Kết quả thi/ ngày thi: </span><br class="span_thongtin_nv"/><span class="col-7 span_noidung_nv" style="margin:10px">` + result.Dkxt_KetQuaDatDuoc.toFixed(2) + "/" + result.Dkxt_TongDiem.toFixed(2) + ` (điểm)</span><span>(ngày: ` + result.Dkxt_NgayDuThi + `)</span></div>`;
                                                    div_item += `<div class="col-xl-1 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Ngày đăng ký: </span><span class="col-8 span_noidung_nv">` + ConverDateToString(result.Dkxt_NgayDangKy) + `</span></div>`;
                                                    div_item += `<div class="col-lg-2 col-sm-12 text-nowrap">`
                                                    div_item += `<button class="btn btn-outline-info  btn-sm" style="margin-left:10px"  onclick = "ShowModalChangeData(${result.Dkxt_ID}, '${result.Dkxt_ToHopXT}',1)" ${result.Dkxt_NguyenVong == 1 ? "disabled" : ''}><b>&#8743;</b></button>&nbsp;<button class="btn btn-outline-warning  btn-sm" onclick="ShowModalChangeData(${result.Dkxt_ID}, '${result.Dkxt_ToHopXT}',2)" ${i == result_all.length - 1 ? "disabled" : ""}><b>&#8744;</b></button>&nbsp;`;
                                                    div_item += `<button class="btn btn-outline-success  btn-sm" onclick="DkxtCCnnDetail(${result.Dkxt_ID})">Xem</button>&nbsp;<button class="btn btn-outline-primary  btn-sm" onclick="UpdateRecordOnclick(${result.Dkxt_ID},${result.Dkxt_TrangThai_HoSo})">Sửa</button>&nbsp;<button class="btn btn-outline-danger btn-sm" onclick="DeleteRecordOnclick(${result.Dkxt_ID},${result.Dkxt_TrangThai_HoSo},'${result.Dkxt_ToHopXT}')">Xóa</button></div>`;
                                                    div_item += `</div>`
                                                    div_item += `<div class="col-12" ><hr class="mt-2 mb-2" /></div>`;
                                                    $('#div_tbody_list').append(div_item);
                                                }
                                            });
                                        }
                                        if (window.innerWidth <= 1000) {

                                            $('#div_thead').css('display', 'none');
                                            $('#div_thead').hide();
                                            $('.span_thongtin_nv').css('display', 'inline');
                                            $('.span_thongtin_nv').show();
                                            $('.span_noidung_nv').css('font-weight', 'bold')
                                        }
                                        else {

                                            $('#div_thead').css('display', 'inline');
                                            $('#div_thead').show();
                                            $('.span_thongtin_nv').css('display', 'none');
                                            $('.span_thongtin_nv').hide();
                                            $('.span_noidung_nv').css('font-weight', 'normal')
                                        }
                                    },
                                    error: function (errormessage) {
                                        console.log(errormessage)
                                    }
                                });
                            }
                            function DkxtCCnnDetail(dkxt_id) {
                                var str_url = '?dkxt_id=' + dkxt_id;
                                window.location.href = "/DangKyXetTuyenKhac/IeltsDetail" + str_url;
                            }
                        </script>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-xxl-12">
                        <center>
                            <button id="bt_xuat_phieu_tong_hop_kq" class="btn btn-outline-success ">Xuất phiếu tổng hợp</button>
                            <a id="bt_add_aspirations" class="btn btn-outline-primary" onclick="bt_Insert_Dknv_on_divView_Click(0,0,0)">Thêm nguyện vọng</a>
                            <script>
                                $(document).ready(function () {
                                    let sp_tieude = $('#sp_tieude');
                                    let bt_xuat_phieu_tong_hop = $('#bt_xuat_phieu_tong_hop_kq');
                                    let bt_them_nguyen_vong = $('#bt_add_aspirations');
                                    if (window.innerWidth <= 1000) {

                                        sp_tieude.text('ĐKXT SD chứng chỉ ngoại ngữ');
                                        bt_xuat_phieu_tong_hop.text('Xuất phiếu');
                                        bt_them_nguyen_vong.text("Thêm nguyện vọng");

                                        $('#div_thead').css('display', 'none');
                                        $('#div_thead').hide();
                                        $('.span_thongtin_nv').css('display', 'inline');
                                        $('.span_thongtin_nv').show();
                                        $('.span_noidung_nv').css('font-weight', 'bold')
                                    }
                                    else {
                                        sp_tieude.text('Đăng ký xét tuyển sử dụng chứng chỉ ngoại ngữ');
                                        bt_xuat_phieu_tong_hop.text('Xuất phiếu tổng hợp');
                                        bt_them_nguyen_vong.text("Thêm nguyện vọng");

                                        $('#div_thead').css('display', 'inline');
                                        $('#div_thead').show();
                                        $('.span_thongtin_nv').css('display', 'none');
                                        $('.span_thongtin_nv').hide();
                                        $('.span_noidung_nv').css('font-weight', 'normal')
                                    }
                                    function reportWindowSize() {
                                        if (window.innerWidth <= 1000) {

                                            sp_tieude.text('ĐKXT SD chứng chỉ ngoại ngữ');
                                            bt_xuat_phieu_tong_hop.text('Xuất phiếu');
                                            bt_them_nguyen_vong.text("Thêm nguyện vọng");

                                            $('#div_thead').css('display', 'none');
                                            $('#div_thead').hide();
                                            $('.span_thongtin_nv').css('display', 'inline');
                                            $('.span_thongtin_nv').show();
                                            $('.span_noidung_nv').css('font-weight', 'bold')

                                        }
                                        else {
                                            sp_tieude.text('Đăng ký xét tuyển sử dụng chứng chỉ ngoại ngữ');
                                            bt_xuat_phieu_tong_hop.text('Xuất phiếu tổng hợp');
                                            bt_them_nguyen_vong.text("Thêm nguyện vọng");

                                            $('#div_thead').css('display', 'inline');
                                            $('#div_thead').show();
                                            $('.span_thongtin_nv').css('display', 'none');
                                            $('.span_thongtin_nv').hide();
                                            $('.span_noidung_nv').css('font-weight', 'normal')
                                        }
                                    }
                                    window.onresize = reportWindowSize;
                                })
                            </script>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12"><hr class="mt-2 mb-0" /></div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <p style="color:red; font-style:italic" class="mb-1">Lưu ý: </p>
                        <p style="color: red; font-style: italic; text-align: justify " class="mb-1">- Thí sinh cần nộp lệ phí xét tuyển và gửi minh chứng (ảnh chụp giao dịch chuyển tiền).</p>
                        <p style="color: red; font-style: italic; text-align: justify" class="mb-1">- Thí sinh in phiếu tổng hợp nguyện vọng đăng ký, kiểm tra lại thông tin trong phiếu, ký xác nhận và gửi về trường theo đường bưu điện.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_update_dk_nguyenvong" style="display: none">
        <div class="card card-header-actions">
            <div class="card-header">
                Đăng ký nguyện vọng mới
                <button class="btn-close" type="button" aria-label="Close" onclick="_bt_HuyBo_Dkxt_NVM_OnClick(0,0,0)"></button>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-xl-4 col-md-12">
                        <div class="row">
                            <div class="col-12"><b>Chọn ngành và loại kết quả xét <font color="red">(*)</font></b></div>
                            <div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div>
                        </div>
                        <div class="row">
                            <div class="col-4">Khối ngành</div>
                            <div class="col-8">
                                <select id="select_khoinganh" class="form-select"></select>
                                <span id="Select_KhoiNganh_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        <div class="row">
                            <div class="col-4">Ngành</div>
                            <div class="col-8">
                                <select id="Nganh_ID" class="form-select"></select>
                                <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        <div class="row">
                            <div class="col-4 ">Chứng chỉ</div>
                            <div class="col-8">
                                <select id="ChungChi_ID" class="form-select"></select>
                                <span id="ChungChi_ID_Error" class="small mb-1 text-danger"></span>
                                <input id="Dkxt_ToHopXT" type="hidden" class="form-control" value="" disabled />
                            </div>
                            <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        </div>
                        <div class="row" style="margin-top:15px">
                            <div class="col-6 ">
                                <span id="span_Uutien_doituong"></span>
                                <hr class="mt-2 md-2" />
                            </div>
                            <div class="col-6  ">
                                <span id="span_Uutien_khuvuc"></span>
                                <hr class="mt-2 md-2" />
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-6">
                                <span> Học lực lớp 12</span>
                                <input id="Dkxt_XepLoaiHocLuc_12" type="text" class="form-control" value="" disabled />
                                <span id="Dkxt_XepLoaiHocLuc_12_Error" class="small mb-1 text-danger"></span>
                            </div>
                            <div class="col-6">
                                <span>Hạnh kiểm lớp 12</span>
                                <input id="Dkxt_XepLoaiHanhKiem_12" type="text" class="form-control" value="" disabled />
                                <span id="Dkxt_XepLoaiHanhKiem_12_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="row">
                            <div class="col-12"><b>Thông tin kết quả nộp xét tuyển <font color="red">(*)</font></b></div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-4">Tên đơn vị</div>
                            <div class="col-8">
                                <input id="Dkxt_DonViToChuc" type="text" class="form-control" placeholder="Tên đơn vị tổ chức thi" value="" />
                                <span id="Dkxt_DonViToChuc_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-4">Thang điểm</div>
                            <div class="col-8">
                                <input id="Dkxt_TongDiem" type="number" class="form-control" placeholder="Thang điểm" value="" disabled />
                                <span id="Dkxt_TongDiem_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-4">Kết quả thi</div>
                            <div class="col-8">
                                <input id="Dkxt_KetQuaDatDuoc" type="number" class="form-control" placeholder="Kết quả" value="" />
                                <span id="Dkxt_KetQuaDatDuoc_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-4">Ngày thi</div>
                            <div class="col-8">
                                <input id="datepicker" name="Dkxt_NgayDuThi" type="text" class="form-control" placeholder="Ngày thi" value="" onchange="RemoveErrorDate()" />
                                <span id="Dkxt_NgayDuThi_Error" class="small mb-1 text-danger"></span>
                                <script>function RemoveErrorDate() { $('#Dkxt_NgayDuThi_Error').text(''); }</script>
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-12" style="text-align:center">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>

                        <div class="row mb-0">
                            <div class="col-12"><b>Chứng nhận kết quả thi <font color="red">(*)</font></b></div>
                            <div class="col-12">
                                <input class="form-control small" id="files_chungnhan" multiple="multiple" name="files_chungnhan" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" />
                                <span id="File_ChungNhan_Error" class="small mb-1 text-danger"></span>
                            </div>
                            <div class="col-md-12 mb-0">
                                <table class="table mb-0" id="FilesList_ChungNhan_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"> <th colspan="2"><input type="hidden" id="ChungNhan_Files" /></th></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="row">
                            <div class="col-12"><b>Tệp minh chứng khác</b></div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-12">Học bạ</div>
                            <div class="col-12">
                                <input class="form-control small" id="files_hocba" multiple="multiple" name="files_hocba" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" />
                            </div>
                            <div class="col-12">
                                <table class="table" id="FilesList_HocBa_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"><th colspan="2"><input type="hidden" id="HocBa_Files" /></th></tr>
                                </table>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-0 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-12">Căn cước công dân</div>
                            <div class="col-12"><input class="form-control small" id="files_cccd" multiple="multiple" name="files_cccd" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" /></div>
                            <div class="col-12">
                                <table class="table" id="FilesList_CCCD_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"><th colspan="2"><input type="hidden" id="CCCD_Files" /></th></tr>
                                </table>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-0 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-12">Bằng Tốt nghiệp</div>
                            <div class="col-12"><input class="form-control small" id="files_bangtn" multiple="multiple" name="files_bangtn" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" /></div>
                            <div class="col-12">
                                <table class="table" id="FilesList_BangTN_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"><th colspan="2"><input type="hidden" id="BangTN_Files" /></th></tr>
                                </table>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-0 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-12">Giấy tờ ưu tiên</div>
                            <div class="col-12"><input class="form-control small" id="files_uutien" multiple="multiple" name="files_uutien" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" /></div>
                            <div class="col-12 mb-0">
                                <table class="table" id="FilesList_UuTien_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"><th colspan="2"><input type="hidden" id="UuTien_Files" /></th></tr>
                                </table>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-0 mb-2" /></div></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-xxl-12" style="text-align:center">
                        <input class="btn btn-outline-primary" type="button" value="Đồng ý thêm" onclick="SubmitData()" />
                        <input class="btn btn-outline-secondary" type="button" value="Hủy bỏ" onclick="_bt_HuyBo_Dkxt_NVM_OnClick(0,0,0)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    #loadingModal {
        background-color: rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
</style>

<div class="modal fade" id="modal_tb_thaydoinv" tabindex="-1" role="dialog" aria-labelledby="modal_tb_thaydoinv" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="CancelOnModalChange_Click()"></button>

            </div>
            <div class="modal-body">
                <span id="infor_change"></span>
                <input id="key_change_dkxt_id" type="hidden" />
                <input id="key_check_down_up" type="hidden" />
                <input id="key_tohop_xt" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="CancelOnModalChange_Click()">Hủy</button>
                <script>
                    function CancelOnModalChange_Click() {
                        $('#modal_tb_thaydoinv').modal('hide');
                        $('#key_change_dkxt_id').val('');
                        $('#key_check_down_up').val('');
                        $('#key_tohop_xt').val('');
                        $('#infor_change').text('');
                    }
                </script>
                <button class="btn btn-primary" type="button" onclick="OkOnModalChange_Click()" id="bt_ok_on_modal_change">Đồng ý</button>
            </div>
        </div>
    </div>
</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>
<div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="deleteRecordCancel()"></button>
            </div>
            <div class="modal-body">
                <span id="sp_noidung_thongbao_xoa"></span>
                <input id="key_delete_dkxt_id" type="hidden" />
                <input id="key_delete_trangthai_hoso" type="hidden" />
                <input id="key_delete_dkxt_tohop" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="deleteRecordCancel()">Đóng</button>
                <button class="btn btn-primary" type="button" onclick="deleteRecordConfirmed()" id="bt_dongy_on_modal_xoa">Đồng ý</button>
            </div>
        </div>
        <script>
            function DeleteRecordOnclick(dkxt_id, dkxt_check, ToHop) {
                /*  alert('check - ' + dkxt_check )*/
                console.log('dkxt_id', dkxt_id, 'dkxt_check', dkxt_check, 'ToHop', ToHop);
                if (dkxt_check != 9) {
                    $('#sp_noidung_thongbao_xoa').text('Nếu đồng ý nguyện vọng này sẽ bị xóa. Bạn chắc chắn xóa?');
                    $("#sp_noidung_thongbao_xoa").css("color", "red");
                    $('#bt_dongy_on_modal_xoa').show();
                    $('#modal_tb_xoa').modal('show');

                    $('#key_delete_trangthai_hoso').val(dkxt_check);
                    $('#key_delete_dkxt_id').val(dkxt_id);
                    $('#key_delete_dkxt_tohop').val(ToHop);
                }
                else {
                    $("#sp_noidung_thongbao_xoa").css("color", "blue");
                    $('#sp_noidung_thongbao_xoa').text('Nguyện vọng đã được duyệt, không thể xóa?');
                    $('#bt_dongy_on_modal_xoa').hide();
                    $('#modal_tb_xoa').modal('show');
                }
            }

            function deleteRecordConfirmed() {
                let data = {
                    idDkxt: $('#key_delete_dkxt_id').val(),
                    MaToHop: $('#key_delete_dkxt_tohop').val()
                };
                console.log(data)
                $.ajax({
                    url: "/DangKyXetTuyenKhac/Delete",
                    data: JSON.stringify(data),
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (res) {
                        if (res.status == true) {
                            LoadData_All_Dkxt_CCNN();
                            $('#modal_tb_xoa').modal('hide');
                            showToast("Thông báo", "Đã thực hiên xóa nguyện vọng!", "bg-success");
                        }
                        else {
                            showToast("Lỗi", res.msg, "bg-success");
                        }
                    },
                    error: function (errormessage) {
                        showToast("Thông báo", "Lỗi! Chưa thể xóa theo yêu cầu!", "bg-success");
                    }
                });
            }

            function deleteRecordCancel() {
                $('#sp_noidung_thongbao_xoa').text('');
                $("#sp_noidung_thongbao_xoa").css("color", "black");
                $('#modal_tb_xoa').modal('hide');
                $('#key_delete_dkxt_id').val('');
                $('#key_delete_dkxt_tohop').val('');
            }
        </script>
    </div>
</div>
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_tb_thanhcong" tabindex="-1" role="dialog" aria-labelledby="modal_tb_thanhcong" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="modal_tb_thanhcong_hide_click()"></button>
                <script>
                    function modal_tb_thanhcong_hide_click() { $('#modal_tb_thanhcong').modal('hide'); $('#noidung_chuyenkhoan').text(''); }
                    function thongbao_dangky_thanhcong(text) { $('#noidung_chuyenkhoan').text(text); $('#modal_tb_thanhcong').modal('show'); }
                </script>
            </div>
            <div class="modal-body">
                <p class="mt-0 mb-0" style="text-align:justify">- Đăng ký xét tuyển thành công!</p>
                <p class="mt-0 mb-0" style="text-align:justify">- Vui lòng nộp lệ phí xét tuyển bằng cách chuyển số tiền 50.000đ vào số tài khoản: <font color="red">5011100925</font> để hoàn thành thủ tục đăng ký xét tuyển</p>
                <p style="text-align:justify">- Nội dung chuyển khoản: <a id="noidung_chuyenkhoan" style="color:blue;text-decoration:none"></a></p>
                <input id="key_delete_dkxt_id" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="modal_tb_thanhcong_hide_click()">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<link href="~/Scripts/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>

<script>
    var HocBaFormData = new FormData();
    var CCCDFormData = new FormData();
    var BangTNFormData = new FormData();
    var ChungNhanFormData = new FormData();
    var UuTienFormData = new FormData();
    var check_mc_chungnhan = 0;

    let fileData = [
        { data: HocBaFormData, name: "HOCBA", savePath: "" },
        { data: CCCDFormData, name: "CCCD", savePath: "" },
        { data: BangTNFormData, name: "BANGTN", savePath: "" },
        { data: ChungNhanFormData, name: "CHUNGNHAN", savePath: "" },
        { data: UuTienFormData, name: "UUTIEN", savePath: "" },
    ];

    $(document).ready(function () {

        GetAllKhoiNganh();
        GetAllChungChi();

        $('#datepicker').datepicker({
            format: 'dd/mm/yyyy', // Specify the desired date format
            autoclose: true // Close the datepicker when a date is selected
        });

        $("#select_khoinganh").change(function () {
            let id_kn = $("#select_khoinganh").val();
            GetNganhData(id_kn);
        });

        $("#Nganh_ID").change(function () {
            let id_nganh = $("#Nganh_ID").val();
            GetAllChungChi(id_nganh);
        });

        $('#ChungChi_ID').change(function () {
            let id = $("#ChungChi_ID").val();
            if (parseInt(id) > 0) {
                GetChungChiId(id);
            } else {
                $('#Dkxt_ToHopXT').val('');
                $('#Dkxt_TongDiem').val('');
            }
        });

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })

        $("#files_hocba").on("change", function () {
            var files_hocba = document.getElementById('files_hocba');
            let j = 0;
            for (i = 0; i < files_hocba.files.length; i++) {
                j++;
                var uploadFileName = files_hocba.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                HocBaFormData.append(uploadFileName, files_hocba.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a  class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("HOCBA", "#FilesList_HocBa_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_HocBa_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_HocBa_View");
            $('#files_hocba').val('');
        });
        $("#files_cccd").on("change", function () {
            var files_cccd = document.getElementById('files_cccd');
            let j = 0;
            for (i = 0; i < files_cccd.files.length; i++) {
                j++;
                var uploadFileName = files_cccd.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                CCCDFormData.append(uploadFileName, files_cccd.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a  class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("CCCD", "#FilesList_CCCD_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_CCCD_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_CCCD_View");
            $('#files_cccd').val('');
        });
        $("#files_bangtn").on("change", function () {
            var files_bangtn = document.getElementById('files_bangtn');
            let j = 0;
            for (i = 0; i < files_bangtn.files.length; i++) {
                j++;
                var uploadFileName = files_bangtn.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                BangTNFormData.append(uploadFileName, files_bangtn.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a  class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("BANGTN", "#FilesList_BangTN_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_BangTN_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_BangTN_View");
            $('#files_bangtn').val('');
        });
        $("#files_chungnhan").on("change", function () {
            var files_chungnhan = document.getElementById('files_chungnhan');

            let j = 0;
            for (i = 0; i < files_chungnhan.files.length; i++) {
                j++;
                var uploadFileName = files_chungnhan.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                ChungNhanFormData.append(uploadFileName, files_chungnhan.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("CHUNGNHAN", "#FilesList_ChungNhan_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_ChungNhan_View tbody").append(markup);
            }
            check_mc_chungnhan = 1;
            $('#File_ChungNhan_Error').text('');

            CheckAttachTable("#FilesList_ChungNhan_View");
            $('#files_chungnhan').val('');
        });
        $("#files_uutien").on("change", function () {
            var files_uutien = document.getElementById('files_uutien');
            let j = 0;
            for (i = 0; i < files_uutien.files.length; i++) {
                j++;
                var uploadFileName = files_uutien.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                UuTienFormData.append(uploadFileName, files_uutien.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a  class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("UUTIEN", "#FilesList_UuTien_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_UuTien_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_UuTien_View");
            $('#files_uutien').val('');
        });
    });
    function DeleteUploadedFile(FormDataName, ListId, Fileid, FileName) {
        let formData = null;
        if (FormDataName == "HOCBA") formData = HocBaFormData;
        if (FormDataName == "CCCD") formData = CCCDFormData;
        if (FormDataName == "BANGTN") formData = BangTNFormData;
        if (FormDataName == "CHUNGNHAN") formData = ChungNhanFormData;
        if (FormDataName == "UUTIEN") formData = UuTienFormData;
        formData.delete(FileName)
        $("#" + Fileid).remove();
        CheckAttachTable(ListId);
    }
    function CheckAttachTable(list) {
        if ($(`${list} tbody tr`).length > 0) {
            $(list).css("visibility", "visible");
            if (list == '#FilesList_ChungNhan_View') { check_mc_chungnhan = 1; $('#File_ChungNhan_Error').text(''); }
        } else {
            $(list).css("visibility", "hidden");
            if (list == '#FilesList_ChungNhan_View') { check_mc_chungnhan = 0; $('#File_ChungNhan_Error').text('Chưa chọn tệp chứng nhận kết quả'); }
        }
    }

    function uploadFiles() {
        var url = '/DangKyXetTuyenThang/UploadFiles';
        fileData.forEach(function (item, index) {
            var formName = item.name;
            var fileCount = 0;
            for (var pair of item.data.entries()) {
                if (pair[1] instanceof File) {
                    fileCount++;
                }
            }
            if (fileCount > 0) {
                var savedPath;
                var formData = item.data;
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    async: false,
                    success: function (response) {
                        if (response.success) {
                            savedPath = response.message;
                        }
                    },
                    error: function (error) {
                        console.error('Error uploading ' + formName + ' files:', error);
                    }
                });
                item.savePath = savedPath;
            }
        });
    }

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    function onResetFields() {
        $('#select_khoinganh').val('0');
        $('#Nganh_ID').val('0');
        $('#Dkxt_DonViToChuc').val('');
        $('#Dkxt_KetQuaDatDuoc').val('');
        $('#Dkxt_TongDiem').val('');
        $('#datepicker').val('');
        $('#files_hocba').val(null);
        $('#FilesList_HocBa_View tbody').empty();
        $('#files_cccd').val(null);
        $('#FilesList_CCCD_View tbody').empty();
        $('#files_bangtn').val(null);
        $('#FilesList_BangTN_View tbody').empty();
        $('#files_chungnhan').val(null);
        $('#FilesList_ChungNhan_View tbody').empty();
        $('#files_uutien').val(null);
        $('#FilesList_UuTien_View tbody').empty();
        check_mc_chungnhan = 0;
        $('#File_ChungNhan_Error').text('');
        $('.text-danger').text('');

        HocBaFormData = new FormData();
        CCCDFormData = new FormData();
        BangTNFormData = new FormData();
        ChungNhanFormData = new FormData();
        UuTienFormData = new FormData();
        check_mc_chungnhan = 0;

        fileData = [
            { data: HocBaFormData, name: "HOCBA", savePath: "" },
            { data: CCCDFormData, name: "CCCD", savePath: "" },
            { data: BangTNFormData, name: "BANGTN", savePath: "" },
            { data: ChungNhanFormData, name: "CHUNGNHAN", savePath: "" },
            { data: UuTienFormData, name: "UUTIEN", savePath: "" },
        ];
    }


    function UpdateRecordOnclick(Dkxt_ID, Check_tt) {
        if (Check_tt != 9) {
            let str_url = '?dkxt_id=' + Dkxt_ID;
            window.location.href = "/DangKyXetTuyenKhac/IeltsEdit" + str_url;
        }
        else {
            $("#sp_noidung_thongbao_xoa").css("color", "blue");
            $('#sp_noidung_thongbao_xoa').text('Nguyện vọng đã được duyệt, không thể sửa!');
            $('#bt_dongy_on_modal_xoa').hide();
            $('#modal_tb_xoa').modal('show');
        }
    }
    function GetAllKhoiNganh() {
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllKhoiNganh/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let data = response;
                let khoiNganhs = $('#select_khoinganh');
                khoiNganhs.empty();
                $.each(data, function (index, item) {
                    khoiNganhs.append($('<option></option>').val(item.KhoiNganh_ID).text(item.KhoiNganh_Ten));
                });
                let id = $("#select_khoinganh").val();
                GetNganhData(id);
            },
            error: function (errormessage) {
                console.log(errormessage)
            }
        });
    }
    function GetNganhData(id) { // id = KhoiNganh_ID
        $('#Nganh_ID').empty();
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllNganhs/",
            type: 'POST',
            data: JSON.stringify({
                idKhoiNganh: id
            }),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    let data = response.data
                    $.each(data, function (i, result) {
                        $('#Nganh_ID').append('<option value="' + result.Nganh_ID + '">' + result.NganhTenNganh + '</option>');
                    });
                    let id = $("#Nganh_ID").val();
                    GetAllChungChi(id);
                }
            },
            error: function (errormessage) {
                console.log(errormessage)
            }
        });
    }
    function GetAllChungChi(id_nganh) { // id ngành
        if (id_nganh == 0) {
            var chungchis = $('#ChungChi_ID');
            chungchis.empty();
            chungchis.append($('<option></option>').val(0).text("Chọn kết quả xét..."));
            $('#Dkxt_TongDiem').val("");
        }
        else if (id_nganh > 0) {
            $.ajax({
                url: "/DangKyXetTuyenKhac/IeltsGetAllChungChis/",
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    let chungchi = response.chungchi;
                    var chungchis = $('#ChungChi_ID');
                    chungchis.empty();
                    chungchis.append($('<option></option>').val(0).text("Chọn kết quả xét..."));
                    $.each(chungchi, function (index, item) {
                        chungchis.append($('<option></option>').val(item.ChungChi_ID).text(item.ChungChi_Ten));
                    });
                },
                error: function (errormessage) {
                    console.log(errormessage)
                }
            });
        }
    }

    function GetChungChiId(id) {

        $.ajax({
            url: "/DangKyXetTuyenKhac/GetChungChiByID/",
            type: 'POST',
            data: JSON.stringify({ id: id }),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let chungchi = response.chungchi;
                console.log("Chung chi - ", chungchi)
                let pt = "HDP" + chungchi.ChungChi_PhuongThuc;
                let thangdiem = chungchi.ChungChi_ThangDiem;
                $('#Dkxt_ToHopXT').val(pt);
                $('#Dkxt_TongDiem').val(thangdiem);
            },
            error: function (errormessage) {
                console.log(errormessage)
            }
        });
    }

    function SubmitData() {
        $(".text-danger").text("");
        $('#noidung_chuyenkhoan').text('');

        let flag = true;
        let ChungChi_ID = $('#ChungChi_ID').val();
        let Nganh_ID = $('#Nganh_ID').val();
        let Dkxt_ToHopXT = $('#Dkxt_ToHopXT').val();
        let Dkxt_DonViToChuc = $('#Dkxt_DonViToChuc').val();
        let Dkxt_KetQuaDatDuoc = $('#Dkxt_KetQuaDatDuoc').val();
        let Dkxt_TongDiem = $('#Dkxt_TongDiem').val();
        let Dkxt_NgayDuThi = $('#datepicker').val();
        if (!Dkxt_DonViToChuc) {
            var errorMessage = "Vui lòng nhập đơn vị tổ chức thi";
            $('#Dkxt_DonViToChuc_Error').text(errorMessage);
            flag = false;
        }
        if ($('#select_khoinganh').val() == 0) {
            var errorMessage = "Vui lòng chọn khối ngành";
            $('#Select_KhoiNganh_Error').text(errorMessage);
            flag = false;
        }
        if (Nganh_ID == 0) {
            var errorMessage = "Vui lòng chọn ngành";
            $('#Nganh_ID_Error').text(errorMessage);
            flag = false;
        }
        if (ChungChi_ID == 0) {
            var errorMessage = "Vui lòng chọn loại kết quả";
            $('#ChungChi_ID_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_KetQuaDatDuoc) {
            var errorMessage = "Vui lòng nhập kết quả thi";
            $('#Dkxt_KetQuaDatDuoc_Error').text(errorMessage);
            flag = false;
        } else if (parseFloat(Dkxt_KetQuaDatDuoc) < 0) {
            var errorMessage = "Kết quả không hợp lệ";
            $('#Dkxt_KetQuaDatDuoc_Error').text(errorMessage);
            flag = false;
        }
        if (parseFloat(Dkxt_KetQuaDatDuoc) > parseFloat(Dkxt_TongDiem)) {
            var errorMessage = "Kết quả không hợp lệ";
            $('#Dkxt_KetQuaDatDuoc_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_NgayDuThi) {
            var errorMessage = "Vui lòng nhập ngày dự thi";
            $('#Dkxt_NgayDuThi_Error').text(errorMessage);
            flag = false;
        } else if (!Dkxt_NgayDuThi.trim()) {
            var errorMessage = "Vui lòng nhập ngày dự thi";
            $('#Dkxt_KetQuaDatDuoc_Error').text(errorMessage);
            flag = false;
        }
        if (check_mc_chungnhan == 0) { $('#File_ChungNhan_Error').text('Chưa chọn tệp chứng nhận kết quả'); flag = false; }

        if (!flag) return;


        $("#loadingModal").modal("show");

        uploadFiles();
        let formData = {
            ChungChi_ID: ChungChi_ID,
            Nganh_ID: Nganh_ID,
            Dkxt_DonViToChuc: Dkxt_DonViToChuc,
            Dkxt_KetQuaDatDuoc: Dkxt_KetQuaDatDuoc,
            Dkxt_TongDiem: Dkxt_TongDiem,
            Dkxt_NgayDuThi: Dkxt_NgayDuThi,
            Dkxt_ToHopXT: Dkxt_ToHopXT,
            Dkxt_MinhChung_HB: fileData[0].savePath,
            Dkxt_MinhChung_CCCD: fileData[1].savePath,
            Dkxt_MinhChung_Bang: fileData[2].savePath,
            Dkxt_MinhChung_KetQua: fileData[3].savePath,
            Dkxt_MinhChung_UuTien: fileData[4].savePath,
        }
        console.log(formData);

        $.ajax({
            url: '/DangKyXetTuyenKhac/IeltsAdd',
            data: JSON.stringify(formData),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    // showToast("Thông báo", "Thêm mới nguyện vọng thành công!", "bg-success");
                    LoadData_All_Dkxt_CCNN();
                    $('#div_list_nguyenvong').css('display', 'inline');
                    $('#div_update_dk_nguyenvong').css('display', 'none');

                    $("#loadingModal").modal("hide");
                    thongbao_dangky_thanhcong(res.data);
                    onResetFields();
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
                    $("#loadingModal").modal("hide");
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
                $("#loadingModal").modal("hide");
            }
        });
    }



    function bt_Update_on_table_Click(_dkxt_id) {
        $('#key_delete_dkxt_id').val(_dkxt_id);
        get_data_for_update_dkvn(_dkxt_id)
    }

    function bt_Insert_Dknv_on_divView_Click(khoinganh_key, nganh_key, tohopmon_key) {
        onResetFields();
        GetAllKhoiNganh();
        GetAllChungChi();
        $('#div_list_nguyenvong').css('display', 'none');
        $('#div_update_dk_nguyenvong').css('display', 'inline');
        key_dkxt_id_post = -1;
    }

    function _bt_HuyBo_Dkxt_NVM_OnClick(khoinganh_key, nganh_key, tohopmon_key) {
        onResetFields();
        document.getElementById('div_list_nguyenvong').style.display = "inline";
        document.getElementById('div_update_dk_nguyenvong').style.display = "none";
        key_dkxt_id_post = -1;
    }
    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }

    $(document).ready(function () {
        $('#bt_xuat_phieu_tong_hop_kq').click(function () {
            window.location.href = '/ExportFile/DownloadFile_XetTuyenCCNN';
        });
    });
    function ShowModalChangeData(value, ToHop, check) {
        $('#infor_change').text('');
        $('#key_change_dkxt_id').val(value);
        $('#key_tohop_xt').val(ToHop);
        $('#key_check_down_up').val(check);
        if (check == 1) {
            $('#infor_change').text('Bạn muốn chuyển nguyện vọng này lên trên ?');
        }
        if (check == 2) {
            $('#infor_change').text('Bạn muốn chuyển nguyện vọng này xuống dưới ?');
        }

        $('#modal_tb_thaydoinv').modal('show');
    }

    function OkOnModalChange_Click() {
        if ($('#key_check_down_up').val() == 1) {
            upData($('#key_change_dkxt_id').val(), $('#key_tohop_xt').val())
        }
        if ($('#key_check_down_up').val() == 2) {
            downData($('#key_change_dkxt_id').val(), $('#key_tohop_xt').val())
        }
    }

    function upData(value, ToHop) {
        var obj = { idDkxt: value, MaToHop: ToHop };
        $.ajax({
            url: '/DangKyXetTuyenKhac/upData',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thành công!", "bg-success");
                LoadData_All_Dkxt_CCNN();
                $('#modal_tb_thaydoinv').modal('hide');
            }
            else {
                showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
                $('#modal_tb_thaydoinv').modal('hide');
            }
        }).fail(function (error) {
            showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
            $('#modal_tb_thaydoinv').modal('hide');
        });
    }

    function downData(value, ToHop) {
        var obj = { idDkxt: value, MaToHop: ToHop };
        $.ajax({
            url: '/DangKyXetTuyenKhac/downData',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thành công!", "bg-success");
                LoadData_All_Dkxt_CCNN();
                $('#modal_tb_thaydoinv').modal('hide');
            }
            else {
                showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
                $('#modal_tb_thaydoinv').modal('hide');
            }
        }).fail(function (error) {
            showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
            $('#modal_tb_thaydoinv').modal('hide');
        });
    }
    //function upData(value, ToHop) {
    //    var obj = { idDkxt: value, MaToHop: ToHop };
    //    $.ajax({
    //        url: '/DangKyXetTuyenKhac/upData',
    //        type: 'POST',
    //        dataType: 'json',
    //        data: JSON.stringify(obj),
    //        contentType: 'application/json; charset=utf-8'
    //    }).done(function (response) {
    //        if (response.status == true) {
    //            showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thành công!", "bg-success");
    //            LoadData_All_Dkxt_CCNN();
    //        }
    //        else {
    //            showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
    //        }
    //    }).fail(function (error) {
    //        showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
    //    });
    //}

    //function downData(value, ToHop) {
    //    var obj = { idDkxt: value, MaToHop: ToHop };
    //    $.ajax({
    //        url: '/DangKyXetTuyenKhac/downData',
    //        type: 'POST',
    //        dataType: 'json',
    //        data: JSON.stringify(obj),
    //        contentType: 'application/json; charset=utf-8'
    //    }).done(function (response) {
    //        if (response.status == true) {
    //            showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thành công!", "bg-success");
    //            LoadData_All_Dkxt_CCNN();
    //        }
    //        else {
    //            showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
    //        }
    //    }).fail(function (error) {
    //        showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
    //    });
    //}
</script>