d@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Đăng ký tuyển thẳng theo quy định của trường (áp dụng cho học sinh đạt giải các môn học từ giải Ba trở lên)</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<script>
    $(document).ready(function () {
        let sp_tieude = document.getElementById('sp_tieude');
        function reportWindowSize() {
            if (window.innerWidth <= 1200) {
                sp_tieude.innerText = "Đăng ký tuyển thẳng (HS có giải trở lên)";
            }
            else {
                sp_tieude.innerText = "Đăng ký tuyển thẳng theo quy định của trường (áp dụng cho học sinh giỏi đạt giải  các môn học từ giải Ba trở lên)";
            }
        }
        window.onresize = reportWindowSize;
    })
</script>
<div class="container-fluid px-12">

    <div id="div_update_dk_nguyenvong">
        <div class="card card-header-actions">
            <div class="card-header">
                <span>Chỉnh sửa thông tin nguyện vọng đã đăng ký</span>
                <button class="btn-close" type="button" aria-label="Close" onclick="bt_HuyBo_Dkxt_NVM_OnClick()"></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-4">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">Chọn ngành và tổ hợp môn <font color="red">(*)</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:130px">Khối ngành</td>
                                    <td>
                                        <select id="select_khoinganh" class="form-select"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngành</td>
                                    <td>
                                        <select id="Nganh_ID" class="form-select"></select>
                                        <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                        <input id="Dkxt_ToHopXT" type="hidden" class="form-control" value="HDP4" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="row" style="margin-top:15px">
                                            <div class="col-6 ">
                                                <span id="span_Uutien_doituong"></span>

                                            </div>
                                            <div class="col-6  ">
                                                <span id="span_Uutien_khuvuc"></span>

                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="row">
                                            <div class="col-6">
                                                <span> Học lực lớp 12</span>
                                                <input id="Dkxt_XepLoaiHocLuc_12" type="text" class="form-control" value="" disabled />
                                                <span id="Dkxt_XepLoaiHocLuc_12_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                            <div class="col-6">
                                                <span>Hạnh kiểm lớp 12</span>
                                                <input id="Dkxt_XepLoaiHanhKiem_12" type="text" class="form-control" value="" disabled />
                                                <span id="Dkxt_XepLoaiHanhKiem_12_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xxl-4">
                        <div class="row mt-0 mb-1">
                            <div class="col-xxl-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Thông tin đạt giải nộp xét tuyển<font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td>Năm đạt giải</td>
                                            <td>
                                                <input id="Dkxt_NamDatGiai" type="number" class="form-control" placeholder="Năm đạt giải" value="" />
                                                <span id="Dkxt_NamDatGiai_Error" class="small mb-1 text-danger"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Môn đạt giải</td>
                                            <td>
                                                <select id="Dkxt_MonDatGiai" class="form-select"></select>
                                                <span id="Dkxt_MonDatGiai_Error" class="small mb-1 text-danger"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Loại giải</td>
                                            <td>
                                                <select id="Dkxt_LoaiGiai" class="form-select"></select>
                                                <span id="Dkxt_LoaiGiai_Error" class="small mb-1 text-danger"></span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-xxl-12" style="text-align:center">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-0 mb-1">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Giấy chứng nhận KQ đạt giải <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_chungnhan" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file Bằng TN"
                                                                       accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table" id="FilesList_ChungNhan_View" style="visibility:hidden; width: 100%">
                                                            <tr style="display:none">
                                                                <th colspan="2"><input type="hidden" id="ChungNhan_Files" /></th>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4">
                        <div class="row mb-0">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Dữ liệu minh chứng khác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label for="formFileMultiple" class="form-label">Học bạ / Bằng tốt nghiệp </label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_hocba" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file học bạ"
                                                                       accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                                                <table class="table" id="FilesList_HocBa_View" style="visibility:hidden; width: 100%">
                                                                    <tr style="display:none">
                                                                        <th colspan="3"><input type="hidden" id="HocBa_Files" /></th>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label for="formFileMultiple" class="form-label">Căn cước công dân</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_cccd" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file CCCD"
                                                                       accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                                                <table class="table" id="FilesList_CCCD_View" style="visibility:hidden; width: 100%">
                                                                    <tr style="display:none">
                                                                        <th colspan="3"><input type="hidden" id="CCCD_Files" /></th>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label for="formFileMultiple" class="form-label">Bằng Tốt nghiệp (Nếu có)</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_bangtn" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file Bằng TN"
                                                                       accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                                                <table class="table" id="FilesList_BangTN_View" style="visibility:hidden; width: 100%">
                                                                    <tr style="display:none">
                                                                        <th colspan="3"><input type="hidden" id="BangTN_Files" /></th>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label for="formFileMultiple" class="form-label">Minh chứng ưu tiên (Nếu có)</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_uutien" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file Bằng TN"
                                                                       accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                                                <table class="table" id="FilesList_UuTien_View" style="visibility:hidden; width: 100%">
                                                                    <tr style="display:none">
                                                                        <th colspan="3"><input type="hidden" id="UuTien_Files" /></th>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="col-xxl-12" style="text-align:center">
                                                            <input class="btn btn-primary" type="button" value="Đồng ý" onclick="SubmitData()" />
                                                            <input class="btn btn-secondary" type="button" value="Hủy bỏ" onclick="bt_HuyBo_Dkxt_NVM_OnClick()" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Toast Title</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn chắc chắn nguyện vọng này dữ liệu này?</span>
                    <input id="key_delete_dkxt_id" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="deleteRecordCancel()">Hủy</button>
                    <button class="btn btn-primary" type="button" onclick="deleteRecordConfirmed()">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #loadingModal {
        background-color: rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
</style>
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.Dkxt_ID" id="hidden_Dkxt_ID" />
<input type="hidden" id="dkxt_id_checkin" name="dkxt_id_checkin" />
<script>
    $(document).ready(function () {
        /*  var hidden_Dkxt_HB_ID = $('#hidden_Dkxt_HB_ID').val();*/
        let data_get = { Dkxt_ID: $('#hidden_Dkxt_ID').val() }
        $.ajax({
            url: "/DangKyXetTuyenThang/DangKyXetTuyenThang_GetByID",
            data: JSON.stringify(data_get),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.success) {
                    let data = res.data;
                    console.log(data)
                    /*select_khoinganh_view_data(data.KhoiNganh_ID, data.Nganh_ID, data.Thm_ID);*/
                    $('#Dkxt_XepLoaiHocLuc_12').val(data.ThiSinh_HocLucLop12);
                    $('#Dkxt_XepLoaiHanhKiem_12').val(data.ThiSinh_HanhKiemLop12);
                    $('#Dkxt_NamDatGiai').val(data.Dkxt_NamDatGiai);

                    $('#span_Uutien_doituong').text(data.DoiTuong_ID);
                    $('#span_Uutien_khuvuc').text(data.KhuVuc_ID);

                    $('#dkxt_id_checkin').val(data.Dkxt_ID);    

                    GetAllKhoiNganh(data.KhoiNganh_ID, data.Nganh_ID);
                    InitData(data.Dkxt_MonDatGiai, data.Dkxt_LoaiGiai);
                }
            },
            error: function (errormessage) {
                console.log(errormessage.error);
            }
        });
    })
    var HocBaFormData = new FormData();
    var CCCDFormData = new FormData();
    var BangTNFormData = new FormData();
    var ChungNhanFormData = new FormData();
    var UuTienFormData = new FormData();
    let fileData = [
        { data: HocBaFormData, name: "HOCBA", savePath: "" },
        { data: CCCDFormData, name: "CCCD", savePath: "" },
        { data: BangTNFormData, name: "BANGTN", savePath: "" },
        { data: ChungNhanFormData, name: "CHUNGNHAN", savePath: "" },
        { data: UuTienFormData, name: "UUTIEN", savePath: "" },
    ];

    $(document).ready(function () {
        /*ListAllNguyenVong();*/

        $("#select_khoinganh").change(function () {
            let id = $("#select_khoinganh").val();
            GetNganhData(id);
        });

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })

        $("#files_hocba").on("change", function () {
            var files_hocba = document.getElementById('files_hocba');
            let j = 0;
            for (i = 0; i < files_hocba.files.length; i++) {
                j++;
                var uploadFileName = files_hocba.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                HocBaFormData.append(uploadFileName, files_hocba.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("HOCBA", "#FilesList_HocBa_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_HocBa_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_HocBa_View");
            $('#files_hocba').val('');
        });
        $("#files_cccd").on("change", function () {
            var files_cccd = document.getElementById('files_cccd');
            let j = 0;
            for (i = 0; i < files_cccd.files.length; i++) {
                j++;
                var uploadFileName = files_cccd.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                CCCDFormData.append(uploadFileName, files_cccd.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("CCCD", "#FilesList_CCCD_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_CCCD_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_CCCD_View");
            $('#files_cccd').val('');
        });
        $("#files_bangtn").on("change", function () {
            var files_bangtn = document.getElementById('files_bangtn');
            let j = 0;
            for (i = 0; i < files_bangtn.files.length; i++) {
                j++;
                var uploadFileName = files_bangtn.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                BangTNFormData.append(uploadFileName, files_bangtn.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("BANGTN", "#FilesList_BangTN_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_BangTN_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_BangTN_View");
            $('#files_bangtn').val('');
        });
        $("#files_chungnhan").on("change", function () {
            var files_chungnhan = document.getElementById('files_chungnhan');
            let j = 0;
            for (i = 0; i < files_chungnhan.files.length; i++) {
                j++;
                var uploadFileName = files_chungnhan.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                ChungNhanFormData.append(uploadFileName, files_chungnhan.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("CHUNGNHAN", "#FilesList_ChungNhan_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_ChungNhan_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_ChungNhan_View");
            $('#files_chungnhan').val('');
        });
        $("#files_uutien").on("change", function () {
            var files_uutien = document.getElementById('files_uutien');
            let j = 0;
            for (i = 0; i < files_uutien.files.length; i++) {
                j++;
                var uploadFileName = files_uutien.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                UuTienFormData.append(uploadFileName, files_uutien.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("UUTIEN", "#FilesList_UuTien_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_UuTien_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_UuTien_View");
            $('#files_uutien').val('');
        });
    });
    function DeleteUploadedFile(FormDataName, ListId, Fileid, FileName) {
        let formData = null;
        if (FormDataName == "HOCBA") formData = HocBaFormData;
        if (FormDataName == "CCCD") formData = CCCDFormData;
        if (FormDataName == "BANGTN") formData = BangTNFormData;
        if (FormDataName == "CHUNGNHAN") formData = ChungNhanFormData;
        if (FormDataName == "UUTIEN") formData = UuTienFormData;
        formData.delete(FileName)
        $("#" + Fileid).remove();
        CheckAttachTable(ListId);
    }
    function CheckAttachTable(list) {
        if ($(`${list} tr`).length > 0) {
            $(list).css("visibility", "visible");
        } else {
            $(list).css("visibility", "hidden");
        }
    }

    function uploadFiles() {
        var url = '/DangKyXetTuyenThang/UploadFiles';
        fileData.forEach(function (item, index) {
            var formName = item.name;
            var fileCount = 0;
            for (var pair of item.data.entries()) {
                if (pair[1] instanceof File) {
                    fileCount++;
                }
            }
            if (fileCount > 0) {
                var savedPath;
                var formData = item.data;
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    async: false,
                    success: function (response) {
                        /*  console.log(response)*/
                        if (response.success) {
                            savedPath = response.message;
                        }
                    },
                    error: function (error) {
                        console.error('Error uploading ' + formName + ' files:', error);
                    }
                });
                item.savePath = savedPath;
            }
        });
    }

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    function onResetFields() {
        $('#select_khoinganh').val("0");
        $('#Nganh_ID').val("0");
        $('#Dkxt_MonDatGiai').val("0");
        $('#Dkxt_LoaiGiai').val("0");
        $('#Dkxt_NamDatGiai').val("");

        $('#files_hocba').val(null);
        $('#FilesList_HocBa_View tbody').empty();
        $('#files_cccd').val(null);
        $('#FilesList_CCCD_View tbody').empty();
        $('#files_bangtn').val(null);
        $('#FilesList_BangTN_View tbody').empty();
        $('#files_chungnhan').val(null);
        $('#FilesList_ChungNhan_View tbody').empty();
        $('#files_uutien').val(null);
        $('#FilesList_UuTien_View tbody').empty();
    }

    function InitData(MonDatGiai, LoaiGiai) {
        let monList = [
            { value: 0, text: "Chọn môn" },
            { value: 1, text: "Toán" },
            { value: 2, text: "Vật lí" },
            { value: 3, text: "Hóa học" },
            { value: 4, text: "Sinh học" },
            { value: 5, text: "Tin học" },
            { value: 6, text: "Ngữ văn" },
            { value: 7, text: "Lịch sử" },
            { value: 8, text: "Địa lí" },
            { value: 9, text: "Tiếng Anh" },
            { value: 10, text: "Tiếng Nga" },
            { value: 11, text: "Tiếng Pháp" },
            { value: 12, text: "Tiếng Trung" },
        ]
        let monOptions = $('#Dkxt_MonDatGiai');
        $.each(monList, function (index, option) {
            monOptions.append($('<option>', {
                value: option.value,
                text: option.text
            }));
            if (option.text == MonDatGiai) $('#Dkxt_MonDatGiai').val(option.value);
        });

        let giaiList = [
            { value: 0, text: "Chọn giải" },
            { value: 1, text: "Giải nhất" },
            { value: 2, text: "Giải nhì" },
            { value: 3, text: "Giải ba" },
        ]
        let giaiOptipns = $('#Dkxt_LoaiGiai');
        $.each(giaiList, function (index, option) {
            giaiOptipns.append($('<option>', {
                value: option.value,
                text: option.text
            }));
            if (option.text == LoaiGiai) $('#Dkxt_LoaiGiai').val(option.value);
        });
    }

    function bt_HuyBo_Dkxt_NVM_OnClick() {
        window.location.href = "/DangKyXetTuyenThang/Index";
    }
    function GetAllKhoiNganh(KhoiNganh_ID, Nganh_ID) {
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllKhoiNganh/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let data = response;
                console.log(data)
                let khoiNganhs = $('#select_khoinganh');
                khoiNganhs.empty();
                $.each(data, function (index, item) {
                    khoiNganhs.append($('<option></option>').val(item.KhoiNganh_ID).text(item.KhoiNganh_Ten));
                });
                $("#select_khoinganh").val(KhoiNganh_ID);
                GetNganhData(KhoiNganh_ID, Nganh_ID);
            },
            error: function (errormessage) {
                console.log(errormessage)
            }
        });
    }

    function GetNganhData(id, Nganh_ID) { // id = KhoiNganh_ID
        $('#Nganh_ID').empty();
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllNganhs/",
            type: 'POST',
            data: JSON.stringify({
                idKhoiNganh: id
            }),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    let data = response.data
                    $.each(data, function (i, result) {
                        $('#Nganh_ID').append('<option value="' + result.Nganh_ID + '">' + result.NganhTenNganh + '</option>');
                    });
                    $("#Nganh_ID").val(Nganh_ID);
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function SubmitData() {
        $(".text-danger").text("");
        let flag = true;
        let Nganh_ID = $('#Nganh_ID').val();
        let Dkxt_ToHopXT = $('#Dkxt_ToHopXT').val();
        let Dkxt_MonDatGiai_Value = $('#Dkxt_MonDatGiai').val();
        let Dkxt_LoaiGiai_Value = $('#Dkxt_LoaiGiai').val();
        let Dkxt_MonDatGiai = $('#Dkxt_MonDatGiai').find(":selected").text();
        let Dkxt_LoaiGiai = $('#Dkxt_LoaiGiai').find(":selected").text();
        let Dkxt_NamDatGiai = $('#Dkxt_NamDatGiai').val();
        let Dkxt_XepLoaiHocLuc_12 = $('#Dkxt_XepLoaiHocLuc_12').val();
        let Dkxt_XepLoaiHanhKiem_12 = $('#Dkxt_XepLoaiHanhKiem_12').val();
        let Dkxt_ID = $('#dkxt_id_checkin').val();

        if (!Nganh_ID) {
            var errorMessage = "Vui lòng chọn ngành";
            $('#Nganh_ID_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_MonDatGiai_Value || Dkxt_MonDatGiai_Value == "0") {
            var errorMessage = "Vui lòng chọn môn đạt giải";
            $('#Dkxt_MonDatGiai_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_LoaiGiai_Value || Dkxt_LoaiGiai_Value == "0") {
            var errorMessage = "Vui lòng chọn loại giải";
            $('#Dkxt_LoaiGiai_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_NamDatGiai) {
            var errorMessage = "Vui lòng nhận năm đạt giải";
            $('#Dkxt_NamDatGiai_Error').text(errorMessage);
            flag = false;
        } else if (!Dkxt_NamDatGiai.trim()) {
            var errorMessage = "Vui lòng chọn ngành";
            $('#Nganh_ID_Error').text(errorMessage);
            flag = false;
        }
        if (!flag) return;
        $("#loadingModal").modal("show");
        uploadFiles();
        let formData = {
            Dkxt_ID: Dkxt_ID,
            Nganh_ID: Nganh_ID,
            Dkxt_MonDatGiai: Dkxt_MonDatGiai,
            Dkxt_LoaiGiai: Dkxt_LoaiGiai,
            Dkxt_NamDatGiai: Dkxt_NamDatGiai,
            Dkxt_XepLoaiHocLuc_12: Dkxt_XepLoaiHocLuc_12,
            Dkxt_XepLoaiHanhKiem_12: Dkxt_XepLoaiHanhKiem_12,
            Dkxt_ToHopXT: Dkxt_ToHopXT,
            Dkxt_MinhChung_HB: fileData[0].savePath,
            Dkxt_MinhChung_CCCD: fileData[1].savePath,
            Dkxt_MinhChung_Bang: fileData[2].savePath,
            Dkxt_MinhChung_Giai: fileData[3].savePath,
            Dkxt_MinhChung_UuTien: fileData[4].savePath,
        }

        $.ajax({
            url: "/DangKyXetTuyenThang/DangKyXetTuyenThang_Edit",
            data: JSON.stringify(formData),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                console.log(res)
                if (res.success) {
                    showToast("Thông báo", "Sửa nguyện vọng thành công!", "bg-success");
                    $("#loadingModal").modal("hide");
                    /*onResetFields();*/
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi sửa nguyện vọng!", "bg-error");
                    $("#loadingModal").modal("hide");
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi sửa nguyện vọng!", "bg-error");
                $("#loadingModal").modal("hide");
            }
        });
    }


    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
</script>
