@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }

    #loadingModal {
        background-color: rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<script>
    $(document).ready(function () {
        let sp_tieude = document.getElementById('sp_tieude');
        if (window.innerWidth <= 1200) {
            sp_tieude.innerText = "Đăng ký tuyển thẳng";
        }
        else {
            sp_tieude.innerText = "Đăng ký tuyển thẳng theo quy định của trường (áp dụng cho học sinh đạt giải các môn học từ giải Ba trở lên)";
        }
        function reportWindowSize() {
            if (window.innerWidth <= 1200) {
                sp_tieude.innerText = "Đăng ký tuyển thẳng";
            }
            else {
                sp_tieude.innerText = "Đăng ký tuyển thẳng theo quy định của trường (áp dụng cho học sinh đạt giải các môn học từ giải Ba trở lên)";
            }
        }
        window.onresize = reportWindowSize;
    })
</script>
<div class="container-fluid px-12">

    <div id="div_update_dk_nguyenvong">
        <div class="card card-header-actions">
            <div class="card-header">
                <span>Chỉnh sửa thông tin đã đăng ký</span>
                <button class="btn-close" type="button" aria-label="Close" onclick="bt_HuyBo_Dkxt_NVM_OnClick()"></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="row">
                            <div class="col-12"><b>Chọn ngành xét tuyển <font color="red">(*)</font></b></div>
                            <div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div>
                        </div>
                        <div class="row">
                            <div class="col-4">Khối ngành</div>
                            <div class="col-8">
                                <select id="select_khoinganh" class="form-select"></select>
                                <span id="KhoiNganh_ID_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        <div class="row">
                            <div class="col-4">Ngành</div>
                            <div class="col-8">
                                <select id="Nganh_ID" class="form-select"></select>
                                <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                <input id="Dkxt_ToHopXT" type="hidden" class="form-control" value="HDP4" style="display:none" />
                            </div>
                        </div>
                        <div class="col-12"><hr class="mt-1 mb-2" /></div>

                        <div class="row" style="margin-top:15px">
                            <div class="col-6 ">
                                <span id="span_Uutien_doituong"></span>
                                <hr class="mt-2 md-2" />
                            </div>
                            <div class="col-6  ">
                                <span id="span_Uutien_khuvuc"></span>
                                <hr class="mt-2 md-2" />
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-6">
                                <span> Học lực lớp 12</span>
                                <input id="Dkxt_XepLoaiHocLuc_12" type="text" class="form-control" value="" disabled />
                                <span id="Dkxt_XepLoaiHocLuc_12_Error" class="small mb-1 text-danger"></span>
                            </div>
                            <div class="col-6">
                                <span>Hạnh kiểm lớp 12</span>
                                <input id="Dkxt_XepLoaiHanhKiem_12" type="text" class="form-control" value="" disabled />
                                <span id="Dkxt_XepLoaiHanhKiem_12_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="row">
                            <div class="col-12"><b>Thông tin đạt giải nộp xét tuyển<font color="red">(*)</font></b></div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-4">Năm đạt giải</div>
                            <div class="col-8">
                                <input id="Dkxt_NamDatGiai" type="number" class="form-control" placeholder="Năm đạt giải" value="" />
                                <span id="Dkxt_NamDatGiai_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-4">Môn đạt giải</div>
                            <div class="col-8">
                                <select id="Dkxt_MonDatGiai" class="form-select"></select>
                                <span id="Dkxt_MonDatGiai_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-4">Kỳ thi</div>
                            <div class="col-8">
                                <input id="Dkxt_CapDoGiai" type="text" class="form-control" placeholder="ví dụ: Olympic Toán quốc gia " value="" />
                                <span id="Dkxt_CapDoGiai_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-4">Loại giải</div>
                            <div class="col-8">
                                <select id="Dkxt_LoaiGiai" class="form-select"></select>
                                <span id="Dkxt_LoaiGiai_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-12" style="text-align:center">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-12"><b>Chứng nhận kết quả đạt giải <font color="red">(*)</font></b></div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                        <div class="row mb-1">
                            <div class="col-lg-12 mb-2">(<span id="sp_view_mc_ketqua_datgiai"></span>)</div>
                            <div class="col-12">
                                <input class="form-control small" id="files_chungnhan" multiple="multiple" name="files" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" />
                                <span id="File_ChungNhan_Error" class="small mb-1 text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <table class="table" id="FilesList_ChungNhan_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"><th colspan="2"><input type="hidden" id="ChungNhan_Files" /></th></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-12">
                        <div class="row">
                            <div class="col-12"><b>Dữ liệu minh chứng khác</b></div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-12">Học bạ (<span id="sp_view_mc_hocba"></span>)</div>
                            <div class="col-12">
                                <input class="form-control small" id="files_hocba" multiple="multiple" name="files_hocba" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" />
                            </div>
                            <div class="col-12">
                                <table class="table" id="FilesList_HocBa_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"><th colspan="2"><input type="hidden" id="HocBa_Files" /></th> </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-12">Căn cước công dân (<span id="sp_view_mc_cccd"></span>)</div>
                            <div class="col-12"> <input class="form-control small" id="files_cccd" multiple="multiple" name="files_cccd" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" /></div>
                            <div class="col-12">
                                <table class="table" id="FilesList_CCCD_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"><th colspan="2"><input type="hidden" id="CCCD_Files" /></th></tr>
                                </table>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-12">Bằng Tốt nghiệp (<span id="sp_view_mc_bang_tn"></span>)</div>
                            <div class="col-12"><input class="form-control small" id="files_bangtn" multiple="multiple" name="files_bangtn" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" /></div>
                            <div class="col-12">
                                <table class="table" id="FilesList_BangTN_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"><th colspan="2"><input type="hidden" id="BangTN_Files" /></th></tr>
                                </table>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                        <div class="row">
                            <div class="col-12">Giấy tờ ưu tiên (<span id="sp_view_mc_gtuutien"></span>)</div>
                            <div class="col-12"><input class="form-control small" id="files_uutien" multiple="multiple" name="files_uutien" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" /></div>
                            <div class="col-12">
                                <table class="table" id="FilesList_UuTien_View" style="visibility:hidden; width: 100%">
                                    <tr style="display:none"><th colspan="2"><input type="hidden" id="UuTien_Files" /></th></tr>
                                </table>
                            </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-xxl-12" style="text-align:center">
                        <input class="btn btn-outline-primary" type="button" value="Đồng ý sửa" onclick="SubmitData()" />
                        <input class="btn btn-outline-secondary" type="button" value="Quay lại" onclick="bt_HuyBo_Dkxt_NVM_OnClick()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_view_img" style="display:none">
        <div class="row">
            <div class="col-xl-12 mt-2">
                <div class="card card-header-actions">
                    <div class="card-header mt-0 mb-0">
                        <span id="img_txt_card_hearder">Hình ảnh minh chứng</span>
                        <div>
                            <button class="btn btn-outline-danger btn-sm" type="button" id="bt_delete_img_mc" onclick="bt_delete_img_mc_click()">Xóa</button>
                            <script>function bt_delete_img_mc_click() { $('#modal_thongbao_delete').modal('show'); }</script>
                            <button class="btn btn-outline-primary btn-sm" type="button" id="bt_close_div_view_img">Đóng</button>
                        </div>
                    </div>
                    <div class="card-body" style="margin: 0px!important">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" id="div_item_view_minhchung">
                                    <img class="d-block w-100 img-hide" id="img_view" display:none">
                                    <embed id="pdf_view" class="d-block w-100" style="display:none" type="application/pdf" />
                                    <input type="hidden" id="hiden_id_key" style="display:none" />
                                    <input type="hidden" id="hiden_loai_minhchung_xoa" style="display:none" />
                                    <input type="hidden" id="hiden_duongdan_file_xoa" style="display:none" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Bạn chắc chắn nguyện vọng này dữ liệu này?</span>
                <input id="key_delete_dkxt_id" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="deleteRecordCancel()">Hủy</button>
                <button class="btn btn-primary" type="button" onclick="deleteRecordConfirmed()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.Dkxt_ID" id="hidden_Dkxt_ID" />
<input type="hidden" id="dkxt_id_checkin" name="dkxt_id_checkin" />
<div class="modal fade" id="modal_thongbao_delete" tabindex="-1" role="dialog" aria-labelledby="modal_thongbao_delete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tieude_modal">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="bt_close_modal_xoa_click()"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span style="color:red">Nếu đồng ý hình ảnh minh chứng sẽ bị xóa. Bạn chắc chắn xóa?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="bt_dongy_xoa_on_modal_delete_click()">Đồng ý</button>
                <script>
                    function bt_dongy_xoa_on_modal_delete_click() {
                        var str_query = window.location.search;
                        var data_post = {
                            Dkxt_ID: $('#hiden_id_key').val(),
                            Dkxt_LoaiMC: $('#hiden_loai_minhchung_xoa').val(),
                            Dkxt_Url: $("#hiden_duongdan_file_xoa").val(),
                        }
                        console.log('tét delete', data_post)
                      
                        $.ajax({
                            url: '/DangKyXetTuyenThang/Delete_MinhChung',
                            type: "POST",
                            data: JSON.stringify(data_post),
                            contentType: "application/json;charset=utf-8",
                            success: function (res) {
                                $('#modal_thongbao_delete').modal('hide');
                                showToast("Thông báo", "Xóa ảnh minh chứng thành công!", "bg-error");
                                LoadImageMC_TuyenThang_ByID();
                                onResetDeleteImg();
                               // window.location.href = "/DangKyXetTuyenThang/edit" + str_query;
                            },
                            error: function (error) {
                                console.error('Error update mc:', error);
                            }
                        });
                    }
                </script>
                <button class="btn btn-primary" type="button" onclick="bt_close_modal_xoa_click()">Đóng</button>
            </div>
            <script>
                function bt_close_modal_xoa_click() {
                    $('#modal_thongbao_delete').modal('hide');
                }
            </script>
        </div>
    </div>
</div>


<script>
    var HocBaFormData = new FormData();
    var CCCDFormData = new FormData();
    var BangTNFormData = new FormData();
    var ChungNhanFormData = new FormData();
    var UuTienFormData = new FormData();
    let fileData = [
        { data: HocBaFormData, name: "HOCBA", savePath: "" },
        { data: CCCDFormData, name: "CCCD", savePath: "" },
        { data: BangTNFormData, name: "BANGTN", savePath: "" },
        { data: ChungNhanFormData, name: "CHUNGNHAN", savePath: "" },
        { data: UuTienFormData, name: "UUTIEN", savePath: "" },
    ];

    $(document).ready(function () {
        // hiển thị thông tin đăng ký nguyện vọng
        LoadDataInfor_TuyenThang_ByID();
        //hiển thị các hình ảnh minh chứng      
        LoadImageMC_TuyenThang_ByID();
    })
    function LoadDataInfor_TuyenThang_ByID() {
        /*  var hidden_Dkxt_HB_ID = $('#hidden_Dkxt_HB_ID').val();*/
        let data_get = { Dkxt_ID: $('#hidden_Dkxt_ID').val() }
        $.ajax({
            url: "/DangKyXetTuyenThang/DangKyXetTuyenThang_GetByID",
            data: JSON.stringify(data_get),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.success) {
                    let data = res.data;
                    console.log(data)

                    $('#Dkxt_XepLoaiHocLuc_12').val(data.ThiSinh_HocLucLop12);
                    $('#Dkxt_XepLoaiHanhKiem_12').val(data.ThiSinh_HanhKiemLop12);
                    $('#Dkxt_NamDatGiai').val(data.Dkxt_NamDatGiai);
                    $('#Dkxt_CapDoGiai').val(data.Dkxt_CapDoGiai);
                    $('#span_Uutien_doituong').text(data.DoiTuong_ID);
                    $('#span_Uutien_khuvuc').text(data.KhuVuc_ID);

                    $('#dkxt_id_checkin').val(data.Dkxt_ID);

                    GetAllKhoiNganh(data.KhoiNganh_ID, data.Nganh_ID);
                    InitData(data.Dkxt_MonDatGiai, data.Dkxt_LoaiGiai);                   
                }
            },
            error: function (errormessage) {
                console.log(errormessage.error);
            }
        });
    }

    function LoadImageMC_TuyenThang_ByID() {
        let data_get = { Dkxt_ID: $('#hidden_Dkxt_ID').val() }
        $.ajax({
            url: "/DangKyXetTuyenThang/DangKyXetTuyenThang_GetByID",
            data: JSON.stringify(data_get),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {

                if (res.success) {
                    let data = res.data;
                 
                    console.log("Load - IMG", data)

                    $('#sp_view_mc_ketqua_datgiai').empty();

                    if (data.Dkxt_MinhChung_Giai) {
                        const ArrMCGiai = data.Dkxt_MinhChung_Giai.split("#");
                        if (ArrMCGiai.length > 0) {

                            for (i = 0; i < ArrMCGiai.length; i++) {
                                if (ArrMCGiai[i].length > 0) {
                                    var str_a = `<a style="cursor:pointer;" onclick="showimg('${ArrMCGiai[i]}',1,${data.Dkxt_ID})" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a> `;
                                    $('#sp_view_mc_ketqua_datgiai').append(str_a);
                                }
                            }
                        }
                        else {
                            var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                            $('#sp_view_mc_ketqua_datgiai').append(str_a);
                        }
                    }
                    else {
                        var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                        $('#sp_view_mc_ketqua_datgiai').append(str_a);
                    }

                    $('#sp_view_mc_hocba').empty();

                    if (data.Dkxt_MinhChung_HB) {
                        const ArrMCHocBa = data.Dkxt_MinhChung_HB.split("#");
                        if (ArrMCHocBa.length > 0) {

                            for (i = 0; i < ArrMCHocBa.length; i++) {
                                if (ArrMCHocBa[i].length > 0) {
                                    var str_a = `<a style="cursor:pointer;" onclick="showimg('${ArrMCHocBa[i]}',2,${data.Dkxt_ID})" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a> `;
                                    /*  var str_a = `<a href="#" onclick="showimg(${ArrMCGiai[i]},1,${data.Dkxt_ID} class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a>`;*/
                                    $('#sp_view_mc_hocba').append(str_a);
                                }
                            }
                        }
                        else {
                            var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                            $('#sp_view_mc_hocba').append(str_a);
                        }
                    }
                    else {
                        var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                        $('#sp_view_mc_hocba').append(str_a);
                    }

                    $('#sp_view_mc_bang_tn').empty();

                    if (data.Dkxt_MinhChung_Bang) {
                        const ArrMCBangTN = data.Dkxt_MinhChung_Bang.split("#");
                        if (ArrMCBangTN.length > 0) {

                            for (i = 0; i < ArrMCBangTN.length; i++) {
                                if (ArrMCBangTN[i].length > 0) {
                                    var str_a = `<a style="cursor:pointer;"  onclick="showimg('${ArrMCBangTN[i]}',3,${data.Dkxt_ID})" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a> `;
                                    $('#sp_view_mc_bang_tn').append(str_a);
                                }
                            }
                        }
                        else {
                            var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                            $('#sp_view_mc_bang_tn').append(str_a);
                        }
                    }
                    else {
                        var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                        $('#sp_view_mc_bang_tn').append(str_a);
                    }

                    $('#sp_view_mc_cccd').empty();

                    if (data.Dkxt_MinhChung_CCCD) {
                        const ArrMCCcCd = data.Dkxt_MinhChung_CCCD.split("#");
                        if (ArrMCCcCd.length > 0) {

                            for (i = 0; i < ArrMCCcCd.length; i++) {
                                if (ArrMCCcCd[i].length > 0) {
                                    var str_a = `<a style="cursor:pointer;"  onclick="showimg('${ArrMCCcCd[i]}',4,${data.Dkxt_ID})" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a> `;
                                    $('#sp_view_mc_cccd').append(str_a);
                                }
                            }
                        }
                        else {
                            var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                            $('#sp_view_mc_cccd').append(str_a);
                        }
                    }
                    else {
                        var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                        $('#sp_view_mc_cccd').append(str_a);
                    }


                    $('#sp_view_mc_gtuutien').empty();

                    if (data.Dkxt_MinhChung_UuTien) {
                        const ArrMCUutien = data.Dkxt_MinhChung_UuTien.split("#");
                        if (ArrMCUutien.length > 0) {

                            for (i = 0; i < ArrMCUutien.length; i++) {
                                if (ArrMCUutien[i].length > 0) {
                                    var str_a = `<a style="cursor:pointer;"  onclick="showimg('${ArrMCUutien[i]}',5,${data.Dkxt_ID})" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a> `;
                                    $('#sp_view_mc_gtuutien').append(str_a);
                                }
                            }
                        }
                        else {
                            var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                            $('#sp_view_mc_gtuutien').append(str_a);
                        }
                    }
                    else {
                        var str_a = `<a style="color:red">Không có dữ liệu</a>`;
                        $('#sp_view_mc_gtuutien').append(str_a);
                    }
                }
            },
            error: function (errormessage) {
                console.log(errormessage.error);
            }
        });
    }

    function onResetDeleteImg() {

        HocBaFormData = new FormData();
        CCCDFormData = new FormData();
        BangTNFormData = new FormData();
        ChungNhanFormData = new FormData();
        UuTienFormData = new FormData();

        fileData = [
            { data: HocBaFormData, name: "HOCBA", savePath: "" },
            { data: CCCDFormData, name: "CCCD", savePath: "" },
            { data: BangTNFormData, name: "BANGTN", savePath: "" },
            { data: ChungNhanFormData, name: "CHUNGNHAN", savePath: "" },
            { data: UuTienFormData, name: "UUTIEN", savePath: "" },
        ];

        $('#img_txt_card_hearder').text('Hình ảnh minh chứng');
        $('#pdf_view').height('0px');
        $('#pdf_view').css('display', 'none');
        $("#pdf_view").attr("src", "");
        $("#pdf_view").hide();
        $("#img_view").attr("src", "");
        $('#img_view').hide();

        $('#div_view_img').hide();

        $('#files_hocba').val(null);
        $('#FilesList_HocBa_View tbody').empty();
        $('#files_cccd').val(null);
        $('#FilesList_CCCD_View tbody').empty();
        $('#files_bangtn').val(null);
        $('#FilesList_BangTN_View tbody').empty();
        $('#files_chungnhan').val(null);
        $('#FilesList_ChungNhan_View tbody').empty();
        $('#files_uutien').val(null);
        $('#FilesList_UuTien_View tbody').empty();
    }
  
    $(document).ready(function () {
        /*ListAllNguyenVong();*/

        $("#select_khoinganh").change(function () {
            let id = $("#select_khoinganh").val();
            GetNganhData(id);
        });

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })

        $("#files_hocba").on("change", function () {
            var files_hocba = document.getElementById('files_hocba');
            let j = 0;
            for (i = 0; i < files_hocba.files.length; i++) {
                j++;
                var uploadFileName = files_hocba.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                HocBaFormData.append(uploadFileName, files_hocba.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("HOCBA", "#FilesList_HocBa_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_HocBa_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_HocBa_View");
            $('#files_hocba').val('');
        });
        $("#files_cccd").on("change", function () {
            var files_cccd = document.getElementById('files_cccd');
            let j = 0;
            for (i = 0; i < files_cccd.files.length; i++) {
                j++;
                var uploadFileName = files_cccd.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                CCCDFormData.append(uploadFileName, files_cccd.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("CCCD", "#FilesList_CCCD_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_CCCD_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_CCCD_View");
            $('#files_cccd').val('');
        });
        $("#files_bangtn").on("change", function () {
            var files_bangtn = document.getElementById('files_bangtn');
            let j = 0;
            for (i = 0; i < files_bangtn.files.length; i++) {
                j++;
                var uploadFileName = files_bangtn.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                BangTNFormData.append(uploadFileName, files_bangtn.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("BANGTN", "#FilesList_BangTN_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_BangTN_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_BangTN_View");
            $('#files_bangtn').val('');
        });
        $("#files_chungnhan").on("change", function () {
            var files_chungnhan = document.getElementById('files_chungnhan');
            let j = 0;
            for (i = 0; i < files_chungnhan.files.length; i++) {
                j++;
                var uploadFileName = files_chungnhan.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                ChungNhanFormData.append(uploadFileName, files_chungnhan.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("CHUNGNHAN", "#FilesList_ChungNhan_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_ChungNhan_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_ChungNhan_View");
            $('#files_chungnhan').val('');
        });
        $("#files_uutien").on("change", function () {
            var files_uutien = document.getElementById('files_uutien');
            let j = 0;
            for (i = 0; i < files_uutien.files.length; i++) {
                j++;
                var uploadFileName = files_uutien.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                UuTienFormData.append(uploadFileName, files_uutien.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("UUTIEN", "#FilesList_UuTien_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_UuTien_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_UuTien_View");
            $('#files_uutien').val('');
        });
    });
    function DeleteUploadedFile(FormDataName, ListId, Fileid, FileName) {
        let formData = null;
        if (FormDataName == "HOCBA") formData = HocBaFormData;
        if (FormDataName == "CCCD") formData = CCCDFormData;
        if (FormDataName == "BANGTN") formData = BangTNFormData;
        if (FormDataName == "CHUNGNHAN") formData = ChungNhanFormData;
        if (FormDataName == "UUTIEN") formData = UuTienFormData;
        formData.delete(FileName)
        $("#" + Fileid).remove();
        CheckAttachTable(ListId);
    }
    function CheckAttachTable(list) {
        if ($(`${list} tr`).length > 0) {
            $(list).css("visibility", "visible");
        } else {
            $(list).css("visibility", "hidden");
        }
    }

    function uploadFiles() {
        var url = '/DangKyXetTuyenThang/UploadFiles';
        fileData.forEach(function (item, index) {
            var formName = item.name;
            var fileCount = 0;
            for (var pair of item.data.entries()) {
                if (pair[1] instanceof File) {
                    fileCount++;
                }
            }
            if (fileCount > 0) {
                var savedPath;
                var formData = item.data;
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    async: false,
                    success: function (response) {
                        /*  console.log(response)*/
                        if (response.success) {
                            savedPath = response.message;
                        }
                    },
                    error: function (error) {
                        console.error('Error uploading ' + formName + ' files:', error);
                    }
                });
                item.savePath = savedPath;
            }
        });
    }

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    function onResetFields() {
        $('#select_khoinganh').val("0");
        $('#Nganh_ID').val("0");
        $('#Dkxt_MonDatGiai').val("0");
        $('#Dkxt_LoaiGiai').val("0");
        $('#Dkxt_NamDatGiai').val("");

        $('#files_hocba').val(null);
        $('#FilesList_HocBa_View tbody').empty();
        $('#files_cccd').val(null);
        $('#FilesList_CCCD_View tbody').empty();
        $('#files_bangtn').val(null);
        $('#FilesList_BangTN_View tbody').empty();
        $('#files_chungnhan').val(null);
        $('#FilesList_ChungNhan_View tbody').empty();
        $('#files_uutien').val(null);
        $('#FilesList_UuTien_View tbody').empty();
    }

    function InitData(MonDatGiai, LoaiGiai) {
        let monList = [
            { value: 0, text: "Chọn môn" },
            { value: 1, text: "Toán" },
            { value: 2, text: "Vật lí" },
            { value: 3, text: "Hóa học" },
            { value: 4, text: "Sinh học" },
            { value: 5, text: "Tin học" },
            { value: 6, text: "Ngữ văn" },
            { value: 7, text: "Lịch sử" },
            { value: 8, text: "Địa lí" },
            { value: 9, text: "Tiếng Anh" },
            { value: 10, text: "Tiếng Nga" },
            { value: 11, text: "Tiếng Pháp" },
            { value: 12, text: "Tiếng Trung" },
        ]
        let monOptions = $('#Dkxt_MonDatGiai');
        $.each(monList, function (index, option) {
            monOptions.append($('<option>', {
                value: option.value,
                text: option.text
            }));
            if (option.text == MonDatGiai) $('#Dkxt_MonDatGiai').val(option.value);
        });

        let giaiList = [
            { value: 0, text: "Chọn giải" },
            { value: 1, text: "Giải nhất" },
            { value: 2, text: "Giải nhì" },
            { value: 3, text: "Giải ba" },
        ]
        let giaiOptipns = $('#Dkxt_LoaiGiai');
        $.each(giaiList, function (index, option) {
            giaiOptipns.append($('<option>', {
                value: option.value,
                text: option.text
            }));
            if (option.text == LoaiGiai) $('#Dkxt_LoaiGiai').val(option.value);
        });
    }

    function bt_HuyBo_Dkxt_NVM_OnClick() {
        window.location.href = "/DangKyXetTuyenThang/Index";
    }
    function GetAllKhoiNganh(KhoiNganh_ID, Nganh_ID) {
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllKhoiNganh/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let data = response;
                console.log(data)
                let khoiNganhs = $('#select_khoinganh');
                khoiNganhs.empty();
                $.each(data, function (index, item) {
                    khoiNganhs.append($('<option></option>').val(item.KhoiNganh_ID).text(item.KhoiNganh_Ten));
                });
                $("#select_khoinganh").val(KhoiNganh_ID);
                GetNganhData(KhoiNganh_ID, Nganh_ID);
            },
            error: function (errormessage) {
                console.log(errormessage)
            }
        });
    }

    function GetNganhData(id, Nganh_ID) { // id = KhoiNganh_ID
        $('#Nganh_ID').empty();
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllNganhs/",
            type: 'POST',
            data: JSON.stringify({
                idKhoiNganh: id
            }),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    let data = response.data
                    $.each(data, function (i, result) {
                        $('#Nganh_ID').append('<option value="' + result.Nganh_ID + '">' + result.NganhTenNganh + '</option>');
                    });
                    $("#Nganh_ID").val(Nganh_ID);
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function SubmitData() {
        $(".text-danger").text("");
        let flag = true;
       
        let Select_Khoinganh = $('#select_khoinganh').val();
        let Nganh_ID = $('#Nganh_ID').val();
        let Dkxt_ToHopXT = $('#Dkxt_ToHopXT').val();
        let Dkxt_MonDatGiai_Value = $('#Dkxt_MonDatGiai').val();
        let Dkxt_LoaiGiai_Value = $('#Dkxt_LoaiGiai').val();
        let Dkxt_MonDatGiai = $('#Dkxt_MonDatGiai').find(":selected").text();
        let Dkxt_CapDoGiai = $('#Dkxt_CapDoGiai').val();
        let Dkxt_LoaiGiai = $('#Dkxt_LoaiGiai').find(":selected").text();
        let Dkxt_NamDatGiai = $('#Dkxt_NamDatGiai').val();
        let Dkxt_XepLoaiHocLuc_12 = $('#Dkxt_XepLoaiHocLuc_12').val();
        let Dkxt_XepLoaiHanhKiem_12 = $('#Dkxt_XepLoaiHanhKiem_12').val();
        let Dkxt_ID = $('#dkxt_id_checkin').val();


        if (Select_Khoinganh == 0) {
            var errorMessage = "Vui lòng chọn khối ngành";
            $('#KhoiNganh_ID_Error').text(errorMessage);
            flag = false;
        }

        if (Nganh_ID == 0) {
            var errorMessage = "Vui lòng chọn ngành";
            $('#Nganh_ID_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_MonDatGiai_Value || Dkxt_MonDatGiai_Value == "0") {
            var errorMessage = "Vui lòng chọn môn đạt giải";
            $('#Dkxt_MonDatGiai_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_CapDoGiai) {
            var errorMessage = "Vui lòng nhập cấp độ giải";
            $('#Dkxt_CapDoGiai_Error').text(errorMessage);
            flag = false;
        }

        if (!Dkxt_LoaiGiai_Value || Dkxt_LoaiGiai_Value == "0") {
            var errorMessage = "Vui lòng chọn loại giải";
            $('#Dkxt_LoaiGiai_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_NamDatGiai.trim()) {
            var errorMessage = "Vui lòng nhập năm đạt giải";
            $('#Dkxt_NamDatGiai_Error').text(errorMessage);
            flag = false;
        } 

        if (!flag) return;
        $("#loadingModal").modal("show");
        uploadFiles();
        let formData = {
            Dkxt_ID: Dkxt_ID,
            Nganh_ID: Nganh_ID,
            Dkxt_MonDatGiai: Dkxt_MonDatGiai,
            Dkxt_LoaiGiai: Dkxt_LoaiGiai,
            Dkxt_NamDatGiai: Dkxt_NamDatGiai,
            Dkxt_XepLoaiHocLuc_12: Dkxt_XepLoaiHocLuc_12,
            Dkxt_XepLoaiHanhKiem_12: Dkxt_XepLoaiHanhKiem_12,
            Dkxt_ToHopXT: Dkxt_ToHopXT,
            Dkxt_MinhChung_HB: fileData[0].savePath,
            Dkxt_MinhChung_CCCD: fileData[1].savePath,
            Dkxt_MinhChung_Bang: fileData[2].savePath,
            Dkxt_MinhChung_Giai: fileData[3].savePath,
            Dkxt_MinhChung_UuTien: fileData[4].savePath,
        }

        $.ajax({
            url: "/DangKyXetTuyenThang/DangKyXetTuyenThang_Edit",
            data: JSON.stringify(formData),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                console.log(res)
                if (res.success) {

                    console.log("formData -", fileData);
                    showToast("Thông báo", "Chỉnh sửa thông tin đăng ký thành công!", "bg-error");
                    $("#loadingModal").modal("hide");
                    // hiển thị thông tin đăng ký nguyện vọng  
                    LoadDataInfor_TuyenThang_ByID();
                    //hiển thị các hình ảnh minh chứng
                    LoadImageMC_TuyenThang_ByID();
                    // thiết lập lại cho các biến upload file
                    onResetDeleteImg()
                    // chỉ click quay lại mới trở lại trang chính
                    // window.location.href = '/DangKyXetTuyenKhac/Ielts';
                    console.log("formData -", fileData);
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi sửa nguyện vọng!", "bg-error");
                    $("#loadingModal").modal("hide");
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi sửa nguyện vọng!", "bg-error");
                $("#loadingModal").modal("hide");
            }
        });
    }


    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
</script>
<script>
    function showimg(url, loaimc, id_key_hs) {
        $('#hiden_id_key').val(id_key_hs);
        $('#hiden_loai_minhchung_xoa').val(loaimc);
        $("#hiden_duongdan_file_xoa").val(url);


        var pdf_view = document.getElementById("pdf_view");
        $('#pdf_view').height('0px');
        $('#pdf_view').css('display', 'none');
        $("#pdf_view").attr("src", "");
        $("#pdf_view").hide();

        $("#img_view").attr("src", "");
        $('#img_view').hide();

      
        if (loaimc == 1) {
            $('#img_txt_card_hearder').text('Minh chứng đạt giải');
        }
        if (loaimc == 2) {
            $('#img_txt_card_hearder').text('Minh chứng học bạ');
        }
        if (loaimc == 3) {
            $('#img_txt_card_hearder').text('Minh chứng bằng đại học');
        }
        if (loaimc == 4) {
            $('#img_txt_card_hearder').text('Minh chứng căn cước công dân');
        }
        if (loaimc == 5) {
            $('#img_txt_card_hearder').text('Giấy tờ khác');
        }
        var lastChar = url.substr(url.length - 4); // => kiểm tra file pdf hoặc img

        if (lastChar.toLowerCase() != ".pdf") {

            $('#pdf_view').height('0px');
            $('#pdf_view').css('display', 'none');
            $("#pdf_view").attr("src", "");
            $("#pdf_view").hide();

            $("#img_view").attr("src", url);
            $("#img_view").show();
        }
        if (lastChar.toLowerCase() === ".pdf") {
            $("#img_view").hide();
            $("#img_view").attr("src", "");

            $('#pdf_view').height('500px');
            $('#pdf_view').css('display', 'inline');
            $("#pdf_view").attr("src", url);
            $("#pdf_view").show();
        }
        $('#div_view_img').show();
    }
    $(document).ready(function () {
        $('#bt_close_div_view_img').click(function () {
            $('#div_view_img').hide();

            $('#pdf_view').height('0px');
            $('#pdf_view').css('display', 'none');
            $("#pdf_view").attr("src", "");
            $("#pdf_view").hide();

            $("#img_view").attr("src", "");
            $('#img_view').hide();
            
            $('#img_txt_card_hearder').text('Hình ảnh minh chứng');
        });
    });
</script>