@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <h1 class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        Sử dụng cho thí sinh thuộc diện xét tuyển thẳng học sinh giỏi
                        từ giải Ba trở lên
                    </h1>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div id="div_list_nguyenvong">
        <div class="card card-header-actions">
            <div class="card-header">
                Các nguyện vọng đã đăng ký
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align:middle;">Nguyện vọng</th>
                                    <th style="vertical-align:middle;">Mã ngành - Ngành</th>
                                    <th style="vertical-align:middle;">Môn đạt gải</th>
                                    <th style="vertical-align:middle;">Loại giải</th>
                                    <th style="vertical-align:middle;">Năm đạt giải</th>
                                    <th style="vertical-align:middle;">Trạng thái</th>
                                    <th style="vertical-align:middle; text-align:center; width:120px">Cập nhật</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_list_nguyenvong">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <center>
                            <button id="downButton" class="btn btn-outline-success"> In phiếu tổng hợp</button>
                            <a class="btn btn-outline-primary" onclick="bt_Insert_Dknv_on_divView_Click(0,0,0)">Thêm nguyện vọng</a>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">

                        <p style="color:red; font-style:italic" class="mb-1">Lưu ý: </p>
                        <p style="color:red; font-style:italic" class="mb-1">- Thí sinh cần bấm xác nhận để hoàn thành việc đăng ký sau khi thêm nguyện vọng mới hoặc hoặc sửa các nguyện vọng.</p>
                        <p style="color:red; font-style:italic" class="mb-1">- Thí sinh cần nộp lệ phí xét tuyển và gửi minh chứng (ảnh chụp giao dịch chuyển tiền).</p>
                        <p style="color:red; font-style:italic" class="mb-1">- Thí sinh in phiếu tổng hợp nguyện vọng đăng ký, kiểm tra lại thông tin trong phiếu, ký xác nhận và gửi về trường theo đường bưu điện.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_update_dk_nguyenvong" style="display: none">
        <div class="card card-header-actions">
            <div class="card-header">
                Đăng ký nguyện vọng mới
                <button class="btn-close" type="button" aria-label="Close" onclick="_bt_HuyBo_Dkxt_NVM_OnClick(0,0,0)"></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-6">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">Chọn ngành</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:130px">Khối ngành <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_khoinganh" class="form-select"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngành <font color="red">(*)</font></td>
                                    <td>
                                        <select id="Nganh_ID" class="form-select"></select>
                                        <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tổ hợp môn <font color="red">(*)</font></td>
                                    <td>
                                        <input id="Thm_ID" type="text" class="form-control" value="HDP4" disabled />
                                        <span id="Thm_ID_Error" class="small mb-1 text-danger"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="row">
                                            <div class="col-6">
                                                <span> Học lực lớp 12</span>
                                                <input id="Dkxt_XepLoaiHocLuc_12" type="text" class="form-control" value="" disabled />
                                                <span id="Dkxt_XepLoaiHocLuc_12_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                            <div class="col-6">
                                                <span>Hạnh kiểm lớp 12</span>
                                                <input id="Dkxt_XepLoaiHanhKiem_12" type="text" class="form-control" value="" disabled />
                                                <span id="Dkxt_XepLoaiHanhKiem_12_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                        </table>
                    </div>
                    <div class="col-xxl-6">
                        <div class="row md-0">
                            <div class="col-xxl-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle; width:33%">Môn đạt giải</th>
                                            <th style="vertical-align: middle; text-align: center; width: 33%">Loại giải</th>
                                            <th style="vertical-align: middle; text-align: center; width: 33%">Năm đạt giải</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr style="vertical-align:middle;">
                                            <td>
                                                <select id="Dkxt_MonDatGiai" class="form-select"></select>
                                            </td>
                                            <td><select id="Dkxt_LoaiGiai" class="form-select"></select></td>
                                            <td><input id="Dkxt_NamDatGiai" type="number" class="form-control" value="" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-xxl-12" style="text-align:center">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-xxl-4">
                                <div class="form-group mb-2">
                                    <label for="formFileMultiple" class="form-label">Chọn tệp học bạ <font color="red">(*)</font> </label>
                                    <div class="col-md-12">
                                        <input class="form-control" id="files_hocba" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file học bạ"
                                               accept="application/pdf,.png, .jpeg, .jpg" />
                                        <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4">
                                <div class="form-group mb-2">
                                    <label for="formFileMultiple" class="form-label">Căn cước công dân</label>
                                    <div class="col-md-12">
                                        <input class="form-control" id="files_cancuoc_cd" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file CCCD"
                                               accept="application/pdf,.png, .jpeg, .jpg" />
                                        <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xxl-4">
                                <div class="form-group mb-2">
                                    <label for="formFileMultiple" class="form-label">Bằng Tốt nghiệp</label>
                                    <div class="col-md-12">
                                        <input class="form-control" id="files_bangtn" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file Bằng TN"
                                               accept="application/pdf,.png, .jpeg, .jpg" />
                                        <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-xxl-12" style="text-align:center">
                                <input class="btn btn-primary" type="button" value="Đồng ý" onclick="bt_DongY_Dkxt_NVM_OnClick()" />
                                <input class="btn btn-secondary" type="button" value="Hủy bỏ" onclick="_bt_HuyBo_Dkxt_NVM_OnClick(0,0,0)" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Toast Title</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn chắc chắn nguyện vọng này dữ liệu này?</span>
                    <input id="key_delete_dkxt_id" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="bt_HuyBo_Delete_onModal_Click()">Hủy</button>
                    <button class="btn btn-primary" type="button" onclick="SubmitData()">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    let key_dkxt_id_post = -1;

    $(document).ready(function () {
        InitData(null, null);
        ListAllNguyenVong();
        GetAllKhoiNganh();

        $("#select_khoinganh").change(function () {
            let id = $("#select_khoinganh").val();
            GetNganhData(id);
        });

        $("#Nganh_ID").change(function () {
        });
        // lấy danh sách 3 môn cần nhập điểm

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })
    });

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    function onListenFields(inputClass, outputClass) {
        var inputFields = $(inputClass);
        inputFields.on('input', function () {
            var allFilled = true;
            inputFields.each(function () {
                if ($(this).val() === ''|| $(this).val() < 0 || $(this).val() > 10) {
                    allFilled = false;
                    var errorMessage = "Chưa nhập đủ điểm các môn hoặc nhập chưa đúng, vui lòng kiểm tra lại!"; $('#Diem_All_Error').text(errorMessage);
                    $(outputClass).val('');
                    return false;
                }
            });

            if (allFilled) {
                $('#Diem_All_Error').text('');
                let total = 0;
                inputFields.each(function () {
                    total += parseFloat($(this).val());
                });
               /* console.log(total / 3)*/
                $(outputClass).val((total / 3).toFixed(2));
            }
        });
    }

    function onResetFields() {
        $('#select_khoinganh').val("0");
        $('#Nganh_ID').val("0");
        $('#Dkxt_MonDatGiai').val("");
        $('#Dkxt_LoaiGiai').val("");
        $('#Dkxt_NamDatGiai').val("");
    }

    function InitData(MonDatGiai, LoaiGiai) {
        let monList = [
            { value: 0, text: "Chọn môn" },
            { value: 1, text: "Toán" },
            { value: 2, text: "Vật lí" },
            { value: 3, text: "Hóa học" },
            { value: 4, text: "Sinh học" },
            { value: 1, text: "Tin học" },
            { value: 1, text: "Ngữ văn" },
            { value: 1, text: "Lịch sử" },
            { value: 1, text: "Địa lí" },
            { value: 1, text: "Tiếng Anh" },
            { value: 1, text: "Tiếng Nga" },
            { value: 1, text: "Tiếng Pháp" },
            { value: 1, text: "Tiếng Trung" },
        ]
        let monOptions = $('#Dkxt_MonDatGiai');
        $.each(monList, function (index, option) {
            monOptions.append($('<option>', {
                value: option.value,
                text: option.text
            }));
        });

        let giaiList = [
            { value: 0, text: "Chọn giải" },
            { value: 1, text: "Giải nhất" },
            { value: 2, text: "Giải nhì" },
            { value: 3, text: "Giải ba" },
        ]
        let giaiOptipns = $('#Dkxt_LoaiGiai');
        $.each(giaiList, function (index, option) {
            giaiOptipns.append($('<option>', {
                value: option.value,
                text: option.text
            }));
        });
    }

    function ListAllNguyenVong() {
        let _output = "";
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllNguyenVongs/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let result_all = response.data;
                let thiSinh = response.thisinh;
                if (thiSinh) {
                    let hocLuc = thiSinh.ThiSinh_HocLucLop12;
                    let hanhKiem = thiSinh.ThiSinh_HanhKiemLop12;
                    let hocLucName = "";
                    let hanhKiemName = "";
                    if (hocLuc == 1) hocLucName = "Trung bình";
                    else if (hocLuc == 2) hocLucName = "Khá";
                    else if (hocLuc == 3) hocLucName = "Giỏi";
                    else if (hocLuc == 4) hocLucName = "Xuất sắc";
                    $('#Dkxt_XepLoaiHocLuc_12').val(hocLucName);

                    if (hanhKiem == 1) hanhKiemName = "Yếu";
                    else if (hanhKiem == 2) hanhKiemName = "Trung bình";
                    else if (hanhKiem == 3) hanhKiemName = "Khá";
                    else if (hanhKiem == 4) hanhKiemName = "Tốt";
                    $('#Dkxt_XepLoaiHanhKiem_12').val(hanhKiemName);
                }
                if (!result_all || result_all.length == 0) {
                    _output += '<tr><td colspan="7"  style="text-align:center">Chưa đăng ký nguyện vọng nào!</td></tr>';
                }
                else {
                    //console.log(result_all, 'result_all');
                    //console.log(result_all.length, 'result_all.length');
                    /*$.each(result_all, function (i, result) {

                        _output += '<tr>' +
                            '<td style="vertical-align: middle !important "> NV' + result.Dkxt_NguyenVong + "&nbsp;"+`<button class="btn btn-outline-primary btn-sm" onclick="upData(${result.Dkxt_ID})" ${i == 0 ? "disabled" : ''}>  &#8743;</button>&nbsp;<button  class="btn btn-outline-primary btn-sm" onclick="downData(${result.Dkxt_ID})" ${i == result_all.length - 1 ? "disabled" : ""}> &#8744;</button>  </td>` +
                            '<td style="vertical-align: middle !important "> ' + result.Dkxt_TenAll.Nganh_GhiChu + ' </td>' +
                            '<td style="vertical-align: middle !important ">' + result.Dkxt_TenAll.Thm_MaTen + '</td>' +
                            '<td style="vertical-align: middle !important ">' + result.Dkxt_Diem_Tong_Full + '</td>' +
                            '<td>' + '<a href="#" class="btn btn-outline-primary btn-sm" style="vertical-align: middle !important " title="Bấm chuột để xác nhận đăng ký nguyện vọng này"> <input type="checkbox" disabled /> Chưa xác nhận</a>' + '</td>' +
                            '<td style="text-align: center; vertical-align: middle !important ">' + `<button class="btn btn-outline-primary btn-sm" onclick="bt_Update_on_table_Click(${result.Dkxt_ID})"}>Sửa</button>` +' | ' + `<button class="btn btn-outline-danger btn-sm" onclick="bt_Delete_on_table_Click(${result.Dkxt_ID})"}>Xoá</button>`  + '</td>' +
                            '</tr>'
                    });*/
                }
                document.getElementById('tbody_list_nguyenvong').innerHTML = _output;
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function GetAllKhoiNganh() {
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllKhoiNganh/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let data = response;
                let khoiNganhs = $('#select_khoinganh');
                khoiNganhs.empty();
                $.each(data, function (index, item) {
                    khoiNganhs.append($('<option></option>').val(item.KhoiNganh_ID).text(item.KhoiNganh_Ten));
                });
            },
            error: function (errormessage) {
                console.log(errormessage)
            }
        });
    }

    function GetNganhData(id) { // id = KhoiNganh_ID
        $('#Nganh_ID').empty();
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllNganhs/",
            type: 'POST',
            data: JSON.stringify({
                idKhoiNganh: id
            }),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    let data = response.data
                    $.each(data, function (i, result) {
                        $('#Nganh_ID').append('<option value="' + result.Nganh_ID + '">' + result.NganhTenNganh + '</option>');
                     });
                     /*$('#Nganh_ID').val(nganh_key);*/
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function bt_Delete_on_table_Click(_dkxt_id) {
        $('#modal_tb_xoa').modal('show');
        $('#key_delete_dkxt_id').val(_dkxt_id);
    }

    function bt_HuyBo_Delete_onModal_Click() {
        $('#modal_tb_xoa').modal('hide');
        $('#key_delete_dkxt_id').val('');
    }

    function bt_Update_on_table_Click(_dkxt_id) {

        $('#key_delete_dkxt_id').val(_dkxt_id);
        get_data_for_update_dkvn(_dkxt_id)

    }

    function bt_Insert_Dknv_on_divView_Click(khoinganh_key, nganh_key, tohopmon_key) {
        document.getElementById('div_list_nguyenvong').style.display = "none";
        document.getElementById('div_update_dk_nguyenvong').style.display = "inline";
        key_dkxt_id_post = -1;
    }


    function bt_DongY_Dkxt_NVM_OnClick() {
        let flag = true;

        let Nganh_ID = $('#select_nganh').val();
        let Thm_ID = $('#select_tohopmon').val();

        let Dkxt_Diem_M1 = { TenMon1: $('#lb_tenmon_1').text(), HK1: $('#txt_m1_k1').val(), HK2: $('#txt_m1_k2').val(), HK3: $('#txt_m1_k3').val(), DiemTrungBinh: $('#txt_tb_m1').val(), };
        let Dkxt_Diem_M2 = { TenMon2: $('#lb_tenmon_2').text(), HK1: $('#txt_m2_k1').val(), HK2: $('#txt_m2_k2').val(), HK3: $('#txt_m2_k3').val(), DiemTrungBinh: $('#txt_tb_m2').val(), };
        let Dkxt_Diem_M3 = { TenMon3: $('#lb_tenmon_3').text(), HK1: $('#txt_m3_k1').val(), HK2: $('#txt_m3_k2').val(), HK3: $('#txt_m3_k3').val(), DiemTrungBinh: $('#txt_tb_m3').val(), };

        let DiemTBMon1 = $('#txt_tb_m1').val();
        let DiemTBMon2 = $('#txt_tb_m2').val();
        let DiemTBMon3 = $('#txt_tb_m3').val();

        if (Nganh_ID == 0) { var errorMessage = "Chưa chọn ngành"; $('#Nganh_ID_Error').text(errorMessage); flag = false; }
        if (Thm_ID == 0) { var errorMessage = "Chưa chọn tổ hợp môn"; $('#Thm_ID_Error').text(errorMessage); flag = false; }

        if (DiemTBMon1 == '' || DiemTBMon2 == '' || DiemTBMon3 == '') { var errorMessage = "Chưa nhập đủ điểm các môn hoặc nhập chưa đúng, vui lòng kiểm tra lại!"; $('#Diem_All_Error').text(errorMessage); flag = false; }


        if (!flag) return;

        let Dkxt_Diem_Tong = parseFloat(DiemTBMon1) + parseFloat(DiemTBMon2) + parseFloat(DiemTBMon3);

        let formData = {
            Nganh_ID: Nganh_ID,
            Thm_ID: Thm_ID,
            Dkxt_Diem_M1: JSON.stringify(Dkxt_Diem_M1),
            Dkxt_Diem_M2: JSON.stringify(Dkxt_Diem_M2),
            Dkxt_Diem_M3: JSON.stringify(Dkxt_Diem_M3),
            Dkxt_Diem_Tong: Dkxt_Diem_Tong.toString()
        }

        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_Insert",
            data: JSON.stringify(formData),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                //alert(res)
                //return;
                if (res.success) {
                    showToast("Thông báo", "Thêm mới nguyện vọng thành công!", "bg-success");
                    ListAllNguyenVong();
                    document.getElementById('div_list_nguyenvong').style.display = "inline";
                    document.getElementById('div_update_dk_nguyenvong').style.display = "none";
                    onResetFields();
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
            }
        });
    }

    function _bt_HuyBo_Dkxt_NVM_OnClick(khoinganh_key, nganh_key, tohopmon_key) {
        document.getElementById('div_list_nguyenvong').style.display = "inline";
        document.getElementById('div_update_dk_nguyenvong').style.display = "none";
        get_data_forselect_khoinganh_all(0, 0, 0);
        key_dkxt_id_post = -1;
    }


    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }

    $(document).ready(function () {
        $('#downButton').click(function () {
            window.location.href = '/ExportFile/DownloadFile_XetTuyenHB';
        });
    });

    function upData(value) {
        var obj = { idDkxt: value };
        $.ajax({
            url: '@Url.Action("upData", "DangKyXetTuyens")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                alert(response.msg);
                window.location.reload();
            }
            else {
                alert(response.msg);
            }
        }).fail(function (error) {
            alert(error.StatusText);
        });
    }
    function downData(value) {
        var obj = { idDkxt: value };
        $.ajax({
            url: '@Url.Action("downData", "DangKyXetTuyens")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                alert(response.msg);
                window.location.reload();
            }
            else {
                alert(response.msg);
            }
        }).fail(function (error) {
            alert(error.StatusText);
        });
    }

    function deleteData_cuong(value) {
        var obj = { idDkxt: value };
        var result = confirm("Bạn chắc chắn xóa dữ liệu này?");
        if (result) {
            $.ajax({
            url: '@Url.Action("Delete", "DangKyXetTuyens")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
               // alert(response.msg);
                showToast("Thông báo", "Đã thực hiên xóa nguyện vọng!", "bg-success");
                ListAllNguyenVong()
                // window.location.reload();
            }
            else {
                showToast("Lỗi", "Chưa thể xóa theo yêu cầu!", "bg-success");
                alert(response.msg);
            }
        }).fail(function (error) { alert(error.StatusText);});
        }
    }
</script>