@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Đăng ký tuyển thẳng theo quy định của trường (áp dụng cho học sinh đạt giải các môn học từ giải Ba trở lên)</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div id="div_list_nguyenvong">
        <div class="card card-header-actions">
            <div class="card-header">
                Các nguyện vọng đã đăng ký
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="table-container">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="vertical-align:middle;">Nguyện vọng</th>
                                        <th style="vertical-align:middle;">Mã ngành - Ngành</th>
                                        <th style="vertical-align: middle;">Môn đạt gải</th>
                                        <th style="vertical-align: middle;">Loại giải</th>
                                        <th style="vertical-align: middle;">Năm đạt giải</th>
                                        @*<th style="vertical-align:middle;">Trạng thái</th>*@
                                        <th style="vertical-align:middle; text-align:center; width:120px">Cập nhật</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_list_nguyenvong">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <center>
                            <button id="bt_xuat_phieu_tong_hop_kq" class="btn btn-outline-success">Xuất phiếu tổng hợp</button>
                            <a class="btn btn-outline-primary" id="bt_add_aspirations" onclick="bt_Insert_Dknv_on_divView_Click(0,0,0)">Thêm nguyện vọng</a>
                            <script>
                                $(document).ready(function () {
                                    let sp_tieude = document.getElementById('sp_tieude');
                                    let bt_xuat_phieu_tong_hop = document.getElementById('bt_xuat_phieu_tong_hop_kq');
                                    let bt_them_nguyen_vong = document.getElementById('bt_add_aspirations');

                                    function reportWindowSize() {
                                        if (window.innerWidth <= 1200) {
                                            sp_tieude.innerText = "Đăng ký tuyển thẳng (HS có giải 3 trở lên)";
                                            bt_xuat_phieu_tong_hop.innerHTML = "Xuất phiếu";
                                            bt_them_nguyen_vong.innerHTML = "Thêm NV";

                                        }
                                        else {
                                            sp_tieude.innerText = "Đăng ký tuyển thẳng theo quy định của trường (áp dụng cho học sinh giỏi có môn học đạt từ giải Ba trở lên)";
                                            bt_xuat_phieu_tong_hop.innerHTML = "Xuất phiếu tổng hợp";
                                            bt_them_nguyen_vong.innerHTML = "Thêm nguyện vọng";
                                        }
                                    }
                                    window.onresize = reportWindowSize;
                                })
                            </script>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <p style="color:red; font-style:italic" class="mb-1">Lưu ý: </p>
                        <p style="color:red; font-style:italic" class="mb-1">- Thí sinh cần nộp lệ phí xét tuyển và gửi minh chứng (ảnh chụp giao dịch chuyển tiền).</p>
                        <p style="color:red; font-style:italic" class="mb-1">- Thí sinh in phiếu tổng hợp nguyện vọng đăng ký, kiểm tra lại thông tin trong phiếu, ký xác nhận và gửi về trường theo đường bưu điện.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_update_dk_nguyenvong" style="display: none">
        <div class="card card-header-actions">
            <div class="card-header">
                Đăng ký nguyện vọng mới
                <button class="btn-close" type="button" aria-label="Close" onclick="_bt_HuyBo_Dkxt_NVM_OnClick(0,0,0)"></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-4">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">Chọn ngành và tổ hợp môn <font color="red">(*)</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:130px">Khối ngành</td>
                                    <td>
                                        <select id="select_khoinganh" class="form-select"></select>
                                        <span id="KhoiNganh_ID_Error" class="small mb-1 text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngành</td>
                                    <td>
                                        <select id="Nganh_ID" class="form-select"></select>
                                        <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                        <input id="Dkxt_ToHopXT" type="hidden" class="form-control" value="HDP4" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="row" style="margin-top:15px">
                                            <div class="col-6 ">
                                                <span id="span_Uutien_doituong"></span>

                                            </div>
                                            <div class="col-6  ">
                                                <span id="span_Uutien_khuvuc"></span>

                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="row">
                                            <div class="col-6">
                                                <span> Học lực lớp 12</span>
                                                <input id="Dkxt_XepLoaiHocLuc_12" type="text" class="form-control" value="" disabled />
                                                <span id="Dkxt_XepLoaiHocLuc_12_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                            <div class="col-6">
                                                <span>Hạnh kiểm lớp 12</span>
                                                <input id="Dkxt_XepLoaiHanhKiem_12" type="text" class="form-control" value="" disabled />
                                                <span id="Dkxt_XepLoaiHanhKiem_12_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xxl-4">
                        <div class="row mt-0 mb-1">
                            <div class="col-xxl-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Thông tin đạt giải nộp xét tuyển<font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td style="width:120px">Năm đạt giải</td>
                                            <td>
                                                <input id="Dkxt_NamDatGiai" type="number" class="form-control" placeholder="Năm đạt giải" value="" />
                                                <span id="Dkxt_NamDatGiai_Error" class="small mb-1 text-danger"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Môn đạt giải</td>
                                            <td>
                                                <select id="Dkxt_MonDatGiai" class="form-select"></select>
                                                <span id="Dkxt_MonDatGiai_Error" class="small mb-1 text-danger"></span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Kỳ thi</td>
                                            <td>
                                                <input id="Dkxt_CapDoGiai" type="text" class="form-control" placeholder="ví dụ: Olympic Toán quốc gia " value="" />
                                                <span id="Dkxt_CapDoGiai_Error" class="small mb-1 text-danger"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Loại giải</td>
                                            <td>
                                                <select id="Dkxt_LoaiGiai" class="form-select"></select>
                                                <span id="Dkxt_LoaiGiai_Error" class="small mb-1 text-danger"></span>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-xxl-12" style="text-align:center">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-0 mb-1">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Giấy chứng nhận KQ đạt giải <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_chungnhan" multiple="multiple" name="files" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <span id="File_ChungNhan_Error" class="small mb-1 text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table" id="FilesList_ChungNhan_View" style="visibility:hidden; width: 100%">
                                                            <tr style="display:none">
                                                                <th colspan="2"><input type="hidden" id="ChungNhan_Files" /></th>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4">
                        <div class="row mb-0">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Dữ liệu minh chứng khác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label class="form-label">Học bạ</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_hocba" multiple="multiple" name="files" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <table class="table" id="FilesList_HocBa_View" style="visibility:hidden; width: 100%">
                                                                    <tr style="display:none">
                                                                        <th colspan="3"><input type="hidden" id="HocBa_Files" /></th>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group">
                                                            <label class="form-label">Căn cước công dân</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_cccd" multiple="multiple" name="files" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <table class="table" id="FilesList_CCCD_View" style="visibility:hidden; width: 100%">
                                                                    <tr style="display:none">
                                                                        <th colspan="3"><input type="hidden" id="CCCD_Files" /></th>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group">
                                                            <label class="form-label">Bằng Tốt nghiệp</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_bangtn" multiple="multiple" name="files" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <table class="table" id="FilesList_BangTN_View" style="visibility:hidden; width: 100%">
                                                                    <tr style="display:none">
                                                                        <th colspan="3"><input type="hidden" id="BangTN_Files" /></th>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group">
                                                            <label class="form-label">Minh chứng ưu tiên</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_uutien" multiple="multiple" name="files" type="file" data-val="true" accept="application/pdf,.png, .jpeg, .jpg" />
                                                                <table class="table" id="FilesList_UuTien_View" style="visibility:hidden; width: 100%">
                                                                    <tr style="display:none">
                                                                        <th colspan="2"><input type="hidden" id="UuTien_Files" /></th>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xxl-12" style="text-align:center">
                        <input class="btn btn-outline-primary" type="button" value="Đồng ý thêm" onclick="SubmitData()" />
                        <input class="btn btn-outline-secondary" type="button" value="Hủy bỏ" onclick="_bt_HuyBo_Dkxt_NVM_OnClick(0,0,0)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    #loadingModal {
        background-color: rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
</style>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Bạn chắc chắn nguyện vọng này dữ liệu này?</span>
                <input id="key_delete_dkxt_id" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="deleteRecordCancel()">Hủy</button>
                <button class="btn btn-primary" type="button" onclick="deleteRecordConfirmed()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_tb_thanhcong" tabindex="-1" role="dialog" aria-labelledby="modal_tb_thanhcong" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="modal_tb_thanhcong_hide_click()"></button>
                <script>
                    function modal_tb_thanhcong_hide_click() { $('#modal_tb_thanhcong').modal('hide'); $('#noidung_chuyenkhoan').text(''); }
                    function thongbao_dangky_thanhcong(text) { $('#noidung_chuyenkhoan').text(text); $('#modal_tb_thanhcong').modal('show'); }
                </script>
            </div>
            <div class="modal-body">
                <p class="mt-0 mb-0" style="text-align:justify">- Đăng ký xét tuyển thành công!</p>
                <p class="mt-0 mb-0" style="text-align:justify">- Vui lòng nộp lệ phí xét tuyển bằng cách chuyển số tiền 50.000đ vào số tài khoản: <font color="red">5011100925</font> để hoàn thành thủ tục đăng ký xét tuyển</p>
                <p style="text-align:justify">- Nội dung chuyển khoản: <a id="noidung_chuyenkhoan" style="color:blue;text-decoration:none"></a></p>
                <input id="key_delete_dkxt_id" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="modal_tb_thanhcong_hide_click()">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    var HocBaFormData = new FormData();
    var CCCDFormData = new FormData();
    var BangTNFormData = new FormData();
    var ChungNhanFormData = new FormData();
    var UuTienFormData = new FormData();
    var check_mc_chungnhan = 0;

    let fileData = [
        { data: HocBaFormData, name: "HOCBA", savePath: "" },
        { data: CCCDFormData, name: "CCCD", savePath: "" },
        { data: BangTNFormData, name: "BANGTN", savePath: "" },
        { data: ChungNhanFormData, name: "CHUNGNHAN", savePath: "" },
        { data: UuTienFormData, name: "UUTIEN", savePath: "" },
    ];

    $(document).ready(function () {
        InitData(null, null);
        ListAllNguyenVong();
        GetAllKhoiNganh();

        $("#select_khoinganh").change(function () {
            let id = $("#select_khoinganh").val();
            GetNganhData(id);
        });

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })

        $("#files_hocba").on("change", function () {
            var files_hocba = document.getElementById('files_hocba');
            let j = 0;
            for (i = 0; i < files_hocba.files.length; i++) {
                j++;
                var uploadFileName = files_hocba.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                HocBaFormData.append(uploadFileName, files_hocba.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("HOCBA", "#FilesList_HocBa_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_HocBa_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_HocBa_View");
            $('#files_hocba').val('');
        });
        $("#files_cccd").on("change", function () {
            var files_cccd = document.getElementById('files_cccd');
            let j = 0;
            for (i = 0; i < files_cccd.files.length; i++) {
                j++;
                var uploadFileName = files_cccd.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                CCCDFormData.append(uploadFileName, files_cccd.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("CCCD", "#FilesList_CCCD_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_CCCD_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_CCCD_View");
            $('#files_cccd').val('');
        });
        $("#files_bangtn").on("change", function () {
            var files_bangtn = document.getElementById('files_bangtn');
            let j = 0;
            for (i = 0; i < files_bangtn.files.length; i++) {
                j++;
                var uploadFileName = files_bangtn.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                BangTNFormData.append(uploadFileName, files_bangtn.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("BANGTN", "#FilesList_BangTN_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_BangTN_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_BangTN_View");
            $('#files_bangtn').val('');
        });
        $("#files_chungnhan").on("change", function () {
            var files_chungnhan = document.getElementById('files_chungnhan');
            let j = 0;
            for (i = 0; i < files_chungnhan.files.length; i++) {
                j++;
                var uploadFileName = files_chungnhan.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                ChungNhanFormData.append(uploadFileName, files_chungnhan.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("CHUNGNHAN", "#FilesList_ChungNhan_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_ChungNhan_View tbody").append(markup);
            }

            check_mc_chungnhan = 1;
            $('#File_ChungNhan_Error').text('');

            CheckAttachTable("#FilesList_ChungNhan_View");
            $('#files_chungnhan').val('');
        });
        $("#files_uutien").on("change", function () {
            var files_uutien = document.getElementById('files_uutien');
            let j = 0;
            for (i = 0; i < files_uutien.files.length; i++) {
                j++;
                var uploadFileName = files_uutien.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                UuTienFormData.append(uploadFileName, files_uutien.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a class=\"btn btn-light btn-sm\"` +
                    `title='Xóa bớt tệp nếu không đúng'  onclick='DeleteUploadedFile("UUTIEN", "#FilesList_UuTien_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_UuTien_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_UuTien_View");
            $('#files_uutien').val('');
        });
    });
    function DeleteUploadedFile(FormDataName, ListId, Fileid, FileName) {
        let formData = null;
        if (FormDataName == "HOCBA") formData = HocBaFormData;
        if (FormDataName == "CCCD") formData = CCCDFormData;
        if (FormDataName == "BANGTN") formData = BangTNFormData;
        if (FormDataName == "CHUNGNHAN") formData = ChungNhanFormData;
        if (FormDataName == "UUTIEN") formData = UuTienFormData;
        formData.delete(FileName)
        $("#" + Fileid).remove();
        CheckAttachTable(ListId);
    }

    function CheckAttachTable(list) {
        if ($(`${list} tbody tr`).length > 0) {
            $(list).css("visibility", "visible");
            if (list == '#FilesList_ChungNhan_View') { check_mc_chungnhan = 1; $('#File_ChungNhan_Error').text(''); }
        } else {
            $(list).css("visibility", "hidden");
            if (list == '#FilesList_ChungNhan_View') { check_mc_chungnhan = 0; $('#File_ChungNhan_Error').text('Chưa chọn tệp chứng nhận kết quả'); }
        }
    }
    function uploadFiles() {
        var url = '/DangKyXetTuyenThang/UploadFiles';
        fileData.forEach(function (item, index) {
            var formName = item.name;
            var fileCount = 0;
            for (var pair of item.data.entries()) {
                if (pair[1] instanceof File) {
                    fileCount++;
                }
            }
            if (fileCount > 0) {
                var savedPath;
                var formData = item.data;
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    async: false,
                    success: function (response) {
                      /*  console.log(response)*/
                        if (response.success) {
                            savedPath = response.message;
                        }
                    },
                    error: function (error) {
                        console.error('Error uploading ' + formName + ' files:', error);
                    }
                });
                item.savePath = savedPath;
            }
        });
    }

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    function onResetFields() {
        $('#select_khoinganh').val("0");
        $('#Nganh_ID').val("0");
        $('#Dkxt_MonDatGiai').val("0");
        $('#Dkxt_LoaiGiai').val("0");
        $('#Dkxt_NamDatGiai').val('');
        $('#Dkxt_CapDoGiai').val('');
        $('#files_hocba').val(null);
        $('#FilesList_HocBa_View tbody').empty();
        $('#files_cccd').val(null);
        $('#FilesList_CCCD_View tbody').empty();
        $('#files_bangtn').val(null);
        $('#FilesList_BangTN_View tbody').empty();
        $('#files_chungnhan').val(null);
        $('#FilesList_ChungNhan_View tbody').empty();
        $('#files_uutien').val(null);
        $('#FilesList_UuTien_View tbody').empty();
        check_mc_chungnhan = 0;
        $('#File_ChungNhan_Error').text('');
        $('.text-danger').text('');
        HocBaFormData = new FormData();
        CCCDFormData = new FormData();
        BangTNFormData = new FormData();
        ChungNhanFormData = new FormData();
        UuTienFormData = new FormData();
        check_mc_chungnhan = 0;

        fileData = [
            { data: HocBaFormData, name: "HOCBA", savePath: "" },
            { data: CCCDFormData, name: "CCCD", savePath: "" },
            { data: BangTNFormData, name: "BANGTN", savePath: "" },
            { data: ChungNhanFormData, name: "CHUNGNHAN", savePath: "" },
            { data: UuTienFormData, name: "UUTIEN", savePath: "" },
        ];
    }

    function InitData(MonDatGiai, LoaiGiai) {
        let monList = [
            { value: 0, text: "Chọn môn" },
            { value: 1, text: "Toán" },
            { value: 2, text: "Vật lí" },
            { value: 3, text: "Hóa học" },
            { value: 4, text: "Sinh học" },
            { value: 5, text: "Tin học" },
            { value: 6, text: "Ngữ văn" },
            { value: 7, text: "Lịch sử" },
            { value: 8, text: "Địa lí" },
            { value: 9, text: "Tiếng Anh" },
            { value: 10, text: "Tiếng Nga" },
            { value: 11, text: "Tiếng Pháp" },
            { value: 12, text: "Tiếng Trung" },
        ]
        let monOptions = $('#Dkxt_MonDatGiai');
        $.each(monList, function (index, option) {
            monOptions.append($('<option>', {
                value: option.value,
                text: option.text
            }));
        });

        let giaiList = [
            { value: 0, text: "Chọn giải" },
            { value: 1, text: "Giải nhất" },
            { value: 2, text: "Giải nhì" },
            { value: 3, text: "Giải ba" },
        ]
        let giaiOptipns = $('#Dkxt_LoaiGiai');
        $.each(giaiList, function (index, option) {
            giaiOptipns.append($('<option>', {
                value: option.value,
                text: option.text
            }));
        });
    }
    function ListAllNguyenVong() {
        let _output = "";
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllNguyenVongs/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let result_all = response.data;
                let thiSinh = response.thisinh;
                if (thiSinh) {
                    let hocLuc = thiSinh.ThiSinh_HocLucLop12;
                    let hanhKiem = thiSinh.ThiSinh_HanhKiemLop12;
                    let hocLucName = "";
                    let hanhKiemName = "";
                    if (hocLuc == 1) hocLucName = "Trung bình";
                    else if (hocLuc == 2) hocLucName = "Khá";
                    else if (hocLuc == 3) hocLucName = "Giỏi";
                    else if (hocLuc == 4) hocLucName = "Xuất sắc";
                    $('#Dkxt_XepLoaiHocLuc_12').val(hocLucName);

                    if (hanhKiem == 1) hanhKiemName = "Yếu";
                    else if (hanhKiem == 2) hanhKiemName = "Trung bình";
                    else if (hanhKiem == 3) hanhKiemName = "Khá";
                    else if (hanhKiem == 4) hanhKiemName = "Tốt";
                    $('#Dkxt_XepLoaiHanhKiem_12').val(hanhKiemName);

                    $('#span_Uutien_khuvuc').text(thiSinh.ThiSinh_UTKV);
                    $('#span_Uutien_doituong').text(thiSinh.ThiSinh_UTDT);
                }
                if (!result_all || result_all.length == 0) {
                    _output += '<tr><td colspan="7"  style="text-align:center">Chưa đăng ký nguyện vọng nào!</td></tr>';
                }
                else {
                    $.each(result_all, function (i, result) {
                       /* console.log(result)*/
                        _output += '<tr>' +
                            '<td style="vertical-align: middle !important;"> NV ' + result.Dkxt_NguyenVong + "&nbsp;"+`<button class="btn btn-outline-primary btn-sm" onclick="upData(${result.Dkxt_ID})" ${i == 0 ? "disabled" : ''}>  &#8743;</button>&nbsp;<button  class="btn btn-outline-primary btn-sm" onclick="downData(${result.Dkxt_ID})" ${i == result_all.length - 1 ? "disabled" : ""}> &#8744;</button>  </td>` +
                            '<td style="vertical-align: middle !important;"> ' + result.Nganh_All.Nganh_GhiChu + ' </td>' +
                            '<td style="vertical-align: middle !important;">' + result.Dkxt_MonDatGiai + '</td>' +
                            '<td style="vertical-align: middle !important;">' + result.Dkxt_LoaiGiai + '</td>' +
                            '<td style="vertical-align: middle !important;">' + result.Dkxt_NamDatGiai + '</td>' +
                            /*'<td>' + '<a href="#" class="btn btn-outline-primary btn-sm" style="vertical-align: middle !important " title="Bấm chuột để xác nhận đăng ký nguyện vọng này"> <input type="checkbox" disabled /> Chưa xác nhận</a>' + '</td>' +*/
                            '<td style="text-align: center; vertical-align: middle !important ">' + `<button class="btn btn-light btn-sm" onclick="UpdateRecordOnclick(${result.Dkxt_ID})">Sửa</button>&nbsp; <button class="btn btn-light btn-sm" onclick="deleteRecord(${result.Dkxt_ID})">Xoá</button>`  + '</td>' +
                            '</tr>'
                    });
                }
                document.getElementById('tbody_list_nguyenvong').innerHTML = _output;
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function UpdateRecordOnclick(Dkxt_ID) {
        let str_url = '?dkxt_id=' + Dkxt_ID;
        window.location.href = "/DangKyXetTuyenThang/Edit" + str_url;
    }
    function GetAllKhoiNganh() {
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllKhoiNganh/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let data = response;
                let khoiNganhs = $('#select_khoinganh');
                khoiNganhs.empty();
                $.each(data, function (index, item) {
                    khoiNganhs.append($('<option></option>').val(item.KhoiNganh_ID).text(item.KhoiNganh_Ten));
                });
                let id = $("#select_khoinganh").val();
                GetNganhData(id);
            },
            error: function (errormessage) {
                console.log(errormessage)
            }
        });
    }

    function GetNganhData(id) { // id = KhoiNganh_ID
        $('#Nganh_ID').empty();
        $.ajax({
            url: "/DangKyXetTuyenThang/GetAllNganhs/",
            type: 'POST',
            data: JSON.stringify({
                idKhoiNganh: id
            }),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    let data = response.data
                    $.each(data, function (i, result) {
                        $('#Nganh_ID').append('<option value="' + result.Nganh_ID + '">' + result.NganhTenNganh + '</option>');
                     });
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function SubmitData() {
        $(".text-danger").text("");
        $('#noidung_chuyenkhoan').text('');

        let flag = true;

        let Select_Khoinganh = $('#select_khoinganh').val();
        let Nganh_ID = $('#Nganh_ID').val();
        let Dkxt_ToHopXT = $('#Dkxt_ToHopXT').val();
        let Dkxt_MonDatGiai_Value = $('#Dkxt_MonDatGiai').val();
        let Dkxt_LoaiGiai_Value = $('#Dkxt_LoaiGiai').val();
        let Dkxt_MonDatGiai = $('#Dkxt_MonDatGiai').find(":selected").text();
        let Dkxt_CapDoGiai = $('#Dkxt_CapDoGiai').val();
        let Dkxt_LoaiGiai = $('#Dkxt_LoaiGiai').find(":selected").text();
        let Dkxt_NamDatGiai = $('#Dkxt_NamDatGiai').val();
        let Dkxt_XepLoaiHocLuc_12 = $('#Dkxt_XepLoaiHocLuc_12').val();
        let Dkxt_XepLoaiHanhKiem_12 = $('#Dkxt_XepLoaiHanhKiem_12').val();

        if (Select_Khoinganh == 0) {
            var errorMessage = "Vui lòng chọn khối ngành";
            $('#KhoiNganh_ID_Error').text(errorMessage);
            flag = false;
        }

        if (Nganh_ID == 0) {
            var errorMessage = "Vui lòng chọn ngành";
            $('#Nganh_ID_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_MonDatGiai_Value || Dkxt_MonDatGiai_Value == "0") {
            var errorMessage = "Vui lòng chọn môn đạt giải";
            $('#Dkxt_MonDatGiai_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_CapDoGiai) {
            var errorMessage = "Vui lòng nhập tên kỳ thi";
            $('#Dkxt_CapDoGiai_Error').text(errorMessage);
            flag = false;
        }

        if (!Dkxt_LoaiGiai_Value || Dkxt_LoaiGiai_Value == "0") {
            var errorMessage = "Vui lòng chọn loại giải";
            $('#Dkxt_LoaiGiai_Error').text(errorMessage);
            flag = false;
        }
        if (!Dkxt_NamDatGiai.trim()) {
            var errorMessage = "Vui lòng nhập năm đạt giải";
            $('#Dkxt_NamDatGiai_Error').text(errorMessage);
            flag = false;
        }
        if (check_mc_chungnhan == 0) { $('#File_ChungNhan_Error').text('Chưa chọn tệp chứng nhận kết quả'); flag = false; }

        if (!flag) return;
        $("#loadingModal").modal("show");

        uploadFiles();
        let formData = {
            Nganh_ID: Nganh_ID,
            Dkxt_NamDatGiai: Dkxt_NamDatGiai,
            Dkxt_MonDatGiai: Dkxt_MonDatGiai,
            Dkxt_CapDoGiai: Dkxt_CapDoGiai,
            Dkxt_LoaiGiai: Dkxt_LoaiGiai,
            Dkxt_XepLoaiHocLuc_12: Dkxt_XepLoaiHocLuc_12,
            Dkxt_XepLoaiHanhKiem_12: Dkxt_XepLoaiHanhKiem_12,
            Dkxt_ToHopXT: Dkxt_ToHopXT,
            Dkxt_MinhChung_HB: fileData[0].savePath,
            Dkxt_MinhChung_CCCD: fileData[1].savePath,
            Dkxt_MinhChung_Bang: fileData[2].savePath,
            Dkxt_MinhChung_Giai: fileData[3].savePath,
            Dkxt_MinhChung_UuTien: fileData[4].savePath,
        }
        console.log('formData ', formData);

        $.ajax({
            url: "/DangKyXetTuyenThang/Create",
            data: JSON.stringify(formData),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                //alert(res)
                //return;
                if (res.success) {
                /*    showToast("Thông báo", "Thêm mới nguyện vọng thành công!", "bg-success");*/
                    ListAllNguyenVong();
                    $('#div_list_nguyenvong').css('display', 'inline');
                    $('#div_update_dk_nguyenvong').css('display', 'none');

                    $("#loadingModal").modal('hide');
                    thongbao_dangky_thanhcong(res.data);
                    onResetFields();
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
                    $("#loadingModal").modal('hide');
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
                $("#loadingModal").modal('hide');
            }
        });
    }

    function deleteRecord(_dkxt_id) {
        $('#modal_tb_xoa').modal('show');
        $('#key_delete_dkxt_id').val(_dkxt_id);
    }

    function deleteRecordConfirmed() {
        let data = {
            idDkxt: $('#key_delete_dkxt_id').val(),
        };
        $.ajax({
            url: "/DangKyXetTuyenThang/Delete",
            data: JSON.stringify(data),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.status == true) {
                    ListAllNguyenVong();
                    $('#modal_tb_xoa').modal('hide');
                    showToast("Thông báo", "Đã thực hiên xóa nguyện vọng!", "bg-success");
                }
                else {
                    showToast("Lỗi", res.msg, "bg-success");
                }

            },
            error: function (errormessage) {
                showToast("Thông báo", "Lỗi! Chưa thể xóa theo yêu cầu!", "bg-success");
            }
        });
    }

    function deleteRecordCancel() {
        $('#modal_tb_xoa').modal('hide');
        $('#key_delete_dkxt_id').val('');
    }

    function bt_Update_on_table_Click(_dkxt_id) {
        $('#key_delete_dkxt_id').val(_dkxt_id);
        get_data_for_update_dkvn(_dkxt_id)

    }

    function bt_Insert_Dknv_on_divView_Click(khoinganh_key, nganh_key, tohopmon_key) {

        GetAllKhoiNganh();
        document.getElementById('div_list_nguyenvong').style.display = "none";
        document.getElementById('div_update_dk_nguyenvong').style.display = "inline";
        key_dkxt_id_post = -1;
        onResetFields();
    }

    function _bt_HuyBo_Dkxt_NVM_OnClick(khoinganh_key, nganh_key, tohopmon_key) {
        onResetFields();
        document.getElementById('div_list_nguyenvong').style.display = "inline";
        document.getElementById('div_update_dk_nguyenvong').style.display = "none";
        key_dkxt_id_post = -1;
    }


    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }

    $(document).ready(function () {
        $('#bt_xuat_phieu_tong_hop_kq').click(function () {
            window.location.href = '/ExportFile/DownloadFile_XetTuyenThang';
        });
    });

    function upData(value) {
        var obj = { idDkxt: value };
        $.ajax({
            url: '/DangKyXetTuyenThang/upData',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thành công!", "bg-success");
                ListAllNguyenVong();
            }
            else {
                showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
            }
        }).fail(function (error) {
            showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
        });
    }

    function downData(value) {
        var obj = { idDkxt: value };
        $.ajax({
            url: '/DangKyXetTuyenThang/downData',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thành công!", "bg-success");
                ListAllNguyenVong();
            }
            else {
                showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
            }
        }).fail(function (error) {
            showToast("Thông báo", "Thay đổi thứ tự nguyện vọng thất bại!", "bg-error");
        });
    }

    function deleteData_cuong(value) {
        var obj = { idDkxt: value };
        var result = confirm("Bạn chắc chắn xóa dữ liệu này?");
        if (result) {
            $.ajax({
            url: '@Url.Action("Delete", "DangKyXetTuyenThang")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                showToast("Thông báo", "Đã thực hiên xóa nguyện vọng!", "bg-success");
                ListAllNguyenVong()
            }
            else {
                showToast("Lỗi", "Chưa thể xóa theo yêu cầu!", "bg-success");
                alert(response.msg);
            }
        }).fail(function (error) { alert(error.StatusText);});
        }
    }
</script>
