@{
    ViewBag.Title = "Đăng ký dự thi năng khiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .label_tieude {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }

    #loadingModal {
        background-color: rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Đăng ký dự thi năng khiếu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<input type="hidden" style="display:none" id="hidden_Dkdt_NK_ID" />

<script>
    //Phần hiển thị dữ liệu ban đầu
    $(document).ready(function () {
        LoadDataDKDTNangKhieu()
    })
    function LoadDataDKDTNangKhieu() {
        $.ajax({
            url: '/DangKyXetTuyens/Dkdtnk_GetData',
            type: "GET",
            contentType: false,
            processData: false,
            async: false,
            success: function (res) {
                let data = res.data;
                console.log('data', data);
                if (!res.success) {

                    //Hiển thị dữ liệu các ngành
                    select_nganh_view_data(0, 0);
                    reset_fields_controll_disabled_true();
                    $('#div_group_bt_add_data').show();
                    $('#div_input_file_update_mc').show();

                    $('#div_group_bt_view_data').hide();
                    $('#div_group_mc_noplephi').hide();
                    $('#span_tieude').text('Đăng ký nguyện vọng mới')

                    // hiển thị thông tin đợt đăng ký dự thi năng khiếu:
                    $('#Dxt_Ten').val(data.dxt_Ten);
                    $('#Dxt_ThoiGian_BatDau').val(data.dxt_ThoiGian_BatDau);
                    $('#Dxt_ThoiGian_KetThuc').val(data.dxt_ThoiGian_KetThuc);

                }
                else {

                    $('#span_tieude').text('Nguyện vọng đã đăng ký dự thi')
                    $('#hidden_Dkdt_NK_ID').val(data.Dkdt_NK_ID);
                    // hiển thị thông tin đợt đăng ký dự thi năng khiếu:
                    $('#Dxt_Ten').val(data.Dxt_Ten);
                    $('#Dxt_ThoiGian_BatDau').val(data.Dxt_ThoiGian_BatDau);
                    $('#Dxt_ThoiGian_KetThuc').val(data.Dxt_ThoiGian_KetThuc);

                    // hiển thị thông tin ngành đã đăng ký
                    $("#select_nganh").empty();
                    $('#select_nganh').append('<option value="' + data.Nganh_ID + '">' + data.Nganh_TenNganh + '</option>');

                    $("#select_tohopmon").empty();
                    $('#select_tohopmon').append('<option value="' + data.Thm_ID + '">' + data.Thm_TenToHop + '</option>');
                    $('#txt_dangky_monnangkhieu').val(data.Dkdt_NK_MonThi);

                    if (data.Dkdt_LePhi_MinhChung_Tep) {
                        $("#img_view_mclp").attr("src", data.Dkdt_LePhi_MinhChung_Tep);
                        $('#span_tieude_hinhanh').text('Hình ảnh minh chứng đã nộp lệ phí');
                    }
                    else {
                        $("#img_view_mclp").attr("src", "/Content/images/no-money.png");
                        $('#span_tieude_hinhanh').text('Mẫu minh chứng đã nộp lệ phí');
                    }

                    if (data.Dkdt_LePhi_MinhChung_MaThamChieu) {
                        $('#KinhPhi_SoTC').val(data.Dkdt_LePhi_MinhChung_MaThamChieu);
                    }

                    if (data.Dkdt_TrangThai_LePhi == 0) {
                        $('#KinhPhi_SoTC').val('')
                        $("#img_view_mclp").attr("src", "/Content/images/no-money.png");
                        $('#span_tieude_hinhanh').text('Mẫu minh chứng đã nộp lệ phí');
                    }

                    $('#div_group_bt_add_data').hide();
                    $('#div_group_bt_view_data').show();
                    // hiển thị dữ liệu cccd đã upload
                    $('#div_show_file_mc').empty();

                    if (data.Dkdt_NK_MinhChung_CCCD != null && data.Dkdt_NK_MinhChung_CCCD.length > 6) {
                        const ArrCcCongDan = data.Dkdt_NK_MinhChung_CCCD.split("#");
                        for (i = 0; i < ArrCcCongDan.length; i++) {
                            if (ArrCcCongDan[i].length > 0) {
                                var str_a = ` <a class="btn btn-light btn-sm" style="color:blue" onclick="showimg('${ArrCcCongDan[i]}', ${data.dkdt_NK_ID} )">Tệp ${i + 1}</a> `;
                                $('#div_show_file_mc').append(str_a);
                            }
                        }
                        $('#checkbox_check_cccd').attr('checked');

                    }
                    else {
                        $('#checkbox_check_cccd').removeAttr('checked');
                        var str_a = ` <a>Không có dữ liệu</a> `;
                        $('#div_show_file_mc').append(str_a);
                    }
                    $('#div_show_file_mc').show();
                    $('#div_input_file_update_mc').hide();

                    // hiển thị dữ liệu nộp lệ phí
                    $('#div_show_file_mc_noplephi').empty();
                    $('#div_show_file_mc_noplephi').show();

                    if (data.Dkdt_LePhi_MinhChung_MaThamChieu) {
                        var str_matc = data.Dkdt_LePhi_MinhChung_MaThamChieu;
                        $('#div_show_file_mc_noplephi').append('Mã tham chiếu: ' + str_matc);
                    }
                    else {
                        var str_a = ` <a style="color:red; text-decoration:none; margin-bottom:30px;  margin-top:25px">Chưa có dữ liệu</a> `;
                        $('#div_show_file_mc_noplephi').append(str_a);
                    }
                }
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });
    }
    // phần hiển thị dữ liệu lên dropdownlist
    function select_nganh_view_data(nganh_key, tohopmon_key) { // id = KhoiNganh_ID
        $("#select_nganh").empty();
        $.ajax({
            url: "/DangKyXetTuyens/NganhListForThiNK/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (result_all) {
                $('#select_nganh').append('<option value="0">Chọn ngành</option>');
                $.each(result_all, function (i, result) {
                    $('#select_nganh').append('<option value="' + result.nganh_ID + '">' + result.nganh_GhiChu + '</option>');
                });
                $('#select_nganh').val(nganh_key);
                select_tohopmon_view_data(nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function select_tohopmon_view_data(id, tohopmon_key) { // id = Nganh_ID
        $("#select_tohopmon").empty();
        $.ajax({
            url: "/DangKyXetTuyens/ToHopMonNganhListAll_ThiNK/" + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (result_all) {
                $('#select_tohopmon').append('<option value="0">Chọn tổ hợp môn</option>');
                $.each(result_all, function (i, result) {
                    $('#select_tohopmon').append('<option value="' + result.thm_ID + '">' + result.thm_MaTen + '</option>');
                });
                $('#select_tohopmon').val(tohopmon_key);
            },
            error: function () {
                console.log("Lỗi lấy dữ liệu tổ hợp môn");
            }
        });
    }

    // Hết phần hiển thị dữ liệu lên dropdownlist

    // hiển thị đợt thi hiện tại để thí sinh đăng ký

    $(document).ready(function () {
        $("#select_nganh").change(function () {
            select_tohopmon_view_data($("#select_nganh").val(), 0);
            $('#txt_dangky_monnangkhieu').val("Chưa chọn");
            reset_fields_controll_disabled_true();
        });

        $("#select_tohopmon").change(function () {
            $('#MonThiNangKhieu_Error').val("Chưa chọn");
            let dataObj = {
                Thm_ID: $("#select_tohopmon").val()
            }
            if (dataObj.Thm_ID == 0) {
                $('#txt_dangky_monnangkhieu').val("Chưa chọn");
                reset_fields_controll_disabled_true();
            }
            else {
                $.ajax({
                    url: "/DangKyXetTuyens/ToHopMonListForThiNK",
                    data: JSON.stringify(dataObj),
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (res) {
                        //  console.log(res);

                        $('#txt_dangky_monnangkhieu').val(res.thm_Mon3);
                        reset_fields_controll_disabled_false();
                    },
                    error: function (errormessage) {
                        console.log(errormessage.error);
                    }
                });
            }
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })
        $('input').on('input', function () {
            hideErrorMessage($(this));
        });
    });
    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }


    // phần upload file file client
    var check_in_file_cccd_upload = false;
    var formdata_file_cccd = new FormData(); //FormData object giaytout
    $(document).ready(function () {
        $("#files_cancuoccd").on("change", function () {
            var files_cancuoccd = document.getElementById('files_cancuoccd');
            for (i = 0; i < files_cancuoccd.files.length; i++) {
                var sfilename_cccd = files_cancuoccd.files[i].name;
                let srandomid_cccd = Math.random().toString(36).substring(7);
                formdata_file_cccd.append(sfilename_cccd, files_cancuoccd.files[i]);
                var markup_cccd = "<tr id='" + srandomid_cccd + "'><td>" + sfilename_cccd + "</td><td style='width: 60px!important;'><a style='text-decoration:none'  class=\"btn btn-light btn-sm\" onclick='DeleteFile_CCCD_Upload(\"" + srandomid_cccd + "\",\"" + sfilename_cccd + "\")'>Xóa</a></td></tr>";
                $("#FilesList_CCCD_View tbody").append(markup_cccd);
            }
            chkatchtbl_cccd();
            $('#files_cancuoccd').val('');
        });

    });
    function DeleteFile_CCCD_Upload(Fileid, FileName) {
        formdata_file_cccd.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_cccd();
    }
    function chkatchtbl_cccd() {
        if ($('#FilesList_CCCD_View tr').length > 0) {
            $("#FilesList_CCCD_View").css("visibility", "visible");
            check_in_file_cccd_upload = true;
        }
        else {
            $("#FilesList_CCCD_View").css("visibility", "hidden");
            check_in_file_cccd_upload = false;
            if (!check_in_file_cccd_upload) { var errorMessage = "Vui lòng upload tệp căn cước công dân"; $('#CCCD_Error').text(errorMessage); }
        }
    }
    // hết phần xử lý upload file client


    // button thêm mới
    $(document).ready(function () {
        $('#bt_ok_div_exam_registration').click(function () {
            let flag = true;
            let _nganh_ID = $('#select_nganh').val();
            let _thm_ID = $('#select_tohopmon').val();

            let _dkdt_NK_MonThi = $('#txt_dangky_monnangkhieu').val();
            if (_nganh_ID == 0) { var errorMessage = "Vui lòng chọn ngành"; $('#Nganh_ID_Error').text(errorMessage); flag = false; }
            if (_thm_ID == 0) { var errorMessage = "Vui lòng chọn tổ hợp môn"; $('#Thm_ID_Error').text(errorMessage); flag = false; }

            if (!check_in_file_cccd_upload) { var errorMessage = "Vui lòng upload tệp CCCD"; $('#CCCD_Error').text(errorMessage); flag = false; }

            if (!flag) return;
            let _dkdt_NK_MinhChung_CCCD = "";

            /* thực hiện upload file*/
            $.ajax({
                url: '/DangKyXetTuyens/DangKyDuThi_UploadFile_Multi',
                type: "POST",
                contentType: false,
                processData: false,
                data: formdata_file_cccd,
                async: false,
                success: function (res) {
                    _dkdt_NK_MinhChung_CCCD = res._MinhChung_CCCD;
                },
                error: function (err) {
                    console.log(err.statusText);
                }
            });
            /*hết phần upload file*/

            /*phần khai báo đối tượng*/
            let data_Obj_new = {
                Nganh_ID: _nganh_ID,
                Thm_ID: _thm_ID,
                Dkdt_NK_MonThi: _dkdt_NK_MonThi,
                Dkdt_NK_MinhChung_CCCD: _dkdt_NK_MinhChung_CCCD,
            }
            /*hết phần khai báo đối tượng*/

            $("#loadingModal").modal("show");
            $.ajax({
                url: "/DangKyXetTuyens/DangKyDuThi_NangKhieu_Insert",
                data: JSON.stringify(data_Obj_new),
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (res) {
                    if (res.success) {
                        $("#loadingModal").modal("hide");
                        showToast("Thông báo", "Đã thực hiện đăng ký dự thi thành công!", "bg-success");
                        window.location.href = '/DangKyXetTuyens/Dkdtnk';

                    } else {
                        showToast("Thông báo", "Có lỗi xảy ra khi thêm mới!", "bg-error");
                        $("#loadingModal").modal("hide");
                    }
                },
                error: function (errormessage) {
                    showToast("Thông báo", "Có lỗi xảy ra khi thêm mới!", "bg-error");
                    $("#loadingModal").modal("hide");
                }
            });
        })
    })
    // hết phần button thêm mới
    function reset_fields_controll_disabled_false() {
        $('#files_cancuoccd').val(null);
        $('#files_cancuoccd').prop('disabled', false);
        $("#FilesList_CCCD_View tbody").empty();
    }
    function reset_fields_controll_disabled_true() {
        $('#files_cancuoccd').val(null);
        $('#files_cancuoccd').prop('disabled', true);
        $("#FilesList_CCCD_View tbody").empty();
    }
    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

</script>

@*Phần hiển thị dữ liệu minh chứng lệ phí*@
<script>
    function showimg(url) {
        $("#hiden_duongdan_file_xoa").val(url);         
        var pdf_view = document.getElementById("pdf_view");
        pdf_view.style.display = "none";
        pdf_view.style.height = "0px";

        $('#img_view').hide();
        $("#img_view").attr("src", "");
        var lastChar = url.substr(url.length - 4); // => kiểm tra file pdf hoặc img

        if (lastChar.toLowerCase() != ".pdf") {
            pdf_view.style.display = "none";
            pdf_view.style.height = "0px";

            $("#img_view").attr("src", url);
            $("#img_view").show();
        }
        if (lastChar.toLowerCase() === ".pdf") {
            $("#img_view").hide();
            pdf_view.style.display = "inline";
            pdf_view.style.height = "500px";
            $("#pdf_view").attr("src", url);
            $("#pdf_view").show();
        }
        $('#div_view_img').show();
    }
    $(document).ready(function () {
        $('#bt_close_div_view_img').click(function () {
            $('#div_view_img').hide();
            $("#img_view").attr("src", "");
            $("#pdf_view").attr("src", "");
            $('#img_txt_card_hearder').text('Hình ảnh minh chứng');
        });
    });
</script>

@*Phần nộp minh chứng lệ phí*@

<script>
    $(document).ready(function () {
        $('#bt_ok_on_modal_tb_xoa').click(function () {
            let data_delete = { Dkdt_NK_ID: $('#hidden_Dkdt_NK_ID').val() }
            $('#modal_tb_xoa').modal('hide');
            $('#loadingModal').modal('show');
            $.ajax({
                url: "/DangKyXetTuyens/DangKyDuThi_NangKhieu_Delete",
                type: "POST",
                data: JSON.stringify(data_delete),
                contentType: "application/json;charset=utf-8",
                success: function (res) {
                    window.location.href = '/DangKyXetTuyens/Dkdtnk'
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                }
            });
        });
    });
</script>
<script>
    function bt_update_div_exam_view_data() {
        window.location.href = '/DangKyXetTuyens/DkdtnkEdit'
    }

</script>
<div class="container-fluid px-12">
    <div id="div_exam_registration_new">
        <div class="card card-header-actions">
            <div class="card-header">
                <span id="span_tieude">Đăng ký nguyện vọng mới</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-4">
                        <div class="row md-0">
                            <div class="col-xxl-12 mb-0">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Đợt dự thi môn năng khiếu <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td>
                                                <div class="row  align-items-center">
                                                    <div class="col-4">
                                                        <label class="col-form-label">Đợt thi</label>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" id="Dxt_Ten" disabled />
                                                        <span id="DotThi_Error" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row align-items-center">
                                                    <div class="col-4">
                                                        <label class="col-form-label">Từ ngày</label>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" id="Dxt_ThoiGian_BatDau" disabled />
                                                        <span id="ThoiGianBatDau_Error" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <div class="row align-items-center">
                                                    <div class="col-4">
                                                        <label class="col-form-label">Đến ngày</label>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" id="Dxt_ThoiGian_KetThuc" disabled />
                                                        <span id="ThoiGianKetThuc_Error" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Chọn ngành và tổ hợp môn <font color="red">(*)</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row g-3 align-items-center">
                                            <div class="col-4">
                                                <label class="col-form-label">Ngành</label>
                                            </div>
                                            <div class="col-8">
                                                <select id="select_nganh" class="form-select"></select>
                                                <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="row g-3 align-items-center">
                                            <div class="col-4">
                                                <label class="col-form-label">Tổ hợp môn</label>
                                            </div>
                                            <div class="col-8">
                                                <select id="select_tohopmon" class="form-select"></select>
                                                <span id="Thm_ID_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row g-3 align-items-center">
                                            <div class="col-4">
                                                <label class="col-form-label">Tên môn thi</label>
                                            </div>
                                            <div class="col-8">
                                                <input id="txt_dangky_monnangkhieu" type="text" class="form-control input-monhoc" value="Chưa chọn" disabled />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xxl-4">
                        <div class="row mb-0">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Dữ liệu minh chứng <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <label class="form-label">Căn cước công dân (<span id="div_show_file_mc"></span>)</label>

                                                        <div class="col-md-12">
                                                            <input class="form-control" id="files_cancuoccd" multiple="multiple" name="files_cancuoccd" type="file" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            <span id="CCCD_Error" class="small mb-1 text-danger"></span>
                                                        </div>
                                                        <div class="col-xxl-12">
                                                            <table class="table mt-0 mb-0" id="FilesList_CCCD_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_bangtn" /></th></tr></table>
                                                        </div>

                                                        <div class="form-group mb-0">
                                                            <div class="col-md-12" id="div_group_mc_noplephi">
                                                                <hr />
                                                                <label class="col-12 mb-1" id="label_thongbaomc_noplp">Nộp lệ phí <a href="#" style="text-decoration:none" id="bt_capnhat_mc_lephi">(Cập nhật)</a></label>
                                                                <div class="col-md-12" id="div_show_file_mc_noplephi"></div>
                                                                <script>
                                                                    $(document).ready(function () {
                                                                        $('#bt_capnhat_mc_lephi').click(function () {
                                                                            $('#modal_update_mc_lephi').modal('show');
                                                                        })
                                                                    });

                                                                    $(document).ready(function () {
                                                                        $('#bt_update_mc_lephi').click(function () {
                                                                            $('#txt_sothamchieu').val('');
                                                                            $('#file_upload_minhchung_noplephi').val('');
                                                                            $('#modal_update_mc_lephi').modal('show');
                                                                        })
                                                                    });
                                                                </script>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-12" style="text-align: center; display: none" id="div_group_bt_add_data">
                        <input class="btn btn-primary col-lg-2 col-sm-8" id="bt_ok_div_exam_registration" type="button" value="Đăng ký dự thi" />
                    </div>
                </div>
                <div class="row mb-3" style="margin-top:7px; display:none" id="div_group_bt_view_data">
                    <div class="col-lg-12" style="text-align:center">
                        <input class="btn btn-outline-success " onclick="bt_export_exam_data_click()" type="button" value="Xuất phiếu" />
                        <script>function bt_export_exam_data_click() { alert('mr Cường làm') }</script>
                        <input class="btn btn-outline-primary " onclick="bt_update_div_exam_view_data()" type="button" value="Chỉnh sửa" />
                        <input class="btn btn-outline-danger " onclick="bt_delete_div_exam_view_data_click()" type="button" value="Xóa" />
                        <script>function bt_delete_div_exam_view_data_click() { $('#modal_tb_xoa').modal('show'); }</script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div_view_img" style="display:none">
        <div class="row">
            <div class="col-xl-12 mt-2">
                <div class="card card-header-actions">
                    <div class="card-header mt-0 mb-0">
                        <span id="img_txt_card_hearder">Hình ảnh minh chứng</span>
                        <div>
                            <button class="btn btn-outline-danger btn-sm" type="button" id="bt_delete_img_mc" onclick="bt_delete_img_mc_click()">Xóa</button>
                            <script>function bt_delete_img_mc_click() { $('#modal_tb_xoa_mc_cccd').modal('show'); }</script>
                            <button class="btn btn-outline-primary btn-sm" type="button" id="bt_close_div_view_img">Đóng</button>
                        </div>

                    </div>
                    <div class="card-body" style="margin: 0px!important">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" id="div_item_view_minhchung">
                                    <img class="d-block w-100 img-hide" id="img_view" display:none">
                                    <embed id="pdf_view" class="d-block w-100" style="height:500px; display:none" type="application/pdf" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="bt_close_click()"></button>
                <script>function bt_close_click() { $('#modal_tb_xoa').modal('hide'); }</script>

            </div>
            <div class="modal-body">
                <span>Bạn chắc chắn xóa nguyện vọng này?</span>
                <input id="key_delete_dkdt_nk_id" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="bt_close_click()">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_ok_on_modal_tb_xoa">Đồng ý</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_tb_xoa_mc_cccd" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa_mc_cccd" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="bt_close_click2()"></button>
                <script>function bt_close_click2() { $('#modal_tb_xoa_mc_cccd').modal('hide'); }</script>

            </div>
            <div class="modal-body">
                <span>Bạn chắc chắn xóa dữ liệu này?</span>
                <input id="hiden_duongdan_file_xoa" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="bt_close_click2()">Hủy</button>
                <button class="btn btn-primary" type="button" onclick="bt_ok_on_modal_tb_xoa_mc_cccd_click()">Đồng ý</button>
                <script>
                    function bt_ok_on_modal_tb_xoa_mc_cccd_click() {
                       
                        $('#modal_tb_xoa').modal('hide');
                        $('#loadingModal').modal('show');

                        let data_cccd = {
                            Dkdt_NK_ID: $('#hidden_Dkdt_NK_ID').val(),
                            Dkdt_NK_MinhChung_CCCD: $('#hiden_duongdan_file_xoa').val(),
                        }
                        $.ajax({
                            url: "/DangKyXetTuyens/DangKyDuThi_NangKhieu_DeleteMC",
                            type: "POST",
                            data: JSON.stringify(data_cccd),
                            contentType: "application/json;charset=utf-8",
                            success: function (res) {
                                window.location.href = '/DangKyXetTuyens/Dkdtnk'
                            },
                            error: function (errormessage) {
                                console.log(errormessage.responseText);
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_update_mc_lephi" tabindex="-1" role="dialog" aria-labelledby="modal_dongphi" aria-hidden="true">
    <div class="modal modal-dialog  modal-xl modal-body modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_dongphi">Minh chứng nộp lệ phí</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="onCancel()"></button>

            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <span>Thông tin giao dịch</span>
                            <hr class="mt-2 mb-3" />
                            <div class="row g-1 mb-2">
                                <div class="col-lg-6 col-sm-12">
                                    <label class="col-form-label ">Mã giao dịch (số tham chiếu):</label>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <input id="KinhPhi_SoTC" class="form-control" placeholder="Mã giao dịch" />
                                    <span id="KinhPhi_SoTC_Error" class="small mb-1 text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    <label class="form-label">Cập nhật tệp minh chứng</label>
                                </div>
                            </div>

                            <div class="row table-responsive">
                                <div class="col-12 ">
                                    <input class="form-control" id="file_minhchung" name="file_minhchung" type="file" data-val="true" accept=".PNG, .JPEG, .JPG" />
                                    <table class="table " id="FilesList_KinhPhi_TepMinhChung_View" style="visibility:hidden; width: 100%">
                                        <tr style="display:none">
                                            <th colspan="2"><input type="hidden" id="KinhPhi_TepMinhChung_Files" /></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7 col-sm-12">
                            <span id="span_tieude_hinhanh" class="text-primary">Hình ảnh mẫu minh chứng đã nộp lệ phí</span>
                            <hr class="mt-2 mb-3" />
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" id="div_item_view_minhchung">
                                        <img class="d-block w-100 img-hide" id="img_view_mclp">
                                        <input type="hidden" id="key_dkxt_id" style="display:none" />
                                        <input type="hidden" id="key_dkxt_pt" style="display:none" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="onCancel()">Hủy</button>
                <button class="btn btn-primary" type="button" onclick="onSubmit()">Đồng ý</button>
                <script>
                    function onCancel() {
                        $('#modal_update_mc_lephi').modal('hide');
                        $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();
                        LoadDataDKDTNangKhieu();
                    }
                    var MinhChungFormData = new FormData();
                    var MinhChungPath = "";

                    $('document').ready(function () {
                        $('input').on('input', function () {
                            hideErrorMessage($(this));
                        });

                        $('select').on('input', function () {
                            hideErrorMessage($(this));
                        })

                        $("#file_minhchung").on("change", function () {
                            MinhChungFormData = new FormData();
                            $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();

                            var file_minhchung = document.getElementById('file_minhchung');
                            let j = 0;
                            for (i = 0; i < file_minhchung.files.length; i++) {
                                j++;
                                var uploadFileName = file_minhchung.files[i].name;
                                let uploadFileId = Math.random().toString(36).substring(7);
                                MinhChungFormData.append(uploadFileName, file_minhchung.files[i]);
                                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none'` +
                                    `title='Xóa bớt tệp nếu không đúng' class='btn btn-light btn-sm' onclick='DeleteUploadedFile("#FilesList_KinhPhi_TepMinhChung_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                                $("#FilesList_KinhPhi_TepMinhChung_View tbody").append(markup);
                            }
                            CheckAttachTable("#FilesList_KinhPhi_TepMinhChung_View");
                            $('#file_minhchung').val('');
                        });
                    })

                    function DeleteUploadedFile(ListId, Fileid, FileName) {
                        let formData = MinhChungFormData;
                        formData.delete(FileName)
                        $("#" + Fileid).remove();
                        CheckAttachTable(ListId);
                    }

                    function CheckAttachTable(list) {
                        if ($(`${list} tr`).length > 0) {
                            $(list).css("visibility", "visible");
                        } else {
                            $(list).css("visibility", "hidden");
                        }
                    }
                    function uploadFiles() {
                        MinhChungPath = "";
                        var url = '/DangKyXetTuyens/DkdtNK_UploadLePhiMinhChung';
                        var fileCount = 0;
                        for (var pair of MinhChungFormData.entries()) {
                            if (pair[1] instanceof File) {
                                fileCount++;
                            }
                        }
                        if (fileCount > 0) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: MinhChungFormData,
                                processData: false,
                                contentType: false,
                                async: false,
                                success: function (response) {
                                    if (response.success) {
                                        MinhChungPath = response.message;
                                    }
                                },
                                error: function (error) {
                                    console.error('Error uploading files:', error);
                                }
                            });
                        }
                    }

                    function onSubmit() {

                        let flag = true;
                        let key_dkxt_id = $("#hidden_Dkdt_NK_ID").val();
                        let KinhPhi_SoTC = $('#KinhPhi_SoTC').val();
                        let key_dkxt_pt = 7;

                        if (!KinhPhi_SoTC) {
                            var errorMessage = "Vui lòng nhập số tham chiếu";
                            $('#KinhPhi_SoTC_Error').text(errorMessage);
                            flag = false;
                        }
                        if (!flag) return;
                        $('#modal_update_mc_lephi').modal('hide');
                        $("#loadingModal").modal("show");
                        uploadFiles();
                        if (MinhChungPath == '') { MinhChungPath = 'KHONGSUA' };
                        let formData = {
                            KinhPhi_SoTC: KinhPhi_SoTC,
                            KinhPhi_TepMinhChung: MinhChungPath,
                            key_dkxt_id: key_dkxt_id,
                            key_dkxt_pt: key_dkxt_pt
                        }

                        console.log(formData);

                        $.ajax({
                            url: "/DangKyXetTuyens/DkdtNK_Update_ThongTinLePhi",
                            data: JSON.stringify(formData),
                            type: 'POST',
                            contentType: 'application/json;charset=utf-8',
                            dataType: 'json',
                            success: function (res) {
                                if (res.success) {
                                    showToast("Thông báo", "Đóng lệ phí thành công!", "bg-success");
                                    LoadDataDKDTNangKhieu();
                                    $("#loadingModal").modal("hide");
                                } else {
                                    showToast("Thông báo", "Có lỗi xảy ra khi đóng lệ phí!", "bg-error");
                                    $("#loadingModal").modal("hide");
                                    $('#modal_dongphi').modal('hide');
                                }
                            },
                            error: function (errormessage) {
                                showToast("Thông báo", "Có lỗi xảy ra khi đóng lệ phí!", "bg-error");
                                $("#loadingModal").modal("hide");
                                $('#modal_dongphi').modal('hide');
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>


<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="bt_close_click()"></button>
                <script>function bt_close_click() { $('#modal_tb_xoa').modal('hide'); }</script>
            </div>
            <div class="modal-body">
                <span>Bạn chắc chắn xóa nguyện vọng này?</span>
                <input id="key_delete_dkdt_nk_id" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="bt_close_click()">Hủy</button>
                <button class="btn btn-primary" type="button" onclick="bt_ok_on_modal_tb_xoa_Click()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#bt_delete_div_exam_view_data').click(function () {
            $('#modal_tb_xoa').modal('show');
        });

        $('#bt_ok_on_modal_tb_xoa').click(function () {

            let data_delete = { Dkdt_NK_ID: $('#hidden_Dkdt_NK_ID').val() }
            $('#modal_tb_xoa').modal('hide');
            $('#loadingModal').modal('show');
            $.ajax({
                url: "/DangKyXetTuyens/DangKyDuThi_NangKhieu_Delete",
                type: "POST",
                data: JSON.stringify(data_delete),
                contentType: "application/json;charset=utf-8",
                success: function (res) {
                    window.location.href = '/DangKyXetTuyens/Dkdtnk'
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                }
            });
        });
    });
</script>
