
@{
    ViewBag.Title = "dkdtnk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .label_tieude {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .padding_input_text_number {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Đăng ký dự thi năng khiếu</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div id="div_list_registration">
        <div class="card card-header-actions">
            <div class="card-header">
                <span>Các nguyện vọng đã đăng ký</span>
            </div>
            <input type="hidden" id="dkxt_thptqg_id_checkin" style="display:none!important" />
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align:middle;">Ngành</th>
                                    <th style="vertical-align:middle;">Tổ hợp môn</th>
                                    <th style="vertical-align:middle;">Môn thi NK</th>
                                    <th style="vertical-align:middle; text-align:center; ">Cập nhật</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_list_dkdt_nk">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <center>
                            <button id="bt_xuat_phieu_tong_hop_kq" class="btn btn-outline-success">Xuất phiếu tổng hợp</button>
                            <a class="btn btn-outline-primary" id="bt_add_div_list_registration">Thêm nguyện vọng</a>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <p style="color:red; font-style:italic" class="mb-1">Lưu ý: </p>
                        <p style="color:red; font-style:italic; text-align:justify" class="mb-1">-Thí sinh cần nộp lệ phí dự thi bằng cách chuyển khoản và gửi minh chứng trong phần thông tin lệ phí (ảnh chụp giao dịch chuyển tiền).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_exam_registration" style="display:none">
        <div class="card card-header-actions">
            <div class="card-header">
                <span>Đăng ký nguyện vọng mới</span>
                <button class="btn-close" id="bt_close_div_exam_registration_first" type="button" aria-label="Close"></button>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-4">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Chọn ngành và tổ hợp môn <font color="red">(*)</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row g-3 align-items-center">
                                            <div class="col-4">
                                                <label for="select_namtn" class="col-form-label">Ngành</label>
                                            </div>
                                            <div class="col-8">
                                                <select id="select_nganh" class="form-select"></select>
                                                <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="row g-3 align-items-center">
                                            <div class="col-4">
                                                <label for="select_namtn" class="col-form-label">Tổ hợp môn</label>
                                            </div>
                                            <div class="col-8">
                                                <select id="select_tohopmon" class="form-select"></select>
                                                <span id="Thm_ID_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xxl-4">
                        <div class="row md-0">
                            <div class="col-xxl-12 mb-0">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Đăng ký dự thi môn năng khiếu <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td>
                                                <div class="row g-3 align-items-center">
                                                    <div class="col-5">
                                                        <label for="select_namtn" class="col-form-label">Năm tốt nghiệp</label>
                                                    </div>
                                                    <div class="col-7">
                                                        <select class="form-select" id="select_namtn"></select>
                                                        <span id="NamTotNghiep_Error" class="small mb-1 text-danger"></span>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row g-3 align-items-center">
                                                    <div class="col-5">
                                                        <label for="select_namtn" class="col-form-label">Môn thi năng khiếu</label>
                                                    </div>
                                                    <div class="col-7">
                                                        <input id="txt_dangky_monnangkhieu" type="text" class="form-control input-monhoc" value="Chưa chọn" disabled />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <div class="row mb-0">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Dữ liệu minh chứng <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-0">
                                                            <label for="files_cancuoccd" class="form-label">Căn cước công dân</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_cancuoccd" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file Bằng TN" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                                <span id="CCCD_Error" class="small mb-1 text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table mt-0 mb-0" id="FilesList_CCCD_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_bangtn" /></th></tr></table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-xxl-12" style="text-align:center">
                                <input class="btn btn-primary col-5 col-auto" id="bt_ok_div_exam_registration" type="button" value="Đồng ý" />
                                <input class="btn btn-secondary col-5 col-auto" id="bt_close_div_exam_registration_second" type="button" value="Hủy bỏ" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Toast Title</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_delete_first"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn chắc chắn xóa nguyện vọng này?</span>
                    <input id="key_delete_dkxt_kqtthptqg_id" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_delete_second">Hủy</button>
                    <button class="btn btn-primary" type="button" id="bt_ok_on_modal_delete">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_tb_thaydoinv" tabindex="-1" role="dialog" aria-labelledby="modal_tb_thaydoinv" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_tb_thaydoinv">Thông báo</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_change_first"></button>
                </div>
                <div class="modal-body">
                    <span id="infor_change">Bạn chắc chắn thay đổi nguyện vọng này?</span>
                    <input id="key_change_dkxt_kqtthptqg_id" type="hidden" />
                    <input id="key_check_down_up" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_change_second">Hủy</button>
                    <button class="btn btn-primary" type="button" id="bt_ok_on_modal_change">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_delete_first"></button>
            </div>
            <div class="modal-body">
                <span>Bạn chắc chắn xóa nguyện vọng này?</span>
                <input id="key_delete_dkdt_nk_id" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_delete_second">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_ok_on_modal_delete">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        ts_dkxt_thptqg_list_all();

    });
    function ts_dkxt_thptqg_list_all() {
        let _output = "";
        $.ajax({
            url: "/DangKyXetTuyens/DangKyDuThiNangKhieu_ListAll/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {
                console.log(result_all.view_list_dkdt_nangkhieu_ts)
              // return;

                if (result_all.view_list_dkdt_nangkhieu_ts == 0) {
                    _output = '<tr><td colspan="5"  style="text-align:center">Chưa đăng ký môn thi năng khiếu nào!</td></tr>';
                }
                else {
                    $.each(result_all.view_list_dkdt_nangkhieu_ts, function (i, result) {
                        _output += '<tr>' +
                            '<td style="vertical-align: middle !important "> ' + result.dkdt_NK_TenAll.nganh_GhiChu + ' </td>' +
                            '<td style="vertical-align: middle !important ">' + result.dkdt_NK_TenAll.thm_MaTen + '</td>' +
                            '<td style="vertical-align: middle !important ">' + result.dkdt_NK_MonThi + '</td>' +
                            '<td style="text-align: center; vertical-align: middle !important">' + `<button class="btn btn-outline-danger btn-sm" onclick="delete_registration_on_table_onclick(${result.dkdt_NK_ID})"}>Xoá</button>` + '</td>' +
                            '</tr>'
                    });
                }
                document.getElementById('tbody_list_dkdt_nk').innerHTML = _output;
            },
            error: function (errormessage) {
                console.log("Có lỗi xảy ra trong quá trình thực hiện");
            }
        });
    }

    $(document).ready(function () {
        /* Khai báo dữ liệu cho dropdownlist chọn năm */
        let currentYear = new Date().getFullYear();
        let nam_list = [
            { value: 0, text: "Chọn năm" },
            { value: currentYear, text: currentYear },
            { value: currentYear - 1, text: currentYear - 1 },
            { value: currentYear - 2, text: currentYear - 2 },
        ]

        let select_NamTN = $('#select_namtn');
        $.each(nam_list, function (index, option) {
            select_NamTN.append($('<option>', {
                value: option.value,
                text: option.text
            }));
        });



        $("#select_nganh").change(function () {
            select_tohopmon_view_data($("#select_nganh").val(), 0);
            $('#txt_dangky_monnangkhieu').val("Chưa chọn");
            reset_fields_controll_disabled_true();
        });

        $("#select_tohopmon").change(function () {

            $('#MonThiNangKhieu_Error').val("Chưa chọn");
            let dataObj = {
                Thm_ID: $("#select_tohopmon").val()
            }
            if (dataObj.Thm_ID == 0) {
                reset_fields_controll_disabled_true();
            }
            else {
                $.ajax({
                    url: "/DangKyXetTuyens/ToHopMonListForThiNK",
                    data: JSON.stringify(dataObj),
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (res) {
                        //  console.log(res);
                        $('#select_namtn').focus();
                        $('#txt_dangky_monnangkhieu').val(res.thm_Mon3);
                        reset_fields_controll_disabled_false();
                    },
                    error: function (errormessage) {
                        console.log(errormessage.error);
                    }
                });
            }
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })
        $('input').on('input', function () {
            hideErrorMessage($(this));
        });
    });
    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
    // phần hiển thị dữ liệu lên dropdownlist
    function select_nganh_view_data(nganh_key, tohopmon_key) { // id = KhoiNganh_ID
        $("#select_nganh").empty();
        $.ajax({
            url: "/DangKyXetTuyens/NganhListForThiNK/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {
                $('#select_nganh').append('<option value="0">Chọn ngành</option>');
                $.each(result_all, function (i, result) {
                    $('#select_nganh').append('<option value="' + result.nganh_ID + '">' + result.nganh_GhiChu + '</option>');
                });
                $('#select_nganh').val(nganh_key);
                select_tohopmon_view_data(nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function select_tohopmon_view_data(id, tohopmon_key) { // id = Nganh_ID
        $("#select_tohopmon").empty();

        $.ajax({
            url: "/DangKyXetTuyens/ToHopMonNganhListAll_ThiNK/" + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {
                $('#select_tohopmon').append('<option value="0">Chọn tổ hợp môn</option>');
                $.each(result_all, function (i, result) {
                    $('#select_tohopmon').append('<option value="' + result.thm_ID + '">' + result.thm_MaTen + '</option>');
                });
                $('#select_tohopmon').val(tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }

    // Hết phần hiển thị dữ liệu lên dropdownlist

    // phần upload file
    var check_in_file_cccd_upload = false;
    var formdata_file_cccd = new FormData(); //FormData object giaytout
    $(document).ready(function () {
        $("#files_cancuoccd").on("change", function () {
            var files_cancuoccd = document.getElementById('files_cancuoccd');
            for (i = 0; i < files_cancuoccd.files.length; i++) {
                var sfilename_cccd = files_cancuoccd.files[i].name;
                let srandomid_cccd = Math.random().toString(36).substring(7);
                formdata_file_cccd.append(sfilename_cccd, files_cancuoccd.files[i]);
                var markup_cccd = "<tr id='" + srandomid_cccd + "'><td>" + sfilename_cccd + "</td><td style='width: 60px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!' class=\"btn btn-light btn-sm\" onclick='DeleteFile_CCCD_Upload(\"" + srandomid_cccd + "\",\"" + sfilename_cccd + "\")'>Xóa</a></td></tr>";
                $("#FilesList_CCCD_View tbody").append(markup_cccd);
            }
            chkatchtbl_cccd();
            $('#files_cancuoccd').val('');
        });

    });
    function DeleteFile_CCCD_Upload(Fileid, FileName) {
        formdata_file_cccd.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_cccd();
    }
    function chkatchtbl_cccd() {
        if ($('#FilesList_CCCD_View tr').length > 0) {
            $("#FilesList_CCCD_View").css("visibility", "visible");
            check_in_file_cccd_upload = true;
        }
        else {
            $("#FilesList_CCCD_View").css("visibility", "hidden");
            check_in_file_cccd_upload = false;
            if (!check_in_file_cccd_upload) { var errorMessage = "Vui lòng upload tệp căn cước công dân"; $('#CCCD_Error').text(errorMessage); }
        }
    }
    // hết phần xử lý upload file clien
    // đồng ý đăng ký dự thi
    $('#bt_add_div_list_registration').click(function () {
        select_nganh_view_data(0, 0);
        document.getElementById('div_list_registration').style.display = "none";
        document.getElementById('div_exam_registration').style.display = "inline";
        reset_fields_controll_disabled_true();
    })

    function reset_fields_controll_disabled_false() {

        $('#select_namtn').prop('disabled', false);
        $('#files_cancuoccd').val(null);
        $('#files_cancuoccd').prop('disabled', false);
        $("#FilesList_CCCD_View tbody").empty();
    }
    function reset_fields_controll_disabled_true() {
        $('#select_namtn').prop('disabled', true);
        $('#files_cancuoccd').val(null);
        $('#files_cancuoccd').prop('disabled', true);
        $("#FilesList_CCCD_View tbody").empty();
    }

    $('#bt_ok_div_exam_registration').click(function () {

        let flag = true;
        let _nganh_ID = $('#select_nganh').val();
        let _thm_ID = $('#select_tohopmon').val();
        let _dkdt_NK_NamTotNghiep = $('#select_namtn').val();
        let _dkdt_NK_MonThi = $('#txt_dangky_monnangkhieu').val();


        if (_nganh_ID == 0) { var errorMessage = "Vui lòng chọn ngành"; $('#Nganh_ID_Error').text(errorMessage); flag = false; }
        if (_thm_ID == 0) { var errorMessage = "Vui lòng chọn tổ hợp môn"; $('#Thm_ID_Error').text(errorMessage); flag = false; }
        if (_dkdt_NK_NamTotNghiep == 0) { var errorMessage = "Vui lòng chọn năm tốt nghiệp"; $('#NamTotNghiep_Error').text(errorMessage); flag = false; }
        if (!check_in_file_cccd_upload) { var errorMessage = "Vui lòng upload tệp CCCD"; $('#CCCD_Error').text(errorMessage); flag = false; }



        if (!flag) return;

        let _dkdt_NK_MinhChung_CCCD = "";

        /* thực hiện upload file*/

        $.ajax({
            url: '/DangKyXetTuyens/DangKyDuThi_UploadFile_Multi',
            type: "POST",
            contentType: false,
            processData: false,
            data: formdata_file_cccd,
            async: false,
            success: function (res) {
                _dkdt_NK_MinhChung_CCCD = res._MinhChung_CCCD;
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });

        /*hết phần upload file*/

        /*phần khai báo đối tượng*/
        let data_Obj_new = {
            Nganh_ID: _nganh_ID,
            Thm_ID: _thm_ID,
            Dkdt_NK_NamTotNghiep: _dkdt_NK_NamTotNghiep,

            Dkdt_NK_MonThi: _dkdt_NK_MonThi,
            Dkdt_NK_MinhChung_CCCD: _dkdt_NK_MinhChung_CCCD,
        }
        /*hết phần khai báo đối tượng*/
        console.log(data_Obj_new);

        $.ajax({
            url: "/DangKyXetTuyens/DangKyDuThi_NangKhieu_Insert",
            data: JSON.stringify(data_Obj_new),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {

                if (res.success) {
                    ts_dkxt_thptqg_list_all();
                    showToast("Thông báo", "Đăng ký thành công!", "bg-success");
                    document.getElementById('div_list_registration').style.display = "inline";
                    document.getElementById('div_exam_registration').style.display = "none";
                    //reset_fields_controll_disabled_true();
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
            }
        });
    })
      // button xóa nguyện vọng đã đăng ký:
    function delete_registration_on_table_onclick(_dkdt_nk_id) {
        $('#modal_tb_xoa').modal('show');
        $('#key_delete_dkdt_nk_id').val(_dkdt_nk_id);
    }
  
    $('#bt_ok_on_modal_delete').click(function () {
        let data_Obj_new = { Dkdt_NK_ID: $('#key_delete_dkdt_nk_id').val() };
              $.ajax({
            url: "/DangKyXetTuyens/DangKyDuThiNK_Delete",
            data: JSON.stringify(data_Obj_new),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.status == true) {
                    ts_dkxt_thptqg_list_all();
                    $('#modal_tb_xoa').modal('hide');
                    showToast("Thông báo", "Đã thực hiên xóa nguyện vọng!", "bg-success");
                }
                else {
                    showToast("Lỗi", res.msg, "bg-success");
                    console.log(response.msg);
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Lỗi! Chưa thể xóa theo yêu cầu!", "bg-success");
            }
        });
    });
    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }
    $('#bt_cancel_on_modal_delete_first').click(function () {
        $('#modal_tb_xoa').modal('hide');
        $('#key_delete_dkdt_nk_id').val('');
    })
    $('#bt_cancel_on_modal_delete_second').click(function () {
        $('#modal_tb_xoa').modal('hide');
        $('#key_delete_dkdt_nk_id').val('');
    })

    // button tắt cửa sổ thêm mới phía trên
    $('#bt_close_div_exam_registration_first').click(function () {
        document.getElementById('div_list_registration').style.display = "inline";
        document.getElementById('div_exam_registration').style.display = "none";
        reset_fields_controll_disabled_true();
    });
    // button tắt cửa sổ thêm mới phía dưới
    $('#bt_close_div_exam_registration_second').click(function () {
        document.getElementById('div_list_registration').style.display = "inline";
        document.getElementById('div_exam_registration').style.display = "none";
        reset_fields_controll_disabled_true();
    });

</script>


