@{
    ViewBag.Title = "Đăng ký dự thi năng khiếu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .label_tieude {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }

    #loadingModal {
        background-color: rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Đăng ký dự thi năng khiếu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<input type="hidden" style="display:none" id="hidden_Dkdt_NK_ID" />
<script>
    $(document).ready(function () {
        LoadData();
    })
    function LoadData() {
        $.ajax({
            url: '/DangKyXetTuyens/Dkdtnk_GetData',
            type: "GET",
            contentType: false,
            processData: false,
            async: false,
            success: function (res) {
                let data = res.data;
                console.log('data', data);
              
                if (res.success) {
                    
                    $('#span_tieude').text('Chỉnh sửa nguyện vọng đã đăng ký')
                    $('#hidden_Dkdt_NK_ID').val(data.Dkdt_NK_ID);
                    // hiển thị thông tin đợt đăng ký dự thi năng khiếu:
                    $('#Dxt_Ten').val(data.Dxt_Ten);
                    $('#Dxt_ThoiGian_BatDau').val(data.Dxt_ThoiGian_BatDau);
                    $('#Dxt_ThoiGian_KetThuc').val(data.Dxt_ThoiGian_KetThuc);

                    // hiển thị thông tin ngành đã đăng ký
                    select_nganh_view_data(data.Nganh_ID, data.Thm_ID)
                    $('#txt_dangky_monnangkhieu').val(data.Dkdt_NK_MonThi);

                    $('#div_group_bt_view_data').show();
                    // hiển thị dữ liệu cccd đã upload
                    $('#div_show_file_mc').empty();
                    if (data.Dkdt_NK_MinhChung_CCCD != null && data.Dkdt_NK_MinhChung_CCCD.length > 6) {
                        const ArrCcCongDan = data.Dkdt_NK_MinhChung_CCCD.split("#");
                        for (i = 0; i < ArrCcCongDan.length; i++) {
                            if (ArrCcCongDan[i].length > 0) {
                                var str_a = ` <a class="btn btn-light btn-sm" style="color:blue" onclick="showimg('${ArrCcCongDan[i]}', ${data.Dkdt_NK_ID} )">Tệp ${i + 1}</a> `;
                                $('#div_show_file_mc').append(str_a);
                            }
                        }
                        $('#checkbox_check_cccd').attr('checked');

                    }
                    else {
                        $('#checkbox_check_cccd').removeAttr('checked');
                        var str_a = ` <a>Không có dữ liệu</a> `;
                        $('#div_show_file_mc').append(str_a);
                    }
                    $('#div_show_file_mc').show();
                    $('#div_input_file_update_mc').hide();

                    // hiển thị dữ liệu nộp lệ phí
                    $('#div_show_file_mc_noplephi').empty();
                    $('#div_show_file_mc_noplephi').show();

                    if (data.Dkdt_LePhi_MinhChung_MaThamChieu) {
                        var str_matc = data.Dkdt_LePhi_MinhChung_MaThamChieu;
                        $('#div_show_file_mc_noplephi').append('Mã tham chiếu: ' + str_matc);
                    }
                    else {
                        var str_a = ` <a style="color:red; text-decoration:none; margin-bottom:30px;  margin-top:25px">Chưa có dữ liệu</a> `;
                        $('#div_show_file_mc_noplephi').append(str_a);
                    }
                }
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });
    }
</script>
<script>
    function bt_ok_div_exam_update_data() {
        let flag = true;
        let _nganh_ID = $('#select_nganh').val();
        let _thm_ID = $('#select_tohopmon').val();

        let _dkdt_NK_MonThi = $('#txt_dangky_monnangkhieu').val();
        if (_nganh_ID == 0) { var errorMessage = "Vui lòng chọn ngành"; $('#Nganh_ID_Error').text(errorMessage); flag = false; }
        if (_thm_ID == 0) { var errorMessage = "Vui lòng chọn tổ hợp môn"; $('#Thm_ID_Error').text(errorMessage); flag = false; }

        if (!flag) return;
        let _dkdt_NK_MinhChung_CCCD = "";

        /* thực hiện upload file*/
        $.ajax({
            url: '/DangKyXetTuyens/DangKyDuThi_UploadFile_Multi',
            type: "POST",
            contentType: false,
            processData: false,
            data: formdata_file_cccd,
            async: false,
            success: function (res) {
                _dkdt_NK_MinhChung_CCCD = res._MinhChung_CCCD;
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });
        /*hết phần upload file*/

        /*phần khai báo đối tượng*/
        let data_Obj_edit = {
            Dkdt_NK_ID: $('#hidden_Dkdt_NK_ID').val(),
            Nganh_ID: _nganh_ID,
            Thm_ID: _thm_ID,
            Dkdt_NK_MonThi: _dkdt_NK_MonThi,
            Dkdt_NK_MinhChung_CCCD: _dkdt_NK_MinhChung_CCCD,
        }
        /*hết phần khai báo đối tượng*/
        console.log(data_Obj_edit);


        $("#loadingModal").modal("show");
        $.ajax({
            url: "/DangKyXetTuyens/DangKyDuThi_NangKhieu_Edit",
            data: JSON.stringify(data_Obj_edit),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    //console.log("ok", res)
                    //return;
                    $("#loadingModal").modal("hide");
                    window.location.href = '/DangKyXetTuyens/Dkdtnk';

                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi chỉnh sửa", "bg-error");
                    $("#loadingModal").modal("hide");
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi chỉnh sửa", "bg-error");
                $("#loadingModal").modal("hide");
            }
        });
    }
    function bt_cancel_div_exam_update_data() {
        window.location.href = '/DangKyXetTuyens/Dkdtnk'
    }
    // button thêm mới
    $(document).ready(function () {
        $('#bt_ok_div_exam_registration').click(function () {

        })
    })
    // hết phần button thêm mới
    // phần hiển thị dữ liệu lên dropdownlist
    function select_nganh_view_data(nganh_key, tohopmon_key) { // id = KhoiNganh_ID
        $("#select_nganh").empty();
        $.ajax({
            url: "/DangKyXetTuyens/NganhListForThiNK/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (result_all) {
                $('#select_nganh').append('<option value="0">Chọn ngành</option>');
                $.each(result_all, function (i, result) {
                    $('#select_nganh').append('<option value="' + result.nganh_ID + '">' + result.nganh_GhiChu + '</option>');
                });
                $('#select_nganh').val(nganh_key);
                select_tohopmon_view_data(nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function select_tohopmon_view_data(id, tohopmon_key) { // id = Nganh_ID
        $("#select_tohopmon").empty();
        if (id == 0) {
            $('#select_tohopmon').append('<option value="0">Chọn tổ hợp môn</option>');
        }
        else {
            $.ajax({
                url: "/DangKyXetTuyens/ToHopMonNganhListAll_ThiNK/" + id,
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                async: false,
                success: function (result_all) {
                    $('#select_tohopmon').append('<option value="0">Chọn tổ hợp môn</option>');
                    $.each(result_all, function (i, result) {
                        $('#select_tohopmon').append('<option value="' + result.thm_ID + '">' + result.thm_MaTen + '</option>');
                    });
                    $('#select_tohopmon').val(tohopmon_key);
                },
                error: function () {
                    console.log("Lỗi lấy dữ liệu tổ hợp môn");
                }
            });
        }
    }
    $(document).ready(function () {
        $("#select_nganh").change(function () {
            select_tohopmon_view_data($("#select_nganh").val(), 0);
            $('#txt_dangky_monnangkhieu').val("Chưa chọn");
            /*   reset_fields_controll_disabled_true();*/
        });

        $("#select_tohopmon").change(function () {
            $('#MonThiNangKhieu_Error').val("Chưa chọn");
            let dataObj = {
                Thm_ID: $("#select_tohopmon").val()
            }
            if (dataObj.Thm_ID == 0) {
                $('#txt_dangky_monnangkhieu').val("Chưa chọn");
                /*  reset_fields_controll_disabled_true();*/
            }
            else {
                $.ajax({
                    url: "/DangKyXetTuyens/ToHopMonListForThiNK",
                    data: JSON.stringify(dataObj),
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (res) {
                        //  console.log(res);

                        $('#txt_dangky_monnangkhieu').val(res.thm_Mon3);

                    },
                    error: function (errormessage) {
                        console.log(errormessage.error);
                    }
                });
            }
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })
        $('input').on('input', function () {
            hideErrorMessage($(this));
        });
    });
    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
    // Hết phần hiển thị dữ liệu lên dropdownlist


    // phần upload file file client

    var formdata_file_cccd = new FormData(); //FormData object giaytout
    $(document).ready(function () {
        $("#files_cancuoccd").on("change", function () {
            var files_cancuoccd = document.getElementById('files_cancuoccd');
            for (i = 0; i < files_cancuoccd.files.length; i++) {
                var sfilename_cccd = files_cancuoccd.files[i].name;
                let srandomid_cccd = Math.random().toString(36).substring(7);
                formdata_file_cccd.append(sfilename_cccd, files_cancuoccd.files[i]);
                var markup_cccd = "<tr id='" + srandomid_cccd + "'><td>" + sfilename_cccd + "</td><td style='width: 60px!important;'><a style='text-decoration:none'  class=\"btn btn-light btn-sm\" onclick='DeleteFile_CCCD_Upload(\"" + srandomid_cccd + "\",\"" + sfilename_cccd + "\")'>Xóa</a></td></tr>";
                $("#FilesList_CCCD_View tbody").append(markup_cccd);
            }
            chkatchtbl_cccd();
            $('#files_cancuoccd').val('');
        });

    });
    function DeleteFile_CCCD_Upload(Fileid, FileName) {
        formdata_file_cccd.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_cccd();
    }
    function chkatchtbl_cccd() {
        if ($('#FilesList_CCCD_View tr').length > 0) {
            $("#FilesList_CCCD_View").css("visibility", "visible");
        }
        else {
            $("#FilesList_CCCD_View").css("visibility", "hidden");
        }
    }
    // hết phần xử lý upload file client

    //Phần hiển thị dữ liệu minh chứng

    function showimg(url, loaimc) {
        //$("#hiden_duongdan_file_xoa").val(url);
        //$('#hiden_loai_minhchung_xoa').val(loaimc);
        var pdf_view = document.getElementById("pdf_view");
        pdf_view.style.display = "none";
        pdf_view.style.height = "0px";

        $('#img_view').hide();
        $("#img_view").attr("src", "");
        var lastChar = url.substr(url.length - 4); // => kiểm tra file pdf hoặc img

        if (lastChar.toLowerCase() != ".pdf") {
            pdf_view.style.display = "none";
            pdf_view.style.height = "0px";

            $("#img_view").attr("src", url);
            $("#img_view").show();
        }
        if (lastChar.toLowerCase() === ".pdf") {
            $("#img_view").hide();
            pdf_view.style.display = "inline";
            pdf_view.style.height = "700px";
            $("#pdf_view").attr("src", url);
            $("#pdf_view").show();
        }
        $('#div_view_img').show();
    }
    $(document).ready(function () {
        $('#bt_close_div_view_img').click(function () {
            $('#div_view_img').hide();
            $("#img_view").attr("src", "");
            $("#pdf_view").attr("src", "");
            $('#img_txt_card_hearder').text('Hình ảnh minh chứng');
        });
    });
</script>

<div class="container-fluid px-12">
    <div id="div_exam_registration_new">
        <div class="card card-header-actions">
            <div class="card-header">
                <span id="span_tieude">Chỉnh sửa nguyện vọng đã đăng ký</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-4">
                        <div class="row md-0">
                            <div class="col-xxl-12 mb-0">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Đợt dự thi môn năng khiếu <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td>
                                                <div class="row  align-items-center">
                                                    <div class="col-4">
                                                        <label class="col-form-label">Đợt thi</label>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" id="Dxt_Ten" disabled />
                                                        <span id="NamTotNghiep_Error" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row align-items-center">
                                                    <div class="col-4">
                                                        <label class="col-form-label">Từ ngày</label>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" id="Dxt_ThoiGian_BatDau" disabled />
                                                        <span id="NamTotNghiep_Error" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="row align-items-center">
                                                    <div class="col-4">
                                                        <label class="col-form-label">Đến ngày</label>
                                                    </div>
                                                    <div class="col-8">
                                                        <input class="form-control" id="Dxt_ThoiGian_KetThuc" disabled />
                                                        <span id="NamTotNghiep_Error" class="small mb-1 text-danger"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Chọn ngành và tổ hợp môn <font color="red">(*)</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="row g-3 align-items-center">
                                            <div class="col-4">
                                                <label class="col-form-label">Ngành</label>
                                            </div>
                                            <div class="col-8">
                                                <select id="select_nganh" class="form-select"></select>
                                                <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <div class="row g-3 align-items-center">
                                            <div class="col-4">
                                                <label class="col-form-label">Tổ hợp môn</label>
                                            </div>
                                            <div class="col-8">
                                                <select id="select_tohopmon" class="form-select"></select>
                                                <span id="Thm_ID_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="row g-3 align-items-center">
                                            <div class="col-4">
                                                <label class="col-form-label">Tên môn thi</label>
                                            </div>
                                            <div class="col-8">
                                                <input id="txt_dangky_monnangkhieu" type="text" class="form-control input-monhoc" value="Chưa chọn" disabled />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </div>
                    <div class="col-xxl-4">
                        <div class="row mb-0">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Dữ liệu minh chứng <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <label class="form-label">Căn cước công dân (<span id="div_show_file_mc"></span>)</label>

                                                        <div class="col-md-12">
                                                            <input class="form-control" id="files_cancuoccd" multiple="multiple" name="files_cancuoccd" type="file" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            <span id="CCCD_Error" class="small mb-1 text-danger"></span>
                                                        </div>
                                                        <div class="col-xxl-12">
                                                            <table class="table mt-0 mb-0" id="FilesList_CCCD_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_bangtn" /></th></tr></table>
                                                        </div>

                                                        <div class="form-group mb-0">
                                                            <div class="col-md-12" id="div_group_mc_noplephi">
                                                                <hr />
                                                                <label class="col-12 mb-1" id="label_thongbaomc_noplp">Minh chứng nộp lệ phí</label>

                                                                <div class="col-md-12" id="div_show_file_mc_noplephi">

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>               
                <div class="row mb-3" style="margin-top:7px; display:none" id="div_group_bt_view_data">
                    <div class="col-lg-12" style="text-align:center">
                        <input class="btn btn-outline-primary " onclick="bt_ok_div_exam_update_data()" type="button" value="Đồng ý sửa" />
                        <input class="btn btn-outline-secondary " onclick="bt_cancel_div_exam_update_data()" type="button" value="Hủy bỏ" />

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div_view_img" style="display:none">
        <div class="row">
            <div class="col-xl-12 mt-2">
                <div class="card card-header-actions">
                    <div class="card-header mt-0 mb-0">
                        <span id="img_txt_card_hearder">Hình ảnh minh chứng</span>
                        <div>
                            <button class="btn btn-outline-danger btn-sm" type="button" id="bt_delete_img_mc">Xóa</button>
                            <button class="btn btn-outline-primary btn-sm" type="button" id="bt_close_div_view_img">Đóng</button>
                        </div>

                    </div>
                    <div class="card-body" style="margin: 0px!important">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" id="div_item_view_minhchung">
                                    <img class="d-block w-100 img-hide" id="img_view" display:none">
                                    <embed id="pdf_view" class="d-block w-100" style="height:700px; display:none" type="application/pdf" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>