
@{
    ViewBag.Title = "dkxthocba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <h1 class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        Sử dụng kết quả học tập THPT
                    </h1>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div id="div_list_nguyenvong">
        <div class="card card-header-actions">
            <div class="card-header">
                Các nguyện vọng đã đăng ký
                @*<span>

                    </span>*@
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align:middle;">Nguyện vọng</th>
                                    <th style="vertical-align:middle;">Mã ngành - Ngành</th>
                                    <th style="vertical-align:middle;">Tổ hợp môn xét tuyển</th>
                                    <th style="vertical-align:middle;">Tổng điểm</th>
                                    <th style="vertical-align:middle;">Trạng thái</th>
                                    <th style="vertical-align:middle; text-align:center; width:120px">Cập nhật</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_list_nguyenvong">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <center>
                            <button id="downButton" class="btn btn-outline-success"> In phiếu tổng hợp</button>
                            <a class="btn btn-outline-primary" id="bt_add_nguyenvong" onclick="dkxt_add_data_show_div_add(0,0,0)">Thêm nguyện vọng</a>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">

                        <p style="color:red; font-style:italic" class="mb-1">Lưu ý: </p>
                        <p style="color:red; font-style:italic" class="mb-1">- Thí sinh cần bấm xác nhận để hoàn thành việc đăng ký sau khi thêm nguyện vọng mới hoặc hoặc sửa các nguyện vọng.</p>
                        <p style="color:red; font-style:italic" class="mb-1">- Thí sinh cần nộp lệ phí xét tuyển và gửi minh chứng (ảnh chụp giao dịch chuyển tiền).</p>
                        <p style="color:red; font-style:italic" class="mb-1">- Thí sinh in phiếu tổng hợp nguyện vọng đăng ký, kiểm tra lại thông tin trong phiếu, ký xác nhận và gửi về trường theo đường bưu điện.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_update_dk_nguyenvong" style="display: none">
        <div class="card card-header-actions">
            <div class="card-header">
                Đăng ký nguyện vọng mới
                <button class="btn-close" type="button" aria-label="Close" onclick="onclick_bt_huybo_dangky_nvmoi(0,0,0)"></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-4">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">Chọn ngành và tổ hợp môn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:130px">Khối ngành <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_khoinganh" class="form-select"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngành <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_nganh" class="form-select"></select>
                                        <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tổ hợp môn <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_tohopmon" class="form-select"></select>
                                        <span id="Thm_ID_Error" class="small mb-1 text-danger"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="row">
                                            <div class="col-6 ">
                                                ƯTĐT: 1 đ
                                                <hr />
                                            </div>
                                            <div class="col-6  ">
                                                ƯTKV: 0.75 đ
                                                <hr />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <span> Học lực lớp 12</span>
                                                <input id="txt_hocluc_12" type="text" class="form-control" value="Giỏi" disabled />
                                                <span id="Dkxt_XepLoaiHocLuc_12_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                            <div class="col-6">
                                                <span>Hạnh kiểm lớp 12</span>
                                                <input id="txt_hanhkiem_12" type="text" class="form-control" value="Khá" disabled />
                                                <span id="Dkxt_XepLoaiHanhKiem_12_Error" class="small mb-1 text-danger"></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                        </table>
                    </div>
                    <div class="col-xxl-8">
                        <div class="row">
                            <div class="col-xxl-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle; width:9%">Môn</th>
                                            <th style="vertical-align: middle; text-align: center; width: 23%">Kỳ 1/ lớp 11</th>
                                            <th style="vertical-align: middle; text-align: center; width: 23%">Kỳ 2/ lớp 11</th>
                                            <th style="vertical-align: middle; text-align: center; width: 23%">Kỳ 1/ lớp 12</th>
                                            <th style="vertical-align: middle; text-align: center; width: 22%">Trung bình cộng</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_1" class="form-label">Chưa chọn</label></td>
                                            <td><input id="txt_m1_k1" type="number" class="form-control input-mon1" value="" disabled /></td>
                                            <td><input id="txt_m1_k2" type="number" class="form-control input-mon1" value="" disabled /></td>
                                            <td><input id="txt_m1_k3" type="number" class="form-control input-mon1" value="" disabled /></td>
                                            <td><input id="txt_tb_m1" type="number" class="form-control" value="" disabled /></td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_2" class="form-label">Chưa chọn</label></td>
                                            <td><input id="txt_m2_k1" type="number" class="form-control input-mon2" value="" disabled /></td>
                                            <td><input id="txt_m2_k2" type="number" class="form-control input-mon2" value="" disabled /></td>
                                            <td><input id="txt_m2_k3" type="number" class="form-control input-mon2" value="" disabled /></td>
                                            <td><input id="txt_tb_m2" type="number" class="form-control" value="" disabled /></td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_3" class="form-label">Chưa chọn</label></td>
                                            <td><input id="txt_m3_k1" type="number" class="form-control input-mon3" value="" disabled /></td>
                                            <td><input id="txt_m3_k2" type="number" class="form-control input-mon3" value="" disabled /></td>
                                            <td><input id="txt_m3_k3" type="number" class="form-control input-mon3" value="" disabled /></td>
                                            <td><input id="txt_tb_m3" type="number" class="form-control" value="" disabled /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="div_thongtinphu_upload">

                            <div class="row mb-3">
                                <div class="col-xxl-4">
                                    <div class="form-group mb-2">
                                        <label for="formFileMultiple" class="form-label">Chọn tệp học bạ <font color="red">(*)</font> </label>
                                        <div class="col-md-12">
                                            <input class="form-control" id="files_hocba" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file học bạ"
                                                   accept="application/pdf,.png, .jpeg, .jpg" />
                                            <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4">
                                    <div class="form-group mb-2">
                                        <label for="formFileMultiple" class="form-label">Căn cước công dân</label>
                                        <div class="col-md-12">
                                            <input class="form-control" id="files_cancuoc_cd" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file CCCD"
                                                   accept="application/pdf,.png, .jpeg, .jpg" />
                                            <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xxl-4">
                                    <div class="form-group mb-2">
                                        <label for="formFileMultiple" class="form-label">Bằng Tốt nghiệp</label>
                                        <div class="col-md-12">
                                            <input class="form-control" id="files_bangtn" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file Bằng TN"
                                                   accept="application/pdf,.png, .jpeg, .jpg" />
                                            <span class="field-validation-valid text-primary" data-valmsg-for="files" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-12" style="text-align:center">
                                    <input class="btn btn-primary" type="button" value="Đồng ý" onclick="addNguyenVong()" />
                                    <input class="btn btn-secondary" type="button" value="Hủy bỏ" id="bt_huybo_dangky_nvmoi" onclick="onclick_bt_huybo_dangky_nvmoi(0,0,0)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Toast Title</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>
</div>
<script>

    let key_dkxt_id_post = -1;

    class _thongtin_monhoc {
        constructor(ten_Mon, H_K1, H_K2, H_K3, DiemTrung_Binh) {
            this.ten_Mon = ten_Mon;
            this.H_K1 = H_K1;
            this.H_K2 = H_K2;
            this.H_K3 = H_K3;
            this.DiemTrung_Binh = DiemTrung_Binh;
        }
    }

    class _thongtin_bosung_uutien {
        constructor(ut_doituong_ten, ut_doituong_diem_ut, _xlhocluc_12, xl_hankiem_12) {
            this.ut_doituong_ten = ut_doituong_ten;
            this.ut_doituong_diem_ut = ut_doituong_diem_ut;

            this.ut_khuvuc_ten = ut_khuvuc_ten;
            this.ut_khuvuc_diem_ut = ut_khuvuc_diem_ut;

            this._xlhocluc_12 = _xlhocluc_12;
            this.xl_hankiem_12 = xl_hankiem_12;
        }
    }
    //{"TenMon1":"Toán","HK1":"8.00","HK2":"8.00","HK3":"8.00","DiemTrungBinh":"8.00"}
    $(document).ready(function () {

        dkxt_get_data_da_dkxt_all();
        // get_data_forselect_khoinganh_all(0, 0, 0);

        $("#select_khoinganh").change(function () {
            get_data_forselect_nganh_all($("#select_khoinganh").val(), 0, 0);
        });
        $("#select_nganh").change(function () {
            get_data_forselect_tohopmon_all($("#select_nganh").val(), 0)
        });
        // lấy danh sách 3 môn cần nhập điểm
        $("#select_tohopmon").change(function () {
            get_data_fortable_nhapdiem();
            if ($("#select_tohopmon").val() > 0) {
                $('#txt_m1_k1').prop('disabled', false);
                $('#txt_m1_k2').prop('disabled', false);
                $('#txt_m1_k3').prop('disabled', false);
                $('#txt_m2_k1').prop('disabled', false);
                $('#txt_m2_k2').prop('disabled', false);
                $('#txt_m2_k3').prop('disabled', false);
                $('#txt_m3_k1').prop('disabled', false);
                $('#txt_m3_k2').prop('disabled', false);
                $('#txt_m3_k3').prop('disabled', false);
            }
            else {
                $('#txt_m1_k1').prop('disabled', true);
                $('#txt_m1_k2').prop('disabled', true);
                $('#txt_m1_k3').prop('disabled', true);
                $('#txt_m2_k1').prop('disabled', true);
                $('#txt_m2_k2').prop('disabled', true);
                $('#txt_m2_k3').prop('disabled', true);
                $('#txt_m3_k1').prop('disabled', true);
                $('#txt_m3_k2').prop('disabled', true);
                $('#txt_m3_k3').prop('disabled', true);
            }
        });

        onListenFields(".input-mon1", '#txt_tb_m1');
        onListenFields(".input-mon2", '#txt_tb_m2');
        onListenFields(".input-mon3", '#txt_tb_m3');

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })
    });

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    function onListenFields(inputClass, outputClass) {
        var inputFields = $(inputClass);
        inputFields.on('input', function () {
            var allFilled = true;
            inputFields.each(function () {
                if ($(this).val() === '') {
                    allFilled = false;
                    return false;
                }
            });

            if (allFilled) {
                let total = 0;
                inputFields.each(function () {
                    total += parseFloat($(this).val());
                });
                console.log(total / 3)
                $(outputClass).val((total / 3).toFixed(2));
            }
        });
    }

    function onResetFields() {
        $('.input-mon1').val("");
        $('.input-mon2').val("");
        $('.input-mon3').val("");
        $('#lb_tenmon_1').text("");
        $('#lb_tenmon_2').text("");
        $('#lb_tenmon_3').text("");
        $('#txt_tb_m1').val("");
        $('#txt_tb_m2').val("");
        $('#txt_tb_m3').val("");
    }

    function dkxt_get_data_da_dkxt_all() {
        let _output = "";
        $.ajax({
            url: "/DangKyXetTuyens/dkxthocbaListAll/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {
                if (result_all.length == 0) {
                    _output += '<tr><td colspan="6"  style="text-align:center">Chưa đăng ký nguyện vọng nào!</td></tr>';
                }
                else {
                    console.log(result_all, 'result_all');
                    console.log(result_all.length, 'result_all.length');
                    $.each(result_all, function (i, result) {
                        console.log(i, 'result');
                        _output += '<tr>' +
                            '<td style="vertical-align: middle !important "> NV ' + result.Dkxt_NguyenVong + `<button class="btn btn-outline-primary btn-sm" onclick="upData(${result.Dkxt_ID})" ${i == 0 ? "disabled" : ''}>  &#8743;</button> <button  class="btn btn-outline-primary btn-sm" onclick="downData(${result.Dkxt_ID})" ${i == result_all.length - 1 ? "disabled" : ""}> &#8744;</button>  </td>` +
                            '<td style="vertical-align: middle !important "> ' + result.Dkxt_TenAll.Nganh_GhiChu + ' </td>' +
                            '<td style="vertical-align: middle !important ">' + result.Dkxt_TenAll.Thm_MaTen + '</td>' +
                            '<td style="vertical-align: middle !important ">' + result.Dkxt_Diem_Tong_Full + '</td>' +
                            '<td>' + '<a href="#" class="btn btn-outline-primary" style="vertical-align: middle !important " title="Bấm chuột để xác nhận đăng ký nguyện vọng này"> <input type="checkbox" disabled /> Chưa xác nhận</a>' + '</td>' +
                            '<td style="text-align: center; vertical-align: middle !important ">' + `<button class="btn btn-outline-danger btn-sm" onclick="deleteData(${result.Dkxt_ID})"}> Xoá</button> `  + '</td>' +
                            '</tr>'
                    });
                }
                document.getElementById('tbody_list_nguyenvong').innerHTML = _output;
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function dkxt_add_data_show_div_add(khoinganh_key, nganh_key, tohopmon_key) {
        document.getElementById('div_list_nguyenvong').style.display = "none";
        document.getElementById('div_update_dk_nguyenvong').style.display = "inline";
        get_data_forselect_khoinganh_all(khoinganh_key, nganh_key, tohopmon_key);
        key_dkxt_id_post = -1;
    }
    function onclick_bt_huybo_dangky_nvmoi(khoinganh_key, nganh_key, tohopmon_key) {

        document.getElementById('div_list_nguyenvong').style.display = "inline";
        document.getElementById('div_update_dk_nguyenvong').style.display = "none";
        get_data_forselect_khoinganh_all(khoinganh_key, nganh_key, tohopmon_key);
        key_dkxt_id_post = -2;
    }

    function get_data_forselect_khoinganh_all(khoinganh_key, nganh_key, tohopmon_key) {

        $('#select_khoinganh').empty()
        $.ajax({
            url: "/DangKyXetTuyens/KhoiNganhListAll",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result_all) {
                $.each(result_all, function (i, result) {
                    $('#select_khoinganh').append('<option value="' + result.khoiNganh_ID + '">' + result.khoiNganh_Ten + '</option>');
                });
                $('#select_khoinganh').val(khoinganh_key);
                get_data_forselect_nganh_all(khoinganh_key, nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function get_data_forselect_nganh_all(id, nganh_key, tohopmon_key) { // id = KhoiNganh_ID
        $("#select_nganh").empty();
        $.ajax({
            url: "/DangKyXetTuyens/NganhListAll/" + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {

                $.each(result_all, function (i, result) {
                    $('#select_nganh').append('<option value="' + result.nganh_ID + '">' + result.nganh_GhiChu + '</option>');
                });

                $('#select_nganh').val(nganh_key);
                get_data_forselect_tohopmon_all(nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function get_data_forselect_tohopmon_all(id, tohopmon_key) { // id = Nganh_ID
        /* console.log(id + "-" + tohopmon_key)*/
        /* return;*/
        $("#select_tohopmon").empty();
        $.ajax({
            url: "/DangKyXetTuyens/ToHopMonNganhListAll/" + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {
                $.each(result_all, function (i, result) {
                    $('#select_tohopmon').append('<option value="' + result.thm_ID + '">' + result.thm_MaTen + '</option>');
                });
                $('#select_tohopmon').val(tohopmon_key);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function get_data_fortable_nhapdiem() {
        let data = {
            int_input_a: $("#select_tohopmon").val(),
            int_input_b: key_dkxt_id_post,
        };
        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_Get_ByID",
            data: JSON.stringify(data),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                let _ttmh_1 = new _thongtin_monhoc(res.thm_Mon1.TenMon1, res.thm_Mon1.HK1, res.thm_Mon1.HK2, res.thm_Mon1.HK3, res.thm_Mon1.DiemTrungBinh);
                let _ttmh_2 = new _thongtin_monhoc(res.thm_Mon2.TenMon2, res.thm_Mon2.HK1, res.thm_Mon2.HK2, res.thm_Mon2.HK3, res.thm_Mon2.DiemTrungBinh);
                let _ttmh_3 = new _thongtin_monhoc(res.thm_Mon3.TenMon3, res.thm_Mon3.HK1, res.thm_Mon3.HK2, res.thm_Mon3.HK3, res.thm_Mon3.DiemTrungBinh);
                let _dkxt_id_update = res.dkxt_id_update;
                set_tenmonhoc_diem_thisinh(_ttmh_1, _ttmh_2, _ttmh_3);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function set_tenmonhoc_diem_thisinh(all_m1, all_m2, all_m3) {

        let tenmon_1 = $('#lb_tenmon_1'); let _txt_m1_k1 = $('#txt_m1_k1'); let _txt_m1_k2 = $('#txt_m1_k2'); let _txt_m1_k3 = $('#txt_m1_k3'); let _txt_tb_m1 = $('#txt_tb_m1');
        tenmon_1.text(all_m1.ten_Mon); _txt_m1_k1.val(all_m1.H_K1); _txt_m1_k2.val(all_m1.H_K2); _txt_m1_k3.val(all_m1.H_K3); _txt_tb_m1.text(all_m1.DiemTrung_Binh);


        let tenmon_2 = $('#lb_tenmon_2'); let _txt_m2_k1 = $('#txt_m2_k1'); let _txt_m2_k2 = $('#txt_m2_k2'); let _txt_m2_k3 = $('#txt_m2_k3'); let _txt_tb_m2 = $('#txt_tb_m2');
        tenmon_2.text(all_m2.ten_Mon); _txt_m2_k1.val(all_m2.H_K1); _txt_m2_k2.val(all_m2.H_K2); _txt_m2_k3.val(all_m2.H_K3); _txt_tb_m2.text(all_m2.DiemTrung_Binh);


        let tenmon_3 = $('#lb_tenmon_3'); let _txt_m3_k1 = $('#txt_m3_k1'); let _txt_m3_k2 = $('#txt_m3_k2'); let _txt_m3_k3 = $('#txt_m3_k3'); let _txt_tb_m3 = $('#txt_tb_m3');
        tenmon_3.text(all_m3.ten_Mon); _txt_m3_k1.val(all_m3.H_K1); _txt_m3_k2.val(all_m3.H_K2); _txt_m3_k3.val(all_m3.H_K3); _txt_tb_m3.text(all_m3.DiemTrung_Binh);

    }

    function addNguyenVong() {
        let flag = true;

        let Nganh_ID = $('#select_nganh').val();
        let Thm_ID = $('#select_tohopmon').val();

        let Dkxt_Diem_M1 = { TenMon1: $('#lb_tenmon_1').text(), HK1: $('#txt_m1_k1').val(), HK2: $('#txt_m1_k2').val(), HK3: $('#txt_m1_k3').val(), DiemTrungBinh: $('#txt_tb_m1').val(), };
        let Dkxt_Diem_M2 = { TenMon2: $('#lb_tenmon_2').text(), HK1: $('#txt_m2_k1').val(), HK2: $('#txt_m2_k2').val(), HK3: $('#txt_m2_k3').val(), DiemTrungBinh: $('#txt_tb_m2').val(), };
        let Dkxt_Diem_M3 = { TenMon3: $('#lb_tenmon_3').text(), HK1: $('#txt_m3_k1').val(), HK2: $('#txt_m3_k2').val(), HK3: $('#txt_m3_k3').val(), DiemTrungBinh: $('#txt_tb_m3').val(), };

        let DiemTBMon1 = $('#txt_tb_m1').val();
        let DiemTBMon2 = $('#txt_tb_m2').val();
        let DiemTBMon3 = $('#txt_tb_m3').val();

        if (Nganh_ID == 0) { var errorMessage = "Chưa chọn ngành"; $('#Nganh_ID_Error').text(errorMessage); flag = false; }
        if (Thm_ID == 0) { var errorMessage = "Chưa chọn tổ hợp môn"; $('#Thm_ID_Error').text(errorMessage); flag = false; }
        //if (!DiemTBMon1 || !DiemTBMon2 || !DiemTBMon3) {
        //    var errorMessage = "Không được bỏ trống điểm";
        //    $('#Diem_Chi_Tiet_Error').text(errorMessage);
        //    flag = false;
        //}
        if (!flag) return;

        let Dkxt_Diem_Tong = parseFloat(DiemTBMon1) + parseFloat(DiemTBMon2) + parseFloat(DiemTBMon3);

        let formData = {
            Nganh_ID: Nganh_ID,
            Thm_ID: Thm_ID,
            Dkxt_Diem_M1: JSON.stringify(Dkxt_Diem_M1),
            Dkxt_Diem_M2: JSON.stringify(Dkxt_Diem_M2),
            Dkxt_Diem_M3: JSON.stringify(Dkxt_Diem_M3),
            Dkxt_Diem_Tong: Dkxt_Diem_Tong.toString()
        }
        console.log(formData)
        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_Add",
            data: JSON.stringify(formData),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    showToast("Thành công", "Thêm mới nguyện vọng thành công!", "bg-success");
                    dkxt_get_data_da_dkxt_all();
                    document.getElementById('div_list_nguyenvong').style.display = "inline";
                    document.getElementById('div_update_dk_nguyenvong').style.display = "none";
                    onResetFields();
                } else {
                    showToast("Thất bại", "Thêm mới nguyện vọng thất bại!", "bg-error");
                }
            },
            error: function (errormessage) {
                showToast("Thất bại", "Thêm mới nguyện vọng thất bại!", "bg-error");
            }
        });
    }
    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }

    $(document).ready(function () {
        $('#downButton').click(function () {
            window.location.href = '/ExportFile/DownloadFile_XetTuyenHB';
        });
    });

     function upData(value) {
        var obj = { idDkxt: value };
        $.ajax({
            url: '@Url.Action("upData", "DangKyXetTuyens")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                alert(response.msg);
                window.location.reload();
            }
            else {
                alert(response.msg);
            }
        }).fail(function (error) {
            alert(error.StatusText);
        });
    }
    function downData(value) {
        var obj = { idDkxt: value };
        $.ajax({
            url: '@Url.Action("downData", "DangKyXetTuyens")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                alert(response.msg);
                window.location.reload();
            }
            else {
                alert(response.msg);
            }
        }).fail(function (error) {
            alert(error.StatusText);
        });
    }

    function deleteData(value) {
        var obj = { idDkxt: value };
        $.ajax({
            url: '@Url.Action("Delete", "DangKyXetTuyens")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8'
        }).done(function (response) {
            if (response.status == true) {
                alert(response.msg);
                window.location.reload();
            }
            else {
                alert(response.msg);
            }
        }).fail(function (error) {
            alert(error.StatusText);
    });
    }
</script>