
@{
    ViewBag.Title = "Đăng ký xét tuyển";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }

    .padding_input_text_number {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Đăng ký xét tuyển sử dụng kết quả học tập ở THPT (Xét tuyển bằng học bạ)</span>
                        <script>
                            $(document).ready(function () {
                                let sp_tieude = document.getElementById('sp_tieude');
                                function reportWindowSize() {

                                    if (window.innerWidth <= 800) {
                                        sp_tieude.innerHTML = "ĐKXT bằng KQ học tập THPT (Xét học bạ)";
                                    }
                                    else {
                                        sp_tieude.innerHTML = "Đăng ký xét tuyển sử dụng kết quả học tập ở THPT (Xét tuyển bằng học bạ)";
                                    }
                                }
                                window.onresize = reportWindowSize;
                            })
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div id="div_update_aspirations">
        <div class="card card-header-actions">
            <div class="card-header">
                <span>Chỉnh sửa nguyện vọng đã đăng ký</span>
                <button class="btn-close" id="bt_close_div_update_aspirations_first" type="button" aria-label="Close"></button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Chọn ngành và tổ hợp môn <font color="red">(*)</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:130px">Khối ngành <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_khoinganh" class="form-select"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngành <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_nganh" class="form-select"></select>
                                        <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tổ hợp môn <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_tohopmon" class="form-select"></select>
                                        <span id="Thm_ID_Error" class="small mb-1 text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="row">
                                            <div class="col-6 ">
                                                <span id="span_Uutien_doituong"></span>
                                                <hr />
                                            </div>
                                            <div class="col-6  ">
                                                <span id="span_Uutien_khuvuc"></span>
                                                <hr />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <span> Học lực lớp 12</span>
                                                <input id="txt_hocluc_12" type="text" class="form-control" value="" disabled />

                                            </div>
                                            <div class="col-6">
                                                <span>Hạnh kiểm lớp 12</span>
                                                <input id="txt_hanhkiem_12" type="text" class="form-control" value="" disabled />
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                        </table>
                    </div>
                    <div class="col-xxl-4">
                        <div class="row md-0">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;" colspan="5">Điểm các môn xét tuyển <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td style="vertical-align:middle; width:9%">Môn</td>
                                            <td style="vertical-align: middle; text-align: center; width: 23%">HK1/11</td>
                                            <td style="vertical-align: middle; text-align: center; width: 23%">HK2/11</td>
                                            <td style="vertical-align: middle; text-align: center; width: 23%">HK1/12</td>
                                            <td style="vertical-align: middle; text-align: center; width: 22%">TBC</td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_1" class="form-label">Chưa chọn</label></td>
                                            <td><input id="txt_m1_k1" type="number" class="form-control input-mon1 padding_input_text_number " /></td>
                                            <td><input id="txt_m1_k2" type="number" class="form-control input-mon1 padding_input_text_number " /></td>
                                            <td><input id="txt_m1_k3" type="number" class="form-control input-mon1 padding_input_text_number " /></td>
                                            <td><input id="txt_tb_m1" type="text" class="form-control padding_input_text_number input-tong" disabled /></td>
                                        </tr>

                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_2" class="form-label">Chưa chọn</label></td>
                                            <td><input id="txt_m2_k1" type="number" class="form-control input-mon2 padding_input_text_number " /></td>
                                            <td><input id="txt_m2_k2" type="number" class="form-control input-mon2 padding_input_text_number " value="" /></td>
                                            <td><input id="txt_m2_k3" type="number" class="form-control input-mon2 padding_input_text_number " value="" /></td>
                                            <td><input id="txt_tb_m2" type="text" class="form-control padding_input_text_number input-tong" value="" disabled /></td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_3" class="form-label">Chưa chọn</label></td>
                                            <td><input id="txt_m3_k1" type="number" class="form-control input-mon3 padding_input_text_number" /></td>
                                            <td><input id="txt_m3_k2" type="number" class="form-control input-mon3 padding_input_text_number" /></td>
                                            <td><input id="txt_m3_k3" type="number" class="form-control input-mon3 padding_input_text_number" /></td>
                                            <td><input id="txt_tb_m3" type="text" class="form-control padding_input_text_number input-tong" disabled /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-0">
                            <div class="col-xxl-12" style="text-align:center">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row md-0">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Minh chứng học bạ <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <label class="form-label">Học bạ (<span id="sp_view_mc_hocba"></span>)</label>
                                                    <div class="col-xxl-12">
                                                        <input id="files_hocba" name="files_hocba" type="file" multiple class="form-control" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                        <span id="SP_HocBa_Error" class="small mb-1 text-danger"></span>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table mt-0 mb-0" id="FilesList_HocBa_View" style="visibility:hidden">
                                                            <tr style="display:none">
                                                                <th colspan="2"><input type="hidden" id="txt_uploader_file_hocba" /></th>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-xxl-4">
                        <div class="row md-0">
                            <div class="col-xxl-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Minh chứng khác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label class="form-label">Bằng tốt nghiệp (<span id="sp_view_mc_bang"></span>)</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_bangtn" multiple="multiple" name="files_bangtn" type="file" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table mt-0 mb-0" id="FilesList_BangTN_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_bangtn" /></th></tr></table>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label class="form-label">Căn cước công dân  (<span id="sp_view_mc_cccd"></span>)</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_cancuoc_congdan" multiple="multiple" name="files_cancuoc_congdan" type="file" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table mt-0 mb-0" id="FilesList_CCCD_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_cccd" /></th></tr></table>
                                                    </div>
                                                </div>



                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label class="form-label">Giấy tờ ưu tiên (<span id="sp_view_mc_uutien"></span>)</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_giayto_uutien" multiple="multiple" name="files_giayto_uutien" type="file" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table mt-0 mb-0" id="FilesList_GTUT_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_g" /></th></tr></table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-0 mb-1">
                            <div class="col-xxl-12" style="text-align:center">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-xxl-12" style="text-align:center">
                        <input class="btn btn-outline-primary col-lg-1 col-4" id="bt_ok_div_update_aspirations" type="button" value="Đồng ý sửa" />
                        <input class="btn btn-outline-secondary col-lg-1 col-4" id="bt_close_div_update_aspirations_second" type="button" value="Quay lại" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="div_view_img" style="display:none">
        <div class="card card-header-actions">
            <div class="card-header mt-0 mb-0">
                <span id="img_txt_card_hearder">Hình ảnh minh chứng</span>
                <div>

                    <button class="btn btn-outline-danger btn-sm" type="button" id="bt_delete_img_mc" onclick="bt_delete_img_mc_click()">Xóa</button>
                    <script>function bt_delete_img_mc_click() { $('#modal_thongbao_delete').modal('show'); }</script>

                    <button class="btn btn-outline-primary btn-sm" type="button" id="bt_close_div_view_img">Đóng</button>
                </div>
            </div>
            <div class="card-body" style="margin: 0px!important">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" id="div_item_view_minhchung">
                            <img class="d-block w-100 img-hide" id="img_view" display:none">
                            <embed id="pdf_view" class="d-block w-100" style="display:none" type="application/pdf" />
                            <input type="hidden" id="hiden_id_key" style="display:none" />
                            <input type="hidden" id="hiden_loai_minhchung_xoa" style="display:none" />
                            <input type="hidden" id="hiden_duongdan_file_xoa" style="display:none" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #loadingModal {
        background-color: rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
</style>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.Dkxt_ID" id="hidden_Dkxt_HB_ID" />
<input type="hidden" id="dkxt_hocba_id_checkin" name="dkxt_hocba_id_checkin" />
<div class="modal fade" id="modal_thongbao_delete" tabindex="-1" role="dialog" aria-labelledby="modal_thongbao_delete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tieude_modal">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="bt_close_modal_xoa_click()"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span style="color:red">Nếu đồng ý hình ảnh minh chứng sẽ bị xóa. Bạn chắc chắn xóa?</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="bt_dongy_xoa_on_modal_delete_click()">Đồng ý</button>
                <script>
                    function bt_dongy_xoa_on_modal_delete_click() {
                        var str_query = window.location.search;
                        var data_post = {
                            Dkxt_ID: $('#hiden_id_key').val(),
                            Dkxt_LoaiMC: $('#hiden_loai_minhchung_xoa').val(),
                            Dkxt_Url: $("#hiden_duongdan_file_xoa").val(),
                        }
                        console.log('tét delete', data_post)
                       

                        $.ajax({
                            url: '/DangKyXetTuyens/DangKyXetTuyen_HB_DeleteMC',
                            type: "POST",
                            data: JSON.stringify(data_post),
                            contentType: "application/json;charset=utf-8",
                            success: function (res) {
                                console.log(res);
                                if (res) {
                                    $('#modal_thongbao_delete').modal('hide');
                                    LoadImageMC_XTHB_ByID();
                                    reset_div_view_img();
                                    showToast("Thông báo", "Xóa ảnh minh chứng thành công!", "bg-error");                                   
                                }
                                else {
                                    showToast("Thông báo", "Có lỗi xảy ra khi thực hiện xóa!", "bg-error");
                                }                              
                            },
                            error: function (error) {
                                showToast("Thông báo", "Có lỗi xảy ra khi thực hiện xóa!", "bg-error");
                                console.error('Error update mc:', error);
                            }
                        });
                    }
                </script>
                <button class="btn btn-primary" type="button" onclick="bt_close_modal_xoa_click()">Đóng</button>
            </div>
            <script>
                function bt_close_modal_xoa_click() {
                    $('#modal_thongbao_delete').modal('hide');
                }
            </script>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // hiển thị thông tin đăng ký nguyện vọng
        LoadDataInfor_XTHB_ByID();
        //hiển thị các hình ảnh minh chứng
        LoadImageMC_XTHB_ByID();
    })
    function LoadDataInfor_XTHB_ByID() {
        /*  var hidden_Dkxt_HB_ID = $('#hidden_Dkxt_HB_ID').val();*/
        let data_get = { Dkxt_HB_ID: $('#hidden_Dkxt_HB_ID').val() }
        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_HB_GetByID",
            data: JSON.stringify(data_get),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                console.log("test", res)
                if (res.success) {
                    let data = res.data;
                    select_khoinganh_view_data(data.KhoiNganh_ID, data.Nganh_ID, data.Thm_ID);
                    $('#txt_hocluc_12').val(data.ThiSinh_HocLucLop12);
                    $('#txt_hanhkiem_12').val(data.ThiSinh_HanhKiemLop12);

                    $('#span_Uutien_doituong').text(data.DoiTuong_ID);
                    $('#span_Uutien_khuvuc').text(data.KhuVuc_ID);

                    $('#lb_tenmon_1').text(data.Dkxt_Diem_M1.TenMon);
                    $('#txt_m1_k1').val(data.Dkxt_Diem_M1.HK1);
                    $('#txt_m1_k2').val(data.Dkxt_Diem_M1.HK2);
                    $('#txt_m1_k3').val(data.Dkxt_Diem_M1.HK3);
                    $('#txt_tb_m1').val(data.Dkxt_Diem_M1.DTB);

                    $('#lb_tenmon_2').text(data.Dkxt_Diem_M2.TenMon);
                    $('#txt_m2_k1').val(data.Dkxt_Diem_M2.HK1);
                    $('#txt_m2_k2').val(data.Dkxt_Diem_M2.HK2);
                    $('#txt_m2_k3').val(data.Dkxt_Diem_M2.HK3);
                    $('#txt_tb_m2').val(data.Dkxt_Diem_M2.DTB);

                    $('#lb_tenmon_3').text(data.Dkxt_Diem_M3.TenMon);
                    $('#txt_m3_k1').val(data.Dkxt_Diem_M3.HK1);
                    $('#txt_m3_k2').val(data.Dkxt_Diem_M3.HK2);
                    $('#txt_m3_k3').val(data.Dkxt_Diem_M3.HK3);
                    $('#txt_tb_m3').val(data.Dkxt_Diem_M3.DTB);



                    $('#dkxt_hocba_id_checkin').val(data.Dkxt_HB_ID);                    
                }
            },
            error: function (errormessage) {
                console.log(errormessage.error);
            }
        });
    }
    function LoadImageMC_XTHB_ByID() {
        /*  var hidden_Dkxt_HB_ID = $('#hidden_Dkxt_HB_ID').val();*/
        let data_get = { Dkxt_HB_ID: $('#hidden_Dkxt_HB_ID').val() }
        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_HB_GetByID",
            data: JSON.stringify(data_get),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                console.log("test", res)
                if (res.success) {
                    let data = res.data;
                    $('#sp_view_mc_hocba').empty();

                    if (data.Dkxt_HB_MinhChung_HB) {
                        const ArrMCHocBa = data.Dkxt_HB_MinhChung_HB.split("#");
                        if (ArrMCHocBa.length > 0) {

                            for (i = 0; i < ArrMCHocBa.length; i++) {
                                if (ArrMCHocBa[i].length > 0) {
                                    var str_a = ` <a href="#"  onclick="showimg('${ArrMCHocBa[i]}',2,${data.Dkxt_HB_ID})" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a> `;
                                    $('#sp_view_mc_hocba').append(str_a);
                                }
                            }
                        }
                        else {
                            var str_a = ` <a style="color:red">Không có dữ liệu</a> `;
                            $('#sp_view_mc_hocba').append(str_a);
                        }
                    }
                    else {
                        var str_a = ` <a style="color:red">Không có dữ liệu</a> `;
                        $('#sp_view_mc_hocba').append(str_a);
                    }

                    $('#sp_view_mc_bang').empty();

                    if (data.Dkxt_HB_MinhChung_Bang) {
                        const ArrMCBang = data.Dkxt_HB_MinhChung_Bang.split("#");
                        if (ArrMCBang.length > 0) {

                            for (i = 0; i < ArrMCBang.length; i++) {
                                if (ArrMCBang[i].length > 0) {
                                    var str_a = ` <a href="#"  onclick="showimg('${ArrMCBang[i]}',3,${data.Dkxt_HB_ID})" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a> `;
                                    $('#sp_view_mc_bang').append(str_a);
                                }
                            }
                        }
                        else {
                            var str_a = ` <a style="color:red">Không có dữ liệu</a> `;
                            $('#sp_view_mc_bang').append(str_a);
                        }
                    }
                    else {
                        var str_a = ` <a style="color:red">Không có dữ liệu</a> `;
                        $('#sp_view_mc_bang').append(str_a);
                    }


                    $('#sp_view_mc_cccd').empty();

                    if (data.Dkxt_HB_MinhChung_CCCD) {
                        const ArrMCCCCD = data.Dkxt_HB_MinhChung_CCCD.split("#");
                        if (ArrMCCCCD.length > 0) {

                            for (i = 0; i < ArrMCCCCD.length; i++) {
                                if (ArrMCCCCD[i].length > 0) {
                                    var str_a = `<a href="#"  onclick="showimg('${ArrMCCCCD[i]}',4,${data.Dkxt_HB_ID})" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a> `;
                                    $('#sp_view_mc_cccd').append(str_a);
                                }
                            }
                        }
                        else {
                            var str_a = ` <a style="color:red">Không có dữ liệu</a> `;
                            $('#sp_view_mc_cccd').append(str_a);
                        }

                    }
                    else {
                        var str_a = ` <a style="color:red">Không có dữ liệu</a> `;
                        $('#sp_view_mc_cccd').append(str_a);
                    }

                    $('#sp_view_mc_uutien').empty();

                    if (data.Dkxt_HB_MinhChung_UuTien) {
                        const ArrMCUutien = data.Dkxt_HB_MinhChung_UuTien.split("#");
                        if (ArrMCUutien.length > 0) {

                            for (i = 0; i < ArrMCUutien.length; i++) {
                                if (ArrMCUutien[i].length > 0) {
                                    var str_a = ` <a href="#"  onclick="showimg('${ArrMCUutien[i]}',5,${data.Dkxt_HB_ID})" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Tệp ${i + 1}</a> `;
                                    $('#sp_view_mc_uutien').append(str_a);
                                }
                            }
                        }
                        else {
                            var str_a = ` <a style="color:red">Không có dữ liệu</a> `;
                            $('#sp_view_mc_uutien').append(str_a);
                        }
                    }
                    else {
                        var str_a = ` <a style="color:red">Không có dữ liệu</a> `;
                        $('#sp_view_mc_uutien').append(str_a);
                    }
                }
            },
            error: function (errormessage) {
                console.log(errormessage.error);
            }
        });
    }

    function reset_change_img_file() {

        $('#files_hocba').val(null);
        $('#files_cancuoc_congdan').val(null);
        $('#files_bangtn').val(null);
        $('#files_giayto_uutien').val(null);

        $("#FilesList_HocBa_View tbody").empty();
        $("#FilesList_CCCD_View tbody").empty();
        $("#FilesList_BangTN_View tbody").empty();
        $("#FilesList_GTUT_View tbody").empty();

         formdata_files_hocba = new FormData(); 
         formdata_bang_tn = new FormData(); 
         formdata_cccd = new FormData(); 
         formdata_giayto_uutien = new FormData(); 
    }
    // phần xử lý dữ liệu cho div update
    $(document).ready(function () {
        $("#select_khoinganh").change(function () {
            select_nganh_view_data($("#select_khoinganh").val(), 0, 0);
        });
        $("#select_nganh").change(function () {
            select_tohopmon_view_data($("#select_nganh").val(), 0, 0);
        });

        $("#select_tohopmon").change(function () {

            let dataObj = {
                Thm_ID: $("#select_tohopmon").val(),
                Dkxt_HB_ID: $('#dkxt_hocba_id_checkin').val()
            }

            $.ajax({
                url: "/DangKyXetTuyens/DangKyXetTuyen_HB_Get_Data_MonHoc",
                data: JSON.stringify(dataObj),
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (res) {
                    reset_fields_controll_disabled_false()
                    $('#lb_tenmon_1').text(res.thm_Mon1);
                    $('#lb_tenmon_2').text(res.thm_Mon2);
                    $('#lb_tenmon_3').text(res.thm_Mon3);
                },
                error: function (errormessage) {
                    console.log(errormessage.error);
                }
            });

        });
        on_listen_fields_input_data(".input-mon1", '#txt_tb_m1');
        on_listen_fields_input_data(".input-mon2", '#txt_tb_m2');
        on_listen_fields_input_data(".input-mon3", '#txt_tb_m3');

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })

    });
    function select_khoinganh_view_data(khoinganh_key, nganh_key, tohopmon_key) {
        $('#select_khoinganh').empty()
        $.ajax({
            url: "/DangKyXetTuyens/KhoiNganhListAll",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result_all) {
                $.each(result_all, function (i, result) {
                    $('#select_khoinganh').append('<option value="' + result.khoiNganh_ID + '">' + result.khoiNganh_Ten + '</option>');
                });
                $('#select_khoinganh').val(khoinganh_key);
                select_nganh_view_data(khoinganh_key, nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function select_nganh_view_data(id, nganh_key, tohopmon_key) {
        $("#select_nganh").empty();
        $.ajax({
            url: "/DangKyXetTuyens/NganhListAll/" + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {
                $.each(result_all, function (i, result) {
                    $('#select_nganh').append('<option value="' + result.nganh_ID + '">' + result.nganh_GhiChu + '</option>');
                });

                $('#select_nganh').val(nganh_key);
                select_tohopmon_view_data(nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function select_tohopmon_view_data(id, tohopmon_key) { // id = Nganh_ID
        $("#select_tohopmon").empty();
        $.ajax({
            url: '/DangKyXetTuyens/ToHopMonNganhListAll/' + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {
                $.each(result_all, function (i, result) {
                    $('#select_tohopmon').append('<option value="' + result.thm_ID + '">' + result.thm_MaTen + '</option>');
                });
                $('#select_tohopmon').val(tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function on_listen_fields_input_data(inputClass, outputClass) {
        var inputFields = $(inputClass);
        inputFields.on('input', function () {
            var allFilled = true;
            inputFields.each(function () {
                if ($(this).val() === '' || $(this).val() < 0 || $(this).val() > 10) {
                    allFilled = false;
                    var errorMessage = "Chưa nhập đủ điểm các môn hoặc nhập chưa đúng, vui lòng kiểm tra lại!"; $('#Diem_All_Error').text(errorMessage);
                    $(outputClass).val('');
                    return false;
                }
            });

            if (allFilled) {
                $('#Diem_All_Error').text('');
                let total = 0;
                inputFields.each(function () {
                    total += parseFloat($(this).val());
                });
                /* console.log(total / 3)*/
                $(outputClass).val((total / 3).toFixed(2));
            }
        });
    }

    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
    function reset_fields_controll_disabled_false() {

        $('#lb_tenmon_1').text("Chưa chọn");
        $('#lb_tenmon_2').text("Chưa chọn");
        $('#lb_tenmon_3').text("Chưa chọn");
        $('#lb_tongdiem').text('Tổng');

        $('.input-mon1').val('');
        $('.input-mon2').val('');
        $('.input-mon3').val('');
        $('.input-tong').val('');

        $('.input-mon1').prop('disabled', false);
        $('.input-mon2').prop('disabled', false);
        $('.input-mon3').prop('disabled', false);
        $('#txt_m1_k1').focus();

        $('#files_hocba').val(null);
        $('#files_cancuoc_congdan').val(null);
        $('#files_bangtn').val(null);
        $('#files_giayto_uutien').val(null);

        $('#files_hocba').prop('disabled', false);
        $('#files_cancuoc_congdan').prop('disabled', false);
        $('#files_bangtn').prop('disabled', false);
        $('#files_giayto_uutien').prop('disabled', false);


        $("#FilesList_HocBa_View tbody").empty();
        $("#FilesList_CCCD_View tbody").empty();
        $("#FilesList_BangTN_View tbody").empty();
        $("#FilesList_GTUT_View tbody").empty();
    }
    function reset_fields_controll_disabled_true() {

        $('#lb_tenmon_1').text("Chưa chọn");
        $('#lb_tenmon_2').text("Chưa chọn");
        $('#lb_tenmon_3').text("Chưa chọn");
        $('#lb_tongdiem').text('Tổng');

        $('.input-mon1').val('');
        $('.input-mon2').val('');
        $('.input-mon3').val('');
        $('.input-tong').val('');

        $('.input-mon1').prop('disabled', true);
        $('.input-mon2').prop('disabled', true);
        $('.input-mon3').prop('disabled', true);
        //$('#txt_m1_k1').focus();

        $('#files_hocba').val(null);
        $('#files_cancuoc_congdan').val(null);
        $('#files_bangtn').val(null);
        $('#files_giayto_uutien').val(null);

        $('#files_hocba').prop('disabled', true);
        $('#files_cancuoc_congdan').prop('disabled', true);
        $('#files_bangtn').prop('disabled', true);
        $('#files_giayto_uutien').prop('disabled', true);


        $("#FilesList_HocBa_View tbody").empty();
        $("#FilesList_CCCD_View tbody").empty();
        $("#FilesList_BangTN_View tbody").empty();
        $("#FilesList_GTUT_View tbody").empty();

    }
    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    /*phần xử lý upload file */
    var formdata_files_hocba = new FormData(); //FormData object hoc ba
    var formdata_bang_tn = new FormData(); //FormData object bang TN
    var formdata_cccd = new FormData(); //FormData object cancuoc cong dan
    var formdata_giayto_uutien = new FormData(); //FormData object giaytout

    $(document).ready(function () {
        $("#files_hocba").on("change", function () {
            var files_hocba = document.getElementById('files_hocba');

            for (i = 0; i < files_hocba.files.length; i++) {

                var sfilename_hocba = files_hocba.files[i].name;
                let srandomid_hocba = Math.random().toString(36).substring(7);
                formdata_files_hocba.append(sfilename_hocba, files_hocba.files[i]);

                var markup_hocba = "<tr id='" + srandomid_hocba + "'><td>" + sfilename_hocba + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_HoBas_Upload(\"" + srandomid_hocba + "\",\"" + sfilename_hocba + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocBa_View tbody").append(markup_hocba);
            }
            chkatchtbl_hocba();
            $('#files_hocba').val('');
        });

        $("#files_cancuoc_congdan").on("change", function () {
            var files_cancuoc_congdan = document.getElementById('files_cancuoc_congdan');

            for (i = 0; i < files_cancuoc_congdan.files.length; i++) {

                var sfilename_cccd = files_cancuoc_congdan.files[i].name;
                let srandomid_cccd = Math.random().toString(36).substring(7);
                formdata_cccd.append(sfilename_cccd, files_cancuoc_congdan.files[i]);
                var markup_cccd = "<tr id='" + srandomid_cccd + "'><td>" + sfilename_cccd + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_HoBas_Upload(\"" + srandomid_cccd + "\",\"" + sfilename_cccd + "\")'>Xóa</a></td></tr>";
                $("#FilesList_CCCD_View tbody").append(markup_cccd);
            }
            chkatchtbl_cccd();
            $('#files_cancuoc_congdan').val('');
        });

        $("#files_bangtn").on("change", function () {
            var files_bangtn = document.getElementById('files_bangtn');
            for (i = 0; i < files_bangtn.files.length; i++) {

                var sfilename_bang_tn = files_bangtn.files[i].name;
                let srandomid_bang_tn = Math.random().toString(36).substring(7);

                formdata_bang_tn.append(sfilename_bang_tn, files_bangtn.files[i]);
                var markup_bang_tn = "<tr id='" + srandomid_bang_tn + "'><td>" + sfilename_bang_tn + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_HoBas_Upload(\"" + srandomid_bang_tn + "\",\"" + sfilename_bang_tn + "\")'>Xóa</a></td></tr>";
                $("#FilesList_BangTN_View tbody").append(markup_bang_tn);

            }
            chkatchtbl_bang_tn();
            $('#files_bangtn').val('');
        });

        $("#files_giayto_uutien").on("change", function () {
            var files_giayto_uutien = document.getElementById('files_giayto_uutien');
            for (i = 0; i < files_giayto_uutien.files.length; i++) {

                var sfilename_gtuutien = files_giayto_uutien.files[i].name;
                let srandomid_gtuutien = Math.random().toString(36).substring(7);

                formdata_giayto_uutien.append(sfilename_gtuutien, files_giayto_uutien.files[i]);
                var markup_giayto_uutien = "<tr id='" + srandomid_gtuutien + "'><td>" + sfilename_gtuutien + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_HoBas_Upload(\"" + srandomid_gtuutien + "\",\"" + sfilename_gtuutien + "\")'>Xóa</a></td></tr>";
                $("#FilesList_GTUT_View tbody").append(markup_giayto_uutien);

            }
            chkatchtbl_giayto_uutien();
            $('#files_giayto_uutien').val('');
        });
    });
    function DeleteFile_HoBas_Upload(Fileid, FileName) {
        formdata_files_hocba.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_hocba();
    }
    function chkatchtbl_hocba() {
        if ($('#FilesList_HocBa_View tr').length > 0) { $("#FilesList_HocBa_View").css("visibility", "visible"); }
        else { $("#FilesList_HocBa_View").css("visibility", "hidden"); }
    }

    function DeleteFile_CCCD_View(Fileid, FileName) {
        formdata_cccd.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_cccd();
    }
    function chkatchtbl_cccd() {
        if ($('#FilesList_CCCD_View tr').length > 0) { $("#FilesList_CCCD_View").css("visibility", "visible"); }
        else { $("#FilesList_CCCD_View").css("visibility", "hidden"); }
    }

    function DeleteFile_BangTN_Upload(Fileid, FileName) {
        formdata_bang_tn.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_bang_tn();
    }
    function chkatchtbl_bang_tn() {
        if ($('#FilesList_BangTN_View tr').length > 0) {
            $("#FilesList_BangTN_View").css("visibility", "visible");
        } else {
            $("#FilesList_BangTN_View").css("visibility", "hidden");
        }
    }

    function DeleteFile_GTUT_Upload(Fileid, FileName) {
        formdata_giayto_uutien.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_giayto_uutien();
    }
    function chkatchtbl_giayto_uutien() {
        if ($('#FilesList_GTUT_View tr').length > 0) {
            $("#FilesList_GTUT_View").css("visibility", "visible");
        } else {
            $("#FilesList_GTUT_View").css("visibility", "hidden");
        }
    }
    $('#bt_ok_div_update_aspirations').click(function () {
        let flag = true;

        var _nganh_ID = $('#select_nganh').val();
        var _thm_ID = $('#select_tohopmon').val();

        console.log(_nganh_ID)

        var _dkxt_Diem_M1 = { TenMon: $('#lb_tenmon_1').text(), HK1: $('#txt_m1_k1').val(), HK2: $('#txt_m1_k2').val(), HK3: $('#txt_m1_k3').val(), DiemTrungBinh: $('#txt_tb_m1').val(), };
        var _dkxt_Diem_M2 = { TenMon: $('#lb_tenmon_2').text(), HK1: $('#txt_m2_k1').val(), HK2: $('#txt_m2_k2').val(), HK3: $('#txt_m2_k3').val(), DiemTrungBinh: $('#txt_tb_m2').val(), };
        var _dkxt_Diem_M3 = { TenMon: $('#lb_tenmon_3').text(), HK1: $('#txt_m3_k1').val(), HK2: $('#txt_m3_k2').val(), HK3: $('#txt_m3_k3').val(), DiemTrungBinh: $('#txt_tb_m3').val(), };

        var _diemTBMon1 = $('#txt_tb_m1').val();
        var _diemTBMon2 = $('#txt_tb_m2').val();
        var _diemTBMon3 = $('#txt_tb_m3').val();

        if (_nganh_ID == 0) { var errorMessage = "Chưa chọn ngành"; $('#Nganh_ID_Error').text(errorMessage); flag = false; }
        if (_thm_ID == 0) { var errorMessage = "Chưa chọn tổ hợp môn"; $('#Thm_ID_Error').text(errorMessage); flag = false; }
        if (_diemTBMon1 == '' || _diemTBMon2 == '' || _diemTBMon3 == '') { var errorMessage = "Chưa nhập đủ điểm các môn hoặc nhập chưa đúng, vui lòng kiểm tra lại!"; $('#Diem_All_Error').text(errorMessage); flag = false; }



        /* xử lý phần upload file lên server*/

        let _Dkxt_MinhChung_HB = "";
        let _Dkxt_MinhChung_CCCD = "";
        let _Dkxt_MinhChung_Bang = "";
        let _Dkxt_MinhChung_UuTien = "";


        let so_file_hb = 0;
        let so_file_cccd = 0;
        let so_file_btn = 0;
        let so_file_gtut = 0;

        let formData_All = new FormData();

        for (const item of formdata_files_hocba) {
            formData_All.append(item[0], item[1]);
            so_file_hb++;
        }
        for (const item of formdata_cccd) {
            formData_All.append(item[0], item[1]);
            so_file_cccd++;
        }
        for (const item of formdata_bang_tn) {

            formData_All.append(item[0], item[1]);
            so_file_btn++;
        }
        for (const item of formdata_giayto_uutien) {
            formData_All.append(item[0], item[1]);
            so_file_gtut++;
        }

        formData_All.append('so_file_hb', so_file_hb);
        formData_All.append('so_file_cccd', so_file_cccd);
        formData_All.append('so_file_btn', so_file_btn);
        formData_All.append('so_file_gtut', so_file_gtut);

        $.ajax({
            url: '/DangKyXetTuyens/DangKyXetTuyen_HB_UploadFile_Multi',
            type: "POST",
            contentType: false,
            processData: false,
            data: formData_All,
            async: false,
            success: function (res) {
                console.log("Test upload", res);
                _Dkxt_MinhChung_HB = res.MinhChung_HB;
                _Dkxt_MinhChung_Bang = res.MinhChung_Bang;
                _Dkxt_MinhChung_CCCD = res.MinhChung_CCCD;              
                _Dkxt_MinhChung_UuTien = res.MinhChung_UuTien;
                check_in_file_hoba = true;
            },
            error: function (err) {              
                console(err.statusText);
            }
        });

        /*hết phần upload file*/
        if (!flag) return;
        var _dkxt_Diem_Tong = parseFloat(_diemTBMon1) + parseFloat(_diemTBMon2) + parseFloat(_diemTBMon3);
        var formData_dknv_udate = {
            Dkxt_HB_ID: $('#hidden_Dkxt_HB_ID').val(),
            Nganh_ID: _nganh_ID,
            Thm_ID: _thm_ID,
            Dkxt_HB_Diem_M1: JSON.stringify(_dkxt_Diem_M1),
            Dkxt_HB_Diem_M2: JSON.stringify(_dkxt_Diem_M2),
            Dkxt_HB_Diem_M3: JSON.stringify(_dkxt_Diem_M3),

            Dkxt_HB_Diem_Tong: _dkxt_Diem_Tong.toString(),

            Dkxt_HB_MinhChung_HB: _Dkxt_MinhChung_HB,
            Dkxt_HB_MinhChung_Bang: _Dkxt_MinhChung_Bang,
            Dkxt_HB_MinhChung_CCCD: _Dkxt_MinhChung_CCCD,           
            Dkxt_HB_MinhChung_UuTien: _Dkxt_MinhChung_UuTien,
        }
        console.log(formData_dknv_udate);
       
        $("#loadingModal").modal("show");

        $.ajax({
            url: '/DangKyXetTuyens/DangKyXetTuyen_HB_Edit',
            data: JSON.stringify(formData_dknv_udate),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {                  
                    $("#loadingModal").modal("hide");
                    // hiển thị thông tin đăng ký nguyện vọng
                    LoadDataInfor_XTHB_ByID();
                    //hiển thị các hình ảnh minh chứng
                    LoadImageMC_XTHB_ByID();
                    //  window.location.href = '/DangKyXetTuyens/Dkxthocba';
                    showToast("Thông báo", "Chỉnh sửa dữ liệu thành công!", "bg-error");
                    reset_change_img_file();
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
                    $("#loadingModal").modal("hide");

                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
                $("#loadingModal").modal("hide");
            }
        });

    });
    // button tắt cửa sổ thêm mới phía trên
    $('#bt_close_div_update_aspirations_first').click(function () {
        window.location.href = '/DangKyXetTuyens/Dkxthocba'
    });
    // button tắt cửa sổ thêm mới phía dưới
    $('#bt_close_div_update_aspirations_second').click(function () {
        window.location.href = '/DangKyXetTuyens/Dkxthocba'
    });
</script>
<script>
    function showimg(url, loaimc, id_key_hs) {

        $('#hiden_id_key').val(id_key_hs);
        $('#hiden_loai_minhchung_xoa').val(loaimc);
        $("#hiden_duongdan_file_xoa").val(url);

        var pdf_view = document.getElementById("pdf_view");

        $('#pdf_view').height('0px');
        $('#pdf_view').css('display', 'none');
        $("#pdf_view").attr("src", "");
        $("#pdf_view").hide();

        $("#img_view").attr("src", "");
        $('#img_view').hide();
      
        if (loaimc == 2) {
            $('#img_txt_card_hearder').text('Minh chứng học bạ');
        }
        if (loaimc == 3) {
            $('#img_txt_card_hearder').text('Minh chứng bằng');
        }
        if (loaimc == 4) {
            $('#img_txt_card_hearder').text('Minh chứng căn cước công dân');
        }
        if (loaimc == 5) {
            $('#img_txt_card_hearder').text('Minh chứng giấy tờ khác');
        }
        var lastChar = url.substr(url.length - 4); // => kiểm tra file pdf hoặc img

        if (lastChar.toLowerCase() != ".pdf") {

            $('#pdf_view').height('0px');
            $('#pdf_view').css('display', 'none');
            $("#pdf_view").attr("src", "");
            $("#pdf_view").hide();

            $("#img_view").attr("src", url);
            $("#img_view").show();
        }
        if (lastChar.toLowerCase() === ".pdf") {
            $("#img_view").hide();
            $("#img_view").attr("src", "");

            $('#pdf_view').height('500px');
            $('#pdf_view').css('display', 'inline');
            $("#pdf_view").attr("src", url);
            $("#pdf_view").show();
        }
        $('#div_view_img').show();
    }

    $(document).ready(function () {
        $('#bt_close_div_view_img').click(function () {
            reset_div_view_img();     
        });

    });
    function reset_div_view_img() {
        $('#img_txt_card_hearder').text('Hình ảnh minh chứng');
        $('#pdf_view').height('0px');
        $('#pdf_view').css('display', 'none');
        $("#pdf_view").attr("src", "");
        $("#pdf_view").hide();

        $("#img_view").attr("src", "");
        $('#img_view').hide();
        $('#div_view_img').hide();  
    }
</script>
