
@{
    ViewBag.Title = "dkxthocba2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .padding_input_text_number {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Sử dụng kết quả học tập ở THPT (Xét tuyển bằng học bạ)</span>
                        @*<span>Sử dụng kết quả học tập ở THPT (Xét tuyển bằng học bạ)</span>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div id="div_list_aspirations">
        <div class="card card-header-actions">
            <div class="card-header">
                <span>Các nguyện vọng đã đăng ký</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xxl-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align:middle;">Nguyện vọng</th>
                                    <th style="vertical-align:middle;">Ngành</th>
                                    <th style="vertical-align:middle;">Tổ hợp môn</th>
                                    <th style="vertical-align:middle;">Tổng điểm</th>
                                    <th style="vertical-align:middle; text-align:center; ">Cập nhật</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_list_nguyenvong">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <center>
                            <button id="bt_xuat_phieu_tong_hop_kq" class="btn btn-outline-success">Xuất phiếu tổng hợp</button>
                            <a id="bt_add_aspirations" class="btn btn-outline-primary" >Thêm nguyện vọng</a>
                            <script>
                                $(document).ready(function () {
                                    let sp_tieude = document.getElementById('sp_tieude');
                                    let bt_xuat_phieu_tong_hop = document.getElementById('bt_xuat_phieu_tong_hop_kq');
                                    let bt_them_nguyen_vong = document.getElementById('bt_add_aspirations');

                                    if (window.innerWidth <= 700) {
                                        sp_tieude.innerHTML = "Sử dụng KQ học tập THPT (Xét học bạ)";
                                        bt_xuat_phieu_tong_hop.innerHTML = "Xuất phiếu";
                                        bt_them_nguyen_vong.innerHTML = "Thêm NV";

                                    }
                                    else {
                                        sp_tieude.innerHTML = "Sử dụng kết quả học tập ở THPT (Xét tuyển bằng học bạ)";
                                        bt_xuat_phieu_tong_hop.innerHTML = "Xuất phiếu tổng hợp";
                                        bt_them_nguyen_vong.innerHTML = "Thêm nguyện vọng";

                                    }

                                    function reportWindowSize() {
                                        if (window.innerWidth <= 700) {
                                            sp_tieude.innerHTML = "Sử dụng KQ học tập THPT (Xét học bạ)";
                                            bt_xuat_phieu_tong_hop.innerHTML = "Xuất phiếu";
                                            bt_them_nguyen_vong.innerHTML = "Thêm NV";

                                        }
                                        else {
                                            sp_tieude.innerHTML = "Sử dụng kết quả học tập ở THPT (Xét tuyển bằng học bạ)";
                                            bt_xuat_phieu_tong_hop.innerHTML = "Xuất phiếu tổng hợp";
                                            bt_them_nguyen_vong.innerHTML = "Thêm nguyện vọng";

                                        }
                                    }
                                    window.onresize = reportWindowSize;
                                })
                            </script>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <p style="color:red; font-style:italic" class="mb-1">Lưu ý: </p>

                        <p style="color:red; font-style:italic; text-align:justify" class="mb-1">-Thí sinh cần nộp lệ phí xét tuyển và gửi minh chứng trong phần thông tin lệ phí (ảnh chụp giao dịch chuyển tiền).</p>
                        <p style="color: red; font-style: italic; text-align: justify" class="mb-1">- Thí sinh in phiếu tổng hợp nguyện vọng đăng ký của phương thức này, kiểm tra lại thông tin trong phiếu, ký xác nhận và gửi về trường theo đường bưu điện.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_update_aspirations" style="display:none">
        <div class="card card-header-actions">
            <div class="card-header">
                <span>Đăng ký nguyện vọng mới</span>
                @*<button class="btn-close" type="button" aria-label="Close"></button>*@
                <button class="btn-close" id="bt_close_div_update_aspirations_first" type="button" aria-label="Close"></button>
            </div>
            <div class="card-body">
                <input type="hidden" id="dkxt_hocba_id_checkin" name="dkxt_hocba_id_checkin" />
                <div class="row">
                    <div class="col-xxl-4">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2">Chọn ngành và tổ hợp môn <font color="red">(*)</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:130px">Khối ngành <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_khoinganh" class="form-select"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ngành <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_nganh" class="form-select"></select>
                                        <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tổ hợp môn <font color="red">(*)</font></td>
                                    <td>
                                        <select id="select_tohopmon" class="form-select"></select>
                                        <span id="Thm_ID_Error" class="small mb-1 text-danger"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="row">
                                            <div class="col-6 ">
                                                <span id="span_Uutien_doituong"></span>
                                                <hr />
                                            </div>
                                            <div class="col-6  ">
                                                <span id="span_Uutien_khuvuc"></span>
                                                <hr />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <span> Học lực lớp 12</span>
                                                <input id="txt_hocluc_12" type="text" class="form-control" value="" disabled />

                                            </div>
                                            <div class="col-6">
                                                <span>Hạnh kiểm lớp 12</span>
                                                <input id="txt_hanhkiem_12" type="text" class="form-control" value="" disabled />
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                        </table>
                    </div>
                    <div class="col-xxl-4">
                        <div class="row md-0">
                            <div class="col-xxl-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;" colspan="5">Điểm các môn xét tuyển <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td style="vertical-align:middle; width:9%">Môn</td>
                                            <td style="vertical-align: middle; text-align: center; width: 23%">HK1/11</td>
                                            <td style="vertical-align: middle; text-align: center; width: 23%">HK2/11</td>
                                            <td style="vertical-align: middle; text-align: center; width: 23%">HK1/12</td>
                                            <td style="vertical-align: middle; text-align: center; width: 22%">TBC</td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_1" class="form-label">Chưa chọn</label></td>
                                            <td><input id="txt_m1_k1" type="number" class="form-control input-mon1 padding_input_text_number " value="" disabled /></td>
                                            <td><input id="txt_m1_k2" type="number" class="form-control input-mon1 padding_input_text_number " value="" disabled /></td>
                                            <td><input id="txt_m1_k3" type="number" class="form-control input-mon1 padding_input_text_number " value="" disabled /></td>
                                            <td><input id="txt_tb_m1" type="text" class="form-control padding_input_text_number input-tong" value="" disabled /></td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_2" class="form-label">Chưa chọn</label></td>
                                            <td><input id="txt_m2_k1" type="number" class="form-control input-mon2 padding_input_text_number " value="" disabled /></td>
                                            <td><input id="txt_m2_k2" type="number" class="form-control input-mon2 padding_input_text_number " value="" disabled /></td>
                                            <td><input id="txt_m2_k3" type="number" class="form-control input-mon2 padding_input_text_number " value="" disabled /></td>
                                            <td><input id="txt_tb_m2" type="text" class="form-control padding_input_text_number input-tong" value="" disabled /></td>
                                        </tr>
                                        <tr style="vertical-align:middle;">
                                            <td><label id="lb_tenmon_3" class="form-label">Chưa chọn</label></td>
                                            <td><input id="txt_m3_k1" type="number" class="form-control input-mon3 padding_input_text_number " value="" disabled /></td>
                                            <td><input id="txt_m3_k2" type="number" class="form-control input-mon3 padding_input_text_number " value="" disabled /></td>
                                            <td><input id="txt_m3_k3" type="number" class="form-control input-mon3 padding_input_text_number " value="" disabled /></td>
                                            <td><input id="txt_tb_m3" type="text" class="form-control padding_input_text_number input-tong" value="" disabled /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-0 mb-1">
                            <div class="col-xxl-12" style="text-align:center">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row md-0">
                            <div class="col-xxl-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Minh chứng học bạ <font color="red">(*)</font></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <input id="files_hocba" type="file" multiple class="form-control" data-val="true" data-val-required="Vui lòng chọn file học bạ"
                                                               accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                        <span id="SP_HocBa_Error" class="small mb-1 text-danger"></span>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table mt-0 mb-0" id="FilesList_HocBa_View" style="visibility:hidden">
                                                            <tr style="display:none">
                                                                <th colspan="3"><input type="hidden" id="txt_uploader_file_hocba" /></th>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-xxl-4">
                        <div class="row md-0">
                            <div class="col-xxl-12">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:middle;">Minh chứng khác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_list_diemmonhoc">
                                        <tr>
                                            <td>
                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label for="files_cancuoc_congdan" class="form-label">Căn cước công dân</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_cancuoc_congdan" multiple="multiple" name="files_cancuoc_congdan" type="file" data-val="true" data-val-required="Vui lòng chọn file CCCD"
                                                                       accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table mt-0 mb-0" id="FilesList_CCCD_View" style="visibility:hidden"> <tr style="display:none"><th colspan="3"><input type="hidden" id="txt_uploader_file_cccd" /></th></tr></table>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label for="files_bangtn" class="form-label">Bằng Tốt nghiệp (nếu có)</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_bangtn" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn file Bằng TN" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table mt-0 mb-0" id="FilesList_BangTN_View" style="visibility:hidden"> <tr style="display:none"><th colspan="3"><input type="hidden" id="txt_uploader_file_bangtn" /></th></tr></table>
                                                    </div>
                                                </div>

                                                <div class="row mt-0 md-0">
                                                    <div class="col-xxl-12">
                                                        <div class="form-group mb-2">
                                                            <label for="files_giayto_uutien" class="form-label">Giấy tờ ưu tiên (nếu có)</label>
                                                            <div class="col-md-12">
                                                                <input class="form-control" id="files_giayto_uutien" multiple="multiple" name="files" type="file" data-val="true" data-val-required="Vui lòng chọn giấy tờ ưu tiên" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxl-12">
                                                        <table class="table mt-0 mb-0" id="FilesList_GTUT_View" style="visibility:hidden"> <tr style="display:none"><th colspan="3"><input type="hidden" id="txt_uploader_file_g" /></th></tr></table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-0 mb-1">
                            <div class="col-xxl-12" style="text-align:center">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-xxl-12" style="text-align:center">                            
                                <input class="btn btn-primary col-5 col-auto" id="bt_ok_div_update_aspirations" type="button" value="Đồng ý" />
                                <input class="btn btn-secondary col-5 col-auto" id="bt_close_div_update_aspirations_second" type="button" value="Hủy bỏ" />                             
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Toast Title</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_delete_first"></button>
                </div>
                <div class="modal-body">
                    <span>Bạn chắc chắn nguyện vọng này?</span>
                    <input id="key_delete_dkxt_id" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_delete_second">Hủy</button>
                    <button class="btn btn-primary" type="button" id="bt_ok_on_modal_delete">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_tb_thaydoinv" tabindex="-1" role="dialog" aria-labelledby="modal_tb_thaydoinv" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_tb_thaydoinv">Thông báo</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_change_first"></button>
                </div>
                <div class="modal-body">
                    <span id="infor_change">Bạn chắc chắn thay đổi nguyện vọng này?</span>
                    <input id="key_change_dkxt_hocba_id" type="hidden" />
                    <input id="key_check_down_up" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_change_second">Hủy</button>
                    <button class="btn btn-primary" type="button" id="bt_ok_on_modal_change">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    // phần hiển thị dữ liệu đã đăng ký
    $(document).ready(function () {
        ts_dkxt_hocba_list_all();
    });

    function ts_dkxt_hocba_list_all() {
        let _output = "";
        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_HB_ListAll/",
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {

                $('#span_Uutien_doituong').html(result_all.Dkxt_doituong_ten_diem);
                $('#span_Uutien_khuvuc').html(result_all.Dkxt_khuvuv_ten_diem);
                $('#txt_hocluc_12').val(result_all.Dkxt_xeploai_hocluc_12);
                $('#txt_hanhkiem_12').val(result_all.Dkxt_xeploai_hanhkiem_12);

                if (result_all.length == 0) {
                    _output += '<tr><td colspan="5"  style="text-align:center">Chưa đăng ký nguyện vọng nào!</td></tr>';
                }
                else {
                    $.each(result_all.select_list_dkxt_model, function (i, result) {
                        if (result_all.select_list_dkxt_model.length == 1) {
                            _output = '<tr>' +
                                '<td style="vertical-align: middle !important "> NV' + result.dkxt_NguyenVong + "&nbsp;" + `<button class="btn btn-outline-primary btn-sm" disabled>&#8743;</button>&nbsp;<button  class="btn btn-outline-primary btn-sm" disabled>&#8744;</button>  </td>` +
                                '<td style="vertical-align: middle !important "> ' + result.dkxt_TenAll.nganh_GhiChu + ' </td>' +
                                '<td style="vertical-align: middle !important ">' + result.dkxt_TenAll.thm_MaTen + '</td>' +
                                '<td style="vertical-align: middle !important ">' + result.dkxt_Diem_tong_Full + '</td>' +
                                '<td style="text-align: center; vertical-align: middle !important">' + `<button class="btn btn-outline-danger btn-sm" onclick="delete_aspirations_on_table_onclick(${result.dkxt_ID})"}>Xoá</button>` + '</td>' +
                                '</tr>'
                        }
                        else if (result_all.select_list_dkxt_model.length > 1) {
                            _output += '<tr>' +
                                '<td style="vertical-align: middle !important "> NV' + result.dkxt_NguyenVong + "&nbsp;" + `<button class="btn btn-outline-primary btn-sm" onclick="change_up_aspirations_on_table_onclick(${result.dkxt_ID})" ${i == 0 ? "disabled" : ''}>&#8743;</button>&nbsp;<button  class="btn btn-outline-primary btn-sm" onclick="change_down_aspirations_on_table_onclick(${result.dkxt_ID})" ${i == result_all.select_list_dkxt_model.length - 1 ? "disabled" : ""}>&#8744;</button></td>` +
                                '<td style="vertical-align: middle !important "> ' + result.dkxt_TenAll.nganh_GhiChu + ' </td>' +
                                '<td style="vertical-align: middle !important ">' + result.dkxt_TenAll.thm_MaTen + '</td>' +
                                '<td style="vertical-align: middle !important ">' + result.dkxt_Diem_Tong_Full + '</td>' +
                                '<td style="text-align: center; vertical-align: middle !important">' + `<button class="btn btn-outline-danger btn-sm" onclick="delete_aspirations_on_table_onclick(${result.dkxt_ID})"}>Xoá</button>` + '</td>' +
                                '</tr>'
                        }
                    });
                }
                document.getElementById('tbody_list_nguyenvong').innerHTML = _output;
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    // button xóa nguyện vọng đã đăng ký:
    function delete_aspirations_on_table_onclick(_dkxt_id) {
        $('#modal_tb_xoa').modal('show');
        $('#key_delete_dkxt_id').val(_dkxt_id)
    }

    $('#bt_ok_on_modal_delete').click(function () {
        let data = {
            Dkxt_ID: $('#key_delete_dkxt_id').val(),
        };
        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_HB_Delete",
            data: JSON.stringify(data),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.status == true) {
                    ts_dkxt_hocba_list_all();
                    $('#modal_tb_xoa').modal('hide');
                    showToast("Thông báo", "Đã thực hiên xóa nguyện vọng!", "bg-success");
                }
                else {
                    showToast("Lỗi", res.msg, "bg-success");
                    alert(response.msg);
                }

            },
            error: function (errormessage) {
                showToast("Thông báo", "Lỗi! Chưa thể xóa theo yêu cầu!", "bg-success");
            }
        });

    });

    $('#bt_cancel_on_modal_delete_first').click(function () {
        $('#modal_tb_xoa').modal('hide');
        $('#key_delete_dkxt_id').val('');
    })
    $('#bt_cancel_on_modal_delete_second').click(function () {
        $('#modal_tb_xoa').modal('hide');
        $('#key_delete_dkxt_id').val('');
    })

    // thay đổi nguyện vọng đã đăng ký:
    function change_up_aspirations_on_table_onclick(_dkxt_hb_id) {
        $('#key_change_dkxt_hocba_id').val('');
        $('#key_check_down_up').val('');

        $('#key_change_dkxt_hocba_id').val(_dkxt_hb_id);
        $('#key_check_down_up').val('1');
        $('#infor_change').text('Bạn chắc chắn đổi nguyện vọng này lên trước?');
        $('#modal_tb_thaydoinv').modal('show');     
    }
    function change_down_aspirations_on_table_onclick(_dkxt_hb_id) {
        $('#key_change_dkxt_hocba_id').val('');
        $('#key_check_down_up').val('');

        $('#infor_change').text('Bạn chắc chắn đổi nguyện vọng này xuống sau?');
        $('#key_change_dkxt_hocba_id').val(_dkxt_hb_id);
        $('#key_check_down_up').val('2');
        $('#modal_tb_thaydoinv').modal('show');      
    }

    $('#bt_ok_on_modal_change').click(function () {
        let _check_action = $('#key_check_down_up').val();
        let data_Obj_change = { Dkxt_ID: $('#key_change_dkxt_hocba_id').val() };
        //console.log(_check_action);
        //console.log(data_Obj_change.Dkxt_ID);

        if (_check_action == 1) { // sửa lên trên
            $.ajax({
                url: "/DangKyXetTuyens/DangKyXetTuyen_HB_Change_UpData",
                data: JSON.stringify(data_Obj_change),
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    if (res.status == true) {
                        ts_dkxt_hocba_list_all();
                        $('#modal_tb_thaydoinv').modal('hide');
                        $('#key_change_dkxt_hocba_id').val('');
                        $('#key_check_down_up').val('');
                        showToast("Thông báo", "Đã thực hiện thay đổi nguyện vọng!", "bg-success");
                    }
                    else {
                        showToast("Lỗi", res.msg, "bg-success");
                        console.log(response.msg);
                    }
                },
                error: function (errormessage) {
                    showToast("Thông báo", "Lỗi! Chưa thể thực hiện theo yêu cầu!", "bg-success");
                }
            });
        }
        if (_check_action == 2) { // sửa xuống dưới
            $.ajax({
                url: "/DangKyXetTuyens/DangKyXetTuyen_HB_Change_DownData",
                data: JSON.stringify(data_Obj_change),
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    if (res.status == true) {
                        ts_dkxt_hocba_list_all();
                        $('#modal_tb_thaydoinv').modal('hide');
                        $('#key_change_dkxt_kqtthptqg_id').val('');
                        $('#key_check_down_up').val('');
                        showToast("Thông báo", "Đã thực hiện thay đổi nguyện vọng!", "bg-success");
                    }
                    else {
                        showToast("Lỗi", res.msg, "bg-success");
                        console.log(response.msg);
                    }
                },
                error: function (errormessage) {
                    showToast("Thông báo", "Lỗi! Chưa thể thực hiện theo yêu cầu!", "bg-success");
                }
            });
        }
    });

    $('#bt_cancel_on_modal_change_first').click(function () {
        $('#modal_tb_thaydoinv').modal('hide');
        $('#key_change_dkxt_hocba_id').val('');
        $('#key_check_down_up').val('');

    })

    $('#bt_cancel_on_modal_change_second').click(function () {
        $('#modal_tb_thaydoinv').modal('hide');
        $('#key_change_dkxt_hocba_id').val('');
        $('#key_check_down_up').val('');
    })
    // hết phần hiển thị dữ liệu đã đăng ký

    // phần xử lý dữ liệu cho div update
    $(document).ready(function () {
        $("#select_khoinganh").change(function () {
            select_nganh_view_data($("#select_khoinganh").val(), 0, 0);
             reset_fields_controll_disabled_true()
        });
        $("#select_nganh").change(function () {
            select_tohopmon_view_data($("#select_nganh").val(), 0, 0);
            reset_fields_controll_disabled_true()
        });

        $("#select_tohopmon").change(function () {
            let dataObj = {
                Thm_ID: $("#select_tohopmon").val(),
                Dkxt_ID: $('#dkxt_hocba_id_checkin').val()
            }
            // trường hợp là thêm mới
            if (dataObj.Dkxt_ID == 0 && dataObj.Thm_ID > 0) {

                $.ajax({
                    url: "/DangKyXetTuyens/DangKyXetTuyen_HB_Get_Data_MonHoc",
                    data: JSON.stringify(dataObj),
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (res) {
                        reset_fields_controll_disabled_false();
                        $('#lb_tenmon_1').text(res.thm_Mon1);
                        $('#lb_tenmon_2').text(res.thm_Mon2);
                        $('#lb_tenmon_3').text(res.thm_Mon3);
                    },
                    error: function (errormessage) {
                        console.log(errormessage.error);
                    }
                });
            }
            // trường hợp sửa => chưa làm
            else if (dataObj.Dkxt_ID == 0 && dataObj.Thm_ID == 0 ) {
                reset_fields_controll_disabled_true()
            }
        });


        on_listen_fields_input_data(".input-mon1", '#txt_tb_m1');
        on_listen_fields_input_data(".input-mon2", '#txt_tb_m2');
        on_listen_fields_input_data(".input-mon3", '#txt_tb_m3');

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })

    });

    // button hiển thị cửa sổ thêm mới
    $('#bt_add_aspirations').click(function () {
        document.getElementById('div_list_aspirations').style.display = "none";
        document.getElementById('div_update_aspirations').style.display = "inline";
        select_khoinganh_view_data(0, 0, 0);
        reset_fields_controll_disabled_true();
        $('#dkxt_hocba_id_checkin').val('0');
    });

    function select_khoinganh_view_data(khoinganh_key, nganh_key, tohopmon_key) {
        $('#select_khoinganh').empty()
        $.ajax({
            url: "/DangKyXetTuyens/KhoiNganhListAll",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result_all) {
                $.each(result_all, function (i, result) {
                    $('#select_khoinganh').append('<option value="' + result.khoiNganh_ID + '">' + result.khoiNganh_Ten + '</option>');
                });

                $('#select_khoinganh').val(khoinganh_key);
                select_nganh_view_data(khoinganh_key, nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function select_nganh_view_data(id, nganh_key, tohopmon_key) { // id = KhoiNganh_ID
        $("#select_nganh").empty();
        $.ajax({
            url: "/DangKyXetTuyens/NganhListAll/" + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {

                $.each(result_all, function (i, result) {
                    $('#select_nganh').append('<option value="' + result.nganh_ID + '">' + result.nganh_GhiChu + '</option>');
                });

                $('#select_nganh').val(nganh_key);
                select_tohopmon_view_data(nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function select_tohopmon_view_data(id, tohopmon_key) { // id = Nganh_ID
        $("#select_tohopmon").empty();
        $.ajax({
            url: "/DangKyXetTuyens/ToHopMonNganhListAll/" + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {
                $.each(result_all, function (i, result) {
                    $('#select_tohopmon').append('<option value="' + result.thm_ID + '">' + result.thm_MaTen + '</option>');
                });
                $('#select_tohopmon').val(tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function on_listen_fields_input_data(inputClass, outputClass) {
        var inputFields = $(inputClass);
        inputFields.on('input', function () {
            var allFilled = true;
            inputFields.each(function () {
                if ($(this).val() === '' || $(this).val() < 0 || $(this).val() > 10) {
                    allFilled = false;
                    var errorMessage = "Chưa nhập đủ điểm các môn hoặc nhập chưa đúng, vui lòng kiểm tra lại!"; $('#Diem_All_Error').text(errorMessage);
                    $(outputClass).val('');
                    return false;
                }
            });

            if (allFilled) {
                $('#Diem_All_Error').text('');
                let total = 0;
                inputFields.each(function () {
                    total += parseFloat($(this).val());
                });
                /* console.log(total / 3)*/
                $(outputClass).val((total / 3).toFixed(2));
            }
        });
    }

    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
    function reset_fields_controll_disabled_false() {

        $('#lb_tenmon_1').text("Chưa chọn");
        $('#lb_tenmon_2').text("Chưa chọn");
        $('#lb_tenmon_3').text("Chưa chọn");
        $('#lb_tongdiem').text('Tổng');

        $('.input-mon1').val('');
        $('.input-mon2').val('');
        $('.input-mon3').val('');
        $('.input-tong').val('');

        $('.input-mon1').prop('disabled', false);
        $('.input-mon2').prop('disabled', false);
        $('.input-mon3').prop('disabled', false);
        $('#txt_m1_k1').focus();

        $('#files_hocba').val(null);
        $('#files_cancuoc_congdan').val(null);
        $('#files_bangtn').val(null);
        $('#files_giayto_uutien').val(null);

        $('#files_hocba').prop('disabled', false);
        $('#files_cancuoc_congdan').prop('disabled', false);
        $('#files_bangtn').prop('disabled', false);
        $('#files_giayto_uutien').prop('disabled', false);


        $("#FilesList_HocBa_View tbody").empty();
        $("#FilesList_CCCD_View tbody").empty();
        $("#FilesList_BangTN_View tbody").empty();
        $("#FilesList_GTUT_View tbody").empty();
    }
    function reset_fields_controll_disabled_true() {

        $('#lb_tenmon_1').text("Chưa chọn");
        $('#lb_tenmon_2').text("Chưa chọn");
        $('#lb_tenmon_3').text("Chưa chọn");
        $('#lb_tongdiem').text('Tổng');

        $('.input-mon1').val('');
        $('.input-mon2').val('');
        $('.input-mon3').val('');
        $('.input-tong').val('');

        $('.input-mon1').prop('disabled', true);
        $('.input-mon2').prop('disabled', true);
        $('.input-mon3').prop('disabled', true);
        //$('#txt_m1_k1').focus();

        $('#files_hocba').val(null);
        $('#files_cancuoc_congdan').val(null);
        $('#files_bangtn').val(null);
        $('#files_giayto_uutien').val(null);

        $('#files_hocba').prop('disabled', true);
        $('#files_cancuoc_congdan').prop('disabled', true);
        $('#files_bangtn').prop('disabled', true);
        $('#files_giayto_uutien').prop('disabled', true);


        $("#FilesList_HocBa_View tbody").empty();
        $("#FilesList_CCCD_View tbody").empty();
        $("#FilesList_BangTN_View tbody").empty();
        $("#FilesList_GTUT_View tbody").empty();

    }
    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    /*phần xử lý upload file */
    var check_in_file_hoba = false;
    var formdata_files_hocba = new FormData(); //FormData object hoc ba
    var formdata_cccd = new FormData(); //FormData object cancuoc cong dan
    var formdata_bang_tn = new FormData(); //FormData object bang TN
    var formdata_giayto_uutien = new FormData(); //FormData object giaytout
    $(document).ready(function () {
        $("#files_hocba").on("change", function () {
            var files_hocba = document.getElementById('files_hocba');

            for (i = 0; i < files_hocba.files.length; i++) {

                var sfilename_hocba = files_hocba.files[i].name;
                let srandomid_hocba = Math.random().toString(36).substring(7);
                formdata_files_hocba.append(sfilename_hocba, files_hocba.files[i]);

                var markup_hocba = "<tr id='" + srandomid_hocba + "'><td>" + sfilename_hocba + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_HoBas_Upload(\"" + srandomid_hocba + "\",\"" + sfilename_hocba + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocBa_View tbody").append(markup_hocba);
            }
            chkatchtbl_hocba();
            $('#files_hocba').val('');
        });

        $("#files_cancuoc_congdan").on("change", function () {
            var files_cancuoc_congdan = document.getElementById('files_cancuoc_congdan');

            for (i = 0; i < files_cancuoc_congdan.files.length; i++) {

                var sfilename_cccd = files_cancuoc_congdan.files[i].name;
                let srandomid_cccd = Math.random().toString(36).substring(7);
                formdata_cccd.append(sfilename_cccd, files_cancuoc_congdan.files[i]);
                var markup_cccd = "<tr id='" + srandomid_cccd + "'><td>" + sfilename_cccd + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_HoBas_Upload(\"" + srandomid_cccd + "\",\"" + sfilename_cccd + "\")'>Xóa</a></td></tr>";
                $("#FilesList_CCCD_View tbody").append(markup_cccd);
            }
            chkatchtbl_cccd();
            $('#files_cancuoc_congdan').val('');
        });

        $("#files_bangtn").on("change", function () {
            var files_bangtn = document.getElementById('files_bangtn');
            for (i = 0; i < files_bangtn.files.length; i++) {

                var sfilename_bang_tn = files_bangtn.files[i].name;
                let srandomid_bang_tn = Math.random().toString(36).substring(7);

                formdata_bang_tn.append(sfilename_bang_tn, files_bangtn.files[i]);
                var markup_bang_tn = "<tr id='" + srandomid_bang_tn + "'><td>" + sfilename_bang_tn + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_HoBas_Upload(\"" + srandomid_bang_tn + "\",\"" + sfilename_bang_tn + "\")'>Xóa</a></td></tr>";
                $("#FilesList_BangTN_View tbody").append(markup_bang_tn);

            }
            chkatchtbl_bang_tn();
            $('#files_bangtn').val('');
        });

        $("#files_giayto_uutien").on("change", function () {
            var files_giayto_uutien = document.getElementById('files_giayto_uutien');
            for (i = 0; i < files_giayto_uutien.files.length; i++) {

                var sfilename_gtuutien = files_giayto_uutien.files[i].name;
                let srandomid_gtuutien = Math.random().toString(36).substring(7);

                formdata_giayto_uutien.append(sfilename_gtuutien, files_giayto_uutien.files[i]);
                var markup_giayto_uutien = "<tr id='" + srandomid_gtuutien + "'><td>" + sfilename_gtuutien + "</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!'  class=\"btn btn-light btn-sm\"  onclick='DeleteFile_HoBas_Upload(\"" + srandomid_gtuutien + "\",\"" + sfilename_gtuutien + "\")'>Xóa</a></td></tr>";
                $("#FilesList_GTUT_View tbody").append(markup_giayto_uutien);

            }
            chkatchtbl_giayto_uutien();
            $('#files_giayto_uutien').val('');
        });      
    });
    function DeleteFile_HoBas_Upload(Fileid, FileName) {
        formdata_files_hocba.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_hocba();
    }
    function chkatchtbl_hocba() {
        if ($('#FilesList_HocBa_View tr').length > 0) {
            $("#FilesList_HocBa_View").css("visibility", "visible");
            check_in_file_hoba = true;
        }
        else {
            $("#FilesList_HocBa_View").css("visibility", "hidden");
            check_in_file_hoba = false;
            if (!check_in_file_hoba) { var errorMessage = "Vui lòng upload tệp học bạ  (điểm lớp 11 và điểm kỳ 1 lớp 12)"; $('#SP_HocBa_Error').text(errorMessage); flag = false; }
        }
    }

    function DeleteFile_CCCD_View(Fileid, FileName) {
        formdata_cccd.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_cccd();
    }
    function chkatchtbl_cccd() {
        if ($('#FilesList_CCCD_View tr').length > 0) { $("#FilesList_CCCD_View").css("visibility", "visible"); }
        else { $("#FilesList_CCCD_View").css("visibility", "hidden"); }
    }

    function DeleteFile_BangTN_Upload(Fileid, FileName) {
        formdata_bang_tn.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_bang_tn();
    }
    function chkatchtbl_bang_tn() {
        if ($('#FilesList_BangTN_View tr').length > 0) {
            $("#FilesList_BangTN_View").css("visibility", "visible");
        } else {
            $("#FilesList_BangTN_View").css("visibility", "hidden");
        }
    }

    function DeleteFile_GTUT_Upload(Fileid, FileName) {
        formdata_giayto_uutien.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_giayto_uutien();
    }
    function chkatchtbl_giayto_uutien() {
        if ($('#FilesList_GTUT_View tr').length > 0) {
            $("#FilesList_GTUT_View").css("visibility", "visible");
        } else {
            $("#FilesList_GTUT_View").css("visibility", "hidden");
        }
    }
    $('#bt_ok_div_update_aspirations').click(function () {
        let flag = true;
        /* xử lý phần upload file lên server*/

        let _Dkxt_MinhChung_HB = "";
        let _Dkxt_MinhChung_CCCD = "";
        let _Dkxt_MinhChung_Bang = "";
        let _Dkxt_MinhChung_UuTien = "";
        if (check_in_file_hoba == false) { var errorMessage = "Vui lòng upload tệp học bạ có điểm lớp 11 và điểm kỳ 1 lớp 12"; $('#SP_HocBa_Error').text(errorMessage); flag = false; }
        else {
            let so_file_hb = 0;
            let so_file_cccd = 0;
            let so_file_btn = 0;
            let so_file_gtut = 0;

            let formData_All = new FormData();
            for (const item of formdata_files_hocba) {
                formData_All.append(item[0], item[1]);
                so_file_hb++;
            }
            for (const item of formdata_cccd) {
                formData_All.append(item[0], item[1]);
                so_file_cccd++;
            }
            for (const item of formdata_bang_tn) {

                formData_All.append(item[0], item[1]);
                so_file_btn++;
            }
            for (const item of formdata_giayto_uutien) {
                formData_All.append(item[0], item[1]);
                so_file_gtut++;
            }

            formData_All.append('so_file_hb', so_file_hb);
            formData_All.append('so_file_cccd', so_file_cccd);
            formData_All.append('so_file_btn', so_file_btn);
            formData_All.append('so_file_gtut', so_file_gtut);

            $.ajax({
                url: '/DangKyXetTuyens/DangKyXetTuyen_HB_UploadFile_Multi',
                type: "POST",
                contentType: false,
                processData: false,
                data: formData_All,
                async: false,
                success: function (res) {

                    _Dkxt_MinhChung_HB = res.MinhChung_HB;
                    _Dkxt_MinhChung_CCCD = res.MinhChung_CCCD;
                    _Dkxt_MinhChung_Bang = res.MinhChung_Bang;
                    _Dkxt_MinhChung_UuTien = res.MinhChung_UuTien;
                    check_in_file_hoba = true;
                },
                error: function (err) {
                    check_in_file_hoba = false;
                    console(err.statusText);
                }
            });
        }
        /*hết phần upload file*/
        let _nganh_ID = $('#select_nganh').val();
        let _thm_ID = $('#select_tohopmon').val();

        let _dkxt_Diem_M1 = { TenMon: $('#lb_tenmon_1').text(), HK1: $('#txt_m1_k1').val(), HK2: $('#txt_m1_k2').val(), HK3: $('#txt_m1_k3').val(), DiemTrungBinh: $('#txt_tb_m1').val(), };
        let _dkxt_Diem_M2 = { TenMon: $('#lb_tenmon_2').text(), HK1: $('#txt_m2_k1').val(), HK2: $('#txt_m2_k2').val(), HK3: $('#txt_m2_k3').val(), DiemTrungBinh: $('#txt_tb_m2').val(), };
        let _dkxt_Diem_M3 = { TenMon: $('#lb_tenmon_3').text(), HK1: $('#txt_m3_k1').val(), HK2: $('#txt_m3_k2').val(), HK3: $('#txt_m3_k3').val(), DiemTrungBinh: $('#txt_tb_m3').val(), };

        let _diemTBMon1 = $('#txt_tb_m1').val();
        let _diemTBMon2 = $('#txt_tb_m2').val();
        let _diemTBMon3 = $('#txt_tb_m3').val();

        if (_nganh_ID == 0) { var errorMessage = "Chưa chọn ngành"; $('#Nganh_ID_Error').text(errorMessage); flag = false; }
        if (_thm_ID == 0) { var errorMessage = "Chưa chọn tổ hợp môn"; $('#Thm_ID_Error').text(errorMessage); flag = false; }
        if (_diemTBMon1 == '' || _diemTBMon2 == '' || _diemTBMon3 == '') { var errorMessage = "Chưa nhập đủ điểm các môn hoặc nhập chưa đúng, vui lòng kiểm tra lại!"; $('#Diem_All_Error').text(errorMessage); flag = false; }

        if (!flag) return;
        let _dkxt_Diem_Tong = parseFloat(_diemTBMon1) + parseFloat(_diemTBMon2) + parseFloat(_diemTBMon3);



        let formData_dknv_new = {
            Nganh_ID: _nganh_ID,
            Thm_ID: _thm_ID,
            Dkxt_Diem_M1: JSON.stringify(_dkxt_Diem_M1),
            Dkxt_Diem_M2: JSON.stringify(_dkxt_Diem_M2),
            Dkxt_Diem_M3: JSON.stringify(_dkxt_Diem_M3),
            Dkxt_Diem_Tong: _dkxt_Diem_Tong.toString(),

            Dkxt_MinhChung_HB: _Dkxt_MinhChung_HB,
            Dkxt_MinhChung_CCCD: _Dkxt_MinhChung_CCCD,
            Dkxt_MinhChung_Bang: _Dkxt_MinhChung_Bang,
            Dkxt_MinhChung_UuTien: _Dkxt_MinhChung_UuTien,
        }
        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_HB_Insert",
            data: JSON.stringify(formData_dknv_new),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    ts_dkxt_hocba_list_all();
                    showToast("Thông báo", "Thêm mới nguyện vọng thành công!", "bg-success");
                    document.getElementById('div_list_aspirations').style.display = "inline";
                    document.getElementById('div_update_aspirations').style.display = "none";
                    reset_fields_controll_disabled_true();
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
            }
        });

    });
    // button tắt cửa sổ thêm mới phía trên
    $('#bt_close_div_update_aspirations_first').click(function () {
        document.getElementById('div_list_aspirations').style.display = "inline";
        document.getElementById('div_update_aspirations').style.display = "none";
        $('#dkxt_hocba_id_checkin').val('');
        reset_fields_controll_disabled_true();
    });
    // button tắt cửa sổ thêm mới phía dưới
    $('#bt_close_div_update_aspirations_second').click(function () {
        document.getElementById('div_list_aspirations').style.display = "inline";
        document.getElementById('div_update_aspirations').style.display = "none";
        $('#dkxt_hocba_id_checkin').val('');
        reset_fields_controll_disabled_true();
    });

    $(document).ready(function () {
        $('#bt_xuat_phieu_tong_hop_kq').click(function () {
            window.location.href = '/ExportFile/DownloadFile_XetTuyenHB';
        });
    });
    $(document).ready(function () {
        $('#bt_xuat_phieu_tong_hop').click(function () {
            window.location.href = '/ExportFile/DownloadFile_XetTuyenHB';
        });
    });
</script>