
@{
    ViewBag.Title = "Đăng ký xét tuyển";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .label_tieude {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }

    .padding_input_text_number {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<input type="hidden" id="dkxt_thptqg_id_checkin" style="display:none!important" />
<input type="hidden" id="ThiSinh_ID_DK_Prs" style="display:none!important" />
<div class="container-fluid px-12">
    <div id="div_list_aspirations">
        <div class="card card-header-actions">
            <div class="card-header">
                <span>Các nguyện vọng đã đăng ký</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" id="div_thead" style="display:none">
                        <div class="row g-1">
                            <div class="col-xl-1 col-lg-12"><b>Nguyện vọng</b></div>
                            <div class="col-xl-3 col-lg-12"><b>Ngành</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Tổ hợp môn</b></div>
                            <div class="col-xl-2 col-lg-12"><b class="text-nowrap">Tổng điểm (có ưu tiên)</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Ngày đăng ký</b></div>
                            <div class="col-xl-2 col-lg-12"><b style="margin-left:10px">Cập nhật</b> </div>
                        </div>
                        <div class="col-12"><hr class="mt-2 mb-0" /><hr class="mt-0 mb-2" /></div>
                    </div>
                    <div id="div_tbody_list"></div>
                    <script>
                        // phần hiển thị dữ liệu đã đăng ký
                        $(document).ready(function () {
                            LoadData_All_DkxtKQTN();
                        });
                        function ConverDateToString(date) {
                            var parts = date.split('-');
                            var mydate = parts[2] + '/' + parts[1] + '/' + parts[0];
                            return mydate;
                        }
                        function LoadData_All_DkxtKQTN() {
                            $('#div_tbody_list').empty();

                            $.ajax({
                                url: "/DangKyXetTuyens/DangKyXetTuyen_KQTHPTQG_ListAll/",
                                type: 'GET',
                                contentType: 'application/json;charset=utf-8',
                                dataType: 'json',
                                async: false,
                                success: function (res) {

                                    $('#ThiSinh_ID_DK_Prs').val(res.Tsdk_id_dk);
                                    $('#span_Uutien_doituong').html(res.DkxtTenDoituongDiem);
                                    $('#span_Uutien_khuvuc').html(res.DkxtTenKhuvucDiem);
                                    $('#txt_hocluc_12').val(res.DkxtXeploaiHocluc12);
                                    $('#txt_hanhkiem_12').val(res.DkxtXeploaiHanhkiem12);

                                    if (res.DkxtKQTHPTList == 0) {
                                        let div_item = ` <div class="col-12 text-center">Chưa có dữ liệu đăng ký xét tuyển</div>`;
                                        $('#div_tbody_list').append(div_item);
                                    }
                                    else {
                                        $.each(res.DkxtKQTHPTList, function (i, result) {
                                            if (res.DkxtKQTHPTList.length == 1) {
                                                let div_item = "";
                                                div_item += `<div class="row g-1">`;
                                                div_item += `<div class="col-xl-1 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- </span><span class="col-4  ">Nguyện vọng ` + result.dkxt_KQTQG_NguyenVong + `</div>`;
                                                div_item += `<div class="col-xl-3 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Ngành: </span><span class="col-8 span_noidung_nv">` + result.dkxt_KQTQG_TenAll.nganh_GhiChu + `</span></div>`;
                                                div_item += `<div class="col-xl-2 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Tổ hợp môn: </span> <span class="col-8 span_noidung_nv">` + result.dkxt_KQTQG_TenAll.thm_MaTen + `</span></div>`;
                                                div_item += `<div class="col-xl-2 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Tổng điểm (có ưu tiên): </span><span class="col-8 span_noidung_nv">` + result.dkxt_KQTQG_Diem_Tong_Full + `</span></div>`;
                                                div_item += `<div class="col-xl-2 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Ngày đăng ký: </span><span class="col-8 span_noidung_nv">` + ConverDateToString(result.Dkxt_NgayDK) + `</span></div>`;
                                                div_item += `<div class="col-xl-2 col-lg-12  text-nowrap">`;
                                                div_item += `<button class="btn btn-sm btn-outline-success" onclick="DkxtthptqgDetail(${result.dkxt_KQTQG_ID})">Xem</button>&nbsp;<button class="btn btn-outline-primary btn-sm check_disable" onclick="UpdateRecordOnTableOnclick(${result.dkxt_KQTQG_ID},${result.dkxt_KQTQG_TrangThai_HoSo})">Sửa</button>&nbsp;<button class="btn btn-outline-danger btn-sm check_disable" onclick="DeleteRecordOnTableOnclick(${result.dkxt_KQTQG_ID},${result.dkxt_KQTQG_TrangThai_HoSo})">Xoá</button>`;
                                                div_item += `</div>`;
                                                div_item += `<div class="col-12"><hr class="mt-1 mb-2"/></div>`;
                                                $('#div_tbody_list').append(div_item);
                                            }
                                            else if (res.DkxtKQTHPTList.length > 1) {
                                                let div_item = "";
                                                div_item += `<div class="row g-1">`;
                                                div_item += `<div class="col-xl-1 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- </span><span class="col-4  ">Nguyện vọng ` + result.dkxt_KQTQG_NguyenVong + ` </span></div>`;
                                                div_item += `<div class="col-xl-3 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Ngành: </span><span class="col-8 span_noidung_nv">` + result.dkxt_KQTQG_TenAll.nganh_GhiChu + `</span></div>`;
                                                div_item += `<div class="col-xl-2 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Tổ hợp môn: </span> <span class="col-8 span_noidung_nv">` + result.dkxt_KQTQG_TenAll.thm_MaTen + `</span></div>`;
                                                div_item += `<div class="col-xl-2 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Tổng điểm (có ưu tiên): </span><span class="col-8 span_noidung_nv">` + result.dkxt_KQTQG_Diem_Tong_Full + `</span></div>`;
                                                div_item += `<div class="col-xl-2 col-lg-12  text-nowrap"><span class="col-4  span_thongtin_nv">- Ngày đăng ký: </span><span class="col-8 span_noidung_nv">` + ConverDateToString(result.Dkxt_NgayDK) + `</span></div>`;
                                                div_item += `<div class="col-xl-2 col-lg-12  text-nowrap">`;
                                                div_item += `<button style="margin-left:10px" class="btn btn-outline-info btn-sm check_disable ${i == 0 ? "dautien" : ''}" onclick="change_up_aspirations_on_table_onclick(${result.dkxt_KQTQG_ID})" ${i == 0 ? "disabled" : ''}><b>&#8743;</b></button>&nbsp;<button class="btn btn-outline-warning btn-sm check_disable ${i == res.DkxtKQTHPTList.length - 1 ? "cuoicung" :''}" onclick="change_down_aspirations_on_table_onclick(${result.dkxt_KQTQG_ID})" ${i == res.DkxtKQTHPTList.length - 1 ? "disabled" : ""}><b>&#8744;</b></button>`
                                                div_item += `&nbsp;<button class="btn btn-sm btn-outline-success" onclick="DkxtthptqgDetail(${result.dkxt_KQTQG_ID})">Xem</button>&nbsp;<button class="btn btn-outline-primary btn-sm check_disable" onclick="UpdateRecordOnTableOnclick(${result.dkxt_KQTQG_ID},${result.dkxt_KQTQG_TrangThai_HoSo})">Sửa</button>&nbsp;<button class="btn btn-outline-danger btn-sm check_disable" onclick="DeleteRecordOnTableOnclick(${result.dkxt_KQTQG_ID},${result.dkxt_KQTQG_TrangThai_HoSo})">Xoá</button>`;
                                                div_item += `</div>`;
                                                div_item += `<div class="col-12"><hr class="mt-1 mb-2"/></div>`;
                                                $('#div_tbody_list').append(div_item);
                                            }
                                        });
                                    }

                                    if (window.innerWidth <= 1200) {
                                        $('#div_thead').css('display', 'none');
                                        $('#div_thead').hide();
                                        $('.span_thongtin_nv').css('display', 'inline');
                                        $('.span_thongtin_nv').show();
                                        $('.span_noidung_nv').css('font-weight', 'bold')
                                    }
                                    else {
                                        $('#div_thead').css('display', 'inline');
                                        $('#div_thead').show();
                                        $('.span_thongtin_nv').css('display', 'none');
                                        $('.span_thongtin_nv').hide();
                                        $('.span_noidung_nv').css('font-weight', 'normal')
                                    }
                                    if (res.Dkxt_CheckSetUpdate == 0) {
                                        $('.check_disable').prop('disabled', true);
                                        $('#p_thongbao_khoadangky').css('display', 'inline');

                                    }
                                    else if (res.Dkxt_CheckSetUpdate == 1) {
                                        $('.check_disable').prop('disabled', false);
                                        $('#p_thongbao_khoadangky').css('display', 'none');
                                        $('.dautien').prop('disabled', true);
                                        $('.cuoicung').prop('disabled', true);
                                    }
                                },
                                error: function (errormessage) {
                                    alert(errormessage.responseText);
                                }
                            });
                        }
                        function DkxtthptqgDetail(dkxt_id) {
                            var str_url = '?dkxt_id=' + dkxt_id;
                            window.location.href = "/DangKyXetTuyens/DkxtthptqgDetail" + str_url;
                        }
                    </script>
                </div>


                <div class="row">
                    <div class="col-12">
                        <center>
                            <button id="bt_xuat_phieu_tong_hop_kq" class="btn btn-outline-success">Xuất phiếu tổng hợp</button>
                            <button class="btn btn-outline-primary check_disable" id="bt_add_aspirations">Thêm nguyện vọng</button>
                            <script>
                                $(document).ready(function () {
                                    let sp_tieude = $('#sp_tieude');
                                    let bt_xuat_phieu_tong_hop = $('#bt_xuat_phieu_tong_hop_kq');
                                    let bt_them_nguyen_vong = $('#bt_add_aspirations');

                                    if (window.innerWidth <= 1200) {

                                        sp_tieude.text('Xét tuyển bằng điểm thi tốt nghiệp');
                                        bt_xuat_phieu_tong_hop.text('Xuất phiếu');
                                        bt_them_nguyen_vong.text("Thêm nguyện vọng");

                                        $('#div_thead').css('display', 'none');
                                        $('#div_thead').hide();

                                        $('.span_thongtin_nv').css('display', 'inline');
                                        $('.span_thongtin_nv').show();

                                        $('.span_noidung_nv').css('font-weight', 'bold')
                                    }
                                    else {
                                        sp_tieude.text('Đăng ký xét tuyển sử dụng kết quả thi tốt nghiệp trung học phổ thông quốc gia');
                                        bt_xuat_phieu_tong_hop.text('Xuất phiếu tổng hợp');
                                        bt_them_nguyen_vong.text("Thêm nguyện vọng");

                                        $('#div_thead').css('display', 'inline');
                                        $('#div_thead').show();

                                        $('.span_thongtin_nv').css('display', 'none');
                                        $('.span_thongtin_nv').hide();

                                        $('.span_noidung_nv').css('font-weight', 'normal')
                                    }
                                    function reportWindowSize() {
                                        if (window.innerWidth <= 1200) {

                                            sp_tieude.text('Xét tuyển bằng điểm thi tốt nghiệp');
                                            bt_xuat_phieu_tong_hop.text('Xuất phiếu');
                                            bt_them_nguyen_vong.text("Thêm nguyện vọng");

                                            $('#div_thead').css('display', 'none');
                                            $('#div_thead').hide();

                                            $('.span_thongtin_nv').css('display', 'inline');
                                            $('.span_thongtin_nv').show();

                                            $('.span_noidung_nv').css('font-weight', 'bold')
                                        }
                                        else {
                                            sp_tieude.text('Đăng ký xét tuyển sử dụng kết quả thi tốt nghiệp trung học phổ thông quốc gia');
                                            bt_xuat_phieu_tong_hop.text('Xuất phiếu tổng hợp');
                                            bt_them_nguyen_vong.text("Thêm nguyện vọng");

                                            $('#div_thead').css('display', 'inline');
                                            $('#div_thead').show();

                                            $('.span_thongtin_nv').css('display', 'none');
                                            $('.span_thongtin_nv').hide();

                                            $('.span_noidung_nv').css('font-weight', 'normal')
                                        }
                                    }
                                    window.onresize = reportWindowSize;
                                })
                            </script>
                        </center>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12"><hr class="mt-1 mb-1" /></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p style="color:red; font-style:italic" class="mb-1">Lưu ý: </p>
                        <p style="color:blue; font-style:italic; text-align:justify; display:none" class="mb-1" id="p_thongbao_khoadangky">- Đã hết thời gian đăng ký nguyện vọng, bạn chỉ có thể xem các nguyện vọng đã đăng ký.</p>
                        <p style="color:red; font-style:italic; text-align:justify" class="mb-1">- Thí sinh cần nộp lệ phí xét tuyển và gửi minh chứng trong phần thông tin lệ phí (ảnh chụp giao dịch chuyển tiền).</p>
                        <p style="color: red; font-style: italic ;text-align:justify" class="mb-1">- Thí sinh in phiếu tổng hợp nguyện vọng đăng ký của phương thức này, kiểm tra lại thông tin trong phiếu, ký xác nhận và gửi về trường theo đường bưu điện.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div_update_aspirations" style="display: none">
        <div class="card card-header-actions">
            <div class="card-header">
                <span>Đăng ký nguyện vọng mới</span>
                <button class="btn-close" id="bt_close_div_update_aspirations_first" type="button" aria-label="Close"></button>
            </div>
            <div class="card-body g-3">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="row table-hover">
                            <div class="col-12"><b>Chọn ngành và tổ hợp môn <font color="red">(*)</font></b></div>
                            <div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div>
                        </div>
                        <div class="row table-hover">
                            <div class="col-4">Khối ngành</div>
                            <div class="col-8"><select id="select_khoinganh" class="form-select"></select></div>
                            <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        </div>

                        <div class="row">
                            <div class="col-4">Ngành</div>
                            <div class="col-8">
                                <select id="select_nganh" class="form-select"></select>
                                <span id="Nganh_ID_Error" class="small mb-1 text-danger"></span>
                            </div>
                            <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        </div>
                        <div class="row">
                            <div class="col-4">Tổ hợp môn</div>
                            <div class="col-8">
                                <select id="select_tohopmon" class="form-select"></select>
                                <span id="Thm_ID_Error" class="small mb-1 text-danger"></span>
                            </div>
                            <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-0 ">
                                <span id="span_Uutien_doituong">ĐT 05: ƯT 1 đ</span>
                                <hr style="margin-bottom: 6px " />
                            </div>
                            <div class="col-6 mb-0 ">
                                <span id="span_Uutien_khuvuc">KV2-NT: ƯT 0.5 đ</span>
                                <hr style="margin-bottom:6px" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 mt-0">
                                <span> Học lực lớp 12</span>
                                <input id="txt_hocluc_12" type="text" class="form-control" value="" disabled />
                            </div>
                            <div class="col-6 mt-0">
                                <span>Hạnh kiểm lớp 12</span>
                                <input id="txt_hanhkiem_12" type="text" class="form-control" value="" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="row">
                            <div class="col-12"><b>Điểm các môn xét tuyển <font color="red">(*)</font></b></div>
                            <div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div>
                        </div>
                        <div class="row table-hover">
                            <div class="col-5">Năm tốt nghiệp</div>
                            <div class="col-7">
                                <select class="form-select" id="select_namtn"></select>
                                <span id="NamTotNghiep_Error" class="small mb-1 text-danger"></span>
                            </div>
                            <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        </div>
                        <div class="row g-1">
                            <div class="col-3">
                                <p id="lb_tenmon_1" class="form-label"></p>
                                <input id="txt_m1" type="number" class="form-control input-monhoc padding_input_text_number" value="8.56" />
                            </div>
                            <div class="col-3">
                                <p id="lb_tenmon_2" class="form-label"></p>
                                <input id="txt_m2" type="number" class="form-control input-monhoc padding_input_text_number" value="8.56" />
                            </div>
                            <div class="col-3">
                                <p id="lb_tenmon_3" class="form-label">
                                </p><input id="txt_m3" type="number" class="form-control input-monhoc padding_input_text_number" value="8.56" />
                            </div>
                            <div class="col-3">
                                <p id="lb_tongdiem" class="form-label">Tổng</p>
                                <input id="txt_tong_diem" type="text" class="form-control input-tong padding_input_text_number" value="25.68" disabled />
                            </div>
                            <div class="col-xxl-12 mt-0 mb-0" style="text-align:center; ">
                                <span id="Diem_All_Error" class="small mb-1 text-danger"></span>
                            </div>
                            <div class="col-12"><hr class="mt-1 mb-3" /></div>
                        </div>
                        <div class="row">
                            <div class="col-12"><b>Giấy chứng nhận KQ tốt nghiệp THPT<font color="red">(*)</font></b></div>
                            <div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div>
                            <div class="col-12">
                                <input id="files_chungnhan_kqtn" type="file" multiple class="form-control" data-val="true" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" />
                                <span id="ChungNhanTotNghiep_Error" class="small mb-1 text-danger"></span>
                            </div>
                            <div class="col-12">
                                <table class="table mt-0 mb-0" id="FilesList_CNKQTN_View" style="visibility:hidden">
                                    <tr style="display:none">
                                        <th colspan="2"><input type="hidden" id="txt_uploader_file_hocba" /></th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="row table-hover">
                            <div class="col-12"><b>Dữ liệu minh chứng khác</b></div>
                            <div class="col-12"><hr class="mt-1 mb-0" /><hr class="mt-0 mb-2" /></div>
                        </div>
                        <div class="row">
                            <div class="col-12">Học bạ</div>
                            <div class="col-12"><input class="form-control" id="files_hocba_ts" multiple="multiple" name="files_hocba_ts" type="file" data-val="true" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" /></div>
                            <div class="col-12">
                                <table class="table mt-1 mb-0" id="FilesList_HocBa_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_cccd" /></th></tr></table>
                            </div>
                            <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        </div>

                        <div class="row">
                            <div class="col-12">Bằng tốt nghiệp</div>
                            <div class="col-12"><input class="form-control" id="files_bangtn" multiple="multiple" name="files" type="file" data-val="true" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" /></div>
                            <div class="col-12"><table class="table mt-0 mb-0" id="FilesList_BangTN_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_bangtn" /></th></tr></table></div>
                            <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        </div>
                        <div class="row">
                            <div class="col-12">Căn cước công dân</div>
                            <div class="col-12"><input class="form-control" id="files_cancuoc_congdan" multiple="multiple" name="files" type="file" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" /></div>
                            <div class="col-12"><table class="table mt-0 mb-0" id="FilesList_CCCD_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_bangtn" /></th></tr></table></div>
                            <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        </div>
                        <div class="row">
                            <div class="col-12">Giấy tờ ưu tiên (nếu có)</div>
                            <div class="col-12"><input class="form-control" id="files_giayto_uutien" multiple="multiple" name="files" type="file" data-val="true" accept=".pdf,.png, .PNG,.jpeg,.JPEG,.jpg,.JPG" /></div>
                            <div class="col-12"> <table class="table mt-0 mb-0" id="FilesList_GTUT_View" style="visibility:hidden"> <tr style="display:none"><th colspan="2"><input type="hidden" id="txt_uploader_file_g" /></th></tr></table></div>
                            <div class="col-12"><hr class="mt-1 mb-2" /></div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-xxl-12" style="text-align:center">
                        <input class="btn btn-outline-primary col-lg-1 col-sm-5" id="bt_ok_div_update_aspirations" type="button" value="Đồng ý thêm" />
                        <input class="btn btn-outline-secondary col-lg-1 col-sm-4" id="bt_close_div_update_aspirations_second" type="button" value="Hủy bỏ" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #loadingModal {
        background-color: rgba(0, 0, 0, 0.5);
        background-color: transparent;
    }
</style>
<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<div class="modal fade" id="modal_Action_Notifi" tabindex="-1" role="dialog" aria-labelledby="modal_Action_Notifi" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_delete_first"></button>
            </div>
            <div class="modal-body">
                <span id="span_conten_action_notifi"></span>
                <input id="key_delete_dkxt_kqtthptqg_id" type="hidden" />

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_delete_second">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_ok_on_modal_delete" style="display:none">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_tb_xoa" tabindex="-1" role="dialog" aria-labelledby="modal_tb_xoa" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_tb_xoa">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_delete_first"></button>
            </div>
            <div class="modal-body">
                <span>Bạn chắc chắn xóa nguyện vọng này?</span>
                <input id="key_delete_dkxt_kqtthptqg_id" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_delete_second">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_ok_on_modal_delete">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_tb_thaydoinv" tabindex="-1" role="dialog" aria-labelledby="modal_tb_thaydoinv" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_tb_thaydoinv">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="bt_cancel_on_modal_change_first"></button>
            </div>
            <div class="modal-body">
                <span id="infor_change">Bạn chắc chắn thay đổi nguyện vọng này?</span>
                <input id="key_change_dkxt_kqtthptqg_id" type="hidden" />
                <input id="key_check_down_up" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" id="bt_cancel_on_modal_change_second">Hủy</button>
                <button class="btn btn-primary" type="button" id="bt_ok_on_modal_change">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_tb_thanhcong" tabindex="-1" role="dialog" aria-labelledby="modal_tb_thanhcong" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="modal_tb_thanhcong_hide_click()"></button>
                <script>
                    function modal_tb_thanhcong_hide_click() { $('#modal_tb_thanhcong').modal('hide'); $('#noidung_chuyenkhoan').text(''); }
                    function thongbao_dangky_thanhcong(text) { $('#noidung_chuyenkhoan').text(text); $('#modal_tb_thanhcong').modal('show'); }
                </script>
            </div>
            <div class="modal-body">
                <p class="mt-0 mb-0" style="text-align:justify">- Đăng ký xét tuyển thành công!</p>
                <p class="mt-0 mb-0" style="text-align:justify">- Vui lòng nộp lệ phí xét tuyển bằng cách chuyển số tiền 50.000đ vào số tài khoản: <font color="red">5011100925</font> để hoàn thành thủ tục đăng ký xét tuyển</p>
                <p style="text-align:justify" class="m-0">- Nội dung chuyển khoản: <a id="noidung_chuyenkhoan" style="color:blue; text-decoration:none"></a></p>
                <input id="key_delete_dkxt_id" type="hidden" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="modal_tb_thanhcong_hide_click()">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script>   
    function UpdateRecordOnTableOnclick(dkxt_id, _check_delete) {
        if (_check_delete == 9) {
            $('#span_conten_action_notifi').text('');
            $("#span_conten_action_notifi").css("color", "blue");
            $('#span_conten_action_notifi').text('Nguyện vọng đã được duyệt, không thể sửa!');
            $('#bt_cancel_on_modal_delete_second').text('Đóng');
            $('#bt_ok_on_modal_delete').css('display', 'none');

            $('#bt_ok_on_modal_delete').hide();
            $('#modal_Action_Notifi').modal('show');
        }
        else {
            var str_url = '?dkxt_id=' + dkxt_id;
            window.location.href = "/DangKyXetTuyens/DkxtthptqgEdit" + str_url;
        }
    }
    // thay đổi nguyện vọng đã đăng ký:
    function change_up_aspirations_on_table_onclick(_dkxt_kqtthptqg_id) {
        $('#key_change_dkxt_kqtthptqg_id').val('');
        $('#key_check_down_up').val('');
        $('#key_change_dkxt_kqtthptqg_id').val(_dkxt_kqtthptqg_id);
        $('#key_check_down_up').val('1');
        $('#infor_change').text('Bạn chắc chắn đổi nguyện vọng này lên trước?');
        $('#modal_tb_thaydoinv').modal('show');
        console.log(_dkxt_kqtthptqg_id);
    }
    function change_down_aspirations_on_table_onclick(_dkxt_kqtthptqg_id) {
        $('#key_change_dkxt_kqtthptqg_id').val('');
        $('#key_check_down_up').val('');

        $('#infor_change').text('Bạn chắc chắn đổi nguyện vọng này xuống sau?');
        $('#key_change_dkxt_kqtthptqg_id').val(_dkxt_kqtthptqg_id);
        $('#key_check_down_up').val('2');
        $('#modal_tb_thaydoinv').modal('show');
        console.log(_dkxt_kqtthptqg_id);
    }
    $('#bt_ok_on_modal_change').click(function () {
        let _check_action = $('#key_check_down_up').val();
        let data_Obj_change = { Dkxt_KQTQG_ID: $('#key_change_dkxt_kqtthptqg_id').val() };
        //console.log(_check_action);
        //console.log(data_Obj_change.Dkxt_KQTQG_ID);

        if (_check_action == 1) { // sửa lên trên
            $.ajax({
                url: "/DangKyXetTuyens/DangKyXetTuyen_KQTTHPTQG_Change_UpData",
                data: JSON.stringify(data_Obj_change),
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    if (res.status == true) {
                        LoadData_All_DkxtKQTN();
                        $('#modal_tb_thaydoinv').modal('hide');
                        $('#key_change_dkxt_kqtthptqg_id').val('');
                        $('#key_check_down_up').val('');
                        showToast("Thông báo", "Đã thực hiện thay đổi nguyện vọng!", "bg-success");
                    }
                    else {
                        showToast("Lỗi", res.msg, "bg-success");
                        console.log(response.msg);
                    }
                },
                error: function (errormessage) {
                    showToast("Thông báo", "Lỗi! Chưa thể thực hiện theo yêu cầu!", "bg-success");
                }
            });
        }
        if (_check_action == 2) { // sửa xuống dưới
            $.ajax({
                url: "/DangKyXetTuyens/DangKyXetTuyen_KQTTHPTQG_Change_DownData",
                data: JSON.stringify(data_Obj_change),
                type: 'POST',
                contentType: 'application/json;charset=utf-8',
                dataType: 'json',
                success: function (res) {
                    /*  console.log(res);*/
                    if (res.status == true) {
                        LoadData_All_DkxtKQTN();
                        $('#modal_tb_thaydoinv').modal('hide');
                        $('#key_change_dkxt_kqtthptqg_id').val('');
                        $('#key_check_down_up').val('');
                        showToast("Thông báo", "Đã thực hiện thay đổi nguyện vọng!", "bg-success");
                    }
                    else {
                        showToast("Lỗi", res.msg, "bg-success");
                        console.log(response.msg);
                    }
                },
                error: function (errormessage) {
                    showToast("Thông báo", "Lỗi! Chưa thể thực hiện theo yêu cầu!", "bg-success");
                }
            });
        }
    });

    $('#bt_cancel_on_modal_change_first').click(function () {
        $('#modal_tb_thaydoinv').modal('hide');
        $('#key_change_dkxt_kqtthptqg_id').val('');
        $('#key_check_down_up').val('');

    })

    $('#bt_cancel_on_modal_change_second').click(function () {
        $('#modal_tb_thaydoinv').modal('hide');
        $('#key_change_dkxt_kqtthptqg_id').val('');
        $('#key_check_down_up').val('');
    })

    // button xóa nguyện vọng đã đăng ký:
    function DeleteRecordOnTableOnclick(_dkxt_id, _check_delete) {
        if (_check_delete == 9) {
            $('#span_conten_action_notifi').text('');
            $('#span_conten_action_notifi').css('color', 'blue');
            $('#span_conten_action_notifi').text('Nguyện vọng đã được duyệt, không thể xóa');
            $('#bt_cancel_on_modal_delete_second').text('Đóng');
            $('#bt_ok_on_modal_delete').css('display', 'none');

            $('#bt_ok_on_modal_delete').hide();
            $('#modal_Action_Notifi').modal('show');
        }
        else {
            $('#span_conten_action_notifi').text('');
            $('#span_conten_action_notifi').css('color', 'red');
            $('#span_conten_action_notifi').text('Nếu đồng ý sẽ xóa tất cả dữ liệu của nguyện vọng này. Bạn chắc chắn xóa?');
          
            $('#bt_cancel_on_modal_delete_second').text('Hủy');
            $('#modal_Action_Notifi').modal('show');
            $('#bt_ok_on_modal_delete').show();
            $('#bt_ok_on_modal_delete').css('display', 'inline');
            $('#key_delete_dkxt_id').val(_dkxt_id)
        }
    }

    //function delete_aspirations_on_table_onclick(_dkxt_id, dkxt_tths) {
    //    if (dkxt_tths != 9) {
    //        $('#modal_Action_Notifi').modal('show');
    //        $('#span_conten_action_notifi').text('')
    //        $('#key_delete_dkxt_kqtthptqg_id').val(_dkxt_id);
    //    }
    //    else {
    //        alert('Nguyện vọng đã được duyệt, không thể xóa!')
    //    }
    //}

    $('#bt_ok_on_modal_delete').click(function () {
        let data_Obj_new = { Dkxt_KQTQG_ID: $('#key_delete_dkxt_kqtthptqg_id').val() };

        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_KQTTHPTQG_Delete",
            data: JSON.stringify(data_Obj_new),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.status == true) {
                    LoadData_All_DkxtKQTN();
                    $('#modal_Action_Notifi').modal('hide');
                    showToast("Thông báo", "Đã thực hiên xóa nguyện vọng!", "bg-success");
                }
                else {
                    showToast("Lỗi", res.msg, "bg-success");
                    console.log(response.msg);
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Lỗi! Chưa thể xóa theo yêu cầu!", "bg-success");
            }
        });
    });

    $('#bt_cancel_on_modal_delete_first').click(function () {
        $('#modal_Action_Notifi').modal('hide');
        $('#key_delete_dkxt_kqtthptqg_id').val('');
    })
    $('#bt_cancel_on_modal_delete_second').click(function () {
        $('#modal_Action_Notifi').modal('hide');
        $('#key_delete_dkxt_kqtthptqg_id').val('');
    })
</script>
<script>
    $(document).ready(function () {
        /* Khai báo dữ liệu cho dropdownlist chọn năm */
        let currentYear = new Date().getFullYear();
        let nam_list = [
            { value: 0, text: "Chọn năm" },
            /* { value: currentYear, text: currentYear },*/
            { value: currentYear - 1, text: currentYear - 1 },
            { value: currentYear - 2, text: currentYear - 2 },
        ]

        let select_NamTN = $('#select_namtn');
        $.each(nam_list, function (index, option) {
            select_NamTN.append($('<option>', {
                value: option.value,
                text: option.text
            }));
        });
        $('#select_namtn').val(currentYear - 1);
        $("#select_khoinganh").change(function () {
            select_nganh_view_data($("#select_khoinganh").val(), 0, 0);
            reset_fields_controll_disabled_true()
        });

        $("#select_nganh").change(function () {
            select_tohopmon_view_data($("#select_nganh").val(), 0, 0);
            reset_fields_controll_disabled_true()
        });

        $("#select_tohopmon").change(function () {
            let dataObj = {
                ThiSinh_ID: $('#ThiSinh_ID_DK_Prs').val(),
                Thm_ID: $("#select_tohopmon").val(),
                Nganh_ID: $("#select_nganh").val(),
                Dkxt_KQTQG_GhiChu: $('#dkxt_thptqg_id_checkin').val(),
            }
            if (dataObj.Dkxt_KQTQG_GhiChu == 0 && dataObj.Thm_ID > 0) {
                $.ajax({
                    url: "/DangKyXetTuyens/DangKyXetTuyen_KQTHPTQG_Get_Data_MonHoc",
                    data: JSON.stringify(dataObj),
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                    dataType: 'json',
                    success: function (res) {
                        if (res.success == true) {
                            reset_fields_controll_disabled_false();
                            $('#lb_tenmon_1').text(res.data.thm_Mon1);
                            $('#lb_tenmon_2').text(res.data.thm_Mon2);
                            $('#lb_tenmon_3').text(res.data.thm_Mon3);
                            $('#txt_m1').focus();
                        }
                        if (res.success == false) {
                            reset_fields_controll_disabled_true();
                            $('#Nganh_ID_Error').text('Trùng ngành và tổ hợp môn, vui lòng chọn lại');
                            $('#Thm_ID_Error').text('Trùng ngành và tổ hợp môn, vui lòng chọn lại');
                        }
                    },
                    error: function (errormessage) {
                        console.log(errormessage.error);
                    }
                });
            }
            else if (dataObj.Dkxt_KQTQG_ID == 0 && dataObj.Thm_ID == 0) {
                reset_fields_controll_disabled_true()
            }
        });

        on_listen_fields_input_data(".input-monhoc", '#txt_tong_diem');

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            var arr = $('.form-select');
            arr.each(function () {
                hideErrorMessage($(this));
            })
        })
    });
    // phần xử lý dữ liệu cho các tệp đính kèm
    var check_in_file_chungnhan_kqtn = false;

    var formdata_file_chungnhan_kqtn = new FormData(); //FormData object chung nhan tot nghiep
    var formdata_file_hocba_ts = new FormData(); //FormData object hoc ba
    var formdata_file_bang_tn = new FormData(); //FormData object bang TN
    var formdata_file_cancuoc_congdan = new FormData(); //FormData object cancuoccongdan
    var formdata_file_giayto_uutien = new FormData(); //FormData object giaytout

    $(document).ready(function () {
        $("#files_cancuoc_congdan").on("change", function () {
            var files_cancuoc_congdan = document.getElementById('files_cancuoc_congdan');
            for (i = 0; i < files_cancuoc_congdan.files.length; i++) {
                var sfilename_cc = files_cancuoc_congdan.files[i].name;
                let srandomid_cc = Math.random().toString(36).substring(7);
                formdata_file_cancuoc_congdan.append(sfilename_cc, files_cancuoc_congdan.files[i]);

                var markup_cccd = "<tr id='" + srandomid_cc + "'><td>" + sfilename_cc + "</td><td style='width: 60px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!' class=\"btn btn-light btn-sm\" onclick='DeleteFile_CCCD_Upload(\"" + srandomid_cc + "\",\"" + sfilename_cc + "\")'>Xóa</a></td></tr>";
                $("#FilesList_CCCD_View tbody").append(markup_cccd);
            }
            chkatchtbl_cc_cd();
            $('#files_cancuoc_congdan').val('');
        });

        $("#files_chungnhan_kqtn").on("change", function () {
            var files_chungnhan_kqtn = document.getElementById('files_chungnhan_kqtn');
            for (i = 0; i < files_chungnhan_kqtn.files.length; i++) {
                var sfilename_chungnhan_kqtn = files_chungnhan_kqtn.files[i].name;
                let srandomid_chungnhan_kqtn = Math.random().toString(36).substring(7);
                formdata_file_chungnhan_kqtn.append(sfilename_chungnhan_kqtn, files_chungnhan_kqtn.files[i]);

                var markup_chungnhan_kqtn = "<tr id='" + srandomid_chungnhan_kqtn + "'><td>" + sfilename_chungnhan_kqtn + "</td><td style='width: 60px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!' class=\"btn btn-light btn-sm\" onclick='DeleteFile_CNKQTN_Upload(\"" + srandomid_chungnhan_kqtn + "\",\"" + sfilename_chungnhan_kqtn + "\")'>Xóa</a></td></tr>";
                $("#FilesList_CNKQTN_View tbody").append(markup_chungnhan_kqtn);
            }
            chkatchtbl_chungnhan_kqtn();
            $('#files_chungnhan_kqtn').val('');
        });

        $("#files_bangtn").on("change", function () {
            var files_bangtn = document.getElementById('files_bangtn');
            for (i = 0; i < files_bangtn.files.length; i++) {
                var sfilename_bang_tn = files_bangtn.files[i].name;
                let srandomid_bang_tn = Math.random().toString(36).substring(7);
                formdata_file_bang_tn.append(sfilename_bang_tn, files_bangtn.files[i]);
                var markup_bang_tn = "<tr id='" + srandomid_bang_tn + "'><td>" + sfilename_bang_tn + "</td><td style='width: 60px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!' class=\"btn btn-light btn-sm\" onclick='DeleteFile_BANGTN_Upload(\"" + srandomid_bang_tn + "\",\"" + sfilename_bang_tn + "\")'>Xóa</a></td></tr>";
                $("#FilesList_BangTN_View tbody").append(markup_bang_tn);
            }
            chkatchtbl_bang_tn();
            $('#files_bangtn').val('');
        });
        $("#files_hocba_ts").on("change", function () {
            var files_hocba_ts = document.getElementById('files_hocba_ts');
            for (i = 0; i < files_hocba_ts.files.length; i++) {
                var sfilename_hocba_ts = files_hocba_ts.files[i].name;
                let srandomid_hocba_ts = Math.random().toString(36).substring(7);
                formdata_file_hocba_ts.append(sfilename_hocba_ts, files_hocba_ts.files[i]);
                var markup_hocba_ts = "<tr id='" + srandomid_hocba_ts + "'><td>" + sfilename_hocba_ts + "</td><td style='width: 60px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!' class=\"btn btn-light btn-sm\" onclick='DeleteFile_HoBas_Upload(\"" + srandomid_hocba_ts + "\",\"" + sfilename_hocba_ts + "\")'>Xóa</a></td></tr>";
                $("#FilesList_HocBa_View tbody").append(markup_hocba_ts);
            }
            chkatchtbl_hocba();
            $('#files_hocba_ts').val('');
        });
        $("#files_giayto_uutien").on("change", function () {
            var files_giayto_uutien = document.getElementById('files_giayto_uutien');
            let j = 0;
            for (i = 0; i < files_giayto_uutien.files.length; i++) {
                j++;
                var sfilename_gtuutien = files_giayto_uutien.files[i].name;
                let srandomid_gtuutien = Math.random().toString(36).substring(7);

                formdata_file_giayto_uutien.append(sfilename_gtuutien, files_giayto_uutien.files[i]);
                var markup_giayto_uutien = "<tr id='" + srandomid_gtuutien + "'><td>" + sfilename_gtuutien + "</td><td style='width: 60px!important; color:blue'><a style='text-decoration:none' title='Bấm chuột để xóa tệp nếu không đúng!' class=\"btn btn-light btn-sm\" onclick='DeleteFile_GTUT_Upload(\"" + srandomid_gtuutien + "\",\"" + sfilename_gtuutien + "\")'>Xóa</a></td></tr>";
                $("#FilesList_GTUT_View tbody").append(markup_giayto_uutien);

            }
            chkatchtbl_giayto_uutien();
            $('#files_giayto_uutien').val('');
        });
    });
    function DeleteFile_CNKQTN_Upload(Fileid, FileName) {
        formdata_file_chungnhan_kqtn.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_chungnhan_kqtn();
    }
    function chkatchtbl_chungnhan_kqtn() {
        if ($('#FilesList_CNKQTN_View tr').length > 0) {
            $("#FilesList_CNKQTN_View").css("visibility", "visible");
            check_in_file_chungnhan_kqtn = true;
        }
        else {
            $("#FilesList_CNKQTN_View").css("visibility", "hidden");
            check_in_file_chungnhan_kqtn = false;
            if (!check_in_file_chungnhan_kqtn) { var errorMessage = "Vui lòng upload tệp chứng nhận tốt nghiệp"; $('#ChungNhanTotNghiep_Error').text(errorMessage); flag = false; }
        }
    }
    function DeleteFile_CCCD_Upload(Fileid, FileName) {
        formdata_file_cancuoc_congdan.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_cc_cd();
    }
    function chkatchtbl_cc_cd() {
        if ($('#FilesList_CCCD_View tr').length > 0) {
            $("#FilesList_CCCD_View").css("visibility", "visible");
        }
        else {
            $("#FilesList_CCCD_View").css("visibility", "hidden");
        }
    }
    function DeleteFile_BANGTN_Upload(Fileid, FileName) {
        formdata_file_bang_tn.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_bang_tn();
    }
    function chkatchtbl_bang_tn() {
        if ($('#FilesList_BangTN_View tr').length > 0) { $("#FilesList_BangTN_View").css("visibility", "visible"); }
        else { $("#FilesList_BangTN_View").css("visibility", "hidden"); }
    }
    function DeleteFile_HoBas_Upload(Fileid, FileName) {
        formdata_file_hocba_ts.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_hocba();
    }
    function chkatchtbl_hocba() {
        if ($('#FilesList_HocBa_View tr').length > 0) {
            $("#FilesList_HocBa_View").css("visibility", "visible");
        } else {
            $("#FilesList_HocBa_View").css("visibility", "hidden");
        }
    }
    function DeleteFile_GTUT_Upload(Fileid, FileName) {
        formdata_file_giayto_uutien.delete(FileName)
        $("#" + Fileid).remove();
        chkatchtbl_giayto_uutien();
    }
    function chkatchtbl_giayto_uutien() {
        if ($('#FilesList_GTUT_View tr').length > 0) {
            $("#FilesList_GTUT_View").css("visibility", "visible");
        } else {
            $("#FilesList_GTUT_View").css("visibility", "hidden");
        }
    }

    // hết phần xử lý dữ liệu cho các tệp đính kèm
    // hiển thị cửa sổ thêm mới:
    $('#bt_add_aspirations').click(function () {
        document.getElementById('div_list_aspirations').style.display = "none";
        document.getElementById('div_update_aspirations').style.display = "inline";
        select_khoinganh_view_data(0, 0, 0);
        reset_fields_controll_disabled_true();
        $('#dkxt_thptqg_id_checkin').val('0');

        check_in_file_chungnhan_kqtn = false;
        formdata_file_chungnhan_kqtn = new FormData();
        formdata_file_hocba_ts = new FormData();
        formdata_file_bang_tn = new FormData();
        formdata_file_cancuoc_congdan = new FormData();
        formdata_file_giayto_uutien = new FormData();

    });
    // button đồng ý thêm mới
    $('#bt_ok_div_update_aspirations').click(function () {

        $('#noidung_chuyenkhoan').text('');
        let flag = true;
        let _nganh_ID = $('#select_nganh').val();
        let _thm_ID = $('#select_tohopmon').val();
        let _dkxt_KQTQG_NamTotNghiep = $('#select_namtn').val();

        let _kxt_KQTQG_Diem_M1 = { TenMon: $('#lb_tenmon_1').text(), Diem: $('#txt_m1').val() };
        let _kxt_KQTQG_Diem_M2 = { TenMon: $('#lb_tenmon_2').text(), Diem: $('#txt_m2').val() };
        let _kxt_KQTQG_Diem_M3 = { TenMon: $('#lb_tenmon_3').text(), Diem: $('#txt_m3').val() };


        if (_nganh_ID == 0) { var errorMessage = "Vui lòng chọn ngành"; $('#Nganh_ID_Error').text(errorMessage); flag = false; }
        if (_thm_ID == 0) { var errorMessage = "Vui lòng chọn tổ hợp môn"; $('#Thm_ID_Error').text(errorMessage); flag = false; }
        if (_kxt_KQTQG_Diem_M1.Diem == '' || _kxt_KQTQG_Diem_M2.Diem == '' || _kxt_KQTQG_Diem_M3.Diem == '') {
            var errorMessage = "Chưa nhập đủ điểm các môn hoặc nhập chưa đúng"; $('#Diem_All_Error').text(errorMessage); flag = false;
        }
        if (!check_in_file_chungnhan_kqtn) { var errorMessage = "Vui lòng upload tệp chứng nhận tốt nghiệp"; $('#ChungNhanTotNghiep_Error').text(errorMessage); flag = false; }

        if (_dkxt_KQTQG_NamTotNghiep == 0) { var errorMessage = "Vui lòng chọn năm tốt nghiệp"; $('#NamTotNghiep_Error').text(errorMessage); flag = false; }

        if (!flag) return;

        let _dkxt_KQTQG_Diem_Tong = parseFloat(_kxt_KQTQG_Diem_M1.Diem) + parseFloat(_kxt_KQTQG_Diem_M2.Diem) + parseFloat(_kxt_KQTQG_Diem_M3.Diem);

        let _dkxt_KQTQG_MinhChung_CNTotNghiep = "";
        let _dkxt_KQTQG_MinhChung_HocBa = "";
        let _dkxt_KQTQG_MinhChung_BangTN = "";
        let _dkxt_KQTQG_MinhChung_CCCD = "";
        let _dkxt_KQTQG_MinhChung_UuTien = "";

        /* thực hiện upload file*/
        let so_file_cn_totnghiep = 0;
        let so_file_hocba_ts = 0;
        let so_file_bang_tn = 0;
        let so_file_cc_congdan = 0;
        let so_file_giayto_uutien = 0;

        let formData_All = new FormData();

        for (const item of formdata_file_chungnhan_kqtn) {
            formData_All.append(item[0], item[1]);
            so_file_cn_totnghiep++;
        }
        for (const item of formdata_file_hocba_ts) {
            formData_All.append(item[0], item[1]);
            so_file_hocba_ts++;
        }
        for (const item of formdata_file_bang_tn) {
            formData_All.append(item[0], item[1]);
            so_file_bang_tn++;
        }
        for (const item of formdata_file_cancuoc_congdan) {
            formData_All.append(item[0], item[1]);
            so_file_cc_congdan++;
        }
        for (const item of formdata_file_giayto_uutien) {
            formData_All.append(item[0], item[1]);
            so_file_giayto_uutien++;
        }

        formData_All.append('so_file_cn_totnghiep', so_file_cn_totnghiep);
        formData_All.append('so_file_hocba_ts', so_file_hocba_ts);
        formData_All.append('so_file_bang_tn', so_file_bang_tn);
        formData_All.append('so_file_cc_congdan', so_file_cc_congdan);
        formData_All.append('so_file_giayto_uutien', so_file_giayto_uutien);

        $.ajax({
            url: '/DangKyXetTuyens/DangKyXetTuyen_KQTHPTQG_UploadFile_Multi',
            type: "POST",
            contentType: false,
            processData: false,
            data: formData_All,
            async: false,
            success: function (res) {
                _dkxt_KQTQG_MinhChung_CNTotNghiep = res._KQTQG_MinhChung_CNTotNghiep;
                _dkxt_KQTQG_MinhChung_HocBa = res._KQTQG_MinhChung_HocBa;
                _dkxt_KQTQG_MinhChung_BangTN = res._KQTQG_MinhChung_BangTN;
                _dkxt_KQTQG_MinhChung_CCCD = res._KQTQG_MinhChung_CCCD;
                _dkxt_KQTQG_MinhChung_UuTien = res._KQTQG_MinhChung_UuTien;
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });
        /*hết phần upload file*/

        /*phần khai báo đối tượng*/
        let data_Obj_new = {
            Nganh_ID: _nganh_ID,
            Thm_ID: _thm_ID,
            Dkxt_KQTQG_NamTotNghiep: _dkxt_KQTQG_NamTotNghiep,

            Dkxt_KQTQG_Diem_M1: JSON.stringify(_kxt_KQTQG_Diem_M1),
            Dkxt_KQTQG_Diem_M2: JSON.stringify(_kxt_KQTQG_Diem_M2),
            Dkxt_KQTQG_Diem_M3: JSON.stringify(_kxt_KQTQG_Diem_M3),

            Dkxt_KQTQG_Diem_Tong: _dkxt_KQTQG_Diem_Tong.toString(),

            Dkxt_KQTQG_MinhChung_CNTotNghiep: _dkxt_KQTQG_MinhChung_CNTotNghiep,
            Dkxt_KQTQG_MinhChung_HocBa: _dkxt_KQTQG_MinhChung_HocBa,
            Dkxt_KQTQG_MinhChung_BangTN: _dkxt_KQTQG_MinhChung_BangTN,
            Dkxt_KQTQG_MinhChung_CCCD: _dkxt_KQTQG_MinhChung_CCCD,
            Dkxt_KQTQG_MinhChung_UuTien: _dkxt_KQTQG_MinhChung_UuTien,
        }
        /*hết phần khai báo đối tượng*/
        console.log(data_Obj_new);

        $("#loadingModal").modal("show");
        $.ajax({
            url: "/DangKyXetTuyens/DangKyXetTuyen_KQTHPTQG_Insert",
            data: JSON.stringify(data_Obj_new),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    reset_fields_controll_disabled_true();
                    LoadData_All_DkxtKQTN();
                    // showToast("Thông báo", "Thêm mới nguyện vọng thành công!", "bg-success");
                    $('#div_list_aspirations').css('display', 'inline');
                    $('#div_update_aspirations').css('display', 'none');
                    $("#loadingModal").modal("hide");
                    thongbao_dangky_thanhcong(res.data);
                } else {
                    $("#loadingModal").modal("hide");
                    showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");

                }
            },
            error: function (errormessage) {
                $("#loadingModal").modal("hide");
                showToast("Thông báo", "Có lỗi xảy ra khi thêm mới nguyện vọng!", "bg-error");
            }
        });
    });
    // button tắt cửa sổ thêm mới phía trên
    $('#bt_close_div_update_aspirations_first').click(function () {
        $('#div_list_aspirations').show();
        $('#div_update_aspirations').hide();

        //document.getElementById('div_list_aspirations').style.display = "inline";
        //document.getElementById('div_update_aspirations').style.display = "none";
        reset_fields_controll_disabled_true();
        $('.text-danger').text('');
    });
    // button tắt cửa sổ thêm mới phía dưới
    $('#bt_close_div_update_aspirations_second').click(function () {
        $('#div_list_aspirations').show();
        $('#div_update_aspirations').hide();
        reset_fields_controll_disabled_true();
        $('.text-danger').text('');
    });

    function on_listen_fields_input_data(inputClass, outputClass) {
        var inputFields = $(inputClass);
        inputFields.on('input', function () {
            var allFilled = true;
            inputFields.each(function () {
                if ($(this).val() === '' || $(this).val() < 0 || $(this).val() > 10) {
                    allFilled = false;
                    var errorMessage = "Chưa nhập đủ điểm các môn hoặc nhập chưa đúng";
                    $('#Diem_All_Error').text(errorMessage);
                    $(outputClass).val('');
                    return false;
                }
            });

            if (allFilled) {
                $('#Diem_All_Error').text('');
                let total = 0;
                inputFields.each(function () {
                    total += parseFloat($(this).val());
                });
                /* console.log(total / 3)*/
                $(outputClass).val((total).toFixed(2));
            }
        });
    }
    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
    function select_khoinganh_view_data(khoinganh_key, nganh_key, tohopmon_key) {
        $('#select_khoinganh').empty()
        $.ajax({
            url: "/DangKyXetTuyens/KhoiNganhListAll",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result_all) {
                $.each(result_all, function (i, result) {
                    $('#select_khoinganh').append('<option value="' + result.khoiNganh_ID + '">' + result.khoiNganh_Ten + '</option>');
                });

                $('#select_khoinganh').val(khoinganh_key);
                select_nganh_view_data(khoinganh_key, nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function select_nganh_view_data(id, nganh_key, tohopmon_key) { // id = KhoiNganh_ID
        $("#select_nganh").empty();
        $.ajax({
            url: "/DangKyXetTuyens/NganhListAll/" + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {

                $.each(result_all, function (i, result) {
                    $('#select_nganh').append('<option value="' + result.nganh_ID + '">' + result.nganh_GhiChu + '</option>');
                });

                $('#select_nganh').val(nganh_key);
                select_tohopmon_view_data(nganh_key, tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function select_tohopmon_view_data(id, tohopmon_key) { // id = Nganh_ID
        $("#select_tohopmon").empty();
        $.ajax({
            url: "/DangKyXetTuyens/ToHopMonNganhListAll/" + id,
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (result_all) {
                $.each(result_all, function (i, result) {
                    $('#select_tohopmon').append('<option value="' + result.thm_ID + '">' + result.thm_MaTen + '</option>');
                });
                $('#select_tohopmon').val(tohopmon_key);
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }
    function reset_fields_controll_disabled_false() {

        $('#select_namtn').prop('disabled', false);

        $('#lb_tenmon_1').text("Chưa chọn");
        $('#lb_tenmon_2').text("Chưa chọn");
        $('#lb_tenmon_3').text("Chưa chọn");
        $('#lb_tongdiem').text('Tổng');

        $('.input-mon').val('');
        $('.input-tong').val('');

        $('#txt_m1').prop('disabled', false);
        $('#txt_m2').prop('disabled', false);
        $('#txt_m3').prop('disabled', false);
        $('#txt_tong_diem').prop('disabled', true);
        $('#txt_m1').focus();

        $('#files_chungnhan_kqtn').val(null);
        $('#files_hocba_ts').val(null);
        $('#files_bangtn').val(null);
        $('#files_cancuoc_congdan').val(null);
        $('#files_giayto_uutien').val(null);

        $('#files_chungnhan_kqtn').prop('disabled', false);
        $('#files_hocba_ts').prop('disabled', false);
        $('#files_bangtn').prop('disabled', false);
        $('#files_cancuoc_congdan').prop('disabled', false);
        $('#files_giayto_uutien').prop('disabled', false);

        $('#FilesList_CNKQTN_View tbody').empty();
        $('#FilesList_HocBa_View tbody').empty();
        $('#FilesList_BangTN_View tbody').empty();
        $('#FilesList_CCCD_View tbody').empty();
        $('#FilesList_GTUT_View tbody').empty();

    }
    function reset_fields_controll_disabled_true() {

        $('#select_namtn').prop('disabled', true);

        $('#lb_tenmon_1').text("Chưa chọn");
        $('#lb_tenmon_2').text("Chưa chọn");
        $('#lb_tenmon_3').text("Chưa chọn");
        $('#lb_tongdiem').text('Tổng');

        $('.input-monhoc').val('');
        $('.input-tong').val('');

        $('#txt_m1').prop('disabled', true);
        $('#txt_m2').prop('disabled', true);
        $('#txt_m3').prop('disabled', true);
        $('#txt_tong_diem').prop('disabled', true);

        $('#files_chungnhan_kqtn').val(null);
        $('#files_hocba_ts').val(null);
        $('#files_bangtn').val(null);
        $('#files_cancuoc_congdan').val(null);
        $('#files_giayto_uutien').val(null);

        $('#files_chungnhan_kqtn').prop('disabled', false);
        $('#files_hocba_ts').prop('disabled', false);
        $('#files_bangtn').prop('disabled', false);
        $('#files_cancuoc_congdan').prop('disabled', false);
        $('#files_giayto_uutien').prop('disabled', false);

        $('#FilesList_CNKQTN_View tbody').empty();
        $('#FilesList_HocBa_View tbody').empty();
        $('#FilesList_BangTN_View tbody').empty();
        $('#FilesList_CCCD_View tbody').empty();
        $('#FilesList_GTUT_View tbody').empty();
    }
    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }
    $(document).ready(function () {
        $('#bt_xuat_phieu_tong_hop_kq').click(function () {
            window.location.href = '/ExportFile/DownloadFile_XetTuyenKQTQG';
        });
    });
</script>