
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TaoChuoiKhongDau</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/libs_font-awesome_6.1.1_js_all.min.js" data-search-pseudo-elements defer crossorigin="anonymous"></script>
    <script src="~/Scripts/feather.min.js" crossorigin="anonymous"></script>
    <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

</head>
<body>
    <div style="margin:30px">
        <label>Chuỗi input: @ViewBag.InputText</label>
        <hr />
        <label>Chuỗi output: @ViewBag.OutputText</label>
        <hr />
        <button onclick="ChuyenDoi()">Chuyển đổi</button>
        <script>
            function ChuyenDoi() {
                $.ajax({
                    url: '/Admin/Xas/TaoChuoiKhongDauJson',
                    type: 'GET',                    
                    contentType: "application/json;charset=utf-8",
                    dataType: 'json',
                    async: false,
                    success: function (res) {
                        console.log(res.LitsXa, res.LitsHuyen, res.LitsTinh);
                       
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            }
        </script>
    </div>
</body>
</html>
