@{
    ViewBag.Title = "Kiểm tra hồ sơ DKDT Năng khiếu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    label {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }

</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span> Quản lý đăng ký dự thi năng khiếu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<input type="hidden" style="display:none" id="hidden_Dkdt_NK_ID" value="@ViewBag.dkdt_nk_id" />
<script>
    $(document).ready(function () {
        let sp_tieude = document.getElementById('sp_tieude');


        function reportWindowSize() {
            if (window.innerWidth <= 1200) {
                sp_tieude.innerText = "Kiểm tra, xác thực ĐKDT Năng khiếu";
            }
            else {
                sp_tieude.innerText = "Kiểm tra và xác thực thông tin đăng ký dự thi năng khiếu";
            }
        }
        window.onresize = reportWindowSize;
    })


    $(document).ready(function () {
        let data_get = { Dkdt_NK_ID: $('#hidden_Dkdt_NK_ID').val() }
        $.ajax({
            url: '/Admin/DangKyXetTuyens/Dkdttnk_hs_view_getdata',           
            type: 'POST',
            data: JSON.stringify(data_get),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                if (res.success) {
                    let data = res.data;
                    console.log(data)

                    // hiển thị thông tin đợt đăng ký dự thi năng khiếu:
                    $('#Dxt_Ten').val(data.dxt_Ten);
                    $('#Dxt_ThoiGian_BatDau').val(data.dxt_ThoiGian_BatDau);
                    $('#Dxt_ThoiGian_KetThuc').val(data.dxt_ThoiGian_KetThuc);

                    // hiển thị thông tin ngành đã đăng ký
                  
                    $('#select_nganh').val(data.nganh_TenNganh);                   
                    $('#select_tohopmon').val(data.thm_TenToHop)
                    $('#txt_dangky_monnangkhieu').val(data.dkdt_NK_MonThi);
                    
                    // hiển thị dữ liệu cccd đã upload
                    $('#div_show_file_mc').empty();
                    if (data.dkdt_nk_Mc_CCCD != null && data.dkdt_nk_Mc_CCCD.length > 6) {
                        const ArrCcCongDan = data.dkdt_nk_Mc_CCCD.split("#");
                        for (i = 0; i < ArrCcCongDan.length; i++) {
                            if (ArrCcCongDan[i].length > 0) {
                                var str_a = ` <a class="btn btn-light btn-sm" style="color:blue" onclick="showimg('${ArrCcCongDan[i]}', ${data.dkdt_NK_ID} )">Tệp ${i + 1}</a> `;
                                $('#div_show_file_mc').append(str_a);
                            }
                        }
                        $('#checkbox_check_cccd').attr('checked');

                    }
                    else {
                        $('#checkbox_check_cccd').removeAttr('checked');
                        var str_a = ` <a>Không có dữ liệu</a> `;
                        $('#div_show_file_mc').append(str_a);
                    }
                    $('#div_show_file_mc').show();
                    $('#div_input_file_update_mc').hide();

                    // hiển thị dữ liệu nộp lệ phí
                    $('#div_show_file_mc_noplephi').empty();
                   
                    if (data.dkdt_nk_Mc_Lephi != null && data.dkdt_nk_Mc_Lephi.length > 6) {
                        var str_matc = data.dkdt_nk_Matc + ", "
                        $('#div_show_file_mc_noplephi').append('Mã tham chiếu: ' + str_matc);
                        const ArrLephi = data.dkdt_nk_Mc_Lephi.split("#");
                        for (i = 0; i < ArrLephi.length; i++) {
                            if (ArrLephi[i].length > 0) {
                                var str_a = ` <a class="btn btn-light btn-sm" style="color:blue" onclick="showimg('${ArrLephi[i]}', ${data.dkdt_NK_ID} )">Tệp ${i + 1}</a> `;
                                $('#div_show_file_mc_noplephi').append(str_a);
                            }
                        }
                    }
                    else {
                        var str_a = ` <a style="color:red; text-decoration:none; margin-bottom:30px;  margin-top:25px">Không có dữ liệu</a> `;
                        $('#div_show_file_mc_noplephi').append(str_a);
                    }

                }
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });
    })
</script>
<div class="container-fluid px-12">
    <div class="card card-collapsable mt-1 mb-1">
        <div class="card-header">
            <div><span id="sp_tieude">Kiểm tra và xác thực thông tin đăng ký dự thi năng khiếu</span></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xxl-4">
                    <div class="row md-0">
                        <div class="col-xxl-12 mb-0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="vertical-align:middle;">Đợt dự thi môn năng khiếu  </th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_list_diemmonhoc">
                                    <tr>
                                        <td>
                                            <div class="row  align-items-center">
                                                <div class="col-3">
                                                    <label class="col-form-label">Đợt thi</label>
                                                </div>
                                                <div class="col-9">
                                                    <input class="form-control" id="Dxt_Ten" disabled />
                                                    <span id="NamTotNghiep_Error" class="small mb-1 text-danger"></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row align-items-center">
                                                <div class="col-3">
                                                    <label class="col-form-label">Từ ngày</label>
                                                </div>
                                                <div class="col-9">
                                                    <input class="form-control" id="Dxt_ThoiGian_BatDau" disabled />
                                                    <span id="NamTotNghiep_Error" class="small mb-1 text-danger"></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="row align-items-center">
                                                <div class="col-3">
                                                    <label class="col-form-label">Đến ngày</label>
                                                </div>
                                                <div class="col-9">
                                                    <input class="form-control" id="Dxt_ThoiGian_KetThuc" disabled />
                                                    <span id="NamTotNghiep_Error" class="small mb-1 text-danger"></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Ngành và tổ hợp môn  </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-3">
                                            <label class="col-form-label">Ngành</label>
                                        </div>
                                        <div class="col-9">

                                            <input id="select_nganh" class="form-control" disabled/>
                                          
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-3">
                                            <label class="col-form-label">Tổ hợp môn</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="select_tohopmon" class="form-control" disabled/>
                                            
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row g-3 align-items-center">
                                        <div class="col-3">
                                            <label class="col-form-label">Tên môn thi</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="txt_dangky_monnangkhieu" type="text" class="form-control input-monhoc" value="Chưa chọn" disabled />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                    </table>
                </div>
                <div class="col-xxl-4">
                    <div class="row mb-0">
                        <div class="col-xxl-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Dữ liệu minh chứng </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="row mt-0 md-0">
                                                <div class="col-lg-12 col-12">
                                                    <label class="form-label">Căn cước công dân (<span id="div_show_file_mc"></span>)</label>
                                                    <hr class="mt-0 mb-1" />
                                                </div>
                                              
                                                <div class="col-md-12">
                                                   
                                                    <label class="col-12 mb-1">Minh chứng nộp lệ phí</label>
                                                    <div class="col-lg-12 col-12" id="div_show_file_mc_noplephi">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mb-3" style="margin-top:7px;">
                <div class="col-lg-12" style="text-align:center">
                    <input class="btn btn-outline-primary " onclick="bt_ok_div_exam_update_data()" type="button" value="Đồng ý" />
                    <input class="btn btn-outline-danger " onclick="bt_cancel_div_exam_update_data()" type="button" value="Hủy bỏ" />
                </div>
            </div>
        </div>
    </div>




    <div id="div_view_img" style="display:none">
        <div class="row">
            <div class="col-xl-12 mt-2">
                <div class="card card-header-actions">
                    <div class="card-header mt-0 mb-0">
                        <span id="img_txt_card_hearder">Hình ảnh minh chứng</span>
                        <div>
                            <button class="btn btn-outline-danger btn-sm" type="button" id="bt_delete_img_mc">Xóa</button>
                            <button class="btn btn-outline-primary btn-sm" type="button" id="bt_close_div_view_img">Đóng</button>
                        </div>

                    </div>
                    <div class="card-body" style="margin: 0px!important">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" id="div_item_view_minhchung">
                                    <img class="d-block w-100 img-hide" id="img_view" display:none">
                                    <embed id="pdf_view" class="d-block w-100" style="height:700px; display:none" type="application/pdf" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






