
@{
    ViewBag.Title = "Kiểm tra hồ sơ xét tuyển bằng học bạ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<style>
    .colorlogin {
        color: #ff6a00 !important;
    }

    .login-button {
        padding: 7px 10px;
        border-radius: 3px !important;
        background-color: #ff6a00;
        border: none;
        color: #fff;
        font-size: 15px;
    }

        .login-button:hover {
            background-color: #808080;
            color: #fff;
        }


    .label_tieude {
        white-space: nowrap !important;
    }

    .span_with_for {
        width: 65px !important
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }

    .padding_input_text_number {
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
    }

    td {
        vertical-align: middle !important;
    }

    .tdpading-diem {
        padding-left: 3px !important;
        padding-right: 3px !important;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Kiểm tra thông tin đăng ký thi năng khiếu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<input type="hidden" style="display:none" id="hidden_Dkdt_NK_ID" value="@ViewBag.Dkxt_ID" />
<script>
    $(document).ready(function () {       
        if (window.innerWidth <= 1200) {
            $('#sp_tieude').val("Kiểm tra, xác thực ĐKDT Năng khiếu");
        }
        else {
            $('#sp_tieude').val( "Kiểm tra và xác thực thông tin đăng ký dự thi năng khiếu");
        }
        function reportWindowSize() {
            if (window.innerWidth <= 1200) {
                $('#sp_tieude').val("Kiểm tra, xác thực ĐKDT Năng khiếu");
            }
            else {
                $('#sp_tieude').val("Kiểm tra và xác thực thông tin đăng ký dự thi năng khiếu");
            }
        }
        window.onresize = reportWindowSize;
    })

    $(document).ready(function () {
        LoadDataPhuongThuc7();
    });
    function LoadDataPhuongThuc7() {
        let data_get = { Dkdt_NK_ID: $('#hidden_Dkdt_NK_ID').val() }
        $.ajax({
            url: '/Admin/DangKyXetTuyens/Dkdttnk_hs_view_getdata',
            type: 'POST',
            data: JSON.stringify(data_get),
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            async: false,
            success: function (res) {
                console.log('res ',res)
                if (res.success) {
                    let data = res.data;
                    console.log(data)
                    $('#HoTen').text(data.ThiSinh_HoLot + data.ThiSinh_Ten);  
                    $('#CanCuocCongDan').text(data.ThiSinh_CCCD);  
                    $('#DienThoai').text(data.ThiSinh_DienThoai);  
                    $('#Email').text(data.ThiSinh_Email);  
                    $('#NgaySinh').text(data.ThiSinh_NgaySinh);  
                    $('#GioiTinh').text(data.ThiSinh_GioiTinh);  
                    $('#DanToc').text(data.ThiSinh_DanToc);                  

                    // hiển thị thông tin đợt đăng ký dự thi năng khiếu:
                    $('#Dxt_Ten').text(data.dxt_Ten);
                    $('#Dxt_ThoiGian_BatDau').text(ConverDateToString(data.dxt_ThoiGian_BatDau));
                    $('#Dxt_ThoiGian_KetThuc').text(ConverDateToString(data.dxt_ThoiGian_KetThuc));
                    // hiển thị thông tin ngành đã đăng ký

                    $('#select_nganh').text(data.nganh_TenNganh);
                    $('#select_tohopmon').text(data.thm_TenToHop)
                    $('#txt_dangky_monnangkhieu').text(data.dkdt_NK_MonThi);
                    $('#so_tham_chieu_noplephi').append(data.dkdt_nk_Matc);
                    

                    /*TrangThaiHoSo*/
                    if (data.dkdt_TrangThai_HoSo == 0) {
                        $('#ThongBao_KiemDuyet_HoSo').empty();
                        $('#ThongBao_KiemDuyet_HoSo').append(`- Trạng thái hồ sơ: <span style="color:red">Chưa kiểm tra</span>`);
                        $('#radioHoSoDayDu').removeAttr('checked', 'checked');
                        $('#radioHoSoThieu').removeAttr('checked', 'checked');
                        $('#Dkxt_ThongBaoKiemDuyet_HoSo').val('');
                    }
                    if (data.dkdt_TrangThai_HoSo == 1) {
                        $('#ThongBao_KiemDuyet_HoSo').empty();
                        $('#ThongBao_KiemDuyet_HoSo').append(`- Trạng thái hồ sơ: <span style="color:red">Đã kiểm tra, hồ sơ có sai sót</span>`);
                        $('#radioHoSoDayDu').removeAttr('checked', 'checked');
                        $('#radioHoSoThieu').attr('checked', 'checked');
                        $('#Dkxt_ThongBaoKiemDuyet_HoSo').val(data.dkdt_ThongBaoKiemDuyet_HoSo);
                    }

                    if (data.dkdt_TrangThai_HoSo == 2) {
                        $('#ThongBao_KiemDuyet_HoSo').empty();
                        $('#ThongBao_KiemDuyet_HoSo').append(`- Trạng thái hồ sơ: <span style="color:red">Thí sinh đã sửa, Chưa kiểm tra</span>`);
                        $('#radioHoSoDayDu').removeAttr('checked', 'checked');
                        $('#radioHoSoThieu').removeAttr('checked', 'checked');
                        $('#Dkxt_ThongBaoKiemDuyet_HoSo').val('');
                    }

                    if (data.dkdt_TrangThai_HoSo == 9) {
                        $('#ThongBao_KiemDuyet_HoSo').empty();
                        $('#ThongBao_KiemDuyet_HoSo').append(`- Trạng thái hồ sơ:<span style="color:blue">Đã kiểm tra, hồ sơ đúng, đủ</span>`);
                        $('#radioHoSoDayDu').attr('checked', 'checked');
                        $('#radioHoSoThieu').removeAttr('checked', 'checked');
                        $('#Dkxt_ThongBaoKiemDuyet_HoSo').val(data.dkdt_ThongBaoKiemDuyet_HoSo);

                    }
                    // hiển thị dữ liệu cccd đã upload
                    $('#div_mc_cccd').empty();


                    if (data.dkdt_nk_Mc_CCCD) {
                        const ArrCcCongDan = data.dkdt_nk_Mc_CCCD.split("#");
                        if (ArrCcCongDan.length > 0) {
                            $('#div_mc_cccd').append('- Căn cước công dân: ');
                            for (i = 0; i < ArrCcCongDan.length; i++) {
                                if (ArrCcCongDan[i].length > 0) {
                                    var str_a = ` <a  style="cursor:pointer;" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" onclick="showimg('${ArrCcCongDan[i]}',4, ${data.Dkdt_NK_ID} )">Tệp ${i + 1}</a> `;
                                    $('#div_mc_cccd').append(str_a);
                                    if (i == 0) {

                                        $('#img_txt_card_hearder').text('Căn cước công dân');
                                        var url = ArrCcCongDan[i];
                                        var lastChar = url.substr(url.length - 4); 

                                        if (lastChar.toLowerCase() != ".pdf") {
                                            $("#pdf_view").attr("src", "");
                                            $('#pdf_view').height('0px');
                                            $('#pdf_view').css('display', 'none');
                                            $("#pdf_view").hide();
                                            $("#img_view").attr("src", url);
                                            $("#img_view").show();

                                        }
                                        if (lastChar.toLowerCase() === ".pdf") {
                                            $("#img_view").hide();
                                            $("#pdf_view").attr("src", url);
                                            $('#pdf_view').height('450px');
                                            $('#pdf_view').css('display', 'inline');
                                            $("#pdf_view").show();
                                        }
                                        $('#bt_delete_div_view_img').hide();

                                    }
                                }
                            }
                            $('#div_mc_cccd').show();

                        }
                        else {
                            $('#div_mc_cccd').hide();
                            $("#pdf_view").attr("src", "");
                            $('#pdf_view').height('0px');
                            $('#pdf_view').hide();

                            $('#img_txt_card_hearder').text('Căn cước công dân');
                            $("#img_view").attr("src", "/Content/images/no-image.png");
                            $('#div_view_img').show();

                            $('#bt_delete_div_view_img').hide();

                            // không hiển thị radio đủ kết quả khi tệp minh chứng kết quả thi không có
                            $('#radioHoSoDayDu').removeAttr('checked', 'checked');
                            $('#radioHoSoDayDu').prop('disabled', true);
                            $('#radioHoSoThieu').attr('checked', 'checked');
                        }
                    }
                    else {
                        $('#div_mc_cccd').hide();
                        $("#pdf_view").attr("src", "");
                        $('#pdf_view').height('0px');
                        $('#pdf_view').hide();

                        $('#img_txt_card_hearder').text('Căn cước công dân');
                        $("#img_view").attr("src", "/Content/images/no-image.png");
                        $('#div_view_img').show();

                        $('#bt_delete_div_view_img').hide();

                        // không hiển thị radio đủ kết quả khi tệp minh chứng kết quả thi không có
                        $('#radioHoSoDayDu').removeAttr('checked', 'checked');
                        $('#radioHoSoDayDu').prop('disabled', true);
                        $('#radioHoSoThieu').attr('checked', 'checked');
                    }
                     
                    /*   Trang Thai Kinh Phi*/
                    $('#hidden_TrangThai_KinhPhi').val(data.dkdt_TrangThai_LePhi)
                    $('#div_mc_lephi').empty();
                    $('#div_mc_lephi').hide();

                    if (data.dkdt_TrangThai_LePhi == 0) {
                        $('#div_daco_mc_lephi').hide();
                        $('#div_mc_lephi').hide();      
                        $('#ThongBao_TrangThaiKinhPhi').empty();
                        $('#ThongBao_TrangThaiKinhPhi').append(`- Trạng thái nộp kinh phí: <span style="color:red">Chưa có tệp minh chứng</span>`);
                        $('#ThongBao_TrangThaiKinhPhi').show();
                        $('#div_mc_lephi').empty();
                    }
                    else {
                        if (data.dkdt_TrangThai_LePhi == 1) {
                            $('#ThongBao_TrangThaiKinhPhi').empty();
                            $('#ThongBao_TrangThaiKinhPhi').append(`- Trạng thái kinh phí: <span style="color:red">Đã nộp minh chứng, Chưa kiểm tra</span>`);

                            $('#radioThongtinLePhiDung').removeAttr('checked', 'checked');
                            $('#radioThongtinLePhiSai').removeAttr('checked', 'checked');
                        }

                        if (data.dkdt_TrangThai_LePhi == 2) {
                            $('#ThongBao_TrangThaiKinhPhi').empty();
                            $('#ThongBao_TrangThaiKinhPhi').append(`- Trạng thái kinh phí: <span style="color:red">Đã kiểm tra, có sai sót</span>`);

                            $('#radioThongtinLePhiDung').removeAttr('checked', 'checked');
                            $('#radioThongtinLePhiSai').attr('checked', 'checked');

                        }

                        if (data.dkdt_TrangThai_LePhi == 3) {
                            $('#ThongBao_TrangThaiKinhPhi').empty();
                            $('#ThongBao_TrangThaiKinhPhi').append(`- Trạng thái kinh phí: <span style="color:blue">Thí sinh đã sửa, Chưa kiểm tra</span>`);

                            $('#radioThongtinLePhiDung').removeAttr('checked', 'checked');
                            $('#radioThongtinLePhiSai').removeAttr('checked', 'checked');
                        }
                        if (data.dkdt_TrangThai_LePhi == 9) {
                            $('#ThongBao_TrangThaiKinhPhi').empty();
                            $('#ThongBao_TrangThaiKinhPhi').append(`- Trạng thái kinh phí: <span style="color:blue">Đã kiểm tra, Đúng, đủ</span>`);

                            $('#radioThongtinLePhiDung').attr('checked', 'checked');
                            $('#radioThongtinLePhiSai').removeAttr('checked', 'checked');
                        }


                        $('#div_daco_mc_lephi').show();                      
                        $('#txt_SoThamChieu_KinhPhi').text('- Số tham chiếu chuyển khoản: ' + data.dkdt_nk_Matc);

                        if (data.dkdt_nk_Mc_Lephi) {
                            const ArrKinhPhi = data.dkdt_nk_Mc_Lephi.split("#");
                            if (ArrKinhPhi.length > 0) {
                                $('#div_mc_lephi').append('- Nộp lệ phí: ');
                                for (i = 0; i < ArrKinhPhi.length; i++) {
                                    if (ArrKinhPhi[i].length > 0) {
                                        var str_a = `<a  style="cursor:pointer;" class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"  onclick="showimg('${ArrKinhPhi[i]}',6,${data.Dkdt_NK_ID} )">Tệp ${i + 1}</a> `;
                                        $('#div_mc_lephi').append(str_a);
                                    }
                                }
                                $('#div_mc_lephi').show();
                            }
                            else {
                                $('#ThongBao_TrangThaiKinhPhi').empty();
                                $('#ThongBao_TrangThaiKinhPhi').append(`- Trạng thái nộp kinh phí: <span style="color:red">Đã kiểm tra minh chứng, có sai sót</span>`);
                                $('#div_thongbao_noimg_lephi').show();

                                $('#radioThongtinLePhiDung').removeAttr('checked', 'checked');
                                $('#radioThongtinLePhiDung').prop('disabled', true)
                                $('#radioThongtinLePhiSai').attr('checked', 'checked');
                                $('#div_mc_lephi').hide();
                            }
                        }
                        else {
                            $('#ThongBao_TrangThaiKinhPhi').empty();
                            $('#ThongBao_TrangThaiKinhPhi').append(`- Trạng thái nộp kinh phí: <span style="color:red">Đã kiểm tra minh chứng, có sai sót</span>`);
                            $('#div_thongbao_noimg_lephi').show();

                            $('#radioThongtinLePhiDung').removeAttr('checked', 'checked');
                            $('#radioThongtinLePhiDung').prop('disabled', true)
                            $('#radioThongtinLePhiSai').attr('checked', 'checked');
                            $('#div_mc_lephi').hide();
                        }
                    }

                }
            },
            error: function (err) {
                console.log(err.statusText);
            }
        });
    }   
    function ConverDateToString(date) {
        var parts = date.split('-');
        var mydate = parts[2] + '/' + parts[1] + '/' + parts[0];
        return mydate;
    }
   
</script>

<div class="container-fluid px-12">
    <div class="row g-1">
        <div class="col-lg-7 col-md-12" id="div_view_data_table">
            <div class="card card-header-actions">
                <div class="card-header">
                    <span>Thông tin nguyện vọng đăng ký</span>
                    <div>
                        <button class="btn  btn-light btn-sm" type="button" onclick="ReturnTheoDoiNopHoSo()">Quay lại</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <b>+ Thông tin thí sinh</b>
                                    <hr class="mb-0 mt-0" />
                                    <p class="mt-0 mb-0">- Họ và tên: <b id="HoTen"></b></p>
                                    <p class="mt-0 mb-0">- Số CCCD: <b id="CanCuocCongDan"> </b></p>
                                    <p class="mt-0 mb-0">- Điện thoại: <b id="DienThoai"></b></p>
                                    <p class="mt-0 mb-0">- Email: <b id="Email"> </b></p>
                                    <p class="mt-0 mb-0">- Ngày sinh: <b id="NgaySinh"></b></p>
                                    <p class="mt-0 mb-0">- Giới tính: <b id="GioiTinh"></b></p>
                                    <p class="mt-0 mb-0">- Dân tộc: <b id="DanToc"></b></p>
                                </div>
                                <div class="col-12 mb-3">
                                    <b>+ Thông tin đăng ký dự thi</b>
                                    <hr class="mb-0 mt-0" />
                                    <p class="mt-0 mb-0">- Đợt thi: <b id="Dxt_Ten"></b></p>
                                    <p class="mt-0 mb-0">- Thời gian thi: Từ <b id="Dxt_ThoiGian_BatDau"> </b> Đến <b id="Dxt_ThoiGian_KetThuc"> </b></p>
                                   
                                    <p class="mt-0 mb-0">- Ngành thi: <b id="select_nganh"> </b></p>
                                    <p class="mt-0 mb-0">- Tổ hợp môn: <b id="select_tohopmon"> </b></p>
                                    <p class="mt-0 mb-0">- Môn dự thi: <b id="txt_dangky_monnangkhieu"> </b></p>                                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <b>+ Hình ảnh minh chứng</b>
                                    <hr class="mb-0 mt-0" />
                                    <p class="mt-1 mb-0" id="div_mc_cccd" style="display:none"></p>
                                    <p class="mt-1 mb-0" id="div_mc_lephi" style="display:none"></p>
                                </div>
                                <div class="col-12 mb-3">
                                    <b>+ Kiểm duyệt hồ sơ và lệ phí</b>
                                    <hr class="mb-2 mt-0" />
                                    <p class="mt-0 mb-0" id="ThongBao_KiemDuyet_HoSo"></p>
                                    <div class="row">
                                        <div class="col-12 mt-2 mb-2">
                                            <input class="form-control" type="text" id="Dkxt_ThongBaoKiemDuyet_HoSo" name="Dkxt_ThongBaoKiemDuyet_HoSo" placeholder="Nhập thông báo kiểm duyệt hồ sơ">
                                            <span id="Error_Rgt_Check_radio_KiemDuyetHoSo" class="small mb-1 text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <div class="row g-1">
                                                <div class="col-lg-5 col-md-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" id="radioHoSoThieu" name="Group_KiemDuyetHoSo">
                                                        <label class="form-check-label text-nowrap">Hồ sơ có sai sót</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" id="radioHoSoDayDu" onchange="remove_error_kd();" name="Group_KiemDuyetHoSo">
                                                        <script>function remove_error_kd() { $('#Error_Rgt_Check_radio_KiemDuyetHoSo').text('') }</script>
                                                        <label class="form-check-label text-nowrap">Hồ sơ đầy đủ</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <span id="Error_Rgt_Check_radio_KiemDuyetHoSo" class="small mb-1 text-danger col-12"></span>
                                        </div>
                                    </div>
                                    <hr class="mb-0 mt-0" />
                                    <p class="mt-2 mb-0" id="ThongBao_TrangThaiKinhPhi"></p>
                                    <input type="hidden" id="hidden_TrangThai_KinhPhi" name="hidden_TrangThai_KinhPhi" />
                                    
                                    <div class="row mt-1 mb-0" id="div_daco_mc_lephi" style="display:none">
                                        <div class="col-12">
                                            <span id="txt_SoThamChieu_KinhPhi" style="color:blue"></span>
                                        </div>
                                        <div class="col-12 ">
                                            <div class="row g-1">
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" id="radioThongtinLePhiSai" name="Group_KiemDuyetLePhi" onchange="remove_error_lp()">
                                                        <label class="form-check-label text-nowrap">Minh chứng lệ phí sai</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" id="radioThongtinLePhiDung" name="Group_KiemDuyetLePhi" onchange="remove_error_lp()">
                                                        <label class="form-check-label text-nowrap">Minh chứng lệ phí đúng</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <span id="Error_Rgt_KiemDuyet_KinhPhi" class="small mb-1 text-danger col-12"></span>
                                            <script>function remove_error_lp() { $('#Error_Rgt_KiemDuyet_KinhPhi').text('') }</script>
                                        </div>
                                        <div class="col-12" id="div_thongbao_noimg_lephi" style="display:none">
                                            <span style="color:red">- Không có hình ảnh minh chứng</span>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <hr class="mt-1 mb-1" />
                    <div class="row">
                        <center>
                            <div class="col-12 mt-2">
                                <a class="btn btn-outline-primary" id="bt_duyet_ho_so">Duyệt hồ sơ</a>
                                <script>
                                    $(document).ready(function () {
                                        $('#bt_duyet_ho_so').click(function () {
                                            var flag = true;
                                           
                                            if (!$('#radioHoSoDayDu').is(':checked') && !$('#radioHoSoThieu').is(':checked')) {
                                                $('#Error_Rgt_Check_radio_KiemDuyetHoSo').text('Chọn kiểm duyệt hồ sơ');
                                                flag = false;
                                            }
                                            else {
                                                if ($('#radioHoSoThieu').is(':checked') && !$('#Dkxt_ThongBaoKiemDuyet_HoSo').val()) {
                                                    $('#Error_Rgt_Check_radio_KiemDuyetHoSo').text('Nhập thông tin sai của hồ sơ');
                                                    flag = false;
                                                }
                                            }
                                           
                                            let _dkxt_TrangThai_HoSo = 0;
                                            if ($('#radioHoSoThieu').is(':checked')) {
                                                _dkxt_TrangThai_HoSo = 1;
                                            }
                                            if ($('#radioHoSoDayDu').is(':checked')) {
                                                _dkxt_TrangThai_HoSo = 9;
                                            }

                                            let _dkxt_TrangThai_KinhPhi = 0;
                                           
                                            if ($('#hidden_TrangThai_KinhPhi').val() > 0) {
                                                if (!$('#radioThongtinLePhiDung').is(':checked') && !$('#radioThongtinLePhiSai').is(':checked')) {
                                                    $('#Error_Rgt_KiemDuyet_KinhPhi').text('Chọn kiểm duyệt nộp lệ phí');
                                                    flag = false;
                                                }
                                                
                                                if ($('#radioThongtinLePhiSai').is(':checked')) {
                                                    _dkxt_TrangThai_KinhPhi = 2;
                                                }
                                               
                                                if ($('#radioThongtinLePhiDung').is(':checked')) {
                                                    _dkxt_TrangThai_KinhPhi = 9;
                                                }
                                            }


                                            if (!flag) return;

                                            var data_update = {
                                                Dkdt_NK_ID: $('#hidden_Dkdt_NK_ID').val(),
                                                Dkdt_ThongBaoKiemDuyet_HoSo: $('#Dkxt_ThongBaoKiemDuyet_HoSo').val(),
                                                Dkdt_TrangThai_HoSo: _dkxt_TrangThai_HoSo,
                                                Dkdt_TrangThai_LePhi: _dkxt_TrangThai_KinhPhi,
                                            }

                                            console.log('data_update ', data_update)
                                           
                                            $.ajax({
                                                url: "/Admin/DangKyXetTuyens/Dkdt_NK_Update_KiemDuyet",
                                                type: "POST",
                                                data: JSON.stringify(data_update),
                                                contentType: 'application/json;charset=utf-8',
                                                success: function (res) {
                                                    if (res.success) {
                                                        ReturnTheoDoiNopHoSo();
                                                    }
                                                },
                                                error: function () {
                                                    console.log("Lỗi");
                                                }
                                            });
                                        });

                                        $('#radioHoSoDayDu').click(function () {
                                            $('#Error_Rgt_KiemDuyetHoSo').text('');
                                        });

                                        $('#radioThongtinLePhiDung').click(function () {
                                            $('#Error_Rgt_KiemDuyetKinhPhi').text('');
                                        });

                                        $('#radioThongtinLePhiSai').click(function () {
                                            $('#Error_Rgt_KiemDuyetKinhPhi').text('');
                                        });

                                        $('input').on('input', function () {
                                            hideErrorMessage($(this));
                                        });
                                    });

                                    function hideErrorMessage(input) {
                                        var errorContainer = input.next('.text-danger');
                                        errorContainer.text('');
                                    }

                                </script>

                                <input class="btn btn-outline-secondary" type="button" value="Quay lại" onclick="ReturnTheoDoiNopHoSo()" />
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5 col-md-12" id="div_view_data_img">
            <div class="card card-header-actions">
                <div class="card-header mt-0 mb-0">
                    <span id="img_txt_card_hearder">Hình ảnh minh chứng</span>
                    <div>
                        <button class="btn btn-sm btn-outline-danger" type="button" onclick="bt_delete_div_view_img()" id="bt_delete_div_view_img">Xóa</button>
                        <script>function bt_delete_div_view_img() { $('#modal_thongbao_delete').modal('show'); }</script>
                        <button class="btn btn-sm btn-outline-primary" type="button" id="bt_close_div_view_img">Đóng</button>
                        @*<button class="btn-close" type="button" aria-label="Close" id="bt_close_div_view_img"></button>*@
                    </div>
                </div>
                <div class="card-body" style="margin: 0px!important">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" id="div_item_view_minhchung">
                                <img class="d-block w-100 img-hide" id="img_view" display:none">
                                <embed class="d-block w-100" type="application/pdf" id="pdf_view" style=" display:none" />
                                <input type="hidden" id="hiden_id_key" style="display:none" />
                                <input type="hidden" id="hiden_loai_minhchung_xoa" style="display:none" />
                                <input type="hidden" id="hiden_duongdan_file_xoa" style="display:none" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_thongbao_delete" tabindex="-1" role="dialog" aria-labelledby="modal_thongbao_delete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tieude_modal">Thông báo</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="bt_close_modal_xoa_click()"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Bạn chắc chắn xóa ảnh minh chứng này ?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" onclick="bt_dongy_xoa_on_modal_delete_click()">Đồng ý</button>
                <script>
                    function bt_dongy_xoa_on_modal_delete_click() {
                        var str_query = window.location.search;
                        var data_post = {

                            Dkxt_ID: $('#hiden_id_key').val(),
                            Dkxt_LoaiMC: $('#hiden_loai_minhchung_xoa').val(),
                            Dkxt_Url: $("#hiden_duongdan_file_xoa").val(),
                        }
                        console.log("data_post delete", data_post);

                        $.ajax({
                            url: '/Admin/DangKyXetTuyens/Dkdtnk_hs_DeleteMC',
                            type: "POST",
                            data: JSON.stringify(data_post),
                            contentType: "application/json;charset=utf-8",
                            success: function (res) {
                                showToast("Thông báo", "Xóa ảnh minh chứng thành công.", "bg-success");
                                $('#modal_thongbao_delete').modal('hide');
                                LoadDataPhuongThuc7();
                                //  window.location.href = "/Admin/DangKyXetTuyens/DkxtHocBa_hs_view" + str_query;
                            },
                            error: function (error) {
                                console.error('Error delete:', error);
                            }
                        });
                    }
                    function showToast(title, message, bgColor) {
                        $("#myToast .toast-header .me-auto").text(title);
                        $("#myToast .toast-body").text(message);
                        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
                        $("#myToast").toast("show");
                    }
                </script>
                <button class="btn btn-primary" type="button" onclick="bt_close_modal_xoa_click()">Đóng</button>
            </div>
            <script>
                function bt_close_modal_xoa_click() {
                    $('#modal_thongbao_delete').modal('hide');
                }
            </script>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto"></strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>
 
<script>
    
    function ReturnTheoDoiNopHoSo() {
        var str_query_current = window.location.search;
        var str_dkxt_id = '?Dkxt_ID=' + $('#hidden_Dkdt_NK_ID').val();
        var str_query = str_query_current.slice(0, str_query_current.length - str_dkxt_id.length);
        window.location.href = '/Admin/DangKyXetTuyens/Dkdttnk/' + str_query;
    }
    function showimg(url, loaimc, id_key_hs) {

        $('#bt_delete_div_view_img').show();
        $('#bt_close_div_view_img').show();

        $('#hiden_id_key').val(id_key_hs);
        $('#hiden_loai_minhchung_xoa').val(loaimc);
        $("#hiden_duongdan_file_xoa").val(url);

        var pdf_view = document.getElementById("pdf_view");
        $("#pdf_view").attr("src", "");
        $('#pdf_view').height('0px');
        $('#pdf_view').hide();
        $('#pdf_view').css('display', 'none');

        $('#img_view').hide();
        $("#img_view").attr("src", "");

       
        if (loaimc == 4) {
            $('#img_txt_card_hearder').text('Căn cước công dân');
        }
       
        if (loaimc == 6) {
            $('#img_txt_card_hearder').text('Nộp lệ phí');
        }
        var lastChar = url.substr(url.length - 4); // => kiểm tra file pdf hoặc img

        if (lastChar.toLowerCase() != ".pdf") {
            $("#pdf_view").attr("src", "");
            $('#pdf_view').height('0px');
            $('#pdf_view').hide();
            $('#pdf_view').css('display', 'none');

            $("#img_view").attr("src", url);
            $("#img_view").show();
        }
        if (lastChar.toLowerCase() === ".pdf") {

            $("#img_view").hide();
            $("#pdf_view").attr("src", url);
            $('#pdf_view').height('450px');

            $('#pdf_view').css('display', 'inline');
            $("#pdf_view").show();
        }

        $('#bt_delete_div_view_img').show();
    }
    $(document).ready(function () {
        $('#bt_close_div_view_img').click(function () {

            $('#bt_delete_div_view_img').hide();
            $("#pdf_view").attr("src", "");
            $('#pdf_view').height('0px');
            $('#pdf_view').hide();
            $('#pdf_view').css('display', 'none');
            $('#img_txt_card_hearder').text('Căn cước công dân');
            $("#img_view").attr("src", "/Content/images/no-image.png");
            $('#img_view').show();
        });
    });
</script>