
@{
    ViewBag.Title = "QLDotDuTuyenSDH_Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin_Master.cshtml";
}

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title  mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span>Quản lý đợt tuyển sinh</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid px-12">
    <div class="card card-collapsable mt-1 mb-1">
        <div class="card-header">
            <div><span id="sp_tieude">Thêm mới đợt tuyển</span></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <div class="table-responsive">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

