
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLienCap.cshtml";
}

<div class="container-fluid px-12">
    <div id="fadeInUp">
        <div class="card card-header-actions mt-3 mb-1">
            <div class="card-header"><a href="@Url.Action("Create", "LienCapTieuHocs")" class="btn btn-light" style="color:blue!important">Đăng ký dự tuyển lớp 1</a></div>
            <div class="card-header"><a href="@Url.Action("Create", "LienCapTHCS")" class="btn btn-light" style="color:blue!important">Đăng ký dự tuyển lớp 6</a></div>
        </div>
    </div>
</div>
