@model HDU_AppXetTuyen.Models.ThiSinhDangKy

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    $('document').ready(function () {
        loadData();
        $('#Tinh_ID').change(function () {
            let selectedTinh = $(this).val();
            $.ajax({
                url: "/Auth/GetHuyen",
                type: "POST",
                data: JSON.stringify({
                    tinhID: selectedTinh
                }),
                contentType: "application/json;charset=utf-8",
                success: function (response) {
                    if (response.success) {
                        let data = response.data;
                        let huyentt = $('#Huyen_ID');
                        huyentt.empty();
                        $.each(data, function (index, item) {
                            huyentt.append($('<option></option>').val(item.Huyen_ID).text(item.Huyen_TenHuyen));
                        });
                        huyentt.prop('disabled', false);
                    } else {
                    }
                },
                error: function (xhr, status, error) {
                    // Handle any errors
                    console.error(error);
                }
            });
        });

        $('#datepicker').datepicker({
            format: 'dd/mm/yyyy', // Specify the desired date format
            autoclose: true // Close the datepicker when a date is selected
        });

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })
    })
    function loadData() {
        $.ajax({
            url: "/ThiSinhDangKies/GetThiSinhInfo",
            type: "POST",
            data: JSON.stringify({
                id: @Model.ThiSinh_ID,
            }),
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                console.log(response)
                if (response.success) {
                    let data = response.data;
                    let tinhs = response.tinhs;
                    let khuvucs = response.khuvucs;
                    let doituongs = response.doituongs;
                    let hktt = JSON.parse(data.ThiSinh_HoKhauThuongTru_Check);
                    $('#ThiSinh_CCCD').val(data.ThiSinh_CCCD);
                    $('#ThiSinh_HoLot').val(data.ThiSinh_HoLot);
                    $('#ThiSinh_Ten').val(data.ThiSinh_Ten);
                    $('#datepicker').val(data.ThiSinh_NgaySinh);
                    $('#ThiSinh_DienThoai').val(data.ThiSinh_DienThoai);
                    $('#ThiSinh_Email').val(data.ThiSinh_Email);
                    $('#ThiSinh_DanToc').val(data.ThiSinh_DanToc);
                    $('#ThiSinh_TruongCapBa').val(data.ThiSinh_TruongCapBa);
                    $('#ThiSinh_TruongCapBa_Ma').val(data.ThiSinh_TruongCapBa_Ma);
                    $('#ThiSinh_DCNhanGiayBao').val(data.ThiSinh_DCNhanGiayBao);
                    $('#ThiSinh_HoKhauThuongTru').val(hktt.Phuongxa);

                    /* Chọn giới tính */
                    let gioitinhs = [
                        { value: '0', text: 'Nam' },
                        { value: '1', text: 'Nữ' }
                    ];

                    let gioiTinhOptions = $('#ThiSinh_GioiTinh');
                    $.each(gioitinhs, function (index, option) {
                        gioiTinhOptions.append($('<option>', {
                            value: option.value,
                            text: option.text
                        }));
                    });
                    gioiTinhOptions.val(data.ThiSinh_GioiTinh);

                    /* Chọn khu vực */
                    let khuvucOptions = $('#KhuVuc_ID');
                    $.each(khuvucs, function (index, option) {
                        khuvucOptions.append($('<option>', {
                            value: option.KhuVuc_ID,
                            text: option.KhuVuc_Ten
                        }));
                    });

                    let khuVucDefaultIndex = khuvucs.filter((value, index) => {
                        return value.KhuVuc_ID == data.KhuVuc_ID
                    })
                    khuvucOptions.val(khuVucDefaultIndex[0].KhuVuc_ID);

                    /* Chọn đối tượng */
                    let doituongOptions = $('#DoiTuong_ID');
                    $.each(doituongs, function (index, option) {
                        doituongOptions.append($('<option>', {
                            value: option.DoiTuong_ID,
                            text: option.DoiTuong_Ten
                        }));
                    });

                    let dtDefaultIndex = doituongs.filter((value, index) => {
                        return value.DoiTuong_ID == data.DoiTuong_ID
                    })
                    doituongOptions.val(dtDefaultIndex[0].DoiTuong_ID);

                    /* Chọn tỉnh */
                    let tinhOptions = $('#Tinh_ID');
                    $.each(tinhs, function (index, option) {
                        tinhOptions.append($('<option>', {
                            value: option.Tinh_ID,
                            text: option.Tinh_Ten
                        }));
                    });

                    let tinhDefaultIndex = tinhs.filter((value, index) => {
                        return value.Tinh_ID == hktt.Tinh_ID.trim()
                    })
                    tinhOptions.val(tinhDefaultIndex[0].Tinh_ID);

                    /* Chọn huyện */
                    $.ajax({
                        url: "/Auth/GetHuyen",
                        type: "POST",
                        data: JSON.stringify({
                            tinhID: hktt.Tinh_ID
                        }),
                        contentType: "application/json;charset=utf-8",
                        success: function (response) {
                            if (response.success) {
                                let data = response.data;
                                let huyentt = $('#Huyen_ID');
                                huyentt.empty();
                                $.each(data, function (index, item) {
                                    huyentt.append($('<option></option>').val(item.Huyen_ID).text(item.Huyen_TenHuyen));
                                });
                                huyentt.prop('disabled', false);
                                let huyenDefaultIndex = data.filter((value, index) => {
                                    return value.Huyen_ID == hktt.Huyen_ID.trim()
                                })
                                huyentt.val(huyenDefaultIndex[0].Huyen_ID);
                            } else {
                            }
                        },
                        error: function (xhr, status, error) {
                            // Handle any errors
                            console.error(error);
                        }
                    });
                } else {
                }
            },
            error: function (xhr, status, error) {
                // Handle any errors
                console.error(error);
            }
        });
    }
    function onUpdateInfo() {
        $(".text-danger").text("");
        let flag = true;
        let ThiSinh_CCCD = $("#ThiSinh_CCCD").val();
        let ThiSinh_Email = $("#ThiSinh_Email").val();
        let ThiSinh_HoLot = $("#ThiSinh_HoLot").val();
        let ThiSinh_Ten = $("#ThiSinh_Ten").val();
        let ThiSinh_DienThoai = $("#ThiSinh_DienThoai").val();
        let ThiSinh_NgaySinh = $("#datepicker").val();
        let ThiSinh_GioiTinh = $("#ThiSinh_GioiTinh").val();
        let ThiSinh_DanToc = $("#ThiSinh_DanToc").val();
        let KhuVuc_ID = $("#KhuVuc_ID").val();
        let DoiTuong_ID = $("#DoiTuong_ID").val();
        let ThiSinh_TruongCapBa = $("#ThiSinh_TruongCapBa").val();
        let ThiSinh_TruongCapBa_Ma = $("#ThiSinh_TruongCapBa_Ma").val();
        let ThiSinh_HoKhauThuongTru = $("#ThiSinh_HoKhauThuongTru").val();
        let Huyen_ID = $("#Huyen_ID").val();
        let Tinh_ID = $("#Tinh_ID").val();
        let ThiSinh_DCNhanGiayBao = $("#ThiSinh_DCNhanGiayBao").val();

        if (!ThiSinh_CCCD) {
            var errorMessage = "Vui lòng nhập căn cước công dân";
            $('#ThiSinh_CCCD_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_Email) {
            var errorMessage = "Vui lòng nhập email";
            $('#ThiSinh_Email_Error').text(errorMessage);
            flag = false;
        } else if (!validateEmail(ThiSinh_Email)) {
            var errorMessage = "Vui lòng nhập email đúng định dạng";
            $('#ThiSinh_Email_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_HoLot) {
            var errorMessage = "Vui lòng nhập họ lót";
            $('#ThiSinh_HoLot_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_Ten) {
            var errorMessage = "Vui lòng nhập tên";
            $('#ThiSinh_Ten_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_DienThoai) {
            var errorMessage = "Vui lòng nhập số điện thoại";
            $('#ThiSinh_DienThoai_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_NgaySinh) {
            var errorMessage = "Vui lòng chọn ngày sinh";
            $('#datepicker_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_GioiTinh) {
            var errorMessage = "Vui lòng chọn giới tính";
            $('#ThiSinh_GioiTinh_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_DanToc) {
            var errorMessage = "Vui lòng nhập dân tộc";
            $('#ThiSinh_DanToc_Error').text(errorMessage);
            flag = false;
        }
        if (!KhuVuc_ID) {
            var errorMessage = "Vui lòng chọn khu vực";
            $('#KhuVuc_ID_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_TruongCapBa) {
            var errorMessage = "Vui lòng nhập tên trường";
            $('#ThiSinh_TruongCapBa_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_TruongCapBa_Ma) {
            var errorMessage = "Vui lòng nhập mã trường";
            $('#ThiSinh_TruongCapBa_Ma_Error').text(errorMessage);
            flag = false;
        }
        if (!Tinh_ID || Tinh_ID == 0) {
            var errorMessage = "Vui lòng chọn tỉnh/thành phố";
            $('#Tinh_ID_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_HoKhauThuongTru) {
            var errorMessage = "Vui lòng nhập phường/xã";
            $('#ThiSinh_HoKhauThuongTru_Error').text(errorMessage);
            flag = false;
        }
        if (!Huyen_ID || Huyen_ID == 0) {
            var errorMessage = "Vui lòng chọn quận/huyện";
            $('#Huyen_ID_Error').text(errorMessage);
            flag = false;
        }
        if (!ThiSinh_DCNhanGiayBao) {
            var errorMessage = "Vui lòng nhập địa chỉ liên hệ";
            $('#ThiSinh_DCNhanGiayBao_Error').text(errorMessage);
            flag = false;
        }
        if (!flag) return;

        let hokhautt = ThiSinh_HoKhauThuongTru + ", " + $('#Huyen_ID option:selected').text() + ", " + $('#Tinh_ID option:selected').text();
        let hokhautt_check = {
            Phuongxa: ThiSinh_HoKhauThuongTru,
            Huyen_ID: Huyen_ID,
            Tinh_ID: Tinh_ID
        }
        let formData = {
            ThiSinh_CCCD: ThiSinh_CCCD,
            ThiSinh_HoLot: ThiSinh_HoLot,
            ThiSinh_Ten: ThiSinh_Ten,
            ThiSinh_DienThoai: ThiSinh_DienThoai,
            ThiSinh_Email: ThiSinh_Email,
            ThiSinh_NgaySinh: ThiSinh_NgaySinh,
            ThiSinh_DanToc: ThiSinh_DanToc,
            ThiSinh_GioiTinh: ThiSinh_GioiTinh,
            ThiSinh_DCNhanGiayBao: ThiSinh_DCNhanGiayBao,
            ThiSinh_HoKhauThuongTru: hokhautt,
            KhuVuc_ID: KhuVuc_ID,
            DoiTuong_ID: DoiTuong_ID,
            ThiSinh_TruongCapBa_Ma: ThiSinh_TruongCapBa_Ma,
            ThiSinh_TruongCapBa: ThiSinh_TruongCapBa,
            ThiSinh_HoKhauThuongTru_Check: JSON.stringify(hokhautt_check)
        }
        console.log(formData)
        $.ajax({
            url: "/ThiSinhDangKies/UpdateInfo",
            type: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                console.log(response)
                if (response.success) {
                    showToast("Thành công", "Cập nhật thông tin thành công!", "bg-success");
                } else {
                    $('#errorMessage').text(response.message);
                    showToast("Thất bại", "Cập nhật thông tin thất bại! Vui lòng thử lại!", "bg-error");
                }
            },
            error: function (xhr, status, error) {
                showToast("Thất bại", "Cập nhật thông tin thất bại! Vui lòng thử lại!", "bg-error");
            },
            complete: function () {
            }
        });
    }
    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }
    function validateEmail(email) {
        var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
        var isValid = emailRegex.test(email);
        return isValid;
    }
    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }
</script>
<div class="container-fluid px-12">
    <div id="fadeInUp">
        <div class="card card-header-actions mt-3 mb-1 ">
            <div class="card-header">Cập nhật thông tin<a onclick="onUpdateInfo()" class="btn btn-light" style="color:blue!important">Lưu thông tin</a></div>
            <div class="card-body">
                <div class="row gx-xxl-3 mb-1">
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_CCCD">Căn cước công dân <a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="ThiSinh_CCCD" name="input_cccd_ts" type="text" placeholder="Số căn cước công dân" value="" disabled />
                        <span id="ThiSinh_CCCD_Error" class="small mb-1 text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_HoLot">Họ lót <a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="ThiSinh_HoLot" type="text" placeholder="Họ lót" value="" />
                        <span id="ThiSinh_HoLot_Error" class="small mb-1 text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_Ten">Tên <a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="ThiSinh_Ten" type="text" placeholder="Tên thí sinh" value="" />
                        <span id="ThiSinh_Ten_Error" class="small mb-1 text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_NgaySinh">Ngày sinh <a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="datepicker" type="text" placeholder="Ngày sinh" value="" />
                        <span id="ThiSinh_NgaySinh_Error" class="small mb-1 text-danger"></span>
                    </div>
                </div>
                <div class="row gx-xxl-3 mb-1">
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_GioiTinh">Giới tính <a style="color:red; text-decoration:none">(*)</a> </label>
                        <select class="form-select" id="ThiSinh_GioiTinh" type="text" placeholder="Giới tính"></select>
                        <span id="ThiSinh_GioiTinh_Error" class="small mb-1 text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_DienThoai">Điện thoại <a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="ThiSinh_DienThoai" type="text" placeholder="Điện thoại" value="" />
                        <span id="ThiSinh_DienThoai_Error" class="small mb-1 text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_Email">Emai <a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="ThiSinh_Email" type="text" placeholder="Email" value="" />
                        <span id="ThiSinh_Email_Error" class="small mb-1 text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_DanToc">Dân tộc <a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="ThiSinh_DanToc" type="text" placeholder="Dân tộc" value="" />
                        <span id="ThiSinh_DanToc_Error" class="small mb-1 text-danger"></span>
                    </div>
                </div>
                <div class="row gx-xxl-3 mb-1">
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="KhuVuc_ID">Khu vực <a style="color:red; text-decoration:none">(*)</a> </label>
                        <select class="form-select" id="KhuVuc_ID" type="text" placeholder="Khu vực"></select>
                        <span id="KhuVuc_ID_Error" class="small mb-1 text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label mb-1" for="DoiTuong_ID">Đối tượng <a style="color:red; text-decoration:none">(*)</a> </label>
                        <select class="form-select" id="DoiTuong_ID" type="text" placeholder="Đối tượng"></select>
                        <span id="DoiTuong_ID_Error" class="small mb-1 text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_TruongCapBa">Trường<a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="ThiSinh_TruongCapBa" type="text" placeholder="Trường THPT" value="" />
                        <span id="ThiSinh_TruongCapBa_Error" class="small mb-1 text-danger"></span>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label mb-1" for="ThiSinh_TruongCapBa_Ma">Mã trường<a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="ThiSinh_TruongCapBa_Ma" type="text" placeholder="Mã trường" value="" />
                        <span id="ThiSinh_TruongCapBa_Ma_Error" class="small mb-1 text-danger"></span>
                    </div>
                </div>
                <div class="row gx-xl-3">
                    <div class="col-md-12">
                        <label class="form-label mb-1" for="ThiSinh_DCNhanGiayBao">Địa chỉ nhận giấy báo <a style="color:red; text-decoration:none">(*)</a> </label>
                        <input class="form-control" id="ThiSinh_DCNhanGiayBao" type="text" placeholder="Địa chỉ nhận giấy báo" value="" />
                        <span id="ThiSinh_DCNhanGiayBao_Error" class="small mb-1 text-danger"></span>
                    </div>
                </div>
                <div class="row gx-xl-3 mb-1">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label class="mb-1" for="ThiSinh_HoKhauThuongTru">Hộ khẩu thường trú <a style="color:red; text-decoration:none">(*)</a>  </label>
                            <input id="ThiSinh_HoKhauThuongTru" class="form-control" type="text" placeholder="Nhập tên phường/xã" value="" />
                            <span id="ThiSinh_HoKhauThuongTru_Error" class="small mb-1 text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label class="mb-1" for="Tinh_ID">Tỉnh/Thành phố <a style="color:red; text-decoration:none">(*)</a>  </label>
                            <select class="form-select" id="Tinh_ID" type="text" placeholder="Tỉnh/thành phố"></select>
                            @*@Html.DropDownList("Tinh_ID", null, htmlAttributes: new { @class = "form-select", @id = "register_tinhtt" })*@
                            <span id="Tinh_ID_Error" class="small mb-1 text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="form-group">
                            <label class="mb-1" for="Huyen_ID">Quận/huyện <a style="color:red; text-decoration:none">(*)</a>  </label>
                            @* @Html.DropDownList("Huyen_ID", null, htmlAttributes: new { @class = "form-select", @id = "register_huyentt" })*@
                            <select id="Huyen_ID" class="form-select" disabled>
                                <option value="0">Chọn huyện</option>
                            </select>
                            <span id="Huyen_ID_Error" class="small mb-1 text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-warning mt-2" href="@Url.Action("Index", "ThiSinhDangKies")">Quay lại</a>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Toast Title</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
