@model IEnumerable<HDU_AppXetTuyen.Models.LePhiXetTuyen>
@{
    ViewBag.Title = "Index"; Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $("document").ready(function () {
        loadData();
        $('#selectFile').hide();
        $('#uploadFile').hide();
        $("#uploadFile").click(function () {
            var files = $("#selectFile")[0].files;

            if (files.length > 0) {
                var formData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    formData.append("filesMinhChung", files[i]);
                }
                $.ajax({
                    url: "/LePhiXetTuyens/UploadLePhiMinhChung",
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            showToast(
                                "Thông báo",
                                "Tải lên minh chứng thành công!",
                                "bg-error"
                            );
                        } else {
                            showToast(
                                "Cảnh báo",
                                "Tải lên minh chứng thất bại! Vui lòng thử lại",
                                "bg-error"
                            );
                        }
                        $('#lephiForm')[0].reset();
                        loadData();
                    },
                    error: function (xhr, status, error) {
                        // Handle the upload error
                        showToast(
                            "Cảnh báo",
                            "Tải lên minh chứng thất bại! Vui lòng thử lại",
                            "bg-error"
                        );
                        $('#lephiForm')[0].reset();
                    },
                });
            } else {
                showToast(
                    "Cảnh báo",
                    "Vui lòng chọn file minh chứng!",
                    "bg-error"
                );
            }
        });
    });
    function loadData() {
        $.ajax({
            url: "/LePhiXetTuyens/GetAllLePhi",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            success: function (response) {
                if (response.success) {
                    let data = response.data;
                    let lePhi = response.lePhi;
                    if (data || data > 0) {
                        $("#selectFile").show();
                        $("#uploadFile").show();
                        let html = "";
                        let minhchungs = lePhi.Lpxt_MinhChung ? lePhi.Lpxt_MinhChung : "";
                        let minhChungLinks = "";
                        if (minhchungs) {
                            let minhChungArray = minhchungs.split("#");
                            for (let i = 0; i < minhChungArray.length; i++) {
                                minhChungLinks += `<a target="_blank" class="btn btn-info small" style="margin-left: 2px;" href="https://localhost:44308/${minhChungArray[i]}">Tệp ${i + 1}</a>`
                            }
                        }
                        $('#TongLePhi').text(data * 30000)
                        html += "<tr>";
                        html += '<td class="text-center">' + data + ' nguyện vọng </td>';
                        html += '<td class="text-center">' + data * 30000 + ' VNĐ </td>';
                        if (!lePhi || lePhi.Lpxt_TrangThai == 0) {
                            html += `<td style="vertical-align: middle!important;" class="text-center"><span class="badge bg-danger">Chưa đóng phí</span></td>`;
                        } else if (lePhi.Lpxt_TrangThai == 1) {
                            html += `<td style="vertical-align: middle!important;" class="text-center"><span class="badge bg-info">Chờ xác nhận</span></td>`;
                        } else if (lePhi.Lpxt_TrangThai == 2) {
                            html += `<td style="vertical-align: middle!important;" class="text-center"><span class="badge bg-warning">Thiếu</span></td>`;
                        } else if (lePhi.Lpxt_TrangThai == 3) {
                            html += `<td style="vertical-align: middle!important;" class="text-center"><span class="badge bg-success">Đã đủ</span></td>`;
                        }
                        html += `<td rowspan=${data.length} style="vertical-align: middle!important;" class="text-center">${minhChungLinks}</td>`;
                        html += `<td rowspan=${data.length} style="vertical-align: middle!important;" class="text-center">${lePhi.Lpxt_GhiChu == null ? "" : lePhi.Lpxt_GhiChu}</td>`;
                        html += "</tr>";
                        $('.tbody').html(html);
                    }
                } else {
                }
            },
            error: function (xhr, status, error) {
                // Handle any errors
                console.error(error);
            },
        });
    }

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast")
            .removeClass("bg-success bg-danger")
            .addClass(bgColor);
        $("#myToast").toast("show");
    }
</script>
<div class="container-fluid px-12">
    <div id="fadeInUp">
        <div class="card card-header-actions mt-3 mb-1">
            <div class="card-header">Lưu ý</div>
            <div class="card-body">
                <div class="col-xxl-12">
                    <p style="color: red; font-style: italic" class="mb-1">
                        - Thí sinh cần nộp lệ phí xét tuyển và gửi minh chứng (ảnh chụp
                        giao dịch chuyển tiền)
                    </p>
                    <p style="color: red; font-style: italic" class="mb-1">
                        - Nếu thí sinh không đóng đủ lệ phí xét tuyển, nhà trường sẽ chỉ
                        xét đến một số nguyện vọng nhất định
                    </p>
                    <p style="color: red; font-style: italic" class="mb-1">
                        - Lệ phí xét tuyển: 30000 VNĐ/nguyện vọng
                    </p>
                    <p style="color: red; font-style: italic" class="mb-1">
                        - Tổng lệ phí xét tuyển của bạn: <span id="TongLePhi"></span> VNĐ
                    </p>
                </div>
            </div>
        </div>
        <div class="card card-header-actions mt-3 mb-1">
            <div class="card-header">
                Thông tin đóng phí
                <form id="lephiForm" method="post" enctype="multipart/form-data">
                    <div style="display: flex">
                        <input id="selectFile"
                               name="filesMinhChung"
                               class="form-control"
                               type="file"
                               style="color: blue !important; margin-right: 2px"
                               multiple />
                        <input id="uploadFile"
                               class="btn btn-primary"
                               type="button"
                               value="Lưu" />
                    </div>
                </form>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="20%" class="text-center">Tổng số nguyện vọng</th>
                            <th width="20%" class="text-center">Tổng lệ phí</th>
                            <th class="text-center">@Html.DisplayName("Trạng thái")</th>
                            <th class="text-center">@Html.DisplayName("Minh chứng")</th>
                            <th class="text-center">@Html.DisplayName("Ghi chú")</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="tbody"></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="myToast"
             class="toast"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Toast Title</strong>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
            <div class="toast-body"></div>
        </div>
    </div>
</div>