@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .btn, .form-select, .form-control {
        border-radius: 3px;
    }
</style>
<script>
    $('document').ready(function () {
        $("#list-kqthi-thpt").hide();
        $("#list-hocba").hide();
        $("#list-tuyenthang").hide();
        $("#list-ngoaingu").hide();
        $("#list-dgnl").hide();

    })
    function ConverDateToString(date) {
        var parts = date.split('-');
        var mydate = parts[2] + '/' + parts[1] + '/' + parts[0];
        return mydate;
    }

</script>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Theo dõi nguyện vọng nộp xét tuyển <a style="display:none" id="a_thongtin_dotxet_hientai"></a></span>
                        <input type="hidden" id="Dxt_ThoiGian_BatDau_ViewBag" style="display: none" value="@ViewBag.Dxt_ThoiGian_BatDau" />
                        <input type="hidden" id="Dxt_ThoiGian_KetThuc_ViewBag" style="display: none" value="@ViewBag.Dxt_ThoiGian_KetThuc" />
                    </div>
                    <div class="page-item mb-0 mt-1" id="div_thongtin_dotxet_hientai" style="display:none; color:blue; margin-left:25px"></div>
                    <script>
                        $(document).ready(function () {
                            var str_time = '(Đợt xét từ ' + ConverDateToString($('#Dxt_ThoiGian_BatDau_ViewBag').val()) + ' đến ' + ConverDateToString($('#Dxt_ThoiGian_KetThuc_ViewBag').val()) + ')';
                            if (window.innerWidth <= 1000) {
                                $('#a_thongtin_dotxet_hientai').css('display', 'none');
                                $('#a_thongtin_dotxet_hientai').hide();
                                $('#div_thongtin_dotxet_hientai').css('display', 'inline');
                                $('#div_thongtin_dotxet_hientai').show();
                                $('#div_thongtin_dotxet_hientai').text(str_time)

                                $('#div_thead_pt6').css('display', 'none');
                                $('#div_thead_pt6').hide();
                                $('.span_tieude_chitiet_pt6').css('display', 'inline');
                                $('.span_tieude_chitiet_pt6').show();
                                $('.span_noidung_chitiet_pt6').css('font-weight', 'bold')

                                $('#div_thead_pt5').css('display', 'none');
                                $('#div_thead_pt5').hide();
                                $('.span_tieude_chitiet_pt5').css('display', 'inline');
                                $('.span_tieude_chitiet_pt5').show();
                                $('.span_noidung_chitiet_pt5').css('font-weight', 'bold')

                                $('#div_thead_pt4').css('display', 'none');
                                $('#div_thead_pt4').hide();
                                $('.span_tieude_chitiet_pt4').css('display', 'inline');
                                $('.span_tieude_chitiet_pt4').show();
                                $('.span_noidung_chitiet_pt4').css('font-weight', 'bold')

                                $('#div_thead_pt3').css('display', 'none');
                                $('#div_thead_pt3').hide();
                                $('.span_tieude_chitiet_pt3').css('display', 'inline');
                                $('.span_tieude_chitiet_pt3').show();
                                $('.span_noidung_chitiet_pt3').css('font-weight', 'bold');

                                $('#div_thead_pt2').css('display', 'none');
                                $('#div_thead_pt2').hide();
                                $('.span_tieude_chitiet_pt2').css('display', 'inline');
                                $('.span_tieude_chitiet_pt2').show();
                                $('.span_noidung_chitiet_pt2').css('font-weight', 'bold');

                            }
                            else {
                                $('#a_thongtin_dotxet_hientai').css('display', 'inline');
                                $('#a_thongtin_dotxet_hientai').show();
                                $('#a_thongtin_dotxet_hientai').text(str_time)
                                $('#div_thongtin_dotxet_hientai').css('display', 'none');
                                $('#div_thongtin_dotxet_hientai').hide();

                                $('#div_thead_pt6').css('display', 'inline');
                                $('#div_thead_pt6').show();
                                $('.span_tieude_chitiet_pt6').css('display', 'none');
                                $('.span_tieude_chitiet_pt6').hide();
                                $('.span_noidung_chitiet_pt6').css('font-weight', 'normal');

                                $('#div_thead_pt5').css('display', 'inline');
                                $('#div_thead_pt5').show();
                                $('.span_tieude_chitiet_pt5').css('display', 'none');
                                $('.span_tieude_chitiet_pt5').hide();
                                $('.span_noidung_chitiet_pt5').css('font-weight', 'normal');

                                $('#div_thead_pt4').css('display', 'inline');
                                $('#div_thead_pt4').show();
                                $('.span_tieude_chitiet_pt4').css('display', 'none');
                                $('.span_tieude_chitiet_pt4').hide();
                                $('.span_noidung_chitiet_pt4').css('font-weight', 'normal');


                                $('#div_thead_pt3').css('display', 'inline');
                                $('#div_thead_pt3').show();
                                $('.span_tieude_chitiet_pt3').css('display', 'none');
                                $('.span_tieude_chitiet_pt3').hide();
                                $('.span_noidung_chitiet_pt3').css('font-weight', 'normal');


                                $('#div_thead_pt2').css('display', 'inline');
                                $('#div_thead_pt2').show();
                                $('.span_tieude_chitiet_pt2').css('display', 'none');
                                $('.span_tieude_chitiet_pt2').hide();
                                $('.span_noidung_chitiet_pt2').css('font-weight', 'normal');


                            }
                            function reportWindowSize() {
                                if (window.innerWidth <= 1000) {
                                    $('#a_thongtin_dotxet_hientai').css('display', 'none');
                                    $('#a_thongtin_dotxet_hientai').hide();
                                    $('#div_thongtin_dotxet_hientai').css('display', 'inline');
                                    $('#div_thongtin_dotxet_hientai').show();
                                    $('#div_thongtin_dotxet_hientai').text(str_time)

                                    $('#div_thead_pt6').css('display', 'none');
                                    $('#div_thead_pt6').hide();
                                    $('.span_tieude_chitiet_pt6').css('display', 'inline');
                                    $('.span_tieude_chitiet_pt6').show();
                                    $('.span_noidung_chitiet_pt6').css('font-weight', 'bold')

                                    $('#div_thead_pt5').css('display', 'none');
                                    $('#div_thead_pt5').hide();
                                    $('.span_tieude_chitiet_pt5').css('display', 'inline');
                                    $('.span_tieude_chitiet_pt5').show();
                                    $('.span_noidung_chitiet_pt5').css('font-weight', 'bold')

                                    $('#div_thead_pt4').css('display', 'none');
                                    $('#div_thead_pt4').hide();
                                    $('.span_tieude_chitiet_pt4').css('display', 'inline');
                                    $('.span_tieude_chitiet_pt4').show();
                                    $('.span_noidung_chitiet_pt4').css('font-weight', 'bold')

                                    $('#div_thead_pt3').css('display', 'none');
                                    $('#div_thead_pt3').hide();
                                    $('.span_tieude_chitiet_pt3').css('display', 'inline');
                                    $('.span_tieude_chitiet_pt3').show();
                                    $('.span_noidung_chitiet_pt3').css('font-weight', 'bold');

                                    $('#div_thead_pt2').css('display', 'none');
                                    $('#div_thead_pt2').hide();
                                    $('.span_tieude_chitiet_pt2').css('display', 'inline');
                                    $('.span_tieude_chitiet_pt2').show();
                                    $('.span_noidung_chitiet_pt2').css('font-weight', 'bold');

                                }
                                else {
                                    $('#a_thongtin_dotxet_hientai').css('display', 'inline');
                                    $('#a_thongtin_dotxet_hientai').show();
                                    $('#a_thongtin_dotxet_hientai').text(str_time)
                                    $('#div_thongtin_dotxet_hientai').css('display', 'none');
                                    $('#div_thongtin_dotxet_hientai').hide();

                                    $('#div_thead_pt6').css('display', 'inline');
                                    $('#div_thead_pt6').show();
                                    $('.span_tieude_chitiet_pt6').css('display', 'none');
                                    $('.span_tieude_chitiet_pt6').hide();
                                    $('.span_noidung_chitiet_pt6').css('font-weight', 'normal');

                                    $('#div_thead_pt5').css('display', 'inline');
                                    $('#div_thead_pt5').show();
                                    $('.span_tieude_chitiet_pt5').css('display', 'none');
                                    $('.span_tieude_chitiet_pt5').hide();
                                    $('.span_noidung_chitiet_pt5').css('font-weight', 'normal');

                                    $('#div_thead_pt4').css('display', 'inline');
                                    $('#div_thead_pt4').show();
                                    $('.span_tieude_chitiet_pt4').css('display', 'none');
                                    $('.span_tieude_chitiet_pt4').hide();
                                    $('.span_noidung_chitiet_pt4').css('font-weight', 'normal');


                                    $('#div_thead_pt3').css('display', 'inline');
                                    $('#div_thead_pt3').show();
                                    $('.span_tieude_chitiet_pt3').css('display', 'none');
                                    $('.span_tieude_chitiet_pt3').hide();
                                    $('.span_noidung_chitiet_pt3').css('font-weight', 'normal');


                                    $('#div_thead_pt2').css('display', 'inline');
                                    $('#div_thead_pt2').show();
                                    $('.span_tieude_chitiet_pt2').css('display', 'none');
                                    $('.span_tieude_chitiet_pt2').hide();
                                    $('.span_noidung_chitiet_pt2').css('font-weight', 'normal');

                                }
                            }
                            window.onresize = reportWindowSize;
                        })
                    </script>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid px-12">

    <div id="fadeInUp">
        <div class="card card-header-actions mt-2 mb-1" id="list-kqthi-thpt" style="display:none">
            <div class="card-header">Xét tuyển dùng điểm thi tốt nghiệp</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" id="div_thead_pt2" style="display:none">
                        <div class="row g-1">
                            <div class="col-xl-1 col-lg-12"><b>Nguyện vọng</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Ngành</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Tổ hợp môn</b></div>
                            <div class="col-xl-1 col-lg-12"><b>Ngày đăng ký</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Trạng thái duyệt hồ sơ</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Minh chứng nộp lệ phí</b></div>
                            <div class="col-xl-2 col-lg-12"><b style="margin-left:10px">Cập nhật</b> </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-2 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                    </div>
                    <div id="div_tbody_list_pt2">
                    </div>
                    <script>
                        $(document).ready(function () {
                            LoadData_Nv_ThiSinh_XtDungKQTHPTQG();
                        });
                        function LoadData_Nv_ThiSinh_XtDungKQTHPTQG() {
                            $('#div_tbody_list_pt2').empty();

                            $.ajax({
                                url: "/LePhiXetTuyens/GetAll_Nv_ThiSinh_XtDungKQTHPTQG",
                                type: "GET",
                                contentType: "application/json;charset=utf-8",
                                async: false,
                                success: function (res) {
                                    if (res.success) {
                                        let TrungHocPT = res.TrungHocPT;

                                        if (TrungHocPT.length > 0) {
                                            $("#list-kqthi-thpt").show();
                                            $.each(TrungHocPT, function (key, item) {
                                                let trangthaikp2 = "";
                                                if (item.Dkxt_TrangThai_KinhPhi == 0) {
                                                    trangthaikp_pt2 = '<span style="color:red">Chưa gửi minh chứng nộp lệ phí</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 1) {
                                                    trangthaikp_pt2 = '<span>Đã có minh chứng nộp lệ phí </span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 2) {
                                                    trangthaikp_pt2 = '<span class="text-warning">Trường đã kiểm tra, sai</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 3) {
                                                    trangthaikp_pt2 = '<span class="text-success">Đã cập nhật, Trường chưa kiểm tra</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 9) {
                                                    trangthaikp_pt2 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>'
                                                }
                                                let trangthaihs_pt2 = "";
                                                if (item.Dkxt_TrangThai_HoSo == 0) {
                                                    trangthaihs_pt2 = '<span style="color:red">Trường chưa kiểm tra</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_HoSo == 1) {
                                                    trangthaihs_pt2 = '<span class="text-warning">Trường đã kiểm tra, Có sai sót</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_HoSo == 2) {
                                                    trangthaihs_pt2 = '<span class="text-success">Đã sửa, Trường chưa kiểm tra</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_HoSo == 9) {
                                                    trangthaihs_pt2 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>'
                                                }
                                                let div_item_pt2 = "";
                                                div_item_pt2 += `<div class="col-lg-12">`;
                                                div_item_pt2 += `<div class="row g-1">`;
                                                div_item_pt2 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt2">- </span><span class="col-8 span_noidung_chitiet_pt2">` + 'Nguyện vọng ' + item.Dkxt_NguyenVong + `</span></div>`;
                                                div_item_pt2 += `<div class="col-xl-2 col-lg-12 text-wrap"><span class="col-4  span_tieude_chitiet_pt2">- Ngành: </span><span class="col-8 span_noidung_chitiet_pt2">` + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + `</span></div>`;
                                                div_item_pt2 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt2">- Tổ hợp môn: </span><span class="col-8 span_noidung_chitiet_pt2">` + item.Thm.ThmMaTen + ` (` + item.Dkxt_Diem_Tong_Full + ` đ)</span></div>`;
                                                div_item_pt2 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt2">- Ngày đăng ký: </span><span class="col-8 span_noidung_chitiet_pt2">` + ConverDateToString(item.Dkxt_NgayDK) + `</span></div>`;
                                                div_item_pt2 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt2">- Trạng thái duyệt hồ sơ: </span><br class="span_tieude_chitiet_pt2"/><span class="col-xl-8  span_noidung_chitiet_pt2">` + trangthaihs_pt2 + `</span></div>`;
                                                div_item_pt2 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt2">- Minh chứng nộp lệ phí: </span><br class="span_tieude_chitiet_pt2"/><span class="col-8 span_noidung_chitiet_pt2">` + trangthaikp_pt2 + `</span></div>`;
                                                div_item_pt2 += `<div class="col-xl-2 col-lg-12 text-nowrap">`;
                                                div_item_pt2 += `<button class="btn btn-sm btn-outline-primary text-nowrap" style="margin-left:10px" onclick="NopLePhi(${item.Dkxt_ID}, 2)" ${item.Dkxt_TrangThai_KinhPhi == 9 ? "disabled" : ''}>Gửi minh chứng lệ phí</button>&nbsp;<button class="btn btn-sm btn-outline-success" onclick="Detail(${item.Dkxt_ID}, 2)">Xem chi tiết</button>`;
                                                div_item_pt2 += `</div>`;
                                                div_item_pt2 += `</div>`;
                                                div_item_pt2 += `<div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>`;
                                                div_item_pt2 += `</div>`;
                                                $('#div_tbody_list_pt2').append(div_item_pt2);
                                            });
                                            if (window.innerWidth <= 1000) {
                                                $('#div_thead_pt2').css('display', 'none');
                                                $('#div_thead_pt2').hide();
                                                $('.span_tieude_chitiet_pt2').css('display', 'inline');
                                                $('.span_tieude_chitiet_pt2').show();
                                                $('.span_noidung_chitiet_pt2').css('font-weight', 'bold')
                                            }
                                            else {

                                                $('#div_thead_pt2').css('display', 'inline');
                                                $('#div_thead_pt2').show();
                                                $('.span_tieude_chitiet_pt2').css('display', 'none');
                                                $('.span_tieude_chitiet_pt2').hide();
                                                $('.span_noidung_chitiet_pt2').css('font-weight', 'normal')
                                            }
                                        }
                                        else {
                                            $("#list-kqthi-thpt").hide();
                                        }
                                    }
                                    else {
                                        // thông báo lỗi
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.error(error);
                                },
                            });
                        }
                    </script>
                </div>
            </div>
        </div>

        <div class="card card-header-actions mt-1 mb-1" id="list-hocba" style="display:none">
            <div class="card-header">
                Xét tuyển dùng điểm học bạ cấp 3
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" id="div_thead_pt3" style="display:none">
                        <div class="row g-1">
                            <div class="col-xl-1 col-lg-12 "><b>Nguyện vọng</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Ngành</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Tổ hợp môn</b></div>
                            <div class="col-xl-1 col-lg-12"><b>Ngày đăng ký</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Trạng thái duyệt hồ sơ</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Minh chứng nộp lệ phí</b></div>
                            <div class="col-xl-2 col-lg-12"><b style="margin-left:10px">Cập nhật</b> </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-2 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                    </div>
                    <div id="div_tbody_list_pt3">
                    </div>
                    <script>
                        $(document).ready(function () {
                            LoadData_Nv_ThiSinh_XtDungHocBa();
                        });
                        function LoadData_Nv_ThiSinh_XtDungHocBa() {
                            $('#div_tbody_list_pt3').empty();
                            $.ajax({
                                url: '/LePhiXetTuyens/GetAll_Nv_ThiSinh_XtDungHocBa',
                                type: 'GET',
                                contentType: 'application/json;charset=utf-8',
                                async: false,
                                success: function (res) {
                                    if (res.success) {
                                        let HocBa = res.HocBa;
                                        if (HocBa.length > 0) {
                                            $("#list-hocba").show();
                                            $.each(HocBa, function (key, item) {
                                                let trangthaikp_pt3 = "";
                                                if (item.Dkxt_TrangThai_KinhPhi == 0) {
                                                    trangthaikp_pt3 = '<span style="color:red">Chưa gửi minh chứng nộp lệ phí</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 1) {
                                                    trangthaikp_pt3 = '<span>Đã có minh chứng nộp lệ phí </span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 2) {
                                                    trangthaikp_pt3 = '<span class="text-warning">Trường đã kiểm tra, sai</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 3) {
                                                    trangthaikp_pt3 = '<span class="text-success">Đã cập nhật, Trường chưa kiểm tra</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 9) {
                                                    trangthaikp_pt3 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>'
                                                }
                                                let trangthaihs_pt3 = "";
                                                if (item.Dkxt_TrangThai_HoSo == 0) {
                                                    trangthaihs_pt3 = '<span style="color:red">Trường chưa kiểm tra</span >'
                                                }
                                                else if (item.Dkxt_TrangThai_HoSo == 1) {
                                                    trangthaihs_pt3 = '<span class="text-warning">Trường đã kiểm tra, Có sai sót</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_HoSo == 2) {
                                                    trangthaihs_pt3 = '<span class="text-success">Đã sửa, Trường chưa kiểm tra</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_HoSo == 9) {
                                                    trangthaihs_pt3 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>'
                                                }
                                                let div_item_pt3 = "";

                                                div_item_pt3 += `<div class="col-lg-12">`;
                                                div_item_pt3 += `<div class="row g-1">`;
                                                div_item_pt3 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt3">- </span><span class="col-8 span_noidung_chitiet_pt3">` + 'Nguyện vọng ' + item.Dkxt_NguyenVong + `</span></div>`;
                                                div_item_pt3 += `<div class="col-xl-2 col-lg-12 text-wrap"><span class="col-4  span_tieude_chitiet_pt3">- Ngành: </span><span class="col-8 span_noidung_chitiet_pt3">` + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + `</span></div>`;
                                                div_item_pt3 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt3">- Tổ hợp môn: </span><span class="col-8 span_noidung_chitiet_pt3">` + item.Thm.ThmMaTen + ` (` + item.Dkxt_Diem_Tong_Full + ` đ)</span></div>`;
                                                div_item_pt3 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt3">- Ngày đăng ký: </span><span class="col-8 span_noidung_chitiet_pt3">` + ConverDateToString(item.Dkxt_NgayDK) + `</span></div>`;
                                                div_item_pt3 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt3">- Trạng thái duyệt hồ sơ: </span><br class="span_tieude_chitiet_pt3"/><span class="col-xl-8  span_noidung_chitiet_pt3">` + trangthaihs_pt3 + `</span></div>`;
                                                div_item_pt3 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt3">- Minh chứng nộp lệ phí: </span><br class="span_tieude_chitiet_pt3"/><span class="col-8 span_noidung_chitiet_pt3">` + trangthaikp_pt3 + `</span></div>`;
                                                div_item_pt3 += `<div class="col-xl-2 col-lg-12">`;
                                                div_item_pt3 += `<button class="btn btn-sm btn-outline-primary" style="margin-left:10px" onclick="NopLePhi(${item.Dkxt_ID}, 3)" ${item.Dkxt_TrangThai_KinhPhi == 9 ? "disabled" : ''}>Gửi minh chứng lệ phí</button>&nbsp;<button class="btn btn-sm btn-outline-success" onclick="Detail(${item.Dkxt_ID},3)">Xem chi tiết</button>`;
                                                div_item_pt3 += `</div>`;
                                                div_item_pt3 += `</div>`;
                                                div_item_pt3 += `<div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>`;
                                                div_item_pt3 += `</div>`;
                                                $('#div_tbody_list_pt3').append(div_item_pt3);
                                            });
                                            if (window.innerWidth <= 1000) {

                                                $('#div_thead_pt3').css('display', 'none');
                                                $('#div_thead_pt3').hide();
                                                $('.span_tieude_chitiet_pt3').css('display', 'inline');
                                                $('.span_tieude_chitiet_pt3').show();
                                                $('.span_noidung_chitiet_pt3').css('font-weight', 'bold')
                                            }
                                            else {

                                                $('#div_thead_pt3').css('display', 'inline');
                                                $('#div_thead_pt3').show();
                                                $('.span_tieude_chitiet_pt3').css('display', 'none');
                                                $('.span_tieude_chitiet_pt3').hide();
                                                $('.span_noidung_chitiet_pt3').css('font-weight', 'normal')
                                            }

                                        }
                                        else {
                                            $("#list-hocba").hide();
                                        }
                                    }
                                    else {/* thông báo lỗi*/ }
                                },
                                error: function (xhr, status, error) {
                                    console.error(error);
                                },
                            });
                        }
                    </script>
                </div>

            </div>
        </div>

        <div class="card card-header-actions mt-1 mb-1" id="list-tuyenthang" style="display:none">
            <div class="card-header">
                Xét tuyển theo dạng tuyển thẳng
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" id="div_thead_pt4" style="display:none">
                        <div class="row g-1">
                            <div class="col-xl-1 col-lg-12"><b>Nguyện vọng</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Ngành</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Thông tin giải</b></div>
                            <div class="col-xl-1 col-lg-12"><b>Ngày đăng ký</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Trạng thái duyệt hồ sơ</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Minh chứng nộp lệ phí</b></div>
                            <div class="col-xl-2 col-lg-12"><b style="margin-left:10px">Cập nhật</b> </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-2 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                    </div>
                    <div id="div_tbody_list_pt4">
                    </div>
                    <script>
                        $(document).ready(function () {
                            LoadData_Nv_ThiSinh_Xt_TuyenThang();

                        });
                        function LoadData_Nv_ThiSinh_Xt_TuyenThang() {
                            $('#div_tbody_list_pt4').empty();
                            $.ajax({
                                url: "/LePhiXetTuyens/GetAll_Nv_ThiSinh_Xt_TuyenThang",
                                type: "GET",
                                contentType: "application/json;charset=utf-8",
                                async: false,
                                success: function (res) {
                                    if (res.success) {
                                        let TuyenThang = res.TuyenThang;

                                        if (TuyenThang.length > 0) {

                                            $.each(TuyenThang, function (key, item) {
                                                let trangthaikp_pt4 = "";
                                                if (item.Dkxt_TrangThai_KinhPhi == 0) {
                                                    trangthaikp_pt4 = '<span style="color:red">Chưa gửi minh chứng nộp lệ phí</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 1) {
                                                    trangthaikp_pt4 = '<span>Đã có minh chứng nộp lệ phí </span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 2) {
                                                    trangthaikp_pt4 = '<span class="text-warning">Trường đã kiểm tra, có sai sót</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 3) {
                                                    trangthaikp_pt4 = '<span class="text-success">Đã cập nhật, Trường chưa kiểm tra</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 9) {
                                                    trangthaikp_pt4 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>'
                                                }

                                                let trangthaihs_pt4 = "";
                                                if (item.Dkxt_TrangThai_HoSo == 0) {
                                                    trangthaihs_pt4 = '<span style="color:red">Trường chưa kiểm tra</span >'
                                                }
                                                else if (item.Dkxt_TrangThai_HoSo == 1) {
                                                    trangthaihs_pt4 = '<span>Trường đã kiểm tra, Có sai sót</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_HoSo == 2) {
                                                    trangthaihs_pt4 = '<span class="text-success">Đã sửa, Trường chưa kiểm tra</span>'
                                                }
                                                else if (item.Dkxt_TrangThai_HoSo == 9) {
                                                    trangthaihs_pt4 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>'
                                                }
                                                let div_item_pt4 = '';

                                                div_item_pt4 += `<div class="col-lg-12">`;
                                                div_item_pt4 += `<div class="row g-1">`;
                                                div_item_pt4 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt4">- </span><span class="col-8 span_noidung_chitiet_pt4">` + 'Nguyện vọng ' + item.Dkxt_NguyenVong + `</span></div>`;
                                                div_item_pt4 += `<div class="col-xl-2 col-lg-12 text-wrap"><span class="col-4  span_tieude_chitiet_pt4">- Ngành: </span><span class="col-8 span_noidung_chitiet_pt4">` + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + `</span></div>`;
                                                div_item_pt4 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt4">- Thông tin giải: </span><span class="col-8 span_noidung_chitiet_pt4">` + item.Dkxt_LoaiGiai + ' - ' + item.Dkxt_MonDatGiai + '/ (năm:' + item.Dkxt_NamDatGiai + `)</span></div>`;
                                                div_item_pt4 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt4">- Ngày đăng ký: </span><span class="col-8 span_noidung_chitiet_pt4">` + ConverDateToString(item.Dkxt_NgayDK) + `</span></div>`;
                                                div_item_pt4 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt4">- Trạng thái duyệt hồ sơ: </span><br class="span_tieude_chitiet_pt4"/><span class="col-xl-8  span_noidung_chitiet_pt4">` + trangthaihs_pt4 + `</span></div>`;
                                                div_item_pt4 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt4">- Minh chứng nộp lệ phí: </span><br class="span_tieude_chitiet_pt4"/><span class="col-8 span_noidung_chitiet_pt4">` + trangthaikp_pt4 + `</span></div>`;
                                                div_item_pt4 += `<div class="col-xl-2 col-lg-12">`;
                                                div_item_pt4 += `<button class="btn btn-sm btn-outline-primary" style="margin-left:10px" onclick="NopLePhi(${item.Dkxt_ID}, 4)" ${item.Dkxt_TrangThai_KinhPhi == 9 ? "disabled" : ''}>Gửi minh chứng lệ phí</button>&nbsp;<button class="btn btn-sm btn-outline-success " onclick="Detail(${item.Dkxt_ID},4)">Xem chi tiết</button>`;
                                                div_item_pt4 += `</div>`;
                                                div_item_pt4 += `</div>`;
                                                div_item_pt4 += `<div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>`;
                                                div_item_pt4 += `</div>`;

                                                $('#div_tbody_list_pt4').append(div_item_pt4);
                                            });

                                            $("#list-tuyenthang").show();
                                            if (window.innerWidth <= 1000) {

                                                $('#div_thead_pt4').css('display', 'none');
                                                $('#div_thead_pt4').hide();
                                                $('.span_tieude_chitiet_pt4').css('display', 'inline');
                                                $('.span_tieude_chitiet_pt4').show();
                                                $('.span_noidung_chitiet_pt4').css('font-weight', 'bold')
                                            }
                                            else {

                                                $('#div_thead_pt4').css('display', 'inline');
                                                $('#div_thead_pt4').show();
                                                $('.span_tieude_chitiet_pt4').css('display', 'none');
                                                $('.span_tieude_chitiet_pt4').hide();
                                                $('.span_noidung_chitiet_pt4').css('font-weight', 'normal')
                                            }
                                        }
                                        else {
                                            $("#list-tuyenthang").hide();
                                        }
                                    }
                                    else {
                                        // thông báo lỗi
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.error(error);
                                },
                            });
                        }
                    </script>
                </div>
            </div>
        </div>

        <div class="card card-header-actions mt-1 mb-1" id="list-ngoaingu" style="display:none">
            <div class="card-header">
                Xét tuyển dùng chứng chỉ ngoại ngữ
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" id="div_thead_pt5" style="display:none">
                        <div class="row g-1">
                            <div class="col-xl-1 col-lg-12"><b>Nguyện vọng</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Ngành</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Thông tin chứng chỉ ngoại ngữ</b></div>
                            <div class="col-xl-1 col-lg-12"><b>Ngày đăng ký</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Trạng thái duyệt hồ sơ</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Minh chứng nộp lệ phí</b></div>
                            <div class="col-xl-2 col-lg-12"><b style="margin-left:10px">Cập nhật</b> </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-2 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                    </div>
                    <div id="div_tbody_list_pt5">
                    </div>
                    <script>
                        $(document).ready(function () {
                            LoadData_Nv_ThiSinh_Xt_DungCCNgoaiNgu();

                        });
                        function LoadData_Nv_ThiSinh_Xt_DungCCNgoaiNgu() {
                            $('#div_tbody_list_pt5').empty();
                            $.ajax({
                                url: "/LePhiXetTuyens/GetAll_Nv_ThiSinh_Xt_DungCCNgoaiNgu",
                                type: "GET",
                                contentType: "application/json;charset=utf-8",
                                async: false,
                                success: function (res) {
                                    if (res.success) {
                                        let NgoaiNgu = res.NgoaiNgu;
                                        console.log(NgoaiNgu);
                                        if (NgoaiNgu.length > 0) {

                                            $.each(NgoaiNgu, function (key, item) {
                                                let trangthaikp_pt5 = "";
                                                if (item.Dkxt_TrangThai_KinhPhi == 0) { trangthaikp_pt5 = '<span style="color:red">Chưa gửi minh chứng nộp lệ phí</span>' }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 1) { trangthaikp_pt5 = '<span>Đã có minh chứng nộp lệ phí </span>' }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 2) { trangthaikp_pt5 = '<span class="text-warning">Trường đã kiểm tra, có sai sót</span>' }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 3) { trangthaikp_pt5 = '<span class="text-success">Đã cập nhật, Trường chưa kiểm tra</span>' }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 9) { trangthaikp_pt5 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>' }

                                                let trangthaihs_pt5 = "";
                                                if (item.Dkxt_TrangThai_HoSo == 0) { trangthaihs_pt5 = '<span style="color:red">Trường chưa kiểm tra</span >' }
                                                else if (item.Dkxt_TrangThai_HoSo == 1) { trangthaihs_pt5 = '<span>Trường đã kiểm tra, Có sai sót</span>' }
                                                else if (item.Dkxt_TrangThai_HoSo == 2) { trangthaihs_pt5 = '<span class="text-success">Đã sửa, Trường chưa kiểm tra</span>' }
                                                else if (item.Dkxt_TrangThai_HoSo == 9) { trangthaihs_pt5 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>' }
                                                let div_item_pt5 = "";

                                                div_item_pt5 += `<div class="col-lg-12">`;
                                                div_item_pt5 += `<div class="row g-1">`;
                                                div_item_pt5 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt5">- </span><span class="col-8 span_noidung_chitiet_pt5">` + 'Nguyện vọng ' + item.Dkxt_NguyenVong + `</span></div>`;
                                                div_item_pt5 += `<div class="col-xl-2 col-lg-12 text-wrap"><span class="col-4  span_tieude_chitiet_pt5">- Ngành: </span><span class="col-8 span_noidung_chitiet_pt5">` + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + `</span></div>`;
                                                div_item_pt5 += `<div class="col-xl-2 col-lg-12 text-wrap"><span class="col-4  span_tieude_chitiet_pt5">- Thông tin chứng chỉ ngoại ngữ: </span><span class="col-8 span_noidung_chitiet_pt5"  style="margin-right:10px">` + item.Dkxt_KetQuaDatDuoc + '/Tổng: ' + item.Dkxt_TongDiem + '/ (' + item.ChungChi_ID.Ten + `)</span></div>`;
                                                div_item_pt5 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt5">- Ngày đăng ký: </span><span class="col-8 span_noidung_chitiet_pt5">` + ConverDateToString(item.Dkxt_NgayDK) + `</span></div>`;
                                                div_item_pt5 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt5">- Trạng thái duyệt hồ sơ: </span><br class="span_tieude_chitiet_pt5"/><span class="col-xl-8  span_noidung_chitiet_pt5">` + trangthaihs_pt5 + `</span></div>`;
                                                div_item_pt5 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt5">- Minh chứng nộp lệ phí: </span><br class="span_tieude_chitiet_pt5"/><span class="col-8 span_noidung_chitiet_pt5">` + trangthaikp_pt5 + `</span></div>`;
                                                div_item_pt5 += `<div class="col-xl-2 col-lg-12">`;
                                                div_item_pt5 += `<button class="btn btn-sm btn-outline-primary" style="margin-left:10px" onclick="NopLePhi(${item.Dkxt_ID},5)" ${item.Dkxt_TrangThai_KinhPhi == 9 ? "disabled" : ''}>Gửi minh chứng lệ phí</button>&nbsp;<button class="btn btn-sm btn-outline-success " onclick="Detail(${item.Dkxt_ID},5)">Xem chi tiết</button>`;
                                                div_item_pt5 += `</div>`;
                                                div_item_pt5 += `</div>`;
                                                div_item_pt5 += `<div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>`;
                                                div_item_pt5 += `</div>`;

                                                $('#div_tbody_list_pt5').append(div_item_pt5);
                                            });

                                            $("#list-ngoaingu").show();

                                            if (window.innerWidth <= 1000) {

                                                $('#div_thead_pt5').css('display', 'none');
                                                $('#div_thead_pt5').hide();
                                                $('.span_tieude_chitiet_pt5').css('display', 'inline');
                                                $('.span_tieude_chitiet_pt5').show();
                                                $('.span_noidung_chitiet_pt5').css('font-weight', 'bold')
                                            }
                                            else {

                                                $('#div_thead_pt5').css('display', 'inline');
                                                $('#div_thead_pt5').show();
                                                $('.span_tieude_chitiet_pt5').css('display', 'none');
                                                $('.span_tieude_chitiet_pt5').hide();
                                                $('.span_noidung_chitiet_pt5').css('font-weight', 'normal')
                                            }
                                        }
                                    }
                                    else {
                                        $("#list-ngoaingu").hide();
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.error(error);
                                },
                            });
                        }
                    </script>
                </div>
            </div>
        </div>

        <div class="card card-header-actions mt-1 mb-1" id="list-dgnl" style="display:none">
            <div class="card-header">
                Xét tuyển dùng KQ thi ĐGNL/Tư duy
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12" id="div_thead_pt6" style="display:none">
                        <div class="row g-1">
                            <div class="col-xl-1 col-lg-12"><b>Nguyện vọng</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Ngành</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Thông tin kết quả thi</b></div>
                            <div class="col-xl-1 col-lg-12"><b>Ngày đăng ký</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Trạng thái duyệt hồ sơ</b></div>
                            <div class="col-xl-2 col-lg-12"><b>Minh chứng nộp lệ phí</b></div>
                            <div class="col-xl-2 col-lg-12"><b style="margin-left:10px">Cập nhật</b> </div>
                        </div>
                        <div class="row"><div class="col-12"><hr class="mt-2 mb-0" /><hr class="mt-0 mb-2" /></div></div>
                    </div>
                    <div id="div_tbody_list_pt6">
                    </div>
                    <script>
                        $(document).ready(function () {
                            LoadData_Nv_ThiSinh_Xt_KQDGNangLuc();

                        });
                        function LoadData_Nv_ThiSinh_Xt_KQDGNangLuc() {
                            $('#div_tbody_list_pt6').empty();
                            $.ajax({
                                url: "/LePhiXetTuyens/GetAll_Nv_ThiSinh_Xt_KQDGNangLuc",
                                type: "GET",
                                contentType: "application/json;charset=utf-8",
                                async: false,
                                success: function (res) {
                                    if (res.success) {
                                        let DanhGia = res.DanhGia;
                                        if (DanhGia.length > 0) {
                                            $.each(DanhGia, function (key, item) {
                                                let trangthaikp_pt6 = "";
                                                if (item.Dkxt_TrangThai_KinhPhi == 0) { trangthaikp_pt6 = '<span style="color:red">Chưa gửi minh chứng nộp lệ phí</span>' }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 1) { trangthaikp_pt6 = '<span>Đã có minh chứng nộp lệ phí</span>' }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 2) { trangthaikp_pt6 = '<span class="text-warning">Trường đã kiểm tra, có sai sót</span>' }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 3) { trangthaikp_pt6 = '<span class="text-success">Đã cập nhật, Trường chưa kiểm tra</span>' }
                                                else if (item.Dkxt_TrangThai_KinhPhi == 9) { trangthaikp_pt6 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>' }

                                                let trangthaihs_pt6 = "";
                                                if (item.Dkxt_TrangThai_HoSo == 0) { trangthaihs_pt6 = '<span style="color:red">Trường chưa kiểm tra</span >' }
                                                else if (item.Dkxt_TrangThai_HoSo == 1) { trangthaihs_pt6 = '<span class="text-warning">Trường đã kiểm tra, có sai sót</span>' }
                                                else if (item.Dkxt_TrangThai_HoSo == 2) { trangthaihs_pt6 = '<span class="text-success">Đã sửa, Trường chưa kiểm tra</span>' }
                                                else if (item.Dkxt_TrangThai_HoSo == 9) { trangthaihs_pt6 = '<span class="text-primary">Trường đã kiểm tra, đúng, đủ</span>' }

                                                let div_item_pt6 = "";

                                                div_item_pt6 += `<div class="col-lg-12">`;
                                                div_item_pt6 += `<div class="row g-1">`;
                                                div_item_pt6 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt6">- </span><span class="col-8 span_noidung_chitiet_pt6">` + 'Nguyện vọng ' + item.Dkxt_NguyenVong + `</span></div>`;
                                                div_item_pt6 += `<div class="col-xl-2 col-lg-12 text-wrap"><span class="col-4  span_tieude_chitiet_pt6">- Ngành: </span><span class="col-8 span_noidung_chitiet_pt6">` + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + `</span></div>`;
                                                div_item_pt6 += `<div class="col-xl-2 col-lg-12 text-wrap"><span class="col-4  span_tieude_chitiet_pt6">- Thông tin kết quả thi: </span><span class="col-8 span_noidung_chitiet_pt6"  style="margin-right:10px">` + item.Dkxt_KetQuaDatDuoc + '/Tổng: ' + item.Dkxt_TongDiem + '/ (' + item.ChungChi_ID.Ten + `)</span></div>`;
                                                div_item_pt6 += `<div class="col-xl-1 col-lg-12"><span class="col-4  span_tieude_chitiet_pt6">- Ngày đăng ký: </span><span class="col-8 span_noidung_chitiet_pt6">` + ConverDateToString(item.Dkxt_NgayDK) + `</span></div>`;
                                                div_item_pt6 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt6">- Trạng thái duyệt hồ sơ: </span><br class="span_tieude_chitiet_pt6"/><span class="col-xl-8  span_noidung_chitiet_pt6">` + trangthaihs_pt6 + `</span></div>`;
                                                div_item_pt6 += `<div class="col-xl-2 col-lg-12"><span class="col-4  span_tieude_chitiet_pt6">- Minh chứng nộp lệ phí: </span><br class="span_tieude_chitiet_pt6"/><span class="col-8 span_noidung_chitiet_pt6">` + trangthaikp_pt6 + `</span></div>`;
                                                div_item_pt6 += `<div class="col-xl-2 col-lg-12">`;
                                                div_item_pt6 += `<button class="btn btn-sm btn-outline-primary" style="margin-left:10px" onclick="NopLePhi(${item.Dkxt_ID},6)" ${item.Dkxt_TrangThai_KinhPhi == 9 ? "disabled" : ''}>Gửi minh chứng lệ phí</button>&nbsp;<button class="btn btn-sm btn-outline-success "  onclick="Detail(${item.Dkxt_ID},6)">Xem chi tiết</button>`;
                                                div_item_pt6 += `</div>`;
                                                div_item_pt6 += `</div>`;
                                                div_item_pt6 += `<div class="row"><div class="col-12"><hr class="mt-1 mb-2" /></div></div>`;
                                                div_item_pt6 += `</div>`;

                                                $('#div_tbody_list_pt6').append(div_item_pt6);
                                            });

                                            $("#list-dgnl").show();

                                            if (window.innerWidth <= 1000) {
                                                $('#div_thead_pt6').css('display', 'none');
                                                $('#div_thead_pt6').hide();
                                                $('.span_tieude_chitiet_pt6').css('display', 'inline');
                                                $('.span_tieude_chitiet_pt6').show();
                                                $('.span_noidung_chitiet_pt6').css('font-weight', 'bold')
                                            }
                                            else {
                                                $('#div_thead_pt6').css('display', 'inline');
                                                $('#div_thead_pt6').show();
                                                $('.span_tieude_chitiet_pt6').css('display', 'none');
                                                $('.span_tieude_chitiet_pt6').hide();
                                                $('.span_noidung_chitiet_pt6').css('font-weight', 'normal')
                                            }
                                        }
                                    }
                                    else {
                                        $("#list-dgnl").hide();
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.error(error);
                                },
                            });
                        }
                    </script>
                </div>


            </div>

        </div>

    </div>
</div>



<div class="modal fade" id="modal_dongphi" tabindex="-1" role="dialog" aria-labelledby="modal_dongphi" aria-hidden="true">
    <div class="modal modal-dialog  modal-xl modal-body modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_dongphi">Minh chứng nộp lệ phí</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="onCancel()"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <span>Thông tin giao dịch</span>
                            <hr class="mt-2 mb-3" />
                            <div class="row g-1 mb-2">
                                <div class="col-lg-6 col-sm-12">
                                    <label class="col-form-label ">Mã giao dịch (số tham chiếu):</label>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <input id="KinhPhi_SoTC" class="form-control" placeholder="Mã giao dịch" />
                                    <span id="KinhPhi_SoTC_Error" class="small mb-1 text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    <label class="form-label">Cập nhật tệp minh chứng</label>
                                </div>
                            </div>

                            <div class="row table-responsive">
                                <div class="col-12 ">
                                    <input class="form-control" id="file_minhchung" name="file_minhchung" type="file" data-val="true" accept=".PNG, .JPEG, .JPG" />
                                    <table class="table " id="FilesList_KinhPhi_TepMinhChung_View" style="visibility:hidden; width: 100%">
                                        <tr style="display:none">
                                            <th colspan="2"><input type="hidden" id="KinhPhi_TepMinhChung_Files" /></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7 col-sm-12">
                            <span id="span_tieude_hinhanh" class="text-primary">Hình ảnh mẫu minh chứng đã nộp lệ phí</span>
                            <hr class="mt-2 mb-3" />
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" id="div_item_view_minhchung">
                                        <img class="d-block w-100 img-hide" id="img_view">
                                        <input type="hidden" id="key_dkxt_id" style="display:none" />
                                        <input type="hidden" id="key_dkxt_pt" style="display:none" />
                                        <input type="hidden" id="hiden_id_key" style="display:none" />
                                        <input type="hidden" id="hiden_loai_minhchung_xoa" style="display:none" />
                                        <input type="hidden" id="hiden_duongdan_file_xoa" style="display:none" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="onCancel()">Hủy</button>
                <button class="btn btn-primary" type="button" onclick="onSubmit()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<script>
    var MinhChungFormData = new FormData();
    var MinhChungPath = "";
    function NopLePhi(id, type) {
        $('#key_dkxt_id').val(id)
        $('#key_dkxt_pt').val(type)
        $('#KinhPhi_SoTC').val('');
        MinhChungFormData = new FormData();
        MinhChungPath = "";

        $('#modal_dongphi').modal('show');
        $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();
        /* $('#File_MinhChung_Span').empty();*/
        var data_post = {
            key_dkxt_id: id,
            key_dkxt_pt: type,
        }
        console.log('tét get data', data_post)

        $.ajax({
            url: '/LePhiXetTuyens/GetByID',
            type: "POST",
            data: JSON.stringify(data_post),
            contentType: "application/json;charset=utf-8",
            success: function (res) {
                console.log(res);
                if (res.success) {
                    data = res.data;
                    if (data.KinhPhi_SoTC != '') { $('#KinhPhi_SoTC').val(data.KinhPhi_SoTC); }
                    if (data.KinhPhi_TepMinhChung) {
                        const ArrKinhPhi = data.KinhPhi_TepMinhChung.split("#");
                        if (ArrKinhPhi.length > 0) {
                            $("#img_view").attr("src", ArrKinhPhi[0]);
                            $('#span_tieude_hinhanh').text('Hình ảnh minh chứng đã nộp lệ phí');
                        }
                    }
                    else {
                        $("#img_view").attr("src", '/Content/images/no-money.png');
                        $('#span_tieude_hinhanh').text('Mẫu hình ảnh minh chứng nộp lệ phí');
                    }
                }
            },
            error: function (error) {
                console.error('Error', error);
            }
        });
    }

    $('document').ready(function () {

        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })

        $("#file_minhchung").on("change", function () {
            MinhChungFormData = new FormData();
            $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();

            var file_minhchung = document.getElementById('file_minhchung');
            let j = 0;
            for (i = 0; i < file_minhchung.files.length; i++) {
                j++;
                var uploadFileName = file_minhchung.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                MinhChungFormData.append(uploadFileName, file_minhchung.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none'` +
                    `title='Xóa bớt tệp nếu không đúng' class='btn btn-light btn-sm' onclick='DeleteUploadedFile("#FilesList_KinhPhi_TepMinhChung_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_KinhPhi_TepMinhChung_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_KinhPhi_TepMinhChung_View");
            $('#file_minhchung').val('');
        });
    })

    function DeleteUploadedFile(ListId, Fileid, FileName) {
        let formData = MinhChungFormData;
        formData.delete(FileName)
        $("#" + Fileid).remove();
        CheckAttachTable(ListId);
    }

    function CheckAttachTable(list) {
        if ($(`${list} tr`).length > 0) {
            $(list).css("visibility", "visible");
        } else {
            $(list).css("visibility", "hidden");
        }
    }


    function onCancel() {
        $('#modal_dongphi').modal('hide');
        $('#key_dkxt_id').val('');
        $('#key_dkxt_pt').val('');
        $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();
        $('#KinhPhi_SoTC').val('');
    }

    function uploadFiles() {
        MinhChungPath = "";
        var url = '/LePhiXetTuyens/UploadLePhiMinhChung';
        var fileCount = 0;
        for (var pair of MinhChungFormData.entries()) {
            if (pair[1] instanceof File) {
                fileCount++;
            }
        }
        if (fileCount > 0) {
            $.ajax({
                url: url,
                type: 'POST',
                data: MinhChungFormData,
                processData: false,
                contentType: false,
                async: false,
                success: function (response) {
                    if (response.success) {
                        MinhChungPath = response.message;
                    }
                },
                error: function (error) {
                    console.error('Error uploading files:', error);
                }
            });
        }
    }

    function onSubmit() {
        $(".text-danger").text("");
        let flag = true;
        let KinhPhi_SoTC = $('#KinhPhi_SoTC').val();
        let key_dkxt_id = $('#key_dkxt_id').val();
        let key_dkxt_pt = $('#key_dkxt_pt').val();

        if (!KinhPhi_SoTC) {
            var errorMessage = "Vui lòng nhập số tham chiếu";
            $('#KinhPhi_SoTC_Error').text(errorMessage);
            flag = false;
        }
        if (!flag) return;

        $("#loadingModal").modal("show");
        uploadFiles();

        let formData = {
            KinhPhi_SoTC: KinhPhi_SoTC,
            KinhPhi_TepMinhChung: MinhChungPath,
            key_dkxt_id: key_dkxt_id,
            key_dkxt_pt: key_dkxt_pt
        }
        /*   console.log(formData);*/
        $.ajax({
            url: "/LePhiXetTuyens/Create",
            data: JSON.stringify(formData),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    showToast("Thông báo", "Cập nhật ảnh nộp lệ phí thành công!", "bg-success");

                    onResetFields();
                    $("#loadingModal").modal("hide");
                    $('#modal_dongphi').modal('hide');

                    let data = res.data;
                    if (data.Ptxt_ID == 2) {
                        LoadData_Nv_ThiSinh_XtDungKQTHPTQG();
                    }
                    if (data.Ptxt_ID == 3) {
                        LoadData_Nv_ThiSinh_XtDungHocBa();
                    }
                    if (data.Ptxt_ID == 4) {
                        LoadData_Nv_ThiSinh_Xt_TuyenThang();
                    }
                    if (data.Ptxt_ID == 5) {
                        LoadData_Nv_ThiSinh_Xt_DungCCNgoaiNgu();
                    }
                    if (data.Ptxt_ID == 6) {
                        LoadData_Nv_ThiSinh_Xt_KQDGNangLuc();
                    }
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra cập nhật ảnh nộp lệ phí !", "bg-error");
                    $("#loadingModal").modal("hide");
                    $('#modal_dongphi').modal('hide');
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra cập nhật ảnh nộp lệ phí !", "bg-error");
                $("#loadingModal").modal("hide");
                $('#modal_dongphi').modal('hide');
            }
        });
    }

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }

    function onResetFields() {
        $('#key_dkxt_id').val('');
        $('#key_dkxt_pt').val('');
        $('#KinhPhi_SoTC').val('');
        $('#file_minhchung').val(null);
        $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();
    }
    function Detail(Dkxt_ID, Dkxt_pt) {
        if (Dkxt_pt == 2) {
            let str_url = '?dkxt_id=' + Dkxt_ID;
            window.location.href = "/LePhiXetTuyens/Pt2Detail" + str_url;
        }
        if (Dkxt_pt == 3) {
            let str_url = '?dkxt_id=' + Dkxt_ID;
            window.location.href = "/LePhiXetTuyens/Pt3Detail" + str_url;
        }
        if (Dkxt_pt == 4) {
            let str_url = '?dkxt_id=' + Dkxt_ID;
            window.location.href = "/LePhiXetTuyens/Pt4Detail" + str_url;
        }
        if (Dkxt_pt == 5) {
            let str_url = '?dkxt_id=' + Dkxt_ID;
            window.location.href = "/LePhiXetTuyens/Pt5Detail" + str_url;
        }
        if (Dkxt_pt == 6) {
            let str_url = '?dkxt_id=' + Dkxt_ID;
            window.location.href = "/LePhiXetTuyens/Pt6Detail" + str_url;
        }
    }
</script>