@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .btn, .form-select, .form-control {
        border-radius: 3px;
    }
</style>
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-2">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-1">
                    <div class="page-header-title mb-2">
                        <div class="page-header-icon"><i data-feather="list"></i></div>
                        <span id="sp_tieude">Theo dõi thông tin nộp lệ phí xét tuyển của thí sinh</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    $('document').ready(function () {
        $("#list-kqthi-thpt").hide();
        $("#list-hocba").hide();
        $("#list-tuyenthang").hide();
        $("#list-ngoaingu").hide();
        $("#list-dgnl").hide();
    })
    function ConverDateToString(date) {
        var parts = date.split('-');
        var mydate = parts[2] + '/' + parts[1] + '/' + parts[0];
        return mydate;
    }

</script>

<div class="container-fluid px-12">
    <div id="fadeInUp">
        <div class="card card-collapsable mt-3 mb-1" id="list-kqthi-thpt" style="display:none">
            <div class="card-header">
                Danh sách nguyện vọng nộp xét tuyển sử dụng kết quả thi THPT Quốc gia
            </div>
            <div class="card-body">
                <div class="table-container">
                    <table class="table">
                        <tr>
                            <th style="width:20%">Đợt xét</th>
                            <th style="width:10%">Nguyện vọng</th>
                            <th style="width:20%">Mã, tên ngành</th>
                            <th style="width:15%">Mã, tên tổ hợp</th>
                            <th>Ngày Đăng ký</th>
                            <th>Trạng thái</th>
                            <th class="text-center  text-nowrap" style="width:120px">Minh chứng lệ phí</th>
                        </tr>
                        <tbody class="tbody-trunghoc-ptqg">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                LoadData_Nv_ThiSinh_XtDungKQTHPTQG();
            });
            function LoadData_Nv_ThiSinh_XtDungKQTHPTQG() {
                $.ajax({
                    url: "/LePhiXetTuyens/GetAll_Nv_ThiSinh_XtDungKQTHPTQG",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    async: false,
                    success: function (res) {                       
                        if (res.success) {                           
                            let TrungHocPT = res.TrungHocPT;
                            if (TrungHocPT.length > 0) {
                                $("#list-kqthi-thpt").show();
                                let html = "";
                                $.each(TrungHocPT, function (key, item) {
                                    let trangthai = "";
                                    if (item.Dkxt_TrangThai_KinhPhi == 0) {
                                        trangthai = '<span style="color:red">Chưa nộp minh chứng </span >'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 1) {
                                        trangthai = '<span>Đã nộp minh chứng </span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 2) {
                                        trangthai = '<span class="text-warning">Đã được xác minh, sai</span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 9) {
                                        trangthai = '<span>Đã xác minh, đúng</span>'
                                    }

                                    html += "<tr>";
                                    html += '<td> ' + 'Từ ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_BatDau) + ' đến ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_KetThuc) + '</td>';
                                    html += '<td> NV ' + item.Dkxt_NguyenVong + '</td>';
                                    html += '<td>' + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + '</td>';
                                    html += '<td>' + item.Thm.ThmMaTen + '</td>';
                                    html += '<td>' + ConverDateToString(item.Dkxt_NgayDK) + '</td>';
                                    html += '<td >' + trangthai + '</td>';
                                    html += `<td class="text-center  text-nowrap"><button class="btn btn-light btn-sm" onclick="NopLePhi(${item.Dkxt_ID}, 2)">Nộp minh chứng</button></td>`;
                                   
                                    html += "</tr>";

                                });
                                $('.tbody-trunghoc-ptqg').html(html);
                            }
                            else {
                                $("#list-kqthi-thpt").hide();
                            }
                        }
                        else {
                            // thông báo lỗi
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    },
                });
            }
        </script>

        <div class="card card-collapsable mt-3 mb-1" id="list-hocba" style="display:none">
            <div class="card-header">
                Danh sách nguyện vọng nộp xét tuyển sử dụng kết quả học tập ở THPT
            </div>
            <div class="card-body">
                <div class="table-container">
                    <table class="table">
                        <tr>
                            <th style="width:20%">Đợt xét</th>
                            <th style="width:10%">Nguyện vọng</th>
                            <th style="width:20%">Mã, tên ngành</th>
                            <th style="width:15%; ">Mã, tên tổ hợp</th>
                            <th>Ngày Đăng ký</th>
                            <th>Trạng thái</th>
                            <th class="text-center  text-nowrap" style="width:120px">Minh chứng lệ phí</th>
                        </tr>
                        <tbody class="tbody-hocba">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                LoadData_Nv_ThiSinh_XtDungHocBa();
            });
            function LoadData_Nv_ThiSinh_XtDungHocBa() {
                $('.tbody-hocba').html('')
                $.ajax({
                    url: "/LePhiXetTuyens/GetAll_Nv_ThiSinh_XtDungHocBa",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    async: false,
                    success: function (res) {
                        if (res.success) {
                            let HocBa = res.HocBa;
                            if (HocBa.length > 0) {
                                $("#list-hocba").show();
                                let html = "";
                                $.each(HocBa, function (key, item) {
                                    let trangthai = "";
                                    if (item.Dkxt_TrangThai_KinhPhi == 0) {
                                        trangthai = '<span style="color:red">Chưa nộp minh chứng </span >'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 1) {
                                        trangthai = '<span>Đã nộp minh chứng </span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 2) {
                                        trangthai = '<span class="text-warning">Đã được xác minh, sai</span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 9) {
                                        trangthai = '<span>Đã xác minh, đúng</span>'
                                    }
                                    html += '<tr>';
                                    html += '<td> Từ ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_BatDau) + ' đến ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_KetThuc) + '</td>';
                                    html += '<td> NV ' + item.Dkxt_NguyenVong + '</td>';
                                    html += '<td>' + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + '</td>';
                                    html += '<td>' + item.Thm.ThmMaTen + '</td>';
                                    html += '<td>' + ConverDateToString(item.Dkxt_NgayDK) + '</td>';
                                    html += '<td>' + trangthai + '</td>';
                                    html += `<td class="text-center  text-nowrap"><button class="btn btn-light btn-sm" onclick="NopLePhi(${item.Dkxt_ID}, 3)">Nộp minh chứng</button></td>`;
                                    html += '</tr>';
                                });
                                $('.tbody-hocba').html(html);
                            }
                            else {
                                $("#list-hocba").hide();
                            }
                        }
                        else {
                            // thông báo lỗi
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    },
                });
            }
        </script>

        <div class="card card-collapsable mt-3 mb-1" id="list-tuyenthang" style="display:none">
            <div class="card-header">
                Danh sách nguyện vọng nộp xét tuyển thẳng theo quy định.
            </div>
            <div class="card-body">
                <div class="table-container">
                    <table class="table">
                        <tr>
                            <th style="width:20%">Đợt xét</th>
                            <th style="width:10%">Nguyện vọng</th>
                            <th style="width:20%">Mã, tên ngành</th>
                            <th style="width:15%">Môn đạt giải</th>
                            <th>Ngày Đăng ký</th>
                            <th>Trạng thái</th>
                            <th class="text-center  text-nowrap" style="width:120px">Minh chứng lệ phí</th>
                        </tr>
                        <tbody class="tbody-tuyenthang">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                LoadData_Nv_ThiSinh_Xt_TuyenThang();

            });
            function LoadData_Nv_ThiSinh_Xt_TuyenThang() {
                $.ajax({
                    url: "/LePhiXetTuyens/GetAll_Nv_ThiSinh_Xt_TuyenThang",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    async: false,
                    success: function (res) {
                        if (res.success) {
                            let TuyenThang = res.TuyenThang;

                            if (TuyenThang.length > 0) {
                                $("#list-tuyenthang").show();
                                let html = "";
                                $.each(TuyenThang, function (key, item) {
                                    let trangthai = "";
                                    if (item.Dkxt_TrangThai_KinhPhi == 0) {
                                        trangthai = '<span style="color:red">Chưa nộp minh chứng </span >'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 1) {
                                        trangthai = '<span>Đã nộp minh chứng </span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 2) {
                                        trangthai = '<span class="text-warning">Đã được xác minh, sai</span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 9) {
                                        trangthai = '<span>Đã xác minh, đúng</span>'
                                    }
                                    html += '<tr>';
                                    html += '<td> Từ ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_BatDau) + ' đến ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_KetThuc) + '</td>';
                                    html += '<td> NV ' + item.Dkxt_NguyenVong + '</td>';
                                    html += '<td>' + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + '</td>';
                                    html += '<td>' + item.Dkxt_MonDatGiai + '</td>';
                                    html += '<td>' + ConverDateToString(item.Dkxt_NgayDK) + '</td>';
                                    html += '<td>' + trangthai + '</td>';
                                    html += `<td class="text-center  text-nowrap"><button class="btn btn-light btn-sm" onclick="NopLePhi(${item.Dkxt_ID},4)">Nộp minh chứng</button></td>`;
                                    html += '</tr>';

                                });
                                $('.tbody-tuyenthang').html(html);
                            }
                            else {
                                $("#list-tuyenthang").hide();
                            }
                        }
                        else {
                            // thông báo lỗi
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    },
                });
            }
        </script>

        <div class="card card-collapsable mt-3 mb-1" id="list-ngoaingu" style="display:none">
            <div class="card-header">
                Danh sách nguyện vọng nộp xét sử dụng chứng chỉ ngoại ngữ
            </div>
            <div class="card-body">
                <div class="table-container">
                    <table class="table">
                        <tr>
                            <th style="width:20%">Đợt xét</th>
                            <th style="width:10%">Nguyện vọng</th>
                            <th style="width:20%">Mã, tên ngành</th>
                            <th style="width:15%">Tên KQ Nộp Xét</th>
                            <th>Ngày Đăng ký</th>
                            <th>Trạng thái</th>
                            <th class="text-center  text-nowrap" style="width:120px">Minh chứng lệ phí</th>
                        </tr>
                        <tbody class="tbody-ngoaingu">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                LoadData_Nv_ThiSinh_Xt_DungCCNgoaiNgu();

            });
            function LoadData_Nv_ThiSinh_Xt_DungCCNgoaiNgu() {
                $.ajax({
                    url: "/LePhiXetTuyens/GetAll_Nv_ThiSinh_Xt_DungCCNgoaiNgu",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    async: false,
                    success: function (res) {
                        if (res.success) {
                            let NgoaiNgu = res.NgoaiNgu;
                            if (NgoaiNgu.length > 0) {
                                $("#list-ngoaingu").show();
                                let html = "";
                                $.each(NgoaiNgu, function (key, item) {
                                    let trangthai = "";
                                    if (item.Dkxt_TrangThai_KinhPhi == 0) {
                                        trangthai = '<span style="color:red">Chưa nộp minh chứng</span >'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 1) {
                                        trangthai = '<span>Đã nộp minh chứng</span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 2) {
                                        trangthai = '<span class="text-warning">Đã được xác minh, sai</span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 9) {
                                        trangthai = '<span>Đã xác minh, đúng</span>'
                                    }
                                    html += '<tr>';
                                    html += '<td> Từ ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_BatDau) + ' đến ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_KetThuc) + '</td>';
                                    html += '<td> NV ' + item.Dkxt_NguyenVong + '</td>';
                                    html += '<td>' + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + '</td>';
                                    html += '<td>' + item.ChungChi_ID.Ten + '</td>';
                                    html += '<td>' + ConverDateToString(item.Dkxt_NgayDK) + '</td>';
                                    html += '<td>' + trangthai + '</td>';
                                    html += `<td class="text-center  text-nowrap"><button class="btn btn-light btn-sm" onclick="NopLePhi(${item.Dkxt_ID},5)">Nộp minh chứng</button></td>`;
                                    html += '</tr>';
                                });
                                $('.tbody-ngoaingu').html(html);
                            }
                        }
                        else {
                            $("#list-ngoaingu").hide();
                            // thông báo lỗi
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    },
                });
            }
        </script>
        
        <div class="card card-collapsable mt-3 mb-1" id="list-dgnl" style="display:none">
            <div class="card-header">
                Danh sách nguyện vọng nộp xét sử dụng KQ thi đánh giá năng lực/đánh giá tư duy
            </div>
            <div class="card-body">
                <div class="table-container">
                    <table class="table">
                        <tr>
                            <th style="width:20%">Đợt xét</th>
                            <th style="width:10%">Nguyện vọng</th>
                            <th style="width:20%">Mã, tên ngành</th>
                            <th style="width:15%">Tên KQ Nộp Xét</th>
                            <th>Ngày Đăng ký</th>
                            <th>Trạng thái</th>
                            <th class="text-center text-nowrap" style="width:120px">Minh chứng lệ phí</th>
                        </tr>
                        <tbody class="tbody-dgnl">
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
        <script>
            $(document).ready(function () {
                LoadData_Nv_ThiSinh_Xt_KQDGNangLuc();

            });
            function LoadData_Nv_ThiSinh_Xt_KQDGNangLuc() {
                $.ajax({
                    url: "/LePhiXetTuyens/GetAll_Nv_ThiSinh_Xt_KQDGNangLuc",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    async: false,
                    success: function (res) {
                        if (res.success) {
                            console.log(res.DanhGia)
                            let DanhGia = res.DanhGia;
                            if (DanhGia.length > 0) {
                                $("#list-dgnl").show();
                                let html = "";
                                $.each(DanhGia, function (key, item) {
                                    let trangthai = "";
                                    if (item.Dkxt_TrangThai_KinhPhi == 0) {
                                        trangthai = '<span style="color:red">Chưa nộp minh chứng</span >'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 1) {
                                        trangthai = '<span>Đã nộp minh chứng </span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 2) {
                                        trangthai = '<span class="text-warning">Đã được xác minh, sai</span>'
                                    }
                                    else if (item.Dkxt_TrangThai_KinhPhi == 9) {
                                        trangthai = '<span>Đã xác minh, đúng</span>'
                                    }
                                    html += '<tr>';
                                    html += '<td> Từ ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_BatDau) + ' đến ' + ConverDateToString(item.DotXT_ID.Dxt_ThoiGian_KetThuc) + '</td>';
                                    html += '<td> NV ' + item.Dkxt_NguyenVong + '</td>';
                                    html += '<td>' + item.Nganh_ID.Nganh_MaNganh + ' - ' + item.Nganh_ID.NganhTenNganh + '</td>';
                                    html += '<td>' + item.ChungChi_ID.Ten + '</td>';
                                    html += '<td>' + ConverDateToString(item.Dkxt_NgayDK) + '</td>';
                                    html += '<td>' + trangthai + '</td>';
                                    html += `<td class="text-center nơ"><button class="btn btn-light btn-sm" onclick="NopLePhi(${item.Dkxt_ID},6)">Nộp minh chứng</button></td>`;
                                    html += '</tr>';
                                });
                                $('.tbody-dgnl').html(html);
                            }
                        }
                        else {
                            $("#list-dgnl").hide();
                            // thông báo lỗi
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    },
                });
            }
        </script>
    </div>
</div>



<div class="modal fade" id="modal_dongphi" tabindex="-1" role="dialog" aria-labelledby="modal_dongphi" aria-hidden="true">
    <div class="modal modal-dialog  modal-xl modal-body modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_dongphi">Minh chứng nộp lệ phí</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="onCancel()"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <span>Thông tin giao dịch</span>
                            <hr class="mt-2 mb-3" />
                            <div class="row g-1 mb-2">
                                <div class="col-lg-6 col-sm-12">
                                    <label class="col-form-label ">Mã giao dịch (số tham chiếu):</label>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <input id="KinhPhi_SoTC" class="form-control" placeholder="Mã giao dịch" />
                                    <span id="KinhPhi_SoTC_Error" class="small mb-1 text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    <label class="form-label">Cập nhật tệp minh chứng</label>
                                </div>
                            </div>
                           
                            <div class="row table-responsive">
                                <div class="col-12 ">
                                    <input class="form-control" id="file_minhchung" name="file_minhchung" type="file" data-val="true" accept=".PNG, .JPEG, .JPG" />
                                    <table class="table " id="FilesList_KinhPhi_TepMinhChung_View" style="visibility:hidden; width: 100%">
                                        <tr style="display:none">
                                            <th colspan="2"><input type="hidden" id="KinhPhi_TepMinhChung_Files" /></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>                           
                        </div>

                        <div class="col-md-7 col-sm-12">
                            <span id="span_tieude_hinhanh" class="text-primary">Hình ảnh mẫu minh chứng đã nộp lệ phí</span>
                            <hr class="mt-2 mb-3" />
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" id="div_item_view_minhchung">                                       
                                        <img class="d-block w-100 img-hide" id="img_view" src="~/Content/images/no-money.png">
                                        <input type="hidden" id="key_dkxt_id" style="display:none" />
                                        <input type="hidden" id="key_dkxt_pt" style="display:none" />
                                        <input type="hidden" id="hiden_id_key" style="display:none" />
                                        <input type="hidden" id="hiden_loai_minhchung_xoa" style="display:none" />
                                        <input type="hidden" id="hiden_duongdan_file_xoa" style="display:none" />
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>               
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" onclick="onCancel()">Hủy</button>
                <button class="btn btn-primary" type="button" onclick="onSubmit()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Toast Title</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
</div>

<script>
    var MinhChungFormData = new FormData();
    var MinhChungPath = "";

    function NopLePhi(id, type) {
        $('#key_dkxt_id').val(id)
        $('#key_dkxt_pt').val(type)
        $('#KinhPhi_SoTC').val('');
        $('#File_MinhChung_Span').empty();
        var data_post = {
            key_dkxt_id: id,
            key_dkxt_pt: type,           
        }
        console.log('tét get data', data_post)
      
        $.ajax({
            url: '/LePhiXetTuyens/GetByID',
            type: "POST",
            data: JSON.stringify(data_post),
            contentType: "application/json;charset=utf-8",
            success: function (res) {
                console.log(res);
              
                if (res.success) {
                    data = res.data;
                    if (data.KinhPhi_SoTC != '') { $('#KinhPhi_SoTC').val(data.KinhPhi_SoTC); }

                    if (data.KinhPhi_TepMinhChung) {
                        const ArrKinhPhi = data.KinhPhi_TepMinhChung.split("#");
                        if (ArrKinhPhi.length > 0) { 
                            $("#img_view").attr("src", ArrKinhPhi[0]);  
                            $('#span_tieude_hinhanh').text('Hình ảnh minh chứng đã nộp lệ phí...... ');
                        }
                        else {
                            $('#File_MinhChung_Span').text('Chưa có minh chứng');
                        }
                    }
                }
            },
            error: function (error) {
                console.error('Error', error);
            }
        });

        MinhChungFormData = new FormData();
        MinhChungPath = "";

        $('#modal_dongphi').modal('show');
        $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();      
    }

   
    $('document').ready(function () {
       
        $('input').on('input', function () {
            hideErrorMessage($(this));
        });

        $('select').on('input', function () {
            hideErrorMessage($(this));
        })

        $("#file_minhchung").on("change", function () {    
            MinhChungFormData = new FormData();
            $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();       

            var file_minhchung = document.getElementById('file_minhchung');
            let j = 0;
            for (i = 0; i < file_minhchung.files.length; i++) {
                j++;
                var uploadFileName = file_minhchung.files[i].name;
                let uploadFileId = Math.random().toString(36).substring(7);
                MinhChungFormData.append(uploadFileName, file_minhchung.files[i]);
                var markup = `<tr id='${uploadFileId}'><td>${uploadFileName}</td><td style='width: 40px!important; color:blue'><a style='text-decoration:none'` +
                    `title='Xóa bớt tệp nếu không đúng' class='btn btn-light btn-sm' onclick='DeleteUploadedFile("#FilesList_KinhPhi_TepMinhChung_View", "${uploadFileId}", "${uploadFileName}")'>Xóa</a></td></tr>`;
                $("#FilesList_KinhPhi_TepMinhChung_View tbody").append(markup);
            }
            CheckAttachTable("#FilesList_KinhPhi_TepMinhChung_View");
            $('#file_minhchung').val('');
        });
    })

    function DeleteUploadedFile(ListId, Fileid, FileName) {
        let formData = MinhChungFormData;
        formData.delete(FileName)
        $("#" + Fileid).remove();
        CheckAttachTable(ListId);
    }

    function CheckAttachTable(list) {
        if ($(`${list} tr`).length > 0) {
            $(list).css("visibility", "visible");
        } else {
            $(list).css("visibility", "hidden");
        }
    }
    

    function onCancel() {
        $('#modal_dongphi').modal('hide');
        $('#key_dkxt_id').val('');
        $('#key_dkxt_pt').val('');
        $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();       
        $('#KinhPhi_SoTC').val('');
        $('#File_MinhChung_Span').empty();
    }

    function uploadFiles() {
        MinhChungPath = "";
        var url = '/LePhiXetTuyens/UploadLePhiMinhChung';
        var fileCount = 0;
        for (var pair of MinhChungFormData.entries()) {
            if (pair[1] instanceof File) {
                fileCount++;
            }
        }
        if (fileCount > 0) {
            $.ajax({
                url: url,
                type: 'POST',
                data: MinhChungFormData,
                processData: false,
                contentType: false,
                async: false,
                success: function (response) {
                    if (response.success) {
                        MinhChungPath = response.message;
                    }
                },
                error: function (error) {
                    console.error('Error uploading files:', error);
                }
            });
        }
    }

    function onSubmit() {
        $(".text-danger").text("");
        let flag = true;
        let KinhPhi_SoTC = $('#KinhPhi_SoTC').val();
        let key_dkxt_id = $('#key_dkxt_id').val();
        let key_dkxt_pt = $('#key_dkxt_pt').val();

        if (!KinhPhi_SoTC) {
            var errorMessage = "Vui lòng nhập số tham chiếu";
            $('#KinhPhi_SoTC_Error').text(errorMessage);
            flag = false;
        }
        if (!flag) return;

        $("#loadingModal").modal("show");
        uploadFiles();

        let formData = {
            KinhPhi_SoTC: KinhPhi_SoTC,
            KinhPhi_TepMinhChung: MinhChungPath,
            key_dkxt_id: key_dkxt_id,
            key_dkxt_pt: key_dkxt_pt
        }
        console.log(formData);
        $.ajax({
            url: "/LePhiXetTuyens/Create",
            data: JSON.stringify(formData),
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (res) {
                if (res.success) {
                    showToast("Thông báo", "Đóng lệ phí thành công!", "bg-success");

                    onResetFields();
                    $("#loadingModal").modal("hide");
                    $('#modal_dongphi').modal('hide');

                    let data = res.data;
                    if (data.Ptxt_ID == 2) {
                        LoadData_Nv_ThiSinh_XtDungKQTHPTQG();                       
                    }
                    if (data.Ptxt_ID == 3) {
                        LoadData_Nv_ThiSinh_XtDungHocBa();
                    }
                    if (data.Ptxt_ID == 4) {
                        LoadData_Nv_ThiSinh_Xt_TuyenThang(); 
                    }
                    if (data.Ptxt_ID == 5) {
                        LoadData_Nv_ThiSinh_Xt_DungCCNgoaiNgu();
                    }
                    if (data.Ptxt_ID == 6) {
                        LoadData_Nv_ThiSinh_Xt_KQDGNangLuc();
                    }
                } else {
                    showToast("Thông báo", "Có lỗi xảy ra khi đóng lệ phí!", "bg-error");
                    $("#loadingModal").modal("hide");
                    $('#modal_dongphi').modal('hide');
                }
            },
            error: function (errormessage) {
                showToast("Thông báo", "Có lỗi xảy ra khi đóng lệ phí!", "bg-error");
                $("#loadingModal").modal("hide");
                $('#modal_dongphi').modal('hide');
            }
        });
    }

    function showToast(title, message, bgColor) {
        $("#myToast .toast-header .me-auto").text(title);
        $("#myToast .toast-body").text(message);
        $("#myToast .toast").removeClass("bg-success bg-danger").addClass(bgColor);
        $("#myToast").toast("show");
    }

    function hideErrorMessage(input) {
        var errorContainer = input.next('.text-danger');
        errorContainer.text('');
    }

    function onResetFields() {
        $('#key_dkxt_id').val('');
        $('#key_dkxt_pt').val('');
        $('#KinhPhi_SoTC').val('');
        $('#file_minhchung').val(null);
        $('#FilesList_KinhPhi_TepMinhChung_View tbody').empty();
    }
</script>